[2021-06-07 17:03] robscott commented on #689
@lavalamp Thanks for the reference! Do you know of any widespread uses of `resource` fields (instead of `kind`) in object refs? We actually originally used `resource` fields before our initial release but reverted them due to our concerns about it potential confusing users: https://github.com/kubernetes-sigs/gateway-api/issues/293. Of course at that point I don't think there was any clear guidance

[2021-06-07 17:10] lavalamp commented on #689
@robscott So far, this (using "resource") is prescriptive, not descriptive :)

This guidance is only like a week old, yeah.

[2021-06-07 18:08] abhiraut commented on #690
i have a couple of questions (from the perspective of network-policy-api subgroup)
1. seems like apiGroup `x-k8s.io` for experimental v1alpha1 was the right choice? Is that the recommendation for future network policy APIs as well; for example, with ClusterNetworkPolicy APIs, shall we continue with `x-k8s.io` group or directly move to `k8s.io` to avoid difficulties present in transitions?
2. The n

[2021-06-07 18:26] robscott commented on #690
Hey @abhiraut, these are great questions.

I think it's likely easier to start with `k8s.io` now that there's a bit of precedent here. Transitioning between API groups is unfortunately not a great experience.

I think it will be simpler to manage separate API groups here. I like the idea of grouping them under `*.networking.k8s.io`, but that also results in pretty long fully qualified names when c

[2021-06-07 19:32] abhiraut commented on #690
Thanks for your quick reply!

We would really like to avoid the transition pains so we will go ahead and use `k8s.io` group for network policy stuff for now.
I will keep an eye out on the proposed name for gateway APIs so we follow a similar pattern (personally prefer the `gateway.networking.k8s.io` name)

[2021-06-08 22:58] bowei commented on #690
Just to call out some things that are subtle:

* A given API group can only be served via a single mechanism, e.g. built into the core (like networking.k8s.io) or via CRDs. These cannot be mixed.
* API group transition means that objects need to be migrated between the two via an external process -- (download, modify, reapply). There is no version conversion across group boundaries.

[2021-06-10 21:17] #658 closed

[2021-06-11 02:09] jpeach commented on #326
/lifecycle frozen

[2021-06-11 17:44] stevesloka commented on #455
//cc @dprotaso

[2021-06-14 20:18] qabpea commented on #690
Routing is an overloaded term in networking, it is used in many layers of the NW stack.
My first association will always be L3 packet routing and not message or mail routing....

//Per

[2021-06-15 00:44] robscott commented on #611
Thanks for all the great discussion in this thread @youngnick, @stevesloka, and @mark-church! I've got a few follow ups + [a new doc for further discussion](https://docs.google.com/document/d/13fyptUtO9NV_ZAgkoJlfukcBf2PVGhsKWG37yLkppJo/edit?resourcekey=0-Urhtj9gBkGBkSL1gHgbWKw).

Agree that this is a very real concern. As we've shown with things like timeout though, there are at least some concep

[2021-06-15 15:23] robscott commented on #515
/remove-lifecycle rotten

[2021-06-18 10:10] arapulido opened #695 "Canary deployments with Gateway API between namespaces"
The Gateway API spec seems to expect each team to work on a single namespace, which feels a bit too rigid for certain use cases.

In my case, I would like to be able to do canary deployments that involve services that are not directly getting external traffic. This is a lot easier to do if you can do a different deployment in a second namespace, something like this:

![image](https://user-images.g

[2021-06-18 16:12] bowei commented on #695
We are currently discussion the addition of "inclusion" or "delegation" of HTTPRoute which may meet your criteria.

In your example, your HTTPRoute objects are the same -- how is this not the same as a simple traffic split?

[code]

[2021-06-22 15:51] robscott commented on #489
I think now that we've moved to Netlify our docs story is not that bad. Although there's still room for improvement, I'm not sure that we have to leave this issue open.

[2021-06-22 18:28] #566 closed

[2021-06-24 01:37] youngnick commented on #489
I think that it's true that we'll need versioned docs at some point, but also true that that point is a ways away. So closing this seems fine.

[2021-06-25 17:22] bowei opened #696 "Add GEP process"
**What would you like to be added**:

Process for creating documentation about design decisions and materials for future reference.

**Why is this needed**:

We have outgrown just documenting design decisions using Github issues and shared docs. We need
a consistent (and persistent) way to track major enhancements to the API.

[2021-06-28 12:26] arapulido commented on #695
Sure, the difference would be that service 2 is on a different namespace, to make it easier to do traffic splits on whole applications, when the service that changes is not the first one.

These would be the `nginx` configs:

[code]

[code]

[2021-06-28 17:11] howardjohn opened #699 "Add support for multiple `kinds` within a single Gateway listener"
**What would you like to be added**:
Replace `kind` with `kinds` in gateway listener

**Why is this needed**:

We may want to select multiple kinds. For example, perhaps I have a listener I want TCP and TLS routes on. Or I make a custom GrpcRoute and want it on the same port as an HTTPRoute. Or I have a legacy resource (say Istio VirtualService) which I want on the same port as HTTPRoute.

The pri

[2021-06-29 16:18] hbagdi commented on #699
I think it would be best to be explicit about `kind` in configuratoin for two reasons:
- Makes the controller behavior deterministic and makes the controller a little dumber (in a good way)
- [Cluster operators](https://gateway-api.sigs.k8s.io/concepts/security-model/) continue to have explicit control over which routes are being selected to route traffic.

[2021-06-29 16:23] hbagdi commented on #489
Closing this for now, let's revisit when this becomes necessary again.
/close

[2021-06-29 16:23] #489 closed

[2021-06-29 16:32] howardjohn commented on #699
In your example it is, although quite verbose. But that only works well if listeners are merge-able. For example:

We cannot merge these together since TLS settings are not compatible. This means it will become very unclear when we can actually merge them and when we cannot, and subtle changes may lead to breakage as they all need to be kept in sync, etc. Additionally, for our use case we will alm

[2021-07-01 21:54] jpeach commented on #699
@howardjohn Does using multiple kinds really solve your example? By definition, if you had multiple kinds in the same listener, they would have the same TLS properties, which means that the equivalent multi-listener configuration would (or at least could) be merged.

[2021-07-01 22:02] howardjohn commented on #699
I would expect that our users will always want to define at least two route kinds - possibly more in the future. This means they not only need to duplicate every listener, they also need to make sure the configurations are exactly in sync or they will not be able to merge properly which will unexpectedly break their configuration.

Even with just 1 kind, I don't see why we want to make users decla

[2021-07-01 22:10] jpeach commented on #433
/remove-lifecyclt stale
/lifecycle frozen

[2021-07-01 22:23] jpeach commented on #491
Just to clarify this for myself. The scenario is that you have some pods running some un-configured proxy. You also have a one or more Gateway object. The controller needs to figure out which pods to configure with which Gateways.

This seems close to what @bowei always phrased as "scheduling Gateways" onto the available capacity. The controller needs to figure out which sets of Gateways the same

[2021-07-01 22:30] jpeach commented on #642
I understood it as that, in the sense of "there is an ingress controller that accepts responsibility for this object". Once that happens, then of course the controller will reconcile it.

[2021-07-01 22:31] jpeach commented on #567
/remove-lifecycle stale
/lifecyce frozen

[2021-07-01 22:34] jpeach commented on #455
Yup I agree with this. Once implementations are implementing new approaches, then it makes more sense to dscuss what can be folded back into the API. The TLS options field can be used in the interim.

[2021-07-01 22:43] robscott commented on #642
Although this is likely true, in some cases it can take a matter of minutes to spin up the needed resources to reconcile. I realize that's not worth making a distinction for for many implementations though, so maybe "Reconciled" is a concept that only makes sense for some.

Yeah this is definitely a concern but I think it could be used reasonably effectively when combined with the `LastObservedGen

[2021-07-01 22:43] #696 closed

[2021-07-01 23:15] jpeach commented on #515
Reconcile these route selection suggestions with #699

[2021-07-02 16:28] #200 closed

[2021-07-04 21:59] jpeach commented on #642
This is getting close to the `ListenerReasonPending` condition. As describe here, the use of "Reconciled" sounds a lot like "Ready" to me.

[2021-07-05 00:30] jpeach commented on #699
This might feel a bit icky, but an implementation could support "virtual resource categories" in the object reference. So for Istio

[code]

[2021-07-05 16:20] stevesloka commented on #642
I don't want to diverge the conversation but think it's relevant. How does the already "Scheduled" condition fit into this? @youngnick & I had a conversation about this last week and I don't fully understand what "Scheduled" means in the context of a Gateway.

A gateway starts out with `Scheduled: false`, `Waiting for controller`. To me, that's `Admitted: false`. Once a controller takes ownership

[2021-07-05 21:35] jpeach commented on #642
Gateways are logical configurations. There might not be enough underlying load balancing capacity to configure in the requested configuration. In that case "Admitted" is true (the controller admits that it ought to be reconciling the Gateway) but "Scheduled" is false (there's no underlying capacity it can use to stand up the Gateway).

Pods are scheduled to kubelets, and gateways are scheduled to

[2021-07-05 22:33] stevesloka commented on #642
Your example @jpeach sounds like `Provisioned` fits better since you're still not scheduling resources, you're requesting them. If you hit a VM quota, or out of resources for a cloud load balancer, or permissions error etc, then `Provisioned: false` tells me that something tried to spin up, but failed since it's not provisioned.

In my head, the "Scheduled" condition doesn't fit my mental model, b

[2021-07-05 22:47] jpeach commented on #642
That's just an example. There could be any number of reasons and the spec doesn't tell you how to do it.

[2021-07-06 01:37] youngnick commented on #642
I think the key part here in this specific example is that `Scheduled` and `Provisioned` are the same thing from different sides. Let me explain.

A Gateway is a thing that sets at a logical edge of the cluster in some way. What does that mean? The spec _specifically does not define exactly what the "edge" of the cluster is_. We don't do that so that the spec can be applicable to lots of different

[2021-07-07 03:01] jpeach commented on #482
/remove-lifecycle stale
/lifecycle frozen

[2021-07-07 17:08] howardjohn commented on #699
One issue with that is its not portable, unless we add it to the core spec?

[2021-07-07 19:40] robscott commented on #699
I think as we get more Route types, it could be beneficial to support multiple Route kinds being attached to the same Gateway listener. Although most of our initial use cases have been focused on Gateway -> HTTPRoute, it does seem likely that implementations will want to support more than that, especially as concepts like grpc start to come into play. I agree with @hbagdi's points above that it's

[2021-07-07 20:52] hbagdi commented on #433
Considering we document everything "Extended" within our API, should we add in documentation that says that Extended protocol must be defined within this package?
We could define an extended protocol as well. How about GRPC?

[2021-07-07 21:25] jpeach commented on #699
Explicit config of multiple kinds here seems pretty verbose though. I do get the use case it's just not very ergonomic.

[2021-07-07 23:55] jpeach commented on #699
[code]

[2021-07-08 01:51] robscott commented on #690
We discussed this at sig-network on June 24 where @dcbw, @thockin, and others preferred gateway.networking.k8s.io. We also discussed this at the June 29 Gateway API meeting and that name also seemed to win. Given that that option seems to be popular on this thread as well, I'll create a PR to make that change.

[2021-07-08 18:32] hbagdi commented on #72
@jpeach @youngnick It seems that we have consensus here and we need to add documentation. Since both of you have the most context here, do either of you mind taking this up and drive it to completion?

[2021-07-08 20:46] shaneutt opened #708 "Discussion Boards"
**What would you like to be added**:

Github Discussions for this repository.

**Why is this needed**:

While similar it's less formal than Github Issues and can promote forum and conversations which will be easier to search and catalog than Slack messages. Worst case you can just turn them off later if they don't work out, right?

[2021-07-08 22:16] robscott commented on #708
I haven't used GitHub discussions very much, do we know if we're using them anywhere else for k8s projects? Is there any overlap with discuss.kubernetes.io? For example Cluster API seemed to use that for some time: https://discuss.kubernetes.io/c/contributors/cluster-api/23.

/cc @mrbobbytables @bowei

[2021-07-09 14:02] mrbobbytables commented on #708
They aren't being used too much - but there are a few groups that are using them:
- https://github.com/kubernetes/sig-release/discussions
- https://github.com/kubernetes-sigs/kubebuilder/discussions

The general issue is that they can't be labeled, if you want to apply any sort of taxonomy on top of them, or assign someone a follow up they should be issues.

[2021-07-09 19:45] robscott opened #709 "GEP: Enable cross namespace references from Routes"
**What would you like to be added**:
This GEP attempts to tackle both cross namespace forwarding and route inclusion (proposed earlier by @stevesloka). These are closely related concepts that can likely be solved with the ReferencePolicy concept originally proposed by @youngnick.

**Why is this needed**:
Both cross namespace forwarding and route inclusion are common feature requests. ReferencePoli

[2021-07-10 01:11] robscott opened #713 "GEP: Pattern for policy attachment"
**What would you like to be added**:
This GEP will add a formal proposal for attaching policies to Gateway API. Although many of these resources will be implementation specific, it will be helpful to have consistent patterns for accomplishing this.

**Why is this needed**:
Although Gateway API already significantly increases what's possible with portable routing APIs for Kubernetes, there are stil

[2021-07-10 03:15] mark-church commented on #610
Great to see the progress on this issue - this will be a very helpful UX improvement!

[2021-07-10 03:39] mark-church commented on #695
There are actually two active discussions about making this possible as a 1st class capability of the API. [This](https://docs.google.com/document/d/1_B1G9JcNw3skNYLtdK7lTTzOeyz5w2hpa84cKA_MGKk/edit?usp=sharing) is the proposal for cross-Namespace Route->Service (by @robscott) and [this](https://docs.google.com/document/d/1-0mgRRAY784OgGQ1_LCOshpLLbeAtIr4eXd0YVYK4RY/edit?usp=sharing)  is the propo

[2021-07-12 18:06] howardjohn commented on #695
Another good use cases is having my `mail.ns` Service and `mail.google.com` external service (ExternalName or similar), and all external services are defined in some `external-services` namespace or similar.

[2021-07-12 20:37] #690 closed

[2021-07-12 20:44] robscott opened #716 "Complete API Review and Approval Process for v1alpha2"
As we're transitioning to a k8s.io API Group, we'll need formal review and approval for each new API release. Once this is complete, we'll need to [update the annotations on the CRDs](https://github.com/kubernetes-sigs/gateway-api/blob/master/hack/update-codegen.sh#L56) to reference the formal approval.

[2021-07-13 04:47] hbagdi commented on #610
Done in https://github.com/kubernetes-sigs/gateway-api/pull/653
/close

[2021-07-13 04:52] hbagdi commented on #598
We already have validation for core filters to not support multiple instances of the same type on the same route: https://github.com/kubernetes-sigs/gateway-api/blob/70bc94aafb688535feff180ef0c9b12a453f304b/apis/v1alpha2/validation/httproute.go#L48-L69.
This limitation is not imposed on custom filters as users are welcome to define semantics for custom filters as they see fit.
Considering the orig

[2021-07-13 04:52] #598 closed

[2021-07-13 05:18] hbagdi commented on #716
Are there any guidelines written up for this? Maybe not since there aren't many ~(any?)~ APIs outside k/k that are governed by the same approval process.
Do we have to follow the process for alpha APIs? What about beta?

[2021-07-13 05:19] hbagdi commented on #716
I saw the v1alpha2 milestone after I posted my comment above. That explains that we need a review from API reviewers before any new API release.

[2021-07-13 06:26] robscott commented on #716
I think [this is the best documentation](https://github.com/kubernetes/community/blob/master/sig-architecture/api-review-process.md) around the process. I need to figure out exactly which parts of that we need to go through. I know in the past when I'd asked about a KEP for Gateway API it was considered unnecessary, but maybe it's required for this part of the process. Also want to check in with @

[2021-07-13 18:33] hbagdi commented on #713
The working document for this issue is here: https://docs.google.com/document/d/13fyptUtO9NV_ZAgkoJlfukcBf2PVGhsKWG37yLkppJo

[2021-07-13 21:42] hbagdi opened #718 "GEP: consolidate serviceName shortcut in RouteForwardTo"
**What would you like to be added**:

Drop the shortcut for services from BackendRef

**Why is this needed**:

To reduce the number of corner-cases like these: #685 #578

[2021-07-13 23:36] hbagdi commented on #665
Linking a slack thread with SIG apimachinery: https://kubernetes.slack.com/archives/C0EG7JC6T/p1626218466356300

[2021-07-13 23:36] hbagdi commented on #655
/assign

[2021-07-13 23:38] hbagdi commented on #718
/assign

[2021-07-13 23:39] hbagdi commented on #708
How do we arrive at a decision to move this forward or not?

[2021-07-14 23:37] jpeach commented on #665
I read that thread but the conclusion wasn't clear to me. Should spec be required or not?

[code]

[2021-07-15 01:28] youngnick commented on #665
I think the answer was "It's okay to have spec be required, as long as you curate the default values inside it".

[2021-07-15 04:29] youngnick commented on #72
I can take this one.

/assign

[2021-07-15 04:32] youngnick commented on #708
Probably talk about it in a meeting? I think it seems like it might be useful. and if we do turn it on, either it's useful and we keep it, or noone uses it and we turn it off.

[2021-07-15 05:01] bowei commented on #716
The KEP should be pretty skeletal (polint to our website)

Bowei

On Mon, Jul 12, 2021 at 11:26 PM Rob Scott ***@***.***> wrote:

[2021-07-15 05:20] jpeach commented on #665
So we can close this out with no further action?

[2021-07-15 05:24] robscott commented on #665
I'd agree with that conclusion.

/close

[2021-07-15 05:25] #665 closed

[2021-07-15 17:59] hbagdi commented on #655
#721 is a partial fix.
#719 should simplify the filter a bit. I'll take care of updating the language to match the discussion here.
Let me know if I'm missing anything else from here.

[2021-07-15 18:23] robscott commented on #655
#723 also attempts to fix this

[2021-07-16 17:20] robscott opened #724 "GEP: Refresh Route-Gateway Binding"
**What would you like to be added**:
Refactor cross-namespace Route-Gateway binding to:

* Be more consistent with cross-namespace references from Routes (#709)
* Provide a clear path to enable Route inclusion (Routes including Routes).
* Simplify user experience based on initial feedback.
* Enable other kinds of Route parents in addition to Gateway, this could include:
  * Routes (as part of Rout

[2021-07-16 23:12] robscott commented on #708
Added to agenda for Monday's meeting.

[2021-07-17 01:08] robscott commented on #515
Hoping #724 will solve this.

[2021-07-17 01:12] robscott commented on #594
Closing in favor of continuing discussion in #724.

/close

[2021-07-17 01:12] #594 closed

[2021-07-19 10:28] arapulido commented on #695
Yes, it makes things clearer and if you happen to have some service hostnames hardcoded in the code, it would still work

[2021-07-19 21:19] robscott opened #726 "GEP: Add Path Redirects and Rewrites"
**What would you like to be added**:
This GEP attempts to cover 2 related but different features:

* Path Redirects
* Rewrites

Once this GEP is complete, HTTPRoute should include filters that enable basic path and hostname redirects and rewrites. Although there is definitely variation among implementations as far as what is possible, there appears to be enough common ground for a portable API.

*

[2021-07-19 22:10] youngnick commented on #708
In the Monday meeting, we discussed this, and there's no objections to doing this, but none of us have the bandwidth to set things up properly.

If anyone wants to figure out:
- what we need to do to enable
- how we should manage the discussions

Then please feel free.

I suggest
/lifecycle frozen
but I'm not sure if I have perms.

[2021-07-20 00:12] robscott opened #727 "Add hostnames to TCPRoute and UDPRoute"
**What would you like to be added**:
A new hostnames field for TCPRoute and UDPRoute to match the corresponding fields in HTTPRoute and TLSRoute.

**Why is this needed**:
Although hostname is not particularly meaningful for TCP and UDP, it can be useful when attaching other concepts to these routes. For example, hostnames could be useful for policy attachment as described by GEP #713. This change

[2021-07-20 20:07] robscott commented on #583
I think this can be closed once #713 is implemented.

[2021-07-21 08:35] mike1808 commented on #727
This also will be helpful for the scenario when gateways receives TLS traffic, terminates it on it and then forwards TCP/UDP traffic based on SNI. Currently, there is no way to route using SNI field on TCP/UDP routes besides making a new listener per hostname for TCP/UDP routes like so:

[code]

If we are able to set hostnames on TCP/UDP routes will can rewrite it like this:

[code]

[2021-07-21 21:47] jpeach commented on #727
Routing based on SNI should be done using [`TLSRoute`](https://gateway-api.sigs.k8s.io/references/spec/#networking.x-k8s.io/v1alpha1.TLSRoute).

[2021-07-21 23:12] jpeach commented on #727
In the case of `HTTPRoute` and `TLSRoute`, the hostname are match criteria for the rules. In this case they would not be, so we would have to add them in some distinct field. This probably weakens the consistency of the approach.

For external DNS, the Gateway is the object that owns the address, so that's probably also the best authority for what hostnames ought to be registered. As a starting po

[2021-07-21 23:27] howardjohn commented on #727
I think there are legitimate use cases for matching a hostname for TCP/UDP, especially for transparent proxies. In a typical Ingress proxy, you don't really care about the destination IP address of the connection. However, for some cases you do, because that is the intended destination of the request and it was passed through (through various means)  our gateway controller without modifying the de

[2021-07-21 23:48] jpeach commented on #727
So in this case the gateway listens on many IP addresses (implicitly or explicitly) and you want to select the route from an IP address match? But you don't want to set up multiple listeners for each IP address, maybe because there's a lot or there's not a static set of addresses?

[2021-07-21 23:52] howardjohn commented on #727
Yep, pretty much. I think the common case here is mesh (although I can think of some other theoretical use cases). Where you want to say things like "TCPRoute for all traffic to mysql.ns.svc.cluster.local". We don't ever want to actually put an IP address that we will match against in the API, since having a (DNS, in this case) name is nice, even though the actual proxy will be doing an IP match u

[2021-07-22 15:23] hbagdi commented on #583
I think so too.
/close
Please re-open if needed.

[2021-07-22 15:23] #583 closed

[2021-07-22 22:11] jpeach commented on #624
/remove-lifecycle stale
/lifecycle frozen

[2021-07-22 22:12] jpeach commented on #450
/remove-lifecycle stale
/lifecycle frozen

[2021-07-22 22:20] jpeach commented on #727
I guess my worry about this is that it exposes a top-level configuration field that can't work for a lot of implementations. It would have to be a `Implementation-specific` support level field, and maybe also deployment-specific.

[2021-07-22 23:10] jpeach commented on #586
Yeh I agree that this is just the thin end of the wedge. IIUC Cluster API ships various versions of `clusterctl` and expects people to use that tooling.

It also seems likely that we would want to improve the tooling at a different rate (rapidly) than that at which the API evolves (slowly).

Is it just a matter of where this cost is borne? If it's not done centrally, then it needs to be specced in

[2021-07-22 23:22] robscott commented on #586
One interesting alternative to the options currently being discussed (kubectl plugin vs controller populated fields) would be webhook populated fields. That would also result in central cost, but would not require any additional controller work or users to install a plugin.

[2021-07-22 23:22] robscott commented on #586
/remove-lifecycle stale

[2021-07-23 20:55] robscott opened #735 "Add Address Matching to TCPRoute and UDPRoute"
**What would you like to be added**:
Add address matching to `TCPRouteMatch` and `UDPRouteMatch`.

**Why this is needed**:
TCP and UDP Routes currently only support custom matching extensions. It would be helpful to include some basic matching capabilities within the Routes. Address matching seems like a natural starting point. Although for most ingress use cases this could be covered by Gateway l

[2021-07-25 21:36] jpeach commented on #735
In the case of addresses, whether matching is useful depends on having a listener that is implicitly attached to multiple addresses. The system has out-of-band knowledge of address semantics, so you can know that you want a route attached to address A and not to address B.

Can we make a similar argument for ports?

[2021-07-26 19:13] robscott commented on #735
I may be misunderstanding what you're saying here, but either or both of the following scenarios are entirely possible:

- Gateways listen on multiple addresses, a Route only wants to be attached to one of them
- Gateways listen on multiple ports, a Route only wants to be attached to one of them

Although both of the above are possible and this addition would help, I think this addition becomes si

[2021-07-26 20:11] hbagdi commented on #590
@robscott Do you think reference policy needs these enhancement or should status conditions be part of the specific reference policies?
In my view, some common ground would be helpful.

[2021-07-26 20:16] hbagdi opened #737 "Document the supported Kubernetes versions"
**What would you like to be added**:

Gateway API documents the supported Kubernetes version.

**Why this is needed**:

Users and implementers can have the right expectations from Gateway API.

[2021-07-26 20:30] robscott commented on #737
I think it's still generally true that we support Kubernetes 1.16+, but certain features like AppProtocol depend on Kubernetes 1.18 (opt-in) or 1.19 (on by default). I can't think of any other exceptions to the 1.16+ guideline right now.

[2021-07-26 20:41] hbagdi commented on #737
Great. Let's get that into the site.
Is https://gateway-api.sigs.k8s.io/references/implementations/ a good place for this?

[2021-07-26 20:58] robscott opened #738 "Conditions for Policy Attachment"
**What would you like to be added**:
As discussed in https://github.com/kubernetes-sigs/gateway-api/pull/715#discussion_r672724388 and https://github.com/kubernetes-sigs/gateway-api/issues/590, any form of status per policy is going to be complex. These conditions may need to be per controller or even per referencing resource (ie policy targeting Route that is also targeted by several Gateways).

[2021-07-26 20:58] robscott commented on #590
Thanks for following up on this @hbagdi! I've created #738 to track the equivalent of this going forward, and I think we can safely close this one now. Feel free to reopen if not.

/close

[2021-07-26 20:58] hbagdi commented on #735
@robscott Source or destination or both?

The following 5 things identify a byte stream on a TCP/IP networking stack:
- Source IP
- Source Port
- Destination IP
- Destination Port
- Protocol

We currently capture destination port via listener and the protocol. One could argue that the destination IP is also captured indirectly via the relationship  Gateway -> Listener -> Route.
Source is not captu

[2021-07-26 20:59] #590 closed

[2021-07-26 21:00] youngnick commented on #735
So, this essentially creates a similar two-directional match to the `hostname` field on HTTPRoute, but for address and port? That makes sense to me, with the caveat that we definitely need to be clear about what happens if things don't match.

Alternatively, matching on source address and port seems much more likely to be useful.

[2021-07-26 21:04] robscott commented on #735
Good point @hbagdi! I should have clarified that I was intending to match destination IP and Port with these fields. Given the potential for source IP and port matching in the future, it does probably make sense to make the config explicit here. Maybe something like this:

[code]

That's a great way to summarize this, thanks @youngnick!

[2021-07-26 21:09] hbagdi commented on #735
What is your hesitation to include source IP/port in the API right away?

[2021-07-26 21:16] robscott commented on #735
I actually haven't thought about this as much. This particular idea/feature request was targeted at dest IP and Port despite me not actually saying that :). At first glance, it seems like source IP/Port matching may have slightly less portability, but I'd need to look into it a bit more.

[2021-07-26 21:16] hbagdi commented on #624
/assign @secustor

[2021-07-26 21:22] hbagdi commented on #735
Ack.

If portability is a concern, maybe we start with a different conformance level for it?
My motivation to add in source is to add a complete feature that takes both the ends into account rather than only one.

Also, regarding destination port/ip based match, we will need to clarify how Proxy Protocol comes into play.

[2021-07-26 21:29] jpeach commented on #520
xref #691

[2021-07-26 21:30] jpeach commented on #520
Duplicate of #20

[2021-07-26 21:30] #520 closed

[2021-07-26 21:33] hbagdi commented on #727
I share this concern plus the following:
- up until this point, we have focused on matching semantics based on metadata present in the protocol itself. This feature muddies that. Is there a possibility of a separate route for this purpose?
- I suspect that most users will get confused when they read `hostname` in a TCPRoute.

So this would work hand in hand with #735  to define the map itself?

[2021-07-26 21:36] jpeach commented on #735
A route can say that it wants to only match on a specific IP address because there is some out-of-band semantics attached to that address. But what does it mean for a route to only want to be exposed on a specific port, and why would you do that? For example, I have a route and I specify a match for port "21". How is that useful? Are we talking about another programmatic mapping done by a transpar

[2021-07-26 21:37] jpeach commented on #735
Did you mean source address matching?

[2021-07-26 21:38] howardjohn commented on #735
I am not sure why port match is any less useful than SNI, hostname, ip, etc. Its just another attribute of the request. For example, maybe I want to match anything on port 22 and deny it or apply some policy.

[2021-07-26 21:43] jpeach commented on #735
My question is why I would care about the port. If I match on a port, then that reduces  deployment agility for the gateway owner. It's extremely common to run services on "non-standard" ports.

[2021-07-26 21:46] howardjohn commented on #735
So does hostname. There is always a tension between generic routes attached to concrete gateways vs concrete routes attached to generate gateways. I think both are valid, they just depend on the use case.

[2021-07-26 21:51] jpeach commented on #737
A FAQ entry probably makes sense as well.

[2021-07-26 21:55] hbagdi commented on #735
Both? Proxy protocol carries source and destination IPs involved, no?

I think the tension comes in from the ownership perspective. Who owns and decides ports, IPs, DNS names, hostnames.
We have use-cases where this control resides with Cluster Admin for the most part. But, there are some use-cases where the application developer could also be influencing these decisions, with some allow/deny from

[2021-07-26 22:50] jpeach commented on #735
Yep you are right :)

[2021-07-27 04:31] robscott commented on #529
I'd still like to revisit this, but it doesn't need to be in time for the next release.

/remove-lifecycle stale

[2021-07-27 05:17] bowei commented on #529
/lifecycle frozen

[2021-07-27 14:56] beriberikix commented on #735
+1 to considering destination ports like any other attribute. Being able to assign a non-standard dest port to a service (or user) is sometimes needed when dealing with L4 protocols. That may be because there isn't a hostname, or the form of security can't be used in that way. Agree with the agility concern but the cases I'm thinking look like @hbagdi's scenario (cluster admin ~= app dev)!

[2021-07-27 18:50] evankanderson commented on #114
/remove-lifecycle stale

[2021-07-27 22:39] jpeach commented on #114
Policy attachment #736 might be a more flexible approach for access control and authentication in general.

[2021-07-27 22:58] jpeach commented on #735
You can do this today with a gateway listener on the port you want that binds a UDP or TCP route.

[2021-07-28 16:02] robscott commented on #213
@hbagdi I think the [current spec](https://github.com/kubernetes-sigs/gateway-api/blob/master/apis/v1alpha2/httproute_types.go#L434) is fairly clear here:

It would be possible for multiple RegEx or ImplementationSpecific matches + a single Exact match to all match a single value. In the event that one match does not match the value, the result of the AND would be false. Do you think we need to cl

[2021-07-28 16:07] robscott commented on #655
I think this has been fixed by #721 and #723, feel free to reopen if I missed anything.

/close

[2021-07-28 16:07] #655 closed

[2021-07-28 16:10] robscott commented on #370
I think this was fixed by https://github.com/kubernetes-sigs/gateway-api/pull/729, feel free to reopen if I missed anything.

[2021-07-28 16:11] robscott commented on #370
/close

[2021-07-28 16:11] #370 closed

[2021-07-28 21:42] jpeach commented on #213
Then for a muti-valued header, a single match entry matches a single value, and you give multiple matches if you want more:
[code]

[2021-07-28 22:05] robscott commented on #213
@jpeach I think the config you listed would not match any requests. On the other hand, this would match requests with a `Forwarded` header value of `Foo` or `Bar`

[code]

[2021-07-28 22:26] jpeach commented on #213
IIUC this issue is about headers that can have multiple values, so my example would match when the header contains bit of these values, right?

[2021-07-28 22:32] robscott commented on #213
My interpretation is that each individual header match in a `headers` section needs to be true for the match as a whole to be considered true. In your example, it would be impossible for `Foo` and `Bar` to be either a prefix, regex, or exact match of the same header.

This is making it clear that there's too much ambiguity in the spec though, it sounds like we're interpreting this differently.

[2021-07-29 02:27] jpeach commented on #213
It would be possible if the header has multiple values:
[code]

Or are you saying that in this case, it's not possible to match against the `Forwarded` header at all?

[2021-07-29 02:39] howardjohn commented on #213
Do we have prior art on how this behaves in other places? I think at least
Envoy's API is a similar shape - I couldn't tell from the docs how it
handles this though.

On Wed, Jul 28, 2021, 7:28 PM James Peach ***@***.***> wrote:

[2021-07-29 03:36] robscott commented on #213
Good point, it looks like Envoy has been updated to concat multiple header values into a comma separated list before matching: https://github.com/envoyproxy/envoy/issues/13751. That's the behavior I'd been assuming here, but I'd need to do some more digging to see how widespread that actually is.

[2021-07-29 05:05] jpeach commented on #213
:grimacing:

[2021-07-29 05:16] bowei commented on #213
Repeated headers are a single header comma combined. There is no such thing as treating them as individual headers. Check the RFC.

[2021-07-29 05:40] youngnick commented on #735
So, it seems like there are two things we're talking about here:
- adding fields to hold destination IP and Port on TCPRoute and UDPRoute. This would create a two-level matching scheme, similar to hostname at the Gateway level being required to match a hostname supplied at the HTTPRoute or TLSRoute level for the route to successfully be attached. If that's the case, I can see that it might be usef

[2021-07-29 05:55] youngnick commented on #709
I'll take this one.

/assign

[2021-07-29 15:42] howardjohn commented on #735
This sounds right to me.

I have limited expertise here, but it seems more common with applying policy (allowlist/denylist IP) than routing.

[2021-07-29 17:12] hbagdi opened #740 "Clarify if psuedo-headers are supported within HTTP header matching"
**What happened**:

Pseudo-headers can be used to specify matches against non-header properties of HTTP requests: https://github.com/kubernetes-sigs/gateway-api/pull/733#discussion_r676935043

**What you expected to happen**:

The documentation of the API clarify if pseudo-headers are supported or not.

**How to reproduce it (as minimally and precisely as possible)**:

N/A

[2021-07-29 17:16] hbagdi commented on #740
Another reason: Pseudo-headers are not very popular (at least I have not encountered them for matching purposes before) so mentioning them explicitly would be helpful to users and maintainers.

[2021-07-29 21:45] jpeach commented on #213
Is this the relevant part? https://www.rfc-editor.org/rfc/rfc7230.html#section-3.2.2

So you must not generate multiple header fields with the same key **unless the entire field value is a list**, in which case you can. And cookies are an exception.

[2021-08-02 06:37] jpeach commented on #491
/remove-lifecycle rotten
/lifecycle frozen

[2021-08-02 22:02] #624 closed

[2021-08-02 22:32] hbagdi commented on #737
/assign @ccfishk

[2021-08-02 22:33] robscott commented on #213
/assign @bowei

[2021-08-03 16:33] ccfishk commented on #737
willing to take over this issue.

[2021-08-03 18:59] hbagdi commented on #611
xref #98  #99 #91 #89 #114 #97 #611

[2021-08-03 22:01] jpeach commented on #623
To summarize my interpretation:

* You have 2 listeners on port 443
* The first "HTTPS" listener matches HTTPRoutes
* The second "TLS" matches TLSRoutes

You end up with both an HTTPRoute and a TLSRoute binding to the same hostname (i.e. SNI name).

So the spec claims that this ought to be OK (the rationale is that you can still route properly based on the TLS SNI). However, there's no language th

[2021-08-04 22:24] shaneutt commented on #708
Under the repository "settings" simply checking the checkbox to enable discussions is enough to turn everything on.

I suggest a light handed approach: let it happen organically but we can write an welcome message to remind people that if someone feels a discussion needs further attention they are welcome to put it on the community sync agenda, and/or transferring it to issues for normal grooming

[2021-08-05 14:36] liggitt commented on #716
+1 to getting @thockin ack on the k8s.io change as soon as possible

[2021-08-05 18:04] robscott opened #746 "GEP: Replace Certificate Refs on HTTPRoute with Cross Namespace Refs from Gateway"
**What would you like to be added**:
This proposes replacing Certificate Refs on HTTPRoute with the ability for Gateways to reference certificates in other namespaces. This is not a complete replacement, but it does significantly reduce the potential for confusion.

**Why this is needed**:
This is a confusing part of the API that does not appear to be supported by any implementation yet. We can al

[2021-08-05 23:43] youngnick commented on #708
@robscott, would you mind doing the honors and turning on the setting?

[2021-08-05 23:56] robscott commented on #708
I don't think I have enough access, maybe @bowei does? If not, maybe there's some yaml we need to change somewhere

[2021-08-06 16:06] robscott commented on #588
I think one of the best solutions that's been proposed so far involves a mutating webhook that populates new fields just for kubectl output. That would allow us the ability to customize all output with a great deal of control. Of course there's a lot of overhead in a webhook. With the recent ReferencePolicy addition, it's clear that more output fields would be helpful there as well, but since it's

[2021-08-06 20:46] hbagdi commented on #708
😂

[2021-08-06 23:26] robscott opened #753 "Validation should require port when BackendRef refers to a Service"
**What would you like to be added**:
In `BackendObjectReference` we note that "Port is required when the referent is a Kubernetes Service". We should validate that with the webhook.

**Why this is needed**:
This is a clear example of where the webhook could improve UX.

[2021-08-06 23:33] #718 closed

[2021-08-06 23:58] bowei commented on #708
I will enable it

On Fri, Aug 6, 2021, 1:46 PM Harry ***@***.***> wrote:

[2021-08-08 03:21] tao12345666333 commented on #753
let me try.

/assign

[2021-08-09 06:17] #582 closed

[2021-08-09 06:17] #709 closed

[2021-08-09 20:34] robscott commented on #578
@hbagdi @stevesloka can we close this issue now that GEP #718 clarified where port was required? We also have https://github.com/kubernetes-sigs/gateway-api/issues/753 to track implementing that validation in the webhook.

[2021-08-09 20:35] hbagdi commented on #578
/close

[2021-08-09 20:35] #578 closed

[2021-08-09 20:35] robscott commented on #634
We've got a lot of the pieces in place for Route delegation/inclusion thanks to GEP #709 and #724, but I think we're going to add this after the initial v1alpha2 release. I'm going to move this out of the v1alpha2 milestone to account for that.

[2021-08-09 20:45] robscott commented on #638
If I'm understanding this correctly, we just need some documentation at this point. Anyone able to take on a docs PR?

/cc @howardjohn @stevesloka

[2021-08-09 20:56] stevesloka commented on #638
I don't feel that I understand it enough to write docs @robscott. I understand everyone's comments, but they don't all align up with how I understand the API. 😞

[2021-08-09 21:04] robscott commented on #638
Completely understand that. I think it makes the most sense to recommend what @howardjohn suggested above: If a Service/backend does not exist, traffic that would otherwise be destined for it should receive a 503. Does that match up with what others were thinking?

[2021-08-10 05:53] nak3 opened #759 "Unclear the meaning of references of vendor configurations in GatewayTLSConfig"
**What happened**:

The section `GatewayTLSConfig` in API spec doc lists the references for the vendor configurations of TLS as:

https://gateway-api.sigs.k8s.io/references/spec/#networking.x-k8s.io/v1alpha1.GatewayTLSConfig

![image](https://user-images.githubusercontent.com/2138339/128814670-b9943151-0c99-4f9a-b597-bb9c66f371c4.png)

But are these references useful for the configurations or impl

[2021-08-10 06:05] robscott commented on #759
Thanks for catching this! I agree these should be removed.

[2021-08-10 06:17] nak3 commented on #759
Thank you! I will send the PR then.

[2021-08-10 16:57] #759 closed

[2021-08-10 20:57] bowei commented on #599
/lifecycle frozen

[2021-08-11 00:13] jpeach commented on #577
#749 Removes TLS configuration from routes. In light of that, shall we close this issue? @mark-church

[2021-08-11 02:39] robscott opened #763 "Document Self Service TLS Certificate Approaches"
**What would you like to be added**:
As a follow up to the discussion in https://github.com/kubernetes-sigs/gateway-api/pull/749#discussion_r686410424, it would be good to clarify exactly how the API can be used to allow app owners to provide their own TLS certs.

**Why this is needed**:
This is a common request, and the existing guidance in GEP #746 is pretty broad and may not scale as much as ne

[2021-08-11 20:23] #611 closed

[2021-08-11 20:25] hbagdi opened #764 "Conformance based on feature groups"
**What would you like to be added**:

At the beginning, this API was focused on HTTP with plans to include other protocols.
Then L4 protocols were added in.
Overtime, we have added support for Service Mesh like use cases.
Add "conformance profile" to the API so that an implementation can support only a subset of the API. For example, an HTTP gateway, L4 gateway or a mesh gateway.

**Why this is ne

[2021-08-11 20:31] hbagdi commented on #577
I think it is safe to close this.
@mark-church Please holler in case no.
/close

[2021-08-11 20:31] #577 closed

[2021-08-11 20:45] hbagdi commented on #213
/assign

[2021-08-11 20:53] hbagdi opened #767 "Stricter regex-based validation"
**What would you like to be added**:

Add regex based validation in the API: https://github.com/kubernetes-sigs/gateway-api/pull/754#discussion_r687174710

**Why this is needed**:

Decreasing the surface area of the API further. We can relax (not a breaking change) these validations later on when need be.

[2021-08-11 22:37] robscott commented on #767
Some helpful regex examples from upstream: https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go

[2021-08-12 00:47] youngnick commented on #764
Some not-quite-ready-for-a-GEP thoughts from me:

Roughly, it seems like we've got three main classes of thing wanting to use this API right now:
- Ingress controllers (layer 7 load balancers/application gateways that route mainly HTTP traffic)
- Load Balancers (layer 4 load balancers that route TCP and UDP, maybe also handling some TLS)
- Mesh controllers (that provide a gateway between the insid

[2021-08-12 02:58] bowei commented on #764
The names of the categories might want to change (like make it L7, L4, mesh); but the general direction +1 from me.

[2021-08-12 05:39] #411 closed

[2021-08-12 05:39] #515 closed

[2021-08-12 05:39] #699 closed

[2021-08-12 05:39] #724 closed

[2021-08-12 15:31] robscott commented on #767
/assign

[2021-08-12 18:10] robscott opened #776 "Document how and when to create custom route resources"
**What would you like to be added**:
One of the core extension mechanisms in Gateway API is the ability to create custom Route resources. It would be good to document how to do that.

**Why this is needed**:
This is an important way to extend the API.

[2021-08-12 22:38] #638 closed

[2021-08-12 22:46] #213 closed

[2021-08-13 01:42] #746 closed

[2021-08-13 04:19] youngnick commented on #776
I think that supplying a skeleton Route object would be really useful, since it will include all the status bits, it could also be used as a ducktype later. I'll can take this one early next week, but understand we may want to get it in before then.

[2021-08-15 06:02] tsaarni commented on #622
/remove-lifecycle stale

[2021-08-16 01:38] youngnick commented on #666
/lifecycle frozen

@robscott we should probably look at this one soon.

[2021-08-16 01:41] youngnick commented on #646
/lifecycle frozen

Feels like whoever is doing the v1alpha2 release should take notes and then turn it into a checklist?

[2021-08-16 15:50] bowei commented on #72
/lifecycle frozen

[2021-08-16 16:19] robscott commented on #666
@youngnick Added to v1alpha2 milestone. Now that API is mostly finalized, it probably makes sense to split examples into v1alpha1 and v1alpha2 directories, and ensure that we have v1alpha2 examples to correspond with all v1alpha1 examples.

[2021-08-16 16:23] #737 closed

[2021-08-16 16:26] hbagdi commented on #72
@robscott @youngnick  While this is a clarification, can this be considered a borderline breaking change by any chance?
I ask to understand if this is something to pull into v1a2 or not.

[2021-08-16 16:43] shaneutt opened #783 "several documentation pages in need of v1alpha2 updates"
**What would you like to be added**:

Several documentation pages need to be checked for updates for `v1alpha2` release, and patched accordingly.

**Why this is needed**:

These pages were identified in https://github.com/kubernetes-sigs/gateway-api/pull/778 and marked with a warning:

[code]

The `v1alpha2` release can't move forward until all of these are checked and patched accordingly.

**TODO

[2021-08-16 16:44] shaneutt commented on #783
I'm going to personally start reviewing and patching these.

[2021-08-16 22:52] shaneutt commented on #708
The discussion boards are open :+1:

[2021-08-16 22:52] #708 closed

[2021-08-16 23:05] bowei opened #784 "Clarify the meaning of ProtocolType in the Listener block"
There is some amount of ambiguity for new users as to the full meaning of `ProtocolType` in the Listener block.

We should expand on what this represents as it may cause confusion for users expecting a strict layering model .

[2021-08-17 18:08] robscott opened #785 "Output from test failures is not as helpful as it could be"
**What happened**:
When tests fail, we currently just output the verify script that failed, not how or why it failed.

**What you expected to happen**:
To have some kind of information on the test failure so I don't have to recreate it locally.

**How to reproduce it (as minimally and precisely as possible)**:
Example here: https://github.com/kubernetes-sigs/gateway-api/pull/714#issuecomment-90051

[2021-08-17 18:12] shaneutt commented on #785
Is there any reason that introducing a full Golang test suite to the repository would be unacceptable as a solution to this?

[2021-08-17 18:24] robscott commented on #785
That may be helpful. Most of our tests are pretty tied to shell scripts right now, things like `go lint`, codegen, and spinning up a kind cluster to install examples would all be relatively complicated to verify with Go unless we were just using `exec` to run the same commands as before and using Go to provide better output.

[2021-08-17 18:27] shaneutt commented on #785
That sounds good to me and will probably lead to overall better testing and CI long term is my thought.

I'm interested in working on this if nobody else is, but given the `v1alpha2` release and the work I'm already doing on documentation for that I wont be starting on this _immediately_ so if anyone else wants to jump in go for it.

Otherwise, if nobody else picks this up once I have time for it

[2021-08-18 00:37] howardjohn opened #787 "Broken links in docs pages"
https://gateway-api.sigs.k8s.io/v1alpha1/guides/getting-started/#installing-a-gateway-controller links to https://gateway-api.sigs.k8s.io/v1alpha1/references/implementations which is a 404.

This is likely something we can catch in presubmit with a test, although I am not sure how complex that would be

[2021-08-18 05:12] youngnick commented on #787
We tried that with Contour for all links for a while, and it was pretty flaky, but maybe something that only checks internal links...

In any case, I'll fix this one and check for other links to those files, since it's my relocation PR that's broken it.

[2021-08-18 05:13] youngnick commented on #784
I think that the suggestion (I think it was @jpeach 's?) we discussed on the issue is a good one - using `ListenerType` instead of `ProtocolType` would seem to remove some of this ambiguity,

[2021-08-18 05:15] howardjohn commented on #787
I think we have an internal-links-only one in Istio/istio.io. That should
be reliable and fast. I can try to find time to investigate

On Tue, Aug 17, 2021, 10:12 PM Nick Young ***@***.***> wrote:

[2021-08-18 05:17] youngnick commented on #666
Agreed. My current plan is to do exactly that - I'll move the currently-unversioned examples into a `v1alpha1` directory and update the v1alpha1 guides, then we can do the v1alpha2 stuff as we get the guides and examples updated.

Additionally, I think that having the examples be in a directory each will greatly help using them in the guides, since we can include the example YAML in the guide when

[2021-08-18 05:20] youngnick commented on #72
I agree that we should sort this out in v1a2, since it could be a breaking change. I'll add it to the milestone to make sure we don't miss it.

[2021-08-18 05:21] youngnick commented on #640
/lifecycle frozen

[2021-08-18 05:25] youngnick commented on #622
This API has changed substantially with v1alpha2, we will need to revisit how we can achieve this.

[2021-08-18 05:26] youngnick commented on #753
@robscott, I think this may not be required now we've changed how the service reference works?

[2021-08-18 05:42] bowei commented on #753
It seems like it should still be relevant?

https://github.com/kubernetes-sigs/gateway-api/blob/master/apis/v1alpha2/object_reference_types.go#L127

[2021-08-18 05:47] robscott commented on #753
Changing how the Service reference works made this less ambiguous, but it would still be helpful to have webhook validation here to ensure port was always set when the BackendRef.Kind was "Service"

[2021-08-18 05:49] robscott commented on #622
It seems like it would be possible to achieve this with some form of policy attachment initially, not sure if there's a better approach or built in policy resource we can offer here.

[2021-08-18 14:12] shaneutt commented on #783
/assign @shaneutt

[2021-08-18 15:54] howardjohn commented on #787
OK actually I don't think we do. We use `linkinator`, but include external links. There is no explicit option to ignore external links there, but it is possible to regex exclude them to some success:
`linkinator-linux site --markdown -r -s '^https'`

[code]

[2021-08-18 18:51] howardjohn opened #790 "v1alpha2 feedback"
I started working on implementing v1alpha2 and came across a few minor things that I think could use tweaks. Opening a single issue to capture them, and may use as a running log if I have any others.. we can split out larger ones if needed

* [x] #821
* [x] "If all hostnames do not match, then the HTTPRoute is not admitted". Should be "any", not "all", I think? In the same doc it says "Hostnames t

[2021-08-18 19:18] robscott commented on #790
Thanks @howardjohn! This is a great list, I've added this issue to the v1alpha2 milestone.

[2021-08-18 19:24] robscott commented on #790
Looks like this got out of sync, but there was a [relatively last minute change to make this field required](https://github.com/kubernetes-sigs/gateway-api/pull/754#discussion_r686433005). Looks like that was never reflected in the docs.

[2021-08-18 19:27] robscott commented on #790
I think it should be ignored. Each implementation can't know what is or isn't valid for other implementations.

If a controller can tell that a Route is trying to attach to a Gateway but not allowed to, I think that should be communicated in Route status at a minimum, maybe even Gateway status.

[2021-08-19 04:32] youngnick commented on #790
Awesome list, thanks @howardjohn.

A couple thoughts:

Good catch, I think it should be something like:
* When a whole route is not admitted, then the `Admitted` Condition must be ensured as `status: true`
* If at least one hostname does not match, the HTTPRoute is not admitted.
* Hostnames that do not match are silently ignored (for now because I can't think of a way to do the status cleanly)

In

[2021-08-19 04:33] youngnick commented on #783
I think that @ccfishk was going to look at the traffic-splitting guide, is that right?

[2021-08-19 04:44] ccfishk commented on #783
Yes, working on traffic-splitting and simple-gateway guide.

[2021-08-19 13:21] shaneutt commented on #783
Sounds good, I'll leave those two alone :+1:

[2021-08-19 19:00] shaneutt commented on #783
/assign @ccfishk

[2021-08-19 19:02] shaneutt commented on #783
Now that https://github.com/kubernetes-sigs/gateway-api/pull/786 is merged I'm going to take these three:

- `site-src/v1alpha2/guides/multiple-ns.md`
- `site-src/v1alpha2/guides/tcp.md`
- `site-src/v1alpha2/index.md`

I'll have a PR up for these soon :+1:

[2021-08-19 19:12] robscott commented on #678
This will be covered by GEP https://github.com/kubernetes-sigs/gateway-api/issues/726.

/lifecycle frozen

[2021-08-19 20:45] robscott opened #793 "Support additional redirect status codes"
**What would you like to be added**:
Currently we only support 301 and 302 redirects. It would make sense to expand that to [all possible values](https://developer.mozilla.org/en-US/docs/Web/HTTP/Status#redirection_messages).

**Why this is needed**:
Although 301 and 302 are most common, there's no reason not to support the rest. This likely means we'll need to distinguish support levels per value

[2021-08-19 20:46] robscott commented on #793
This was suggested by @bowei in https://github.com/kubernetes-sigs/gateway-api/pull/772#discussion_r692452704.

[2021-08-19 20:56] hbagdi commented on #793
I think supporting conformance at such a granular level is pushing a lot of pain on to the user. We should avoid this at all costs.

[2021-08-19 21:24] hbagdi commented on #784
Why not simply `type Protocol string` because all of those are protocols anyway?
I was a bit surprised that we don't even have a `Protocol` as a Go type in our API.

[2021-08-19 21:34] hbagdi commented on #790
We already set the default to Namespace.
The same scope field is present in GatewayClass's ParametersRef as well so we must be careful.

I don't think we can even if we wanted to. So no.

If you (Gateway) are referenced in the ParentRefs, then it is your responsibility to report the status.
The larger problem is that the controller in question might not be even watching the Resource so it can't do

[2021-08-19 21:54] bowei commented on #793
Harry -- are you saying to not say anything or to mandate more conformance?

[2021-08-19 22:05] hbagdi commented on #793
For something as granular as a field inside a filter, we should not have a conformance like "x value is core but y is extended". Users would be pulling their hair out debugging it.
Instead a specific field should either be core or not core. Somewhere in the middle feels really trappy.

I would go so far as saying that a filter is the smallest block on which we should have conformance, but we don't

[2021-08-19 22:06] bowei commented on #793
I am inclined to agree -- especially until we get a good sense of how specific the conformance tests could possibly be.

[2021-08-19 23:05] #767 closed

[2021-08-19 23:51] youngnick commented on #784
That sounds good to me too.

[2021-08-20 00:27] jpeach commented on #784
[code]

[2021-08-20 09:19] hannius opened #795 "Cross-namespace Route binding is mismatching of traefik 2.4.9 from traefik-helm-chart"
the traefik helm chart github is: "https://github.com/traefik/traefik-helm-chart"
the traefik version is : 2.4.9
the gateway-api version is : v0.3.0
and traefik is under namespace: kube-system
the gatewayclass yaml is :
[code]
and the gateway yaml is below:
[code]
➜  traefik_new git:(master) helm install traefik-test --namespace kube-system -f values_diymaster.yaml --debug .

---------------------

[2021-08-20 15:52] hbagdi commented on #795
@SantoDE Should this instead move to Traefik issue tracker?

[2021-08-20 15:55] SantoDE commented on #795
@hbagdi best would be on the helm chart. I'll make an issue there and reference that one

[2021-08-21 07:19] #568 closed

[2021-08-22 03:23] 13567436138 opened #799 "failed to assign to any requested addresses: Only NamedAddress is supported, ignoring [192.168.198.194]"
[code]

[2021-08-22 03:48] 13567436138 opened #800 "hostname *.demo got 404"
[code]

[2021-08-22 07:59] 13567436138 opened #801 "gateway namespace same,httproute in the same namesapce,but svc in different namespace,got 503"
[code]
[code]
HTTP ERROR 503
[2021-08-22T07:59:01.989Z] "GET /productpage HTTP/1.1" 503 NC cluster_not_found - "-" 0 0 0 - "172.20.0.0" "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/92.0.4515.159 Safari/537.36" "bede6911-acef-4b6f-a223-bf8c02ebf100" "bookinfo.demo:30902" "-" - - 172.20.1.151:8080 172.20.0.0:59367 - -

[2021-08-22 08:14] 13567436138 opened #802 "gateway routes matchExpressions visite page got 404"
[code]
[code]

[2021-08-22 22:19] jpeach commented on #799
@13567436138 Is this a problem you are having with this istio gateway support, or with the gateway specification itself?

[2021-08-23 00:12] 13567436138 commented on #799
with istio

[2021-08-23 01:22] 13567436138 opened #805 "what options does gateway tls support , my enviroment is istio?"
[code]
the validate did not validate this options field

[2021-08-23 02:13] hannius commented on #795
so this should not be the problem of gateway-api, i will go to the helm chart, thanks

[2021-08-23 02:29] 13567436138 opened #806 "httproute hostname *.demo got 404,enviroment istio"
[code]

[code]

[2021-08-23 03:30] howardjohn commented on #799
This is strictly an Istio issue so belongs in that repo. That being said, this is working as intended - as the message says only NamedAddress is supported. If the error could be improved please feel free to send a PR

/close

[2021-08-23 03:51] youngnick commented on #805
Thanks for your issue @13567436138, but this repo is for development on the upstream API. I'd suggest checking in with istio/istio.

[2021-08-23 03:52] youngnick commented on #799
/close

[2021-08-23 03:52] #799 closed

[2021-08-23 03:53] youngnick commented on #806
As we said on the other issues, please take implementation questions to that implementation's repo.

/close

[2021-08-23 03:53] #806 closed

[2021-08-23 03:54] youngnick commented on #795
Thanks @hannius, hopefully you can get some help there.

/close

[2021-08-23 03:54] #795 closed

[2021-08-23 03:55] youngnick commented on #800
Redirected to Istio's repo, thanks.

/close

[2021-08-23 03:55] #800 closed

[2021-08-23 03:55] youngnick commented on #802
Redirect to Istio's repo, thanks.

/close

[2021-08-23 03:56] #802 closed

[2021-08-23 03:56] youngnick commented on #801
Redirect to Istio's repo, thanks.

/close

[2021-08-23 03:56] #801 closed

[2021-08-23 04:32] bowei commented on #806
We should amend the bug filing template to route people to the implementations bug filing

[2021-08-23 15:37] howardjohn commented on #805
Agree with above. But the answer is none are supported today.

On Sun, Aug 22, 2021 at 8:52 PM Nick Young ***@***.***> wrote:

[2021-08-23 15:52] howardjohn opened #810 "docs bikeshed: put apiVersion before kind in yaml samples"
Example from our docs:
[code]

Example output from `kubectl get`, as well as almost all kubernetes.io docs:
[code]

I think it would be preferable to use the more familiar format below, for consistency with kubernetes.io and kubectl. Since most people copy+paste everything from the docs, whatever we do will probably trickle throughout the k8s ecosystem

[2021-08-23 16:07] bowei commented on #810
Send the PR -- I will approve.

[2021-08-23 16:13] hbagdi commented on #451
/lifecycle frozen

[2021-08-23 19:24] #810 closed

[2021-08-23 21:01] robscott commented on #805
Going to close this as it is likely a better discussion to have on the Istio repo.

[2021-08-23 21:01] #805 closed

[2021-08-23 22:19] robscott commented on #72
/assign @youngnick

[2021-08-23 22:42] hbagdi opened #816 "Decide if kind should be renamed to resource"
**What would you like to be added**:

Rename kind to resource for object references as per API conventions: https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/2336-OwnerReference-resource-field/README.md

**Why this is needed**:

Upstream API conventions recommend "resource" over "kind"

### Concerns

Some concerns were raise in the community meeting (not exhaustive):
-

[2021-08-23 22:43] hbagdi commented on #816
@robscott I tried digging up the convention but couldn't find one.
This one seems to be outdated still: https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#resources

[2021-08-23 22:48] jpeach opened #817 "Cleartext HTTP/2 (h2c) should be allowed on HTTP listeners"
Though this isn't couched in spec language (MUST, SHOULD, etc), this argues against allowing implementations to support HTTP/2 over cleartext. Implementations should be allowed to offer h2c when the "HTTP" protocol is specified.

[2021-08-23 23:07] jpeach opened #818 "Address port range and "all ports" use cases"
In the API review the topic of "all ports" services was raised.

https://github.com/kubernetes-sigs/gateway-api/pull/780#discussion_r693210917

And there is a KEP around this for Services:

https://github.com/kubernetes/enhancements/pull/2611

This issue is for capturing use cases for gateways that need large numbers of ports, possibly all of them.

[2021-08-23 23:08] jpeach commented on #818
@beriberikix In all ports KEP, SIP/RTP/gaming servers are mentioned. Do you know of any use cases that would need lots of Gateway ports?

[2021-08-23 23:35] hbagdi commented on #51
#713 covers this in some sense.
Safe to close?
/cc @robscott @jpeach @youngnick

[2021-08-23 23:36] hbagdi commented on #89
#713 covers this in some sense.
Safe to close?
/cc @robscott @jpeach @youngnick

[2021-08-23 23:37] hbagdi commented on #223
xref #764

[2021-08-23 23:37] hbagdi commented on #817
@jpeach Can we close #204 then?

[2021-08-23 23:38] hbagdi commented on #118
@robscott We do take into account IPv6 whenever we talk about any address. Is there anything more we need?

[2021-08-23 23:40] hbagdi commented on #262
@robscott Is adding a default considered a breaking change? In some cases yes, here I think we should be good. Want to confirm.

[2021-08-23 23:42] hbagdi commented on #817
xref #687

[2021-08-23 23:44] hbagdi commented on #816
xref https://github.com/kubernetes-sigs/gateway-api/issues/689

[2021-08-23 23:45] beriberikix commented on #818
In my experience, they tend to have just a handful or simply one port per protocol. But paging the expert on all things WebRTC @Sean-Der!

[2021-08-24 00:42] robscott commented on #818
/cc @prameshj

[2021-08-24 00:47] robscott commented on #816
As referenced in #689, I think https://github.com/kubernetes/community/pull/5748#discussion_r626118844 is probably the best summary of the rationale for this change, will continue to follow up on this one.

[2021-08-24 00:49] robscott commented on #262
Yeah I don't think this would be a breaking change. This would require:

1. Supporting a new annotation on GatewayClass to mark it as default.
2. Making GatewayClassName on Gateway optional

When GatewayClassName was unset, a webhook would fill it in with a default value. If there was no default, maybe we'd have to reject the Gateway entirely? I'm not exactly sure on the specifics here, but it doe

[2021-08-24 00:52] robscott commented on #89
Yeah I think that's probably the most fitting solution here.

/close

[2021-08-24 00:52] #89 closed

[2021-08-24 00:52] robscott commented on #51
Agree with that, feel free to reopen if there's a better more portable way to handle this.

/close

[2021-08-24 00:52] #51 closed

[2021-08-24 02:00] jpeach commented on #204
Closing in favor of #817

[2021-08-24 02:00] #204 closed

[2021-08-24 02:14] prameshj commented on #818
A survey was sent out as part of the services KEP to better understand the usecases. The results are in tiny.cc/allportsslides which details some usecases.

[2021-08-24 03:12] youngnick commented on #816
I think the biggest thing we, as a community will need to do, is do more education of what users will actually need to put in there. Usually it's lower-case, pluralised, instead of Initialcase, so we should probably put in some examples in the docs for the field.

[2021-08-24 03:33] youngnick commented on #818
Feels like I could summarise most of those use cases as "protocols designed before everyone wanted to fit everything through NAT/PAT".

I think the other use case to keep in mind for "all ports" is also "no port", for Routes that don't fit into the L4 bucket. I think that with a minimum of effort, the Gateway construct could be applied to things like IP routes, having the Gateway be a more general

[2021-08-24 03:42] beriberikix commented on #818
I think that's accurate for the use cases mentioned (which is plenty!) but there are modern protocols that don't or can't rely on NAT, ex. telco and IoT. I won't get started on L3/L2 or even non-IP protocols that are part of 5G :) That said, besides what's covered in the survey, covering "ports are not meaningful" would suffice.

[2021-08-24 04:04] youngnick commented on #784
I really think it's the use of the word `protocol` that's the problem here - it seems like some people have specific ideas about what constitutes a protocol. That's why I think that `ListenerType` is better - it dodges this issue entirely.

[2021-08-24 15:01] shaneutt commented on #262
Just out of curiosity is the onus to implement this based on a specific implementation's needs or is it an effort towards further feature parity with `Ingress`?

[2021-08-24 15:06] hbagdi commented on #98
In search for a solution, we were unsuccessful in coming up with a portable way to support this feature.
As a compromise, we came up with an easy and portable way to support such implementation-specific features in a consistent manner. The solution is documented in #713.

If there are more portable ways to tackle this, we would love to hear about them.

For now, I'll close this issue.
/close

[2021-08-24 15:06] hbagdi commented on #99
In search for a solution, we were unsuccessful in coming up with a portable way to support this feature.
As a compromise, we came up with an easy and portable way to support such implementation-specific features in a consistent manner. The solution is documented in #713.

If there are more portable ways to tackle this, we would love to hear about them.

For now, I'll close this issue.
/close

[2021-08-24 15:06] #98 closed

[2021-08-24 15:06] hbagdi commented on #97
In search for a solution, we were unsuccessful in coming up with a portable way to support this feature.
As a compromise, we came up with an easy and portable way to support such implementation-specific features in a consistent manner. The solution is documented in #713.

If there are more portable ways to tackle this, we would love to hear about them.

For now, I'll close this issue.
/close

[2021-08-24 15:06] #99 closed

[2021-08-24 15:06] #97 closed

[2021-08-24 15:43] shaneutt commented on #790
@howardjohn / @robscott can we split these checkboxes off into issues? Github has a feature to do that and will let you convert a task to an issue, replacing the current text with a link to the new issue. I know its a lot of issues to create but from my perspective being able to just assign a couple issues to myself and get them done helps me organizationally.

[2021-08-24 16:05] hbagdi opened #820 "GEP: Drop extension points from Route matches"
**What would you like to be added**:

This GEP will add a formal prosposal to drop match extension points from all route types within the API.

**Why this is needed**:

Although these extension points have been present from early days of the API, they are not understood clearly - we do not have concrete use-cases for them and we do not have any feedback on them. We should drop these and introduce

[2021-08-24 16:14] ccfishk commented on #818
Pretty all-inclusive all use cases ! 👍
And we might need consider IPV6 though considerable difference is alpha-numeric address and length, NDP discovery, but features like  IPSec is built into IPV6 for key infrastructure.
I dont think is too early to consider extensible to 5G protocol.

[2021-08-24 16:16] robscott opened #821 "Route: Admitted status docs say its only when Hostname does match. What about namespace, route type, etc not matching? Obviously we should not include them, but do we mark status as Admitted=false?"

[2021-08-24 22:42] robscott opened #826 "Create utils to make it easier to work with custom types"
**What would you like to be added**:
Helper funcs that help with type conversion, especially from and to pointers, for our custom types. Examples of these types include `Hostname`, `Namespace`, and `Group`.

**Why this is needed**:
To simplify CRD validation, we've created a lot of custom types. Unfortunately this makes it difficult to work with our APIs with go. It would be very helpful if we had

[2021-08-24 23:10] robscott commented on #816
Followed up on mailing lists: https://groups.google.com/g/kubernetes-sig-architecture/c/WhHTjTDzcQg

[2021-08-25 00:28] robscott opened #827 "Validation should prevent protocol specific config errors on Gateways"
**What would you like to be added**:
We should validate the following:

TLSConfig is empty when the protocol is HTTP, TCP, or UDP.
Hostname is empty when the protocol is TCP or UDP.

**Why this is needed**:
This would help provide a better UX.

[2021-08-25 04:03] jpeach opened #828 "CI tests are failing"
**What happened**:

CI test are failing with this error:

[code]

**What you expected to happen**:

Applying CRDs should succeed.

**How to reproduce it (as minimally and precisely as possible)**:

Run CI for any PR.

**Anything else we need to know?**:

https://github.com/kubernetes/enhancements/pull/1111

[2021-08-25 05:58] robscott commented on #828
This was a dumb hack by me to workaround this (https://github.com/kubernetes-sigs/gateway-api/blob/master/hack/update-codegen.sh#L63), and the precise version is probably causing the issue with #824 since it bumps the version of that tool.

[2021-08-25 16:47] hbagdi commented on #826
Want to make sure I understand you right. Are you referring to something like?
[code]

[2021-08-26 07:13] youngnick opened #832 "HTTPRoute matching should support custom match types"
**What would you like to be added**:

See the discussion here for more detail (https://github.com/kubernetes-sigs/gateway-api/pull/822#discussion_r696163543), but in short:

In GEP-820 (#820 and #822) we are removing the extensionRef in the HTTPRoute matches section. This issue covers work to add something back in that allows implementations to try custom matching of some sort.

@bowei suggested:

[2021-08-26 17:38] howardjohn opened #833 "Better validation of LabelSelector"
[code]

is current CRD. It would be good to validate they are one of the 4 valid operators.

This is a bit tricky since the type comes from apimachinery, so we cannot just add the kubebuilder comment on it.

[2021-08-27 19:10] howardjohn opened #835 "docs suggestion: add perma-links to headers in API reference"
We can link to specific sections of the API. For example, https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.HTTPRequestMirrorFilter.

However, there is no way to click no the header and generate a link. Many docs have a little anchor icon there to get it, or make the text itself a link
![2021-27-08_12-09-46](https://user-images.githubusercontent.com/62345

[2021-08-27 19:51] howardjohn opened #836 "Invalid parent references are challenging to implement status for"
[code]

Lets say I have a route like ^. I made a typo on the kind. In this case, the route will be totally ineffective (assuming no controller implements a `Gaway` type). However, there is no way to actually report this to a user. No controller can write "Unknown kind Gaway" or equivalent, since they don't know if its truely unknown, or just not known to _them_, but is known to another controller.

[2021-08-27 22:45] robscott opened #838 "Scope in object references may be unnecessary"
As a follow up from @howardjohn's v1alpha2 feedback in #790:

[2021-08-27 23:32] robscott commented on #836
In #839 I added a note to Route status describing this limitation.

[2021-08-27 23:34] robscott commented on #827
Hey @sayantani11, we currently have Gateway validation defined here: https://github.com/kubernetes-sigs/gateway-api/blob/master/apis/v1alpha2/validation/gateway.go. For each Gateway listener, we need validation that prevents the fields described above from being set when the protocol does not allow it.

[2021-08-29 02:43] jpeach commented on #836
I expect that the specific case of an invalid kind could be caught by the admission validation. I don't think that we can require the referent object to actually exist at this time though maybe the validation can resolve the reference and set an initial status condition.

[2021-08-29 18:55] howardjohn commented on #836
Can a mutating webhook actually set status?

The same solution could actually apply, that controllers should set the "unknown GatewayClass" IFF no other controller has set it. That way a controller will never turn a positive condition to a negative, but can turn negative to positive (and thus "take ownership" of the field)

[2021-08-30 06:48] youngnick commented on #836
Yeah, I think it should be every controller's responsibility to set the status to "looks like there's a really bad problem" unless they see something else has done that previously.

So yes, a race, but a race that should solve itself quickly.

[2021-08-30 07:06] jpeach commented on #836
We default the gateway status so it's clear that is is not getting reconciled.

[2021-08-30 16:52] bishtsaurabh5 commented on #827
Hey I am also interested in picking this issue , @sayantani11 have you started working on this ?

[2021-08-30 18:48] sayantani11 commented on #827
@bishtsaurabh5 No. I haven't. You can work on it. All yours.

[2021-08-30 18:55] bishtsaurabh5 commented on #827
Thanks for the update @sayantani11

[2021-08-30 18:56] bishtsaurabh5 commented on #827
/assign

[2021-08-30 19:50] hbagdi commented on #401
/reopen
/lifecycle frozen

[2021-08-30 19:58] hbagdi commented on #838
I think this is mostly about clarity. Nil namespace could potentially imply the same namespace.

Because there is a major distinction between namespace-level and cluster-level resources, the additional clarity at the cost of verbosity could be helpful to the end user, who may not always remember the scope of each resource (unless the resource names have the required context (like ClusterRole).

I

[2021-08-30 20:05] howardjohn commented on #838
I disagree - if the user does not remember the scope of the type, _requiring_ it is the opposite of what we want - that means that there is a blocker to the user using the API.

There is already substantial prior art here with kubectl and the api-server. Users are NOT expected to need to know if the resource is cluster/scoped today - they can get resources and even create resources with or without

[2021-08-30 20:11] hbagdi commented on #832
While I understand the motivation here, I think we should refrain from adding this. Here is why:
- Prefix, Exact, Regex, ImplementationSpecific are 4 types. That's enough of a burden we are putting on our users.
- From a product view, being clever with matches is asking for trouble. I frequently advise users to stay away from fine-grained matching semantics because mistakes are easily made and the

[2021-08-30 20:16] hbagdi commented on #838
John, I see your point. This is asking the user to do more than necessary.
But I think this leads to a safer API as the user has to be more aware when they are crossing the scope boundary, which can have security implications.
Maybe this is something already covered by ReferencePolicy so we could omit it.

I'm still ruminating on what is the right balance here. Would love to hear more thoughts.

[2021-08-30 21:28] robscott commented on #828
It looks like #830 fixed this, feel free to reopen if I missed anything.

/close

[2021-08-30 21:28] #828 closed

[2021-08-30 21:41] robscott commented on #816
Working on update to API conventions: https://github.com/kubernetes/community/pull/5973

[2021-08-30 21:46] robscott opened #840 "Document that Is HTTPS + Passthrough TLS is not supported"
Follow up from #790, I think we have consensus that it is not supported, we just need to make sure it's sufficiently documented.

[2021-08-30 22:10] shaneutt commented on #840
I'll take this and get it done.

[2021-08-30 22:10] shaneutt commented on #840
/assign @shaneutt

[2021-08-30 23:04] hbagdi commented on #832
/assign

[2021-08-30 23:50] robscott commented on #790
I think everything is either already accounted for or being worked on. I checked off items that were either already fixed or will be by #839. The remaining 2 items have follow up issues assigned. I think we can close this one out once #839 merges and leave the other 2 issues open.

[2021-08-31 03:00] youngnick opened #841 "Updates to Listener Port field"
As part of the v1alpha2 rewiew, @thockin noted that, for the Port field on Gateway Listeners,  it might be a good idea to consider:
- making the field optional
- extending the field into a struct to enable capturing use cases like "all ports" and "port range" in the future.

So, this issue is to discuss some questions around this:
- Should we make the Port field optional?
- How can we add function

[2021-08-31 03:09] youngnick commented on #841
My opinion is that we should make the port field optional, and clearly specify the expected behavior when it's not specified.

When we specify that behavior, the specification will need to be by protocol and/or Route type attached to the Listener. This means that we can also handle future use cases by definite the "absent" behavior in those cases. I think the definition should look something like

[2021-08-31 04:36] jpeach commented on #841
IIRC that there is a separate issue that says TLSRoute should should be valid with HTTPS.

So, for defaulting, if protocol is "HTTP" then the port can be defaulted to 80, and if the protocol is "HTTPS" it can be defaulted to 433. This seems like a pretty marginal benefit that is offset by the complexity of only sometime getting to omit the port. I don't think that it's worth it.

[2021-08-31 04:40] jpeach commented on #835
I've done this with [anchorjs](https://www.bryanbraun.com/anchorjs/) previously. It works pretty well.

[2021-08-31 04:43] youngnick commented on #816
Feels like we agreed that, as long as the API conventions update goes in, we will *not* be changing Kind to Resource. Other maintainers thoughts?

[2021-08-31 04:59] youngnick commented on #72
Updating this with a bit more context.

I'm going to quote from Contour's docs here, since @jpeach wrote this very precisely:

If we don't enforce a very tight binding between the SNI hostname and the HTTP hostname, then it's possible to trivially circumvent any certificate-based authentication at least in Envoy's implementation, like this:
- Alice stands up `secure.example.net`, using a full TLS

[2021-08-31 05:23] youngnick commented on #838
Given that this discussion is about `parentRef.scope`, I think that it's relevant to consider what we anticipate being used as parents. Right now, all the options are namespaced things, and I can't really see that you'd ever want to attach a namespaced Route to a cluster-scoped object - that seems like a bad idea to me.

That said, if we do want to allow it, I think having the Kind work the same w

[2021-08-31 05:25] youngnick commented on #623
Catching up on this one, I think @jpeach has nailed this, and I think we should do his option 2 above.

[2021-08-31 15:39] howardjohn commented on #841
I am a bit confused why we are looking at the Route types, and not the listener.protocol? The port must be determined in absence of routes entirely IMO - you may have 0 routes (or switch from 0 -> 1 -> 0 -> 1, possibly of different types, etc). It seems like it should be:

* protocol=HTTP -> 80
* protocol=HTTPS -> 443
* Everything else - required

[2021-08-31 17:57] robscott commented on #623
I think option 1 may be preferable/simpler to handle. I can't think of a use case where you'd want an HTTPS and TLS listener for the same hostname on a Gateway. If users attached different certs to each listener it could get especially difficult to implement. It seems significantly simpler to me to consider that invalid.

[2021-08-31 18:09] howardjohn commented on #623
I may be missing something but seems like 1 and 2 are the same? Or is the difference just rejecting the listener vs rejecting all routes on the listener? If the latter, I slightly prefer 1, seems a bit simpler.

I agree (3) _could_ be done but seems a bit complex and not likely portable, so I would prefer to defer it (likely indefinitely)

[2021-08-31 18:17] ccfishk commented on #841
From what we have been discussed,  port is needed and can be set with default value, otherwise please specify,
Default (w/o specification)
-  HTTP->80
- HTTPS->443
Based on this, "all ports" can be applied to HTTP/HTTPS, or we can add a field "- ApplyToAll" which applying this ports to all services.

If we are allowing same ports, we are asking unique listener names implicitly if I understand corr

[2021-08-31 18:23] robscott commented on #623
Yeah, my interpretation was that 1 would reject the entire listener instead of just specific routes. That would be my preferred option.

[2021-08-31 18:52] #820 closed

[2021-08-31 18:53] robscott commented on #841
Agreed.

Agreed.

Also agree that we should default to the following port values based on protocol:

I think we should request that implementations automatically assign ports for other protocols when they are not specified. Although a small difference, that seems more consistent with HTTP(S) and simpler than requiring users to specify a port, especially if they're just looking for any port that is

[2021-08-31 18:59] howardjohn commented on #841
I am pretty skeptical of this. We (or at least I) haven't heard any clear use case for this. It will required an additional API change to status, since now we need to report to the user which port we assigned it to. It will additionally require implementations to keep state about what port they assigned, and for in cluster implementations will require that the controller owns the Service (so they

[2021-08-31 19:03] bowei commented on #841
Optional port: +1

Defaults: this is a SHOULD I think  --

* it is recommended that implementations assign standard ports (HTTP=>80, HTTPS=>443),
  but we leave it open to not have this as a strict requirement.
* It is not a requirement that the implementation assign a free port or perform port management.
  Implementations are free can do so if they want.

[2021-08-31 21:34] robscott commented on #841
I think there's a few contributing factors here:

1. We'll need to make port optional at some point to enable more advanced concepts like all ports, or port ranges.
2. Since the majority of our implementations our HTTP(S) focused, port is easy to derive from protocol
3. This API is already complicated, taking a required field and making it optional means there's one less thing users have to think

[2021-08-31 21:39] howardjohn commented on #841
I think I just fundamentally think we should make the functionality of the API match use cases, not add highly complex features just because they fit the API shape. Its OK to have the port optional for HTTP(S) but required for anything else. Auto-allocation is not a requirement for optional ports.

[2021-08-31 22:28] robscott commented on #838
I tried to look back through the GEP, and I can't find a clear motivation for a cluster-scoped parent ref. I think I'd originally considered that as a way to target potential cluster-scoped mesh resources. Although that could still be relevant, I'm not sure we have a clear use for it today. The in-progress mesh implementations I'm aware of right now are actually planning on a namespace-scoped reso

[2021-09-01 00:33] jpeach commented on #841
Given the limited use cases for defaulting the port, my preference is to keep it required.

[2021-09-01 05:52] youngnick commented on #841
I agree with making the port optional now, because I think that there are plenty of use cases where it's not necessary.  I think the future proofing reasons are the reason to do this action *now* rather than leaving it as required.

HTTP and HTTPS are the major use cases for now, by expected percentage of usage, so the UX benefit of not needing to specify default ports is nice.

I think that for t

[2021-09-01 05:56] youngnick commented on #623
I think 1 is fine too, and agree that it is simpler.

[2021-09-01 19:52] mikemorris opened #846 "Plan for updating to EasyCLA?"
**What would you like to be added**:

Update the CLA signing tooling to use the new workflow described at https://docs.linuxfoundation.org/lfx/easycla/contributors

**Why this is needed**:

The existing workflow uses https://identity.linuxfoundation.org/, which indicates it is being migrated to a new platform.
(Links to the older workflow below for reference.)
- https://github.com/kubernetes/commu

[2021-09-01 23:35] robscott opened #847 "Webhook: Validate unique port, protocol, and hostname per listener"
**What would you like to be added**:
The validating webhook should ensure that port, protocol, and hostname are unique among Gateway listeners. For example, 2 listeners for foo.com would be valid if they were on different ports or protocols, but not if port and protocol were also identical.

**Why this is needed**:
To provide a better user experience.

[2021-09-02 00:24] mrbobbytables commented on #846
We'll be rolling it out at an org level hopefully soonish 👍
Theres nothing for you to do. :)

[2021-09-02 16:28] robscott commented on #846
Thanks for letting us know @mrbobbytables! I'm going to go ahead and close this since it seems out of our control + is on the way to being updated.

/close

[2021-09-02 16:28] #846 closed

[2021-09-02 18:41] #840 closed

[2021-09-02 19:30] robscott opened #848 "Add Hostnames to Status for HTTP and TLS Routes"
**What would you like to be added**:
A new `hostnames` field in `RouteParentStatus` that could be used to indicate which hostnames a Route was attached with.

**Why this is needed**:
This could be useful if a Route was attached to different Gateways for different hostnames. For example, it could be attached to Gateway `foo` for `foo.com` and Gateway `bar` for `bar.com`. This would happen if the Ro

[2021-09-02 19:33] robscott opened #849 "Add top level Gateway conditions when Routes fail to attach"
**What would you like to be added**:
Top level Gateway conditions that can be used to indicate when a Route has not been attached to any listeners within the Gateway.

**Why this is needed**:
The alternative of adding this condition to each listener is rather unwieldy.

This idea came from a [comment thread](https://github.com/kubernetes-sigs/gateway-api/pull/839#discussion_r700722524) with @howar

[2021-09-02 22:32] jpeach commented on #841
Right not, users of the API can be completely clear on what ports do, and that's __portable__ across implementations. This proposal makes omitting the port legal, but also __unportable__. So, I still struggle to see that this is worth the cost. The benefit seems tiny to me.

[2021-09-03 16:19] hbagdi commented on #687
/lifecycle frozen

[2021-09-03 16:53] robscott opened #851 "GEP: Allow Multiple Certificate Refs per Gateway Listener"
**What would you like to be added**:
The `CertificateRef` field in Listener TLSConfig should be replaced with a `CertificateRefs` field.

**Why this is needed**:
This would help with a number of use cases, including:

- When hostname is empty on the Listener, and Routes attach multiple unique Hostnames
- Providing RSA and EC certs
- Temporarily including new and old certs during an upgrade

Releva

[2021-09-04 02:42] tokers commented on #851
Hi, there, what's the status of this GEP? I'd like to implement it :)

[2021-09-05 18:05] bishtsaurabh5 commented on #847
/assign

[2021-09-06 23:23] #832 closed

[2021-09-07 06:38] tokers commented on #851
/assign

[2021-09-07 15:25] bishtsaurabh5 commented on #847
@robscott I am thinking of generating a hash based on the (Hostname + Port +Protocol) and then store them in a map where key is hash of the listener array and value is the index and if the key is already present then log all the indexes in the errors . Do you have views ?

[2021-09-07 20:51] robscott opened #854 "HTTPRouteFilter should use union type validation when it is available"
**What would you like to be added**:
A `+union` tag on the `HTTPRouteFilter` type would be fitting, unfortunately this will not do anything right now.

**Why this is needed**:
This will provide better validation for filter types and would represent one less thing we'd need to cover with webhook validation.

As I understand it, this is currently blocked by https://github.com/kubernetes/enhancements

[2021-09-08 00:46] tokers commented on #740
/assign

[2021-09-08 05:45] tsaarni commented on #763
For ease of access for the above mentioned thread between myself and @youngnick , I'm copying it from that linked slow-loading-PR to here as well

[2021-09-08 22:20] jpeach commented on #740
Validation to reject pseudo headers was added in https://github.com/kubernetes-sigs/gateway-api/pull/772

[2021-09-09 04:48] youngnick commented on #740
oof, that is a good point. That validation will also need to be fixed if we are going to allow pseudo-headers. In that PR, I was slightly in favor of not allowing them in favor of explicit config, but it's not a strong preference.

[2021-09-09 04:59] youngnick commented on #848
Given I suggested it, I can hardly avoid a +1 here. 😄

It does seem like it would nice to have a way to know what hostnames a Route is exposed on, particularly once we add multiple TLS details, Listener hostnames, and Route hostnames.

[2021-09-09 05:03] youngnick commented on #849
This feels like a separate Condition for sure, that could be effectively treated as a warning, basically saying "a Route tried to attach, but wasn't allowed". I can see an argument both for including (it is useful info that's not otherwise obtainable without querying the implementation somehow), and not including (it could get unwieldy/cause scale problems if there are a lot of Routes).

[2021-09-09 05:08] youngnick commented on #841
I think the main reason to make the port optional for me is to give us room to expand easily later. If it's required now, and we want to add in allPorts, noPorts, portRanges or similar later, then it's much harder to migrate than if the port is optional. We are pretty confident that some or all of those three cases *will need to be addressed at some point*, definitely. So I'd argue that keeping th

[2021-09-09 07:19] jpeach commented on #841
Make the port optional at that time (that's compatible change), and add a field for the new use cases?

[2021-09-09 21:01] hbagdi commented on #740
The guidance on this is now present:
https://github.com/kubernetes-sigs/gateway-api/blob/5ac109cf2d1c98006e2672e4484e352ec320a412/apis/v1alpha2/httproute_types.go#L270-L281

/close

[2021-09-09 21:01] #740 closed

[2021-09-10 17:37] #849 closed

[2021-09-10 20:12] robscott opened #862 "Consider renaming "AllowedRoutes" to "RouteConstraints""
**What would you like to be added**:
Rename `listener.allowedRoutes` to `listener.routeConstraints`

**Why this is needed**:
One of the bits of feedback we got from the sig-network review is that `listener.routes` no longer seemed like an appropriate field name. I suggested renaming to `allowedRoutes` and the PR that contained that change merged recently. After chatting with @mark-church and readi

[2021-09-13 00:16] youngnick commented on #862
I think this name does describe what it does more accurately, and is much clearer. Strong + 1 from me.

[2021-09-13 13:44] shaneutt commented on #783
@ccfishk just wanted to check in on `site-src/v1alpha2/guides/traffic-splitting.md`

[2021-09-13 16:51] hbagdi commented on #862
`routeConstraints` is an improvement so +1.

[2021-09-13 16:54] howardjohn commented on #862
Not to bikeshed here but "constraints" is a more complex word than "allow".
Given this will be a very very common field, it may be nice to pick
something simpler.

On Mon, Sep 13, 2021 at 9:52 AM Harry ***@***.***> wrote:

[2021-09-14 05:37] jpeach opened #866 "Define whether path prefix matches are element-wise or byte-wise"
Gateway defines a [prefix match](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.PathMatchType)  like this:

But Ingress V1 [says](https://kubernetes.io/docs/concepts/services-networking/ingress/#path-types):

I don't recall a discussion about this, but we should discuss whether to align the Gateway prefix semantics with Ingress.

[2021-09-14 05:48] youngnick commented on #866
I am a +1 for making these definitions line up. It makes the migration easier for users, and for Contour, we've already implemented these, so we can easily reuse code.

[2021-09-14 05:56] youngnick opened #867 "All required values should have a noted behavior for the zero value"
**What would you like to be added**:

As discussed in the community meeting on the 13th of September, 2021, we should make it a rule for this API that all required values must have a definition of what the zero value does. (It could be "cause the config to be rejected").

This means that, should any required field need to change to optional in the future, all controllers that implement the spec wi

[2021-09-14 05:56] youngnick commented on #867
/assign

[2021-09-14 21:24] robscott commented on #862
We discussed this at the community meeting yesterday and there was some hesitation + no one felt strongly enough to push for this change, going to close this out.

/close

[2021-09-14 21:24] #862 closed

[2021-09-14 23:15] robscott opened #868 "Webhook and CRD validation overlaps"
**What happened**:
Hostname string validation was enforced by both the webhook and CRD.

**What you expected to happen**:
Validation to only be implemented in one place, _probably_ just the CRD. It is much nicer to be able to reuse upstream validation functions in the webhook, but CRD validation is likely going to be more universally deployed. I'm interested in what others think here.

[2021-09-14 23:17] howardjohn commented on #868
Big +1 to doing it in the CRD > doing it in the wehook. You get IDE support, avoid roundtrip to webhook, better errors, etc

[2021-09-15 05:40] youngnick commented on #868
Big +1 from me too that CRD validation is preferred to webhook, and we should only have one.

In either case, the validation is an important part of the API, and we will need to be careful about changing it.

[2021-09-15 16:15] hbagdi commented on #866
+1 to sticking to element-wise.

Any use-cases we know of that won't be satisfied with that approach?

[2021-09-15 21:55] robscott commented on #689
API conventions have been updated so this is no longer necessary: https://github.com/kubernetes/community/pull/5748.

/close

[2021-09-15 21:55] #689 closed

[2021-09-15 21:56] robscott commented on #816
API conventions have been updated (https://github.com/kubernetes/community/pull/5748), I think the only remaining step is to document why we chose Kind over Resource and more importantly, what that means for implementations of this API.

[2021-09-15 22:34] robscott commented on #816
/assign

[2021-09-16 00:48] #816 closed

[2021-09-16 00:53] youngnick commented on #841
Fair enough. I see where you're coming from better now.

So, we've considered making the port optional and adding extra things and said "not right now". So should we leave this open for when we do want to do that or close it?

[2021-09-16 03:02] jpeach commented on #841
I don't have a strong preference, but would lean toward opening a new issue later.

[2021-09-16 21:19] #174 closed

[2021-09-17 01:19] jpeach commented on #558
/remove-lifecycle rotten
/lifecycle frozen

[2021-09-17 15:21] we4tech commented on #868
/assign

[2021-09-17 15:34] we4tech commented on #868
Hi @robscott,
I am taking this as my first assignment. Please correct me if I grasped the idea.

#### Current state:
- We are validating the `hostname` by the CRD schema. Here is the [reference](https://github.com/kubernetes-sigs/gateway-api/blob/c5c4e077e0c6a85bff5a6c049ceaf0ca03a2e8a2/config/crd/v1alpha2/gateway.networking.k8s.io_gateways.yaml#L286).
- Also, validating from the Webhook [here](ht

[2021-09-17 16:08] we4tech commented on #868
Just noticed you already have a PR :)

[2021-09-17 16:10] we4tech commented on #868
/assign

[2021-09-19 23:36] youngnick commented on #868
Ah, @we4tech, I think this request is the other way around. We should have only the CRD validation, and not check in the webhook as well.

[2021-09-20 12:57] we4tech commented on #868
Thanks, @youngnick for the clarification.

[2021-09-20 16:58] hbagdi opened #873 "Add admission webhook validation for Path based on path type"
**What would you like to be added**:

Validate HTTPPathMatch.Value when Type is Exact or Prefix.
See upstream for inspiration: https://github.com/kubernetes/kubernetes/blob/f55101913fe7e5fbc6ae1aef5cc2f3a3e2300e03/pkg/apis/networking/validation/validation.go#L373
Do not validate for Regex since regex validation is really hard and the API is open to multiple regex engines.

**Why this is needed**:

[2021-09-21 01:20] #866 closed

[2021-09-21 01:29] youngnick commented on #72
After more consideration and rereading of #839, I think that we can probably close this out now, since we are mandating that the TLS hostname and the Listener hostname must match. Thanks for pointing this out, @hbagdi!

[2021-09-21 01:29] #72 closed

[2021-09-21 01:44] youngnick commented on #841
So, we already have #818 to cover the "all ports" and similar use cases, so I will close this one out and suggest that we do further work there.

To summarise, we discussed and considered, and have decided *not* to make the Port field optional at this time. We will consider if we make the field optional when we decide what we will do about multiple-ports/no port/all ports functionality in #818.

[2021-09-21 01:44] #841 closed

[2021-09-21 01:46] youngnick commented on #818
Since we have decided we will leave this until after v1alpha2 is out, I'll put this in the freshly-created v1beta1 milestone.

[2021-09-21 01:48] youngnick commented on #817
So, the action on this one is to make a PR to this godoc that clarifies that "HTTP" includes "h2c"? And should we allow "h2c" as an option there?

[2021-09-21 01:55] youngnick commented on #716
Okay, so kubernetes/enhancements#2830 has merged, and I think we are down to one last feedback item from #861 (the backup review PR). Tim requested that we clarify if all Routes *must* have a `ParentRef` fields - I think the answer is yes, but I'll log a separate issue for it.

I *believe* that once we've addressed that final feedback, the API review process is done, so we should be good to close

[2021-09-21 01:57] youngnick opened #874 "Clarify what common elements must exists for all Route objects"
In #861, @thockin raised a great question:

This issue covers the work to clarify what common elements all Route objects must have.

[2021-09-21 01:59] youngnick commented on #874
My personal opinion is that we should supply a skeleton Route object that contains the minimum fields for both Spec and Status that all Routes must have. That can then serve as the basis for other people's custom Routes, and also provides a basis for some sort of duck-typing of Routes, if we ever need it.

[2021-09-21 02:00] howardjohn commented on #817
I think we may he interested in a single protocol that is h1 or H2 rather than a distinct h2c protocol. It's not a hard requirement, but in our case envoy can support both at once so there generally isn't much benefit to making the user chose one or the other

[2021-09-21 02:04] #666 closed

[2021-09-21 02:19] youngnick commented on #817
Okay, so we just define that "HTTP" includes cleartext HTTP/2? That seems like a straightforward change.

[2021-09-21 15:41] howardjohn commented on #817
I would be fine with that personally. I don't know if others have use cases to make it explicitly one or the other, or if other implementations can support both automatically though. https://github.com/kubernetes-sigs/gateway-api/issues/687 is pretty relevant as well but it only applies to HTTPS.

[2021-09-21 17:25] hbagdi commented on #817
FWIW, Nginx doesn't support this (although that's an implementation-specific problem): https://trac.nginx.org/nginx/ticket/816

[2021-09-22 05:46] youngnick commented on #817
As I said, very much not ideal, so I'm not sure how to proceed.

[2021-09-23 00:44] robscott commented on #874
Agreed, maybe we can copy what we did for policy attachment?
https://gateway-api.sigs.k8s.io/v1alpha2/references/policy-attachment/#policy-boilerplate

[2021-09-23 00:47] robscott commented on #716
@andrewsykim @danwinship @khenidak @thockin Do you have any remaining feedback that needs to be addressed before we release v1alpha2?

[2021-09-23 01:11] robscott commented on #838
@lavalamp If I'm remembering correctly, the rationale for `scope` in object reference fields was to avoid any form of ambiguity as far as which resource was being referred to. Now that we've clarified that all implementations of this API must have a predefined kind->resource mapping, it appears that there is no room for ambiguity here. Would it be acceptable to remove the `scope` field from these

[2021-09-23 01:22] robscott commented on #817
This is a tricky one. It seems like many implementations and users would appreciate the flexibility of a generic "HTTP" listener that could handle both HTTP/1.1 and h2c. Maybe what @jpeach said to start this issue is best - "implementations should be allowed to...". Going with that, maybe our spec should be updated to the following:

[code]

[2021-09-23 16:49] lavalamp commented on #838
If the scope is known, then yes, remove the field (and add a schema annotation when/if those become a thing).

[2021-09-23 17:22] robscott commented on #838
Thanks @lavalamp! What would a "schema annotation" look like here?

[2021-09-23 18:03] lavalamp commented on #838
The idea is that we'd put an annotation in the schema to state all the items of an object reference that happen to be constant, so tools can also follow the references. It looks like we haven't published this idea yet, though.

[2021-09-24 03:13] #868 closed

[2021-09-24 21:09] hbagdi commented on #874
Don't we do this already with the following?

https://github.com/kubernetes-sigs/gateway-api/blob/1a2aceb6cd131e17cf1142311639ed7615beb9b5/apis/v1alpha2/shared_types.go#L101

https://github.com/kubernetes-sigs/gateway-api/blob/1a2aceb6cd131e17cf1142311639ed7615beb9b5/apis/v1alpha2/shared_types.go#L225

[2021-09-24 21:14] robscott commented on #874
Good point, maybe all we need right now is a "MUST" instead of should for those. I think a full docs page covering how custom Routes can be built + some boilerplate would also be helpful, but isn't strictly required to address Tim's feedback here.

[2021-09-25 04:14] #817 closed

[2021-09-27 02:28] #874 closed

[2021-09-27 20:51] robscott commented on #790
Closing this since the only remaining issue is tracked by #838

/close

[2021-09-27 20:51] #790 closed

[2021-09-28 16:44] #827 closed

[2021-09-28 17:39] robscott commented on #783
Missed that @ccfishk had already handled traffic splitting with https://github.com/kubernetes-sigs/gateway-api/pull/811, going to close this one out.

/close

[2021-09-28 17:39] #783 closed

[2021-09-28 18:25] #838 closed, assigned to nobody

[2021-09-28 21:10] bishtsaurabh5 opened #884 "Incorrect url present in validation package"
**What would you like to be added**:
There are bunch of incorrect urls pointing to 404 page
Following is the list alongwith the file in which the respective urls are present
httproute.go -->https://gateway-api.sigs.k8s.io/spec/#gateway.networking.k8s.io/v1alpha2.HTTPRoute
gatewayclass.go --> https://gateway-api.sigs.k8s.io/spec/#gateway.networking.k8s.io/v1alpha2.GatewayClass
gateway.go --> https:

[2021-09-28 21:12] bowei commented on #884
Can you add which URLs are incorrect.

[2021-09-28 21:25] bishtsaurabh5 commented on #884
@bowei urls updated in the description

[2021-09-28 22:22] #884 closed

[2021-09-28 23:21] #867 closed

[2021-09-30 02:50] kundan2707 opened #887 "Link to Getting started broken"
**What happened**:
Link to getting started  broken
https://github.com/kubernetes-sigs/gateway-api#getting-started

**What you expected to happen**:
Link should redirect to valid page
**How to reproduce it (as minimally and precisely as possible)**:
Click to getting started link present on below page
https://github.com/kubernetes-sigs/gateway-api#getting-started
**Anything else we need to know?**:

[2021-09-30 02:50] kundan2707 commented on #887
/kind documentation

[2021-09-30 21:01] hbagdi commented on #567
/lifecycle frozen

[2021-09-30 21:25] #887 closed

[2021-10-01 15:43] hbagdi commented on #623
/lifecycle frozen

[2021-10-03 23:13] ccfishk commented on #873
Believe the issue is resolved as following
https://github.com/kubernetes-sigs/gateway-api/blob/master/pkg/util/utils_test.go#L79
https://github.com/kubernetes-sigs/gateway-api/blob/master/pkg/util/utils_test.go#L85

[2021-10-04 23:29] shaneutt opened #892 "docs: Gateway implementation guide for managed vs. unmanaged gateway lifecycles and intra vs extra cluster"
**What would you like to be added**:

This is a request for documentation for implementations which would provide additional guidance and prescription on how to implement `Gateway` controllers for different kinds of underlying Gateway infrastructure options. Particularly the guide should cover:

- `Gateway`s which are "unmanaged" and refer to an existing deployment

Additional Goals:

- define cle

[2021-10-04 23:30] shaneutt commented on #892
As per our conversation in zoom today, I'll be taking this one on.

/assign @shaneutt

[2021-10-04 23:40] shaneutt opened #893 "docs: Guidance for implementing multi-tenancy support with GatewayClass"
**What would you like to be added**:

This ask is for new documentation that would provide some basic guidance on how implementations which need multi-tenancy of the underlying controller managing `GatewayClass` and `Gateway` resources should be handled. This guide should not be _overly_ prescriptive but instead highlight some of the potential pitfalls and make some clear distinctions including hi

[2021-10-04 23:40] shaneutt commented on #893
As per our community meeting today I'll be taking this one on:

/assign @shaneutt

[2021-10-07 21:59] thockin commented on #841
Jumping in this late...

It's POSSIBLE to move required->optional but it is fraught.   Consider version skew.  Suppose  we release an API which makes that change (and we can do it in a rollback-safe way).  How does that impact controller implementations?  How tolerant do they have to be of fields which are nominally required actually being unspecified?

I'd love to see GW fit into the place where

[2021-10-11 11:14] MadhavJivrajani commented on #401
/remove-kind design
/kind feature
`kind/design` is migrated to `kind/feature`, see https://github.com/kubernetes/community/issues/6144 for more details

[2021-10-15 00:38] robscott opened #906 "Document v1alpha1 deprecation timeline"
With v1alpha2 released and v1alpha1 effectively frozen, we should document how long v1alpha1 will continue to exist in this repo. Maybe we should announce deprecation now + the plan to formally remove the API version from the repo in our next minor release (v0.5.0).

A big thanks to @ccfishk for originally raising this in https://github.com/kubernetes-sigs/gateway-api/pull/903#discussion_r72937862

[2021-10-21 00:11] jpeach commented on #586
/lifecycle frozen

[2021-10-25 17:31] mikemorris opened #914 "make install fails to find kustomization.yaml"
**What happened**:
[code]

**What you expected to happen**:
`make install` to pick up the [`kustomization.yaml`](https://github.com/kubernetes-sigs/gateway-api/blob/master/config/crd/kustomization.yaml) file from the parent directory, `config/crd`, and `make install` to complete successfully.

I'm unsure if this file should be symlinked into the `v1alpha*` directories, distinct copies maintained w

[2021-10-25 17:56] hbagdi opened #916 "Publish webhook docker image to k8s production container registry"
**What would you like to be added**:

- Publish a production image of 0.4.0 tag for admission-server
- Document the steps necessary so that future maintainers doing a release can do this
-
**Why this is needed**:

We should have users relying on the production image rather than the staging ones.

Additional context:
- https://console.cloud.google.com/gcr/images/k8s-staging-gateway-api/global/admis

[2021-10-25 21:38] #914 closed, assigned to nobody

[2021-10-26 02:43] youngnick opened #917 "GEP: Clarify what we mean by Gateway API conformance"
**What would you like to be added**:

We need a GEP to cover:
- what is conformance for the Gateway API?
- what will the Gateway API project define and supply,
- what will implementors of the Gateway API be required to do to have their implementation be certified as conformant?

We've discussed this in a community meeting - the October 25th, 2021 meeting, to be precise. We also discussed the follo

[2021-10-28 09:45] Patrick0308 opened #919 "About protocol conversion rules"
**What would you like to be added**:
I want to discuss protocol conversion at here. It is very common on many gateways. For example gloo edge has [a grpc-to-rest feature](https://docs.solo.io/gloo-edge/latest/guides/traffic_management/destination_types/grpc_to_rest/). Although now we can add a custom backend which specify grpc service and method. However, we can not customize the conversion rules

[2021-10-28 20:38] yangminzhu opened #920 "Route based on generic metadata matching"
**What would you like to be added**:

Support routing based on a generic matadata matching mechanism.

There are many use cases for routing based various protocol or application specific attributes, for example, An API gateway may want to route the request based on validated JWT claims. A request with JWT claim `env: staging` is routed to the `staging` backend and other requests are routed to the

[2021-10-29 18:22] hbagdi opened #921 "GRPCRoute for routing based on gRPC metadata"
**What would you like to be added**:

Ability to route based on gRPC request metadata using a dedicated route. gRPC request metadata could include things like service name and rpc name to begin with.
Advanced introspection of the request/response body would be out of scope for a core/extended API.

**Why this is needed**:

Users use HTTP/2 proxy capabilities to route gRPC from outside the network

[2021-10-29 18:23] robscott opened #922 "GEP: Gateway API Versioning"
**What would you like to be added**:
Clarification around compatibility guarantees, experimental fields, and versioning plans.

**Why this is needed**:
We have a large number of implementations being built around this API. As we approach a beta release, we need a well defined plan for how that and future releases will work.

[2021-10-29 18:23] hbagdi commented on #921
There was no issue tracking this so I created one to gauge interest from the community.

[2021-10-29 20:02] yangminzhu commented on #920
thanks for the comment everyone!

@youngnick sorry if I was not clear, I don't mean to use the literal `map[string]string` field but rather a structure similar to the [HTTPHeaderMatch](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.HTTPHeaderMatch) which is essentially a key, a value and a type field.

@jpeach that sounds good, we can further discuss t

[2021-10-29 22:11] bowei commented on #920
Have we considered creating specific matching in extended support for JWT? It is an Internet standard with RFC specification?

[2021-10-30 02:53] yangminzhu commented on #920
@bowei The JWT is standardized in [RFC 7519](https://datatracker.ietf.org/doc/html/rfc7519) but I feel it's not future-proof to only support JWT in the gateway API.

The JWT claim is essentially a nested key-value map that can usually be expressed as a JSON struct, it probably makes more sense to support the underlying key-value data structure as a general solution instead of just the JWT.

For ex

[2021-10-31 06:41] tokers commented on #920
These kinds of route matching functions are not necessarily required in most cases, but it's indeed useful in some scenarios, it's my opinion that it's not appropriate to put it under the normal `match.headers` field, putting them together will increase the difficulties to make specific implementations to conform the Gateway API, maybe another sub-field can be introduced in the `match` field, so t

[2021-11-01 08:07] jpeach commented on #921
xref #920

[2021-11-01 15:10] howardjohn commented on #921
One thing I would like to see for this is a side-by-side of using a (theoretical) gRPC Route vs HTTP Route (since grpc is http/2, after all, httproute should be useable - just perhaps not ergonomic).

[2021-11-01 18:23] costinm commented on #920
The primary requirement here is to differentiate 'header' that user may send from 'metadata' - that is handled by trusted middle proxies or internally.

IMO, header name matching must remain close to O(1), i.e. any 'match.expr. or logic that requires evaluating an expression should not be part of header name matching. I don't think extending the 'matcher' or alghoritms for routing should be mixed

[2021-11-01 20:12] robscott commented on #713
I think this can be closed now that it has been implemented and documented.

/close

[2021-11-03 21:42] #917 closed

[2021-11-08 22:23] robscott opened #926 "Develop validation package that can be imported by implementations"
**What would you like to be added**:
A validation package that can be used to identify unexpected and/or unsafe values in Gateway API resources.

**Why this is needed**:
This is a follow up from https://github.com/kubernetes-sigs/gateway-api/pull/923#discussion_r744031322 where we noted that any validation provided with CRDs can be bypassed. Our best/only way to avoid that bypass possibility is fo

[2021-11-09 04:04] howardjohn commented on #346
/reopen

I finally got a local CRD validator working 100%. I tested it against all our examples and it fails on all the invalid ones and success on all valid ones. If we are interested I can send a PR to use it.

Either we can maintain the tool in tree here or can import from my repo once I push it there, either one works for me...

[2021-11-10 17:02] hbagdi commented on #346
@robscott @youngnick This is exactly what I was referring to when I was saying we should have a common validation package that all implementations can run before processing any objects.

[2021-11-10 17:03] hbagdi commented on #346
@howardjohn It makes a lot of sense to have a shared package for this. Would love to hear thoughts from others.

[2021-11-10 17:04] hbagdi commented on #926
x-ref #346

[2021-11-10 22:04] robscott commented on #764
I believe this was fixed by @youngnick's work on GEP #917. Closing this one out, feel free to reopen if I missed anything.

/close

[2021-11-10 22:04] #764 closed

[2021-11-10 22:13] robscott commented on #716
Missed closing this earlier, v1alpha2 was formally approved as part of the corresponding changelog PR (https://github.com/kubernetes-sigs/gateway-api/pull/891).

/close

[2021-11-10 22:13] #716 closed

[2021-11-10 23:17] youngnick commented on #926
In #346, @howardjohn showed how we can import the apiserver validation code and use it in-controller. That means that this may actually be much easier to solve than we, (well, I) thought. The question then becomes if we make a wrapper `Validate()` function or similar that will do the validation in a standard way, that we will then require projects to run. I _suspect_ that if we do that, and includ

[2021-11-10 23:17] youngnick commented on #346
I commented on #926, but in short, I agree.

[2021-11-11 00:10] robscott commented on #346
Agree that we should work on a common validation package that merges the logic @howardjohn has for CRD validation + our existing webhook validation code.

[2021-11-11 23:56] robscott opened #928 "Document HTTPRoute Filter Compatibility"
With GEP #726, we're introducing a filter that is incompatible with another existing one (Rewrite vs Redirect). This will likely not be the only time this happens. It would be helpful to add clear documentation about what filters we expect to be compatible with each other. At this point, it may be fair to say something like the following:

I believe @jpeach is already working on a standard status

[2021-11-14 10:03] nak3 opened #930 "`make uninstall` and `hack/delete-crds.sh` is outdated"
**What happened**:

`hack/delete-crds.sh` still uses `networking.x-k8s.io` instead of `gateway.networking.k8s.io`.

https://github.com/kubernetes-sigs/gateway-api/blob/32db2da1647e3a78afd8f5a00ee0c41bd240b6ce/hack/delete-crds.sh#L23

And in my opinion, this script and `make uninstall` should be removed instead of update. It deletes resources so it is dangerous if somebody accidentally runs `make u

[2021-11-15 18:06] hbagdi commented on #930
make driven workflows here are intended for development so I don't share the concern for production.
PR to switch this to v1alpa2 would be welcome.

[2021-11-15 22:19] robscott commented on #873
This was fixed by https://github.com/kubernetes-sigs/gateway-api/pull/894.

[2021-11-15 22:19] #873 closed

[2021-11-15 23:53] jpeach opened #933 "Common Gateway API installation experience"
As more project implement Gateway API, there are some cross-project concerns about how to configure and manage the common API layer.

Basically every implementation will need to
* ensure the correct version of the Gateway CRDs is installed
* ensure the Gateway validating webhook is installed

A number of implementations use Helm charts as their canonical installation method, but also have had bad

[2021-11-15 23:53] #933 closed

[2021-11-16 00:57] nak3 commented on #930
Okay, I see. I sent the PR https://github.com/kubernetes-sigs/gateway-api/pull/936 to switch it to v1alpha2.

[2021-11-16 01:17] #930 closed

[2021-11-16 11:29] tsaarni commented on #622
/remove-lifecycle stale

[2021-11-16 18:48] hbagdi commented on #753
/lifecycle frozen

[2021-11-17 19:22] robscott commented on #787
/remove-lifecycle stale

[2021-11-18 05:57] jpeach opened #941 "Validate the port field in the BackendObjectReference"
https://github.com/kubernetes-sigs/gateway-api/blob/f7b77a78fee608226bae51dfd93d7fb4af060fd7/apis/v1alpha2/object_reference_types.go#L124-L130

When a route specified a BackendObjectReference to a Service, the admission controller should validate that the `Port` field is present.

Add support for each route type:
- [x] HTTPRoute - https://github.com/kubernetes-sigs/gateway-api/pull/944
- [ ] TCPRo

[2021-11-18 06:02] jpeach opened #942 "Validate HTTP filter discriminated union consistency."
`HTTPRouteFilter` is a discriminated union where the `Type` field is the discriminator. The admission controller should validate that the only the matching field is present.

[2021-11-19 04:00] tokers commented on #941
/assign

[2021-11-19 06:12] jpeach commented on #941
@tokers Sorry, I didn't see the assign until after I posted the PR. Happy to defer to you if you have a fix pending. I'll be sure to check and assign properly in the future.

[2021-11-19 06:14] tokers commented on #941
Oh, don't worry, I haven't start it yet, I'd like to participate the code review job :).

[2021-11-19 06:19] jpeach commented on #941
Great!

/assign

[2021-11-19 06:33] tokers commented on #848
Is this issue already in-progress? If not, I'd like to do this :).

[2021-11-19 17:53] hbagdi commented on #793
/lifecycle frozen

[2021-11-19 17:53] hbagdi commented on #787
A good first ask here would be to rerun the tool that @howardjohn ran above and then go from there.

[2021-11-19 19:34] robscott commented on #848
@tokers thanks for volunteering to take this one on! I don't think anyone's working on this one. This feels a bit borderline, but it may benefit from a tiny GEP before adding it to the API.

[2021-11-19 20:20] crmejia commented on #942
/assign
I'll take a swing a this!

[2021-11-20 02:25] tokers commented on #848
Sure, I'll think about the GEP firstly.

[2021-11-22 17:13] hbagdi commented on #784
I think this is sufficiently resolved with the following Go doc from master:
https://github.com/kubernetes-sigs/gateway-api/blob/25607266669cc3616ed90404db4ff6e6d854a3b7/apis/v1alpha2/gateway_types.go#L234-L261

Please re-open if needed.
/close

[2021-11-22 17:14] #784 closed

[2021-11-24 05:04] youngnick commented on #738
/remove-lifecycle rotten

We will need to address this more, but it needs some more work on actually using Policy.

[2021-11-27 16:20] kundan2707 opened #947 "Link to Contributor Cheat Sheet broken"
**What happened**:
Link to "Contributor Cheat Sheet" broken in https://github.com/kubernetes-sigs/gateway-api/blob/master/CONTRIBUTING.md
**What you expected to happen**:
Link should be working
**How to reproduce it (as minimally and precisely as possible)**:
Click on link
**Anything else we need to know?**:

[2021-11-27 16:20] kundan2707 commented on #947
/assign

[2021-11-29 05:37] jpeach commented on #835
/lifecycle frozen

[2021-11-29 18:13] #947 closed

[2021-11-29 18:28] robscott commented on #821
/remove-lifecycle stale

[2021-11-30 17:40] stevesloka opened #949 "HTTPRequestRedirectFilter allows for wildcard hostnames"
**What happened**:

Looking through the `HTTPRequestRedirectFilter` spec, the `Hostname` used has a default kubebuilder validation regex which would allow a user to specify a redirect of `*.foo.com` which might not make sense as a redirect hostname.

Controllers could catch this and set a condition, we could update the field to use a new `hostname` type which removes the ability to have a wildcard

[2021-11-30 17:46] hbagdi commented on #949
https://github.com/kubernetes-sigs/gateway-api/blob/88013b553e8c30d27a4cab49e2fb9e52b016dbc8/apis/v1alpha2/httproute_types.go#L678-L685

My reading of the spec is the hostname of the request should be used as is - not the hostname defined in the route rule. So if the request is foo.example.com and the route hostname is *.example.com, the location header has foo.exampl.com as the hostname.

[2021-11-30 18:08] stevesloka commented on #949
I agree with what you said @hbagdi, maybe we're confusing two different bits.

In my example above, my route hostname is `local.projectcontour.io` which is matched on the incoming request, but the route match has a redirect to `*.stevesloka.com`, so the response has the HTTP 302 set with a `Location: *.stevesloka.com` which would be invalid (or just not make much sense).

[2021-11-30 23:47] youngnick commented on #949
Yeah, I agree that the hostname in a redirect shouldn't be able to be a wildcard, it should be a precise hostname.

[2021-12-01 21:44] skriss commented on #826
:+1:, see https://github.com/projectcontour/contour/blob/main/internal/gatewayapi/helpers.go for some examples of what we've needed for the Contour implementation. Would love to see these upstreamed.

[2021-12-01 22:47] robscott commented on #826
That's a great set of helpers! I think I've seen similar helpers in at least the Istio code base, @howardjohn is there much overlap here? Agree that it would be great to move any broadly shared code into Gateway.

/remove-lifecycle stale

[2021-12-02 09:08] dacloutier commented on #726
How can I go about requesting a change to the gateway-api to support regex/capture group Path rewrites?

Istio won't merge the PR that would support this until it gets added to the gateway api.... and many people ( including me ;D ) need regex path and capture group rewrites. (see: https://github.com/istio/istio/issues/22290)

The feature is discussed in https://github.com/kubernetes-sigs/gateway-

[2021-12-02 22:05] hbagdi commented on #949
Ah, I understood this wrong.
This needs an update to the validation function for HTTPRoute which then should be executed in the validation webhook.

[2021-12-03 03:03] #642 closed

[2021-12-03 05:06] youngnick commented on #726
@dacloutier, thanks for the feedback.

I understand this feature is important to you and a lot of people, and the reason we've left it for a future extension in #731 is that it's actually pretty complicated to write a standard way for it to work, that will work across multiple proxies/Gateway implementations, and still allow you to migrate your config between Gateway implementations (which is a pr

[2021-12-03 15:26] kundan2707 commented on #787
There are multiple link broken in https://gateway-api.sigs.k8s.io/v1alpha2/guides/multiple-ns/ too

[2021-12-03 15:41] stevesloka commented on #949
Could we just introduce a new type referenced here (https://github.com/kubernetes-sigs/gateway-api/blob/06754c50eb5a0e351203e31d60ce0517daeba735/apis/v1alpha2/httproute_types.go#L743) which removes the wildcard from the beginning? This way you would't need the admission controller change at all and just rely on the kubebuilder validation.

Happy to work on this!

[2021-12-03 17:17] robscott commented on #949
Agree, this is probably the best approach. Maybe we have `WildcardHostname` to represent the current value and `Hostname` that does not allow for wildcard values.

[2021-12-04 17:05] rufreakde commented on #726
Hi @youngnick,
thanks for the update and the clarification that it is on the Radar here.

Just wanted to drop this here as well. (And I am sure you already looked at this stuff yourself but I guess it does not harm)

The [POSIX basic and extended](https://en.wikipedia.org/wiki/Regular_expression#POSIX_.28Portable_Operating_System_Interface_.5Bfor_Unix.5D.29)

even though it is not very popular as

[2021-12-06 00:55] youngnick commented on #787
I've fixed everything I could find, but I should note that `linkinator` has some problems dealing with the redirects. For example, `/v1alpha2/references/spec` to `/v1alpha2/references/spec/`, it marks down all the links that refer to the former as 404.

In the following report, it's all the entries at the end for URLs that *don't* in a slash.

[code]

[2021-12-06 01:01] youngnick commented on #726
Thanks @rufreakde, you make a good point about using POSIX regex as a probably-compatible flavor, we'll make sure we keep that in mind.

[2021-12-06 03:32] #787 closed

[2021-12-06 15:35] stevesloka commented on #949
Yup makes sense to me. I can take this up and get it updated.

[2021-12-06 16:32] stevesloka opened #955 "Generated types not regenerating"
**What happened**:

Looks like since (https://github.com/kubernetes-sigs/gateway-api/pull/945) the regeneration of the API types doesn't regenerate the `zz_generated.deepcopy.go` file.

**How to reproduce it (as minimally and precisely as possible)**:

`$ make generate`

[2021-12-06 18:49] hbagdi commented on #847
/lifecycle frozen

[2021-12-06 18:57] hbagdi commented on #726
In case anyone is interested in contributing, a thorough document that ensures that POSIX regexes (or even a subset) is supported and has the same semantics across PCRE, RE2, <other possible regex engines found in implementations>.

[2021-12-06 22:11] robscott commented on #735
@shaneutt is adding support for source and dest address matching with GEP #735, I'm going to pull port out to another tracking issue so this one is more clearly aligned.

[2021-12-06 22:31] howardjohn opened #957 "GEP: Route Port Matching"
**What would you like to be added**: support for port matching in routes

**Why this is needed**:

_Mesh_ (primary use case): for mesh, we are using a parentRef of `Mesh`, instead of Gateway. As such, there is no port matching available, since we do not get ports in the Gateway.listener like we do with Gateway cases. Matching on ports is quite common in mesh; for example, if I am defining some pol

[2021-12-06 23:37] shaneutt opened #958 "AddressType with domain-prefixed strings for "NamedAddress""
**What would you like to be added**:

While working on [GEP 735](https://github.com/kubernetes-sigs/gateway-api/blob/master/site-src/geps/gep-735.md) the `AddressType` type was used to describe the type of an address used when matching ingress traffic for `TCPRoute` and `UDPRoute` objects. This type was historically used in the `Gateway` resource and the `NamedAddress` option for this type has bee

[2021-12-07 04:06] #735 closed

[2021-12-07 16:53] stevesloka opened #960 "Add validation on HTTPPathMatch.Value"
**What happened**:

Would be good to have some kubebuilder validation on the HTTPPathMatch.Value that verifies it starts with a `/`. In Contour, we've handled this internally (https://github.com/projectcontour/contour/pull/4209), but had to set a new condition type and could be caught automatically with the validation.

// ref: https://github.com/kubernetes-sigs/gateway-api/blob/d734fa140c6b0bef92

[2021-12-07 21:14] #955 closed

[2021-12-07 21:59] robscott commented on #634
@Jeff-Apple is working on a GEP for this.

/remove-lifecycle rotten

[2021-12-08 19:07] hbagdi commented on #958
This could also be something like a universal resource name, for example: https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html.

+1 to this, requires a small GEP.

[2021-12-08 19:07] hbagdi commented on #854
/lifecycle frozen

[2021-12-08 19:07] hbagdi commented on #763
/lifecycle frozen

[2021-12-08 19:11] hbagdi commented on #960
+1 to having a regex match that at least ensures that the field beings with a `/` - something as basic as that sometimes catches the user's attention in really beneficial ways.
Are there any places where the leading slash wouldn't be present?

If we are at this, we should also consider a `type Path string` in the Go package and then reference that type whenever the input value is a path. Currently

[2021-12-08 21:14] robscott commented on #960
I think the reason we avoided kubebuilder validation here is that we support different path types that may support a different subset of characters and may not necessarily start with `/` (RegEx). I think this would be appropriate validation to add to webhook validation for exact and prefix match types though.

/area webhook

[2021-12-08 21:23] howardjohn commented on #960
FWIW CONNECT will not have a /. Not sure if we claim to support that though

On Wed, Dec 8, 2021 at 1:14 PM Rob Scott ***@***.***> wrote:

[2021-12-08 21:28] robscott commented on #960
Good call, we do have that as a type definition, presumably that would either go along with no path match or an exact one though.

https://github.com/kubernetes-sigs/gateway-api/blob/master/apis/v1alpha2/httproute_types.go#L405

[2021-12-09 17:42] robscott opened #962 "ReferencePolicy.Spec.From.Namespace is Optional"
**What happened**:
ReferencePolicy.Spec.From.Namespace is Optional.

**What you expected to happen**:
It should be required.

**Anything else we need to know?**:
It looks like the accidental inclusion of `omitempty` on that field resulted in an optional field. Thanks to @howardjohn for catching this.

I'm not actually sure what the appropriate mitigation is here. Our [current versioning guidelines

[2021-12-09 22:56] youngnick commented on #962
I don't feel like we have any good options here. Issuing a v1alpaha3 just for this feels bad, updating our guidelines feels bad, leaving this indefinitely feels even worse.

I agree that this is a bug, and we should fix it before v1beta1.

The least worst option seems to me to be updating the versioning guidelines to say "in alpha only, we can tighten validation if there's a bug in the validation,

[2021-12-09 23:02] youngnick commented on #726
Looks like Github ate some of your comment @hbagdi ?

[2021-12-10 17:10] hbagdi commented on #726
Looks like Github ate some of your comment @hbagdi ?

🤦🏾‍♂️ Words interpreted incorrectly as Markdown ( <foobar>). Fixed now.

[2021-12-10 17:33] rufreakde commented on #726
@hbagdi you mean some documentation for later use?
Several Different Regex Engines:
[Overview](https://gist.github.com/CMCDragonkai/6c933f4a7d713ef712145c5eb94a1816)

PCRE:
[Documentation](http://php.adamharvey.name/manual/de/reference.pcre.pattern.posix.php)

RE2:
[Documentation](https://swtch.com/~rsc/regexp/regexp2.html#posix)
[Github Issue talking about compatibility and the RE2:POSIX option](

[2021-12-13 00:59] jpeach commented on #962
https://github.com/kubernetes-sigs/gateway-api/blob/4c34b35210b57fd223d551241330930494dd86b6/apis/v1alpha2/shared_types.go#L315-L318

Does this validation (esp. the minimum length) make the field required in practice? Or is the omitempty handled before the validation?

[2021-12-14 17:19] #962 closed

[2021-12-20 00:29] nak3 commented on #848
Any news for this? I'm looking forward ti this feature :smile:

[2021-12-20 03:35] nak3 opened #968 "Docs mentions Reencrypt for HTTPRoute and TLSRoute is available"
**What happened**:

[Route summary table](https://gateway-api.sigs.k8s.io/concepts/api-overview/?h=reencrypt#route-summary-table) explains as HTTPRoute and TLSRoute as:

HTTPRoute

TLSRoute

https://github.com/kubernetes-sigs/gateway-api/blob/1deb7bc86193f670c149acf35426dd1ceaf588a5/site-src/concepts/api-overview.md?plain=1#L115-L116

![image](https://user-images.githubusercontent.com/2138339/1467

[2021-12-20 03:35] #942 closed

[2021-12-20 16:19] howardjohn commented on #968
I agree its confusing but it is possible. The API doesn't provide a way to do it directly, but extensions may, so it does make sense the spec would describe how extensions should behave. Definitely could be more clear in the docs though

[2021-12-20 17:29] robscott commented on #848
@tokers are you working on a GEP for this? If not, we can add a "help wanted" label to the issue.

[2021-12-20 17:41] hbagdi commented on #968
Whoops. My memory is a bit fuzzy around this and I can't seem to recall that we ever added this.
This is a pretty big omission IMHO and this needs to be fixed at a pretty high priority.

We should also ship v1beta1 only after we have a concrete plan for this feature since I think a lot of users may not use Gateway API without a way to TLS between gateway and upstream service. Critiques welcome.

P

[2021-12-21 01:46] tokers commented on #848
I'm so sorry for the delay, I focus on other business things these days, I'm afraid the status will continue for some time, so you can help me to re-assign this issue to other friends.

[2021-12-22 15:14] howardjohn commented on #554
I am admittedly not very familiar with them, but my understanding is that opentelemetry also defined some standardized request metric schemas which could be a reasonable API if this project decides to 'endorse' a metrics scheme.

[2021-12-22 15:45] tomkerkhove commented on #554
That's definitely correct, but what if it's not endorsed and rather part of the spec to provide these?

This is what SMI does and allows end-users to rely on a standard way of getting metrics; regardless of what standard that is being used for the semantics. Tooling knows they are there, for every Gateway API.

[2021-12-23 02:36] jpeach opened #972 "Add predefined reasons to use with RouteConditionType"
Back in v1alpha1, there was a `RouteConditionReason` type, but that was lost in the review process when we transitioned to v1alpha2.

In v1alpha2, we have

[code]

We ought to at least predefine a `RouteConditionReason` type with values to express "the route was accepted" and "the route's references were successfully resolved".  Failure reasons are probably useful as well, but would benefit from i

[2021-12-23 02:53] jpeach opened #973 "Route ParentRef field does not mention ReferencePolicy"
**What happened**:

The `Namespace` field of the `ParentRef` structure doesn't mention whether a `ReferencePolicy` is required for the controller to follow a cross-namespace reference.

**What you expected to happen**:

I would expect all cross-namespace references to check a `ReferencePolicy`.

[2021-12-23 03:22] jpeach commented on #973
`CommonRouteSpec` says

which I take to mean that `ReferencePolicy` is required. So this issue is just about making it clearer.

[2021-12-23 18:14] robscott commented on #972
Very interesting, not sure how we lost the `RouteConditionReason` type here. It looks like we just had 2 possible reasons: https://github.com/kubernetes-sigs/gateway-api/blob/release-0.4/apis/v1alpha1/shared_types.go#L169-L187. I agree that it would make sense to add some possible reasons here for each possible condition type.

[2021-12-23 19:57] robscott commented on #973
@jpeach I agree that this does need more clarification. My perspective here is that _something_ in the target namespace needs to explicitly allow references to a resource from resources in other namespaces for them to be considered valid. In the case of ParentRef, when it refers to Gateway, a ReferencePolicy is not relevant because the Gateway itself can configure where Routes can be attached from

[2021-12-23 21:53] jpeach commented on #973
@robscott I completely forgot about the `AllowedRoutes` field in the `Gateway`. While it is probably a bit unfortunate that we have two similar mechanisms, thinking about consolidation would have to be in the next API version.

[2021-12-24 23:57] #114 closed

[2022-01-05 20:16] howardjohn opened #979 "Incorrect rendering of HTML docs"
![2022-05-01_12-15-16](https://user-images.githubusercontent.com/623453/148283032-36a41a85-ef8c-4fd2-aa0e-a2af50a7adeb.png)

From https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.HTTPRouteRule

Source looks like `"<namespace>/<name>".` The `<>` stuff is lost

[2022-01-07 04:06] #979 closed

[2022-01-07 19:16] #949 closed

[2022-01-10 05:37] #776 closed

[2022-01-11 07:53] jpeach opened #984 "Clearly document that listener SectionName field values must be unique within a Gateway"
**What would you like to be added**:

The spec should say whether the listener SectionName field values need to be unique within a Gateway. If so, the validation package should enforce it.

**Why this is needed**:

The listener status includes the SectionName field, so it's a reasonable implication that you should be able to match this up to the SectionName field in the Gateway spec. If SectionNam

[2022-01-11 16:13] howardjohn commented on #984
:+1: to making them unique, matches service name which I think is a good property

[2022-01-11 23:39] jpeach commented on #984
In GatewaySpec:
https://github.com/kubernetes-sigs/gateway-api/blob/4e3cc7a10e078aefde46d8a775618e0d73089d19/apis/v1alpha2/gateway_types.go#L110-L114

In GatewayStatus:
https://github.com/kubernetes-sigs/gateway-api/blob/4e3cc7a10e078aefde46d8a775618e0d73089d19/apis/v1alpha2/gateway_types.go#L531-L535

So, SectionName uniqueness is required and enforced, it's just not obvious from reading the docs

[2022-01-13 03:52] jpeach opened #988 "Route references to unknown types need to be followed before checking GatewayClass ownership"
**What happened**:

If a controller observes a change in a route, it needs to follow the parent refs to see whether it attaches to a gateway class that the controller is implementing. If a user specifies a (valid) parent group and kind that the controller doesn't implement, it can't follow the reference to know whether it was supposed to configure the route or not.

ParentRef says:
[code]

**What

[2022-01-13 03:52] jpeach commented on #988
cc @michaelbeaumont

[2022-01-13 04:42] jpeach commented on #972
Another reason for a false "Accepted" condition is where the parent ref is known but dangling (e.g. no matching section name).

[2022-01-13 13:51] michaelbeaumont opened #990 "Validating webhook fails to deploy on k8s v1.22+"
**What happened**:

Gateway API resources fail to validate after installing the webhook on k8s v1.22:

[code]

[code]

because the `gateway-api-admission-patch` `Job` fails to generate a certificate with the error message:

[code]

**What you expected to happen**:

The webhook certificate to be generated and resources to be validated.

**How to reproduce it (as minimally and precisely as possible)

[2022-01-13 15:29] shaneutt opened #992 "Explicit LoadBalancing Configurations for HTTPBackendRefs"
**What would you like to be added**:

Clear, explicit and top-level configuration for the load-balancing strategy when using multiple `HTTPBackendRefs` in an `HTTPRoute` ruleset.

**Why this is needed**:

Currently only a "weighted" load-balancing strategy is supported, and it's effectively _implicit_ (rather than ideally _explicit_) in configuration currently. There is no way to define other stra

[2022-01-13 15:45] howardjohn commented on #992
One thing to consider is if this is a property of the route or of the backend itself (eg a Policy attached to Service)

[2022-01-13 15:59] shaneutt commented on #992
I'm writing up a GEP right now, which I would appreciate your feedback on but I basically considered this and my current inclination is that this is a property adjacent to the list of refs, e.g.: `obj.Spec.Rules[0].BackendRefs.LoadBalancerStrategy`

[2022-01-13 16:14] howardjohn commented on #992
I think Route is the wrong place for this - or at least the wrong place to be the exclusive location. if its a Policy, then it can attach at different points. I think the most important points are Service and global. For example, global is useful if you want to say "All services should use the 'failover to another region' load balance strategy". Probably not all your services in the cluster need t

[2022-01-13 17:24] shaneutt commented on #992
I get what you're saying. For the moment I've thrown up a draft PR:

https://github.com/kubernetes-sigs/gateway-api/pull/993

I would appreciate your early feedback on that, and if you'd like to collaborate directly with me on that branch I would be all for it.

[2022-01-13 18:29] hbagdi commented on #992
xref https://github.com/kubernetes-sigs/gateway-api/issues/611 https://github.com/kubernetes-sigs/gateway-api/issues/196 https://github.com/kubernetes-sigs/gateway-api/issues/98

[2022-01-14 00:40] #990 closed

[2022-01-14 02:38] hzxuzhonghu opened #995 "GEP: Add Name to HTTPRouteRule and HTTPRouteMatch"
**What would you like to be added**:

Add a name field to HTTPRouteRule and HTTPRouteMatch structs to allow users to identify different routes

**Why this is needed**:

- Policy Attachment

- Route Attachment/Delegation: Ability to have more fine grained matches for policy references IF we add sectionName to the policy object

- Improved Debugging: Ability to add debugging information, such as add

[2022-01-15 16:03] TeoGoddet opened #997 "GEP: Add HTTPRouteFilterTemplates at the gateway level"
**What would you like to be added**:
Possibilty to define `HTTPRouteFilterTemplates` at the gateway level, that could be used in the routes juste by calling their names.

Something like this :
[code]
`enableByDefault` and `forceEnable` can be discussed separatly

Then one could add some `HTTPRouteFilter` of type `GatewayTemplate` in route rule definitions :
[code]

**Why this is needed**:

- allow

[2022-01-15 16:05] TeoGoddet commented on #997
I had this idea while thinking at the traefik implementation for HTTPRouteFilter as TraefikMiddleware.
See https://github.com/traefik/traefik/issues/8705

[2022-01-18 12:09] woodgear opened #999 "doc: missing example in policy-attachment"
[drainTimeout ](https://gateway-api.sigs.k8s.io/v1alpha2/references/policy-attachment/#:~:text=we%20can%20see%20how%20the%20override%20attached%20to%20the%20Gateway%20has%20precedence%20over%20the%20default%20drainTimeout%20value%20attached%20to%20the%20Route.)
it seems should have an example about override drainTimeout with policy attachment, but I could not find it.

[2022-01-18 12:12] woodgear opened #1000 "Policy Attachment doc text does not match examples"
**What would you like to be added**:
add missing example in policy-attachment
[drainTimeout ](https://gateway-api.sigs.k8s.io/v1alpha2/references/policy-attachment/#:~:text=we%20can%20see%20how%20the%20override%20attached%20to%20the%20Gateway%20has%20precedence%20over%20the%20default%20drainTimeout%20value%20attached%20to%20the%20Route.)
it seems should have an example about override drainTimeout

[2022-01-18 14:26] shaneutt commented on #992
/assign @shaneutt

[2022-01-18 15:43] howardjohn commented on #997
I feel like this is the place https://gateway-api.sigs.k8s.io/v1alpha2/references/policy-attachment/ can shine. It does blur the line between 'policy' and 'filters' - IMO they are essentially two ways in the API to achieve the same things.

For example, in this use case you would have some something like:
[code]

[2022-01-18 16:24] TeoGoddet commented on #997
Indeed, this looks like a solution. Thanks for pointing it out.

[2022-01-18 17:22] robscott commented on #999
I think this is a duplicate of #1000, let me know if not.

/close

[2022-01-18 17:22] #999 closed

[2022-01-18 17:24] robscott commented on #906
/remove-lifecycle stale
/assign

[2022-01-19 01:42] #984 closed

[2022-01-19 07:41] bowei commented on #818
/remove-lifecycle rotten

[2022-01-23 23:01] #833 closed

[2022-01-24 18:56] shaneutt commented on #992
There's a pause on my priority for this so the draft is closed for the time being. Available for someone else in the meantime if there's interest, otherwise I expect I'll come back to this one at a later time.

[2022-01-25 00:03] shaneutt commented on #992
We talked about this in the community sync today, and along with the feedback on the draft PR: policy objects are the mechanism we have today to solve for this and after discussion and highlighting a lot of the complexities with trying to add something simpler I am convinced that using policy is the right approach for now. I consider this closed but if someone else thinks on some other ways in whi

[2022-01-25 00:03] #992 closed

[2022-01-27 07:47] #836 closed

[2022-01-28 05:16] youngnick commented on #922
Looks like we missed closing this when #923 was merged.

/close

[2022-01-28 05:16] #922 closed

[2022-01-31 00:08] youngnick opened #1003 "Linux Foundation Mentorship project: Perform a docs assessment"
This issue covers performing a CNCF-style [docs assessment](https://github.com/cncf/techdocs/blob/main/assessments/howto.md) for the Gateway API documentation, as part of a Linux Foundation Mentorship project.

**Why this is needed**:

Our documentation has grown quickly and organically, and as a result is lacking overarching structure and clarity. I hope that getting some tech writer skills acros

[2022-01-31 02:17] hbagdi commented on #921
/lifecycle frozen

[2022-01-31 02:17] hbagdi commented on #920
/lifecycle frozen

[2022-02-01 04:28] youngnick opened #1005 "Admission webhook: pre-beta cleanup tasks"
We discussed in the January 24, 2022 community meeting that there are still some things we need to do with the webhook that block beta:
- [x] Versioned image tags - Done by #1034, #1043, #1044
- [ ] #916
- [ ] we should fix #627 as well
- [x] #1017
- [x] #1007
- [ ] #1008
- [x] #1006

Please feel free to add more items below, and I'll bring them in here.

/kind cleanup

[2022-02-01 04:28] youngnick commented on #1005
/assign

[2022-02-01 04:28] youngnick opened #1006 "Admission Webhook: Document that installation is required"
Running the webhook is an expected part of installing the APIs, but currently our documentation does not make this clear.

It should say that installing the version of the webhook that comes with a release bundle is required to use the APIs themselves, and conformance tests will test this. (#1005 covers the larger work to actually make that happen).

[2022-02-01 04:30] youngnick commented on #1006
/kind documentation

[2022-02-01 04:31] youngnick opened #1007 "Admission Webhook: Who validates the validator?"
We should be aiming to test every single validation we have in the webhook, for both happy and unhappy paths at an implementation level as well as at the existing unit test level. Conformance tests are the logical place for these to go.

[2022-02-01 04:32] youngnick commented on #1007
/kind cleanup

[2022-02-01 04:32] youngnick opened #1008 "Admission Webhook: Security scanning, vulnerability reporting, supply chain security mechanisms"
Do we need to do this for beta?

Possibly this might be a good place to try some of the stuff being worked on in upstream, since we use the tooling but aren't really production-ready yet.

NOTE: we will need to incorporate (and perhaps partially, further document) our support policies for a post GA world: we need to say what historical versions we will support and what we will backport fixes to.

[2022-02-04 19:48] nate-double-u commented on #1003
* CNCF Mentorship Spring 2022 URL: https://github.com/cncf/mentoring/blob/main/lfx-mentorship/2022/01-Spring/README.md#documentation-assessment-sig-network-gateway-api
* LFX URL: https://mentorship.lfx.linuxfoundation.org/project/0e4c9797-2dc5-4621-b46a-f1b7371a2495

[2022-02-07 15:13] hbagdi opened #1011 "Using Gateway API for egress use-cases"
This is a tracking umbrella issue for use-cases related to using Gateway API for egress traffic.

[2022-02-08 23:46] youngnick commented on #1003
Hi @deprov447, please apply through the LFX URL above, and we'll assess your application.

[2022-02-09 02:55] Kodalien commented on #1003
Gateway API  documentation and code locations are at ????  I just start 😄

[2022-02-09 07:05] youngnick commented on #346
/remove-lifecycle stale
/lifecycle frozen

[2022-02-09 07:05] youngnick commented on #926
/remove-lifecycle stale
/lifecycle frozen

[2022-02-09 07:09] youngnick commented on #1003
Sorry @Kodalien, this is intended as a tracking issue for the person who gets the Linux Foundation Spring Mentorship position. If you would like to do it, I'd encourage you to apply at the links Nate posted above.

[2022-02-09 08:03] aastha01chauhan commented on #1003
@youngnick Hi! The really liked the concept of this project. I am proficient in python programming and Go. Would love to engage with the community and contribute here this spring.

[2022-02-09 10:26] youngnick commented on #1003
Great to hear @aastha01chauhan! As I said above, we'll need an application through the Linux Foundation Mentorship program. I've updated the description as well so that's more clear. Sorry for the confusion.

[2022-02-09 16:14] khabdrick commented on #1003
@youngnick are potential candidates required to make contributions to the project prior to getting accepted?

[2022-02-09 23:40] youngnick opened #1014 "Update documentation for use of kubebuilder Enum tags"
The [Kubernetes API conventions](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md) strongly recommend against using OpenAPI Enum validation, because there is a strong implication that the set of enumerated values is immutable; implementations can reasonably expect that the entire set of an Enum is known. Because of this, for the core APIs,

[2022-02-10 05:13] jpeach commented on #1007
Not unit tests?

[2022-02-10 05:22] jpeach commented on #1014
IIUC "do not use enums" refers to code like this:
[code]

It sounds like this would apply if the API uses any enum strings in status, which is context-dependent. The other subtley in my reading of this is "If an API drives behavior that is implemented by external clients", which implies that a one controller sets the value and some other controller observes and responds to that change.

[2022-02-10 07:51] akshat5302 opened #1015 "I want to be part of it!!!"
Hii @youngnick I want to be part of it I'm intermediate in python and DevOps and want to upskill myself by contributing to opensource. I just want to  know if this contribution is still open in lfx mentorship or application had been closed ?

[2022-02-10 07:52] #1015 closed

[2022-02-10 07:55] akshat5302 commented on #1003
Hii @youngnick I want to be part of it I'm intermediate in python and DevOps and want to upskill myself by contributing to opensource. I just want to know if this contribution is still open in lfx mentorship or application had been closed?

[2022-02-10 08:02] khabdrick commented on #1003
@akshat5302 you can just go to the link and find out.
https://mentorship.lfx.linuxfoundation.org/project/0e4c9797-2dc5-4621-b46a-f1b7371a2495

[2022-02-10 17:33] mikemorris commented on #1014
_Removing_ a value definitely (rather than just deprecating in place) makes sense as a breaking change, but I'm a little unclear on how adding a value (to the end, not reordering), would be much worse than adding a new value for an aliased string type?

In both cases I'd expect a client would need to handle unexpected values safely or risk unexpected behavior/panics - is it just that there's a gre

[2022-02-10 18:54] robscott commented on #1014
Thanks for catching this @youngnick! I agree that even adding an allowed value to an enum could be considered a breaking change if we hadn't prepared users/implementers for that possibility. Your quote from the conventions seems very relevant here:

It seems very straightforward to add text along with each of our enums that indicates that additional values may be allowed in the future. The second

[2022-02-10 19:05] gnossen opened #1016 "GEP: GRPCRoute"
**What would you like to be added**:

A `GRPCRoute` resource for idiomatically routing gRPC traffic.

**Why this is needed**:

Full rationale detailed in [the GEP](https://github.com/kubernetes-sigs/gateway-api/pull/1004).

[2022-02-10 21:36] bowei commented on #1014
If want to make controllers handle this properly, we need to put a test case with "UnknownEnumValue" into the conformance tests for each of the potential places where enums are going to be used.

[2022-02-10 22:10] robscott commented on #1016
/kind gep
/remove-kind feature

[2022-02-10 23:22] youngnick opened #1017 "Admission webhook: Provide install YAML as part of release bundle YAML"
As part of installing a gateway-api release bundle, we need to provide a YAML or set of YAMLs that contains both the CRDs (whether they be stable or experimental), and the install for the admission-server webhook.

[2022-02-10 23:32] youngnick commented on #1014
Thanks everyone for the great discussion. I kind of pushed a little hard here because I wanted to make sure we do something to clear this up.

It sounds to me like the steps we need to take here are instead:
- Clarify that, where we use kubebuilder Enum tags, the enumerations should be considered open to future values.
- Add expectations for what controllers should do with unknown values for each

[2022-02-10 23:35] youngnick commented on #1003
@khabdrick no, no requirements for contributions. I believe that applications close on the 15th of February, so get them in now!

[2022-02-10 23:38] youngnick commented on #1007
![Both is good](https://c.tenor.com/ZezsFuiFB48AAAAd/both-is-good-both.gif)

We already have unit tests, I was intending to say that, if the conformance tests validate the webhook validations are present, then implementations are free to import the validator code into their own custom webhook, or run our one or whatever. I'll update the description.

[2022-02-15 00:02] youngnick commented on #622
/remove-lifecycle stale
/lifecycle frozen

[2022-02-15 01:53] cxhiano opened #1021 "Provide documentation/guide to explain usage of ParentRef.Port"
**What would you like to be added**:

A documentation/guide to explain usage of `ParentRef.Port`

**Why this is needed**:
 [gep-957](https://gateway-api.sigs.k8s.io/geps/gep-957/) proposed to add `Port` to `ParentRef`, in addition to existing fields. The GEP was implemented in https://github.com/kubernetes-sigs/gateway-api/pull/1002. Our [existing documentation](https://gateway-api.sigs.k8s.io/con

[2022-02-17 04:47] youngnick commented on #893
/remove-lifecycle rotten
/lifecycle frozen

[2022-02-20 06:09] mehabhalodiya commented on #1006
@youngnick May I know, in which page you would like to document this?

[2022-02-20 22:48] youngnick commented on #1006
Definitely the Getting Started guide (https://gateway-api.sigs.k8s.io/v1alpha2/guides/getting-started/), but we'll also need to update the instructions for implementors. I think this one is probably blocked by me finishing up the rest of the changes in #1005, since we'll need to update the install instructions with whatever I figure out there.

[2022-02-21 03:55] mehabhalodiya commented on #1006
So you are working on this, nice!

[2022-02-22 21:13] ShivamTyagi12345 commented on #1003
hey I believe my skills perfectly alignwith this mentorship and No mentees were accepted for this  Is there a way to ask for a consideration?

[2022-02-24 15:03] hbagdi commented on #738
/lifecycle frozen

[2022-02-25 01:29] tokers commented on #941
@hbagdi I didn't start this task since @jpeach already submitted his PR, I'm happy to continue this task.

[2022-02-25 04:07] shreyadenny commented on #1003
Hello I applied for this through the Linux Foundation Mentorship with hopes to be able to work on this particular project. Is there a way to find out the status of my application?

[2022-02-25 04:21] akshat5302 commented on #1003
I applied too but didn't got any reply till yet

[2022-02-25 04:42] youngnick commented on #1003
Hi everyone, currently the process for selection is still ongoing, people will be notified of the results sometime on February 25, 2022 US Pacific time.

[2022-02-27 23:55] youngnick commented on #821
/remove-lifecycle stale

[2022-02-27 23:56] youngnick commented on #919
/remove-lifecycle rotten

Once we decide what we do with #1004, we will have a place to start from to discuss REST-to-gRPC translation.

[2022-03-05 10:51] mehabhalodiya commented on #1003
/assign

[2022-03-06 23:46] youngnick commented on #1003
Nice work @mehabhalodiya, and sorry for not doing that earlier!

For everyone else watching this, please join me in congratulating @mehabhalodiya on her successful application!

We'll leave this issue open for tracking, and reference the docs assessment here once it's created.

[2022-03-06 23:52] youngnick commented on #826
/remove-lifecycle stale

ping @howardjohn, what do you think about upstreaming some helpers like the Contour ones above?

[2022-03-07 16:38] bowei commented on #826
/good-first-issue

[2022-03-08 15:58] mikemorris opened #1031 "docs: API specification information architecture obscures important content"
**What would you like to be added**:
- Move significant content generic to a resource (rather than specific to its field context) from the field description into the resource description itself.
- Add anchor links at each resource heading - a user should be able to click the `Listener` heading (or a small anchor link next to it) to navigate to https://gateway-api.sigs.k8s.io/v1alpha2/references/sp

[2022-03-08 16:11] mikemorris opened #1032 "docs: upstream Kubernetes API resource links show SSL certificate error"
**What happened**:
Upstream Kubernetes API resource links from the API specification page (such as the [`Kubernetes meta/v1.LabelSelector `](https://v1-18.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#labelselector-v1-meta) field on [`RouteNamespaces`](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.RouteNamespaces)) lead to an SSL c

[2022-03-08 16:19] mikemorris opened #1033 "docs: improve explanation of secure usage of AllowedRoutes selectors"
**What would you like to be added**:
Add additional content (perhaps in the [Security Model](https://gateway-api.sigs.k8s.io/concepts/security-model/) section?) to better describe how [`AllowedRoutes`](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.AllowedRoutes) should be configured for secure operation, likely linking out to https://kubernetes.io/doc

[2022-03-09 04:58] youngnick commented on #960
/remove-lifecycle stale

Seems like the action here is to add validation for exact and prefix match types in the webhook?

[2022-03-09 04:59] youngnick commented on #958
/remove-lifecycle stale

This is definitely still implementable, but as @hbagdi said, will require a small GEP.

/label good-first-issue

since writing a small GEP like this is a great way to get started with the Gateway API.

[2022-03-09 05:03] youngnick commented on #1031
Yes, I think we've tended document a lot of the usage of a field in the places where it's used, rather than in the field itself, great point.

I think that we should definitely have more link anchors, although I'm not sure if the current doc generator can do it.

[2022-03-10 10:44] kundan2707 commented on #1032
/kind documentation

[2022-03-10 21:12] #785 closed

[2022-03-14 21:44] robscott commented on #916
Update: We are working on this. @youngnick updated the build script and we released v0.4.2 to test it out, unfortunately not quite working yet: https://prow.k8s.io/view/gs/kubernetes-jenkins/logs/post-gateway-api-push-images/1503442368546738176

/lifecycle frozen

[2022-03-14 21:49] robscott opened #1037 "Clarify how Gateway API versioning and release channels work"
We should add/rework docs to clarify how Gateway API versioning works. This can include content from the following working docs:

- [Gateway API Stability](https://docs.google.com/document/d/1jz1DGci9YJkFx3R5AIBhRziPPJpGEFtEDTgOPy0gfcE/edit)
- [Gateway API Beta Release Plan](https://docs.google.com/document/d/1F3dcs_J8Y6GVlfMGjRtom5ljovnKa_MMIC34GJxUdBs/edit)

[2022-03-14 21:51] robscott opened #1038 "Document Path Redirects and Rewrites (GEP 726)"
This GEP was implemented but has not been documented yet.

[2022-03-14 21:53] robscott opened #1039 "Document requirements for a resource to graduate to beta"
In the related [working doc](https://docs.google.com/document/d/1F3dcs_J8Y6GVlfMGjRtom5ljovnKa_MMIC34GJxUdBs/edit), the following was proposed as a starting point:

* Covered by conformance tests
* Implemented by several implementations
* Users are exercising most of the API surface

[2022-03-14 21:56] robscott opened #1040 "Add e2e testing for validating webhook"
This does not need to be complex, but should ensure that the webhook can be deployed successfully, valid resources can be created, and invalid ones are prevented. This could likely be added to https://github.com/kubernetes-sigs/gateway-api/blob/master/hack/verify-examples-kind.sh.

[2022-03-14 21:58] robscott opened #1041 "Introduce v1beta1 types for resources graduating to beta"
As one of the final steps to graduate GatewayClass, Gateway, and HTTPRoute to beta, we need to create v1beta1 type definitions for these resources. These MUST be identical to the corresponding v1alpha2 type definitions.

[2022-03-14 23:15] costinm opened #1042 "Route inclusion/delegation security and policy implications"
https://docs.google.com/document/d/1iumYQQMaB9y-PCtMsRwVfzKlZXZDejr_fO0krXn3F90/edit defines a mechanism to delegate and include routes.

There are several security and policy concerns:
- what happens with attached policies, like security ? How are they merged or applied ?
- for the common / recommended case - where users write label selectors using the namespace - this is equivalent with a list o

[2022-03-14 23:51] costinm commented on #1042
Also I would like some discussion if this is really a core feature that all implementations must support, or can be expressed as an optional feature - and use a separate resource and the normal policy attachment.

For example, it could be a 'example.com Delegate' CR, that is attached to a HttpRoute and defines any label selector you want, with implementations supporting this extended policy implem

[2022-03-15 18:37] robscott commented on #818
We discussed this issue at our community meeting yesterday, specifically trying to understand if we'd need to make any changes prior to beta graduation if we wanted to add this feature in the future. I've written a [doc](https://docs.google.com/document/d/1NN-IDoN-mIxtv6f7JR_G9kK1kKbZHMqQPcUSy6tPDbA/edit) that explores that in more detail. My conclusion at this point is that this functionality can

[2022-03-16 04:23] youngnick commented on #818
After reading both those docs, I agree that Rob's plan makes sense. I think there are some things we'll need to be careful with (particularly the status, since creating an extra Listener status per port in the range could rapidly run up against object size limits), but since making a required port optional does not require an API revision (although it is a breaking change for implementations), we

[2022-03-16 04:45] youngnick commented on #1042
Thanks for raising these points, @costinm, this is a great discussion.

Okay, easy one first.

I think we can easily make this an optional feature by making the `allowedPorts` field on Routes have `Extended` support. That means that it's not necessary to support the feature, but if you do, we will mandate how the behavior works. (That's distinct from `ImplementationSpecific` fields, where we are s

[2022-03-16 04:47] youngnick commented on #916
Okay, with #1043 and #1044 merged, we've validated that we've got images correctly labelled and in the staging GCR. Now to figure out how to get it to prod.

[2022-03-16 05:05] youngnick commented on #916
The folks at ingress-nginx have really great RELEASE docs that include how they handle promoting images: https://github.com/kubernetes/ingress-nginx/blob/main/RELEASE.md#3-promote-the-images

In short:
- we PR to [kubernetes/k8s.io](https://github.com/kubernetes/k8s.io), adding the SHA of the image we sent to staging to a YAML file.
- Once that PR is merged, that tag (and only that tag) will be pr

[2022-03-16 11:13] markmc commented on #818
The [endPort proposal](https://docs.google.com/document/d/1NN-IDoN-mIxtv6f7JR_G9kK1kKbZHMqQPcUSy6tPDbA) seems like a neat way of supporting ranges, and aligns with NetworkPolicy endPort

I left some comments in [Rob's doc](https://docs.google.com/document/d/1NN-IDoN-mIxtv6f7JR_G9kK1kKbZHMqQPcUSy6tPDbA) - I think we need to work out the semantics of port ranges a bit more

For the SIP/RTP use case,

[2022-03-16 15:47] howardjohn commented on #818
If we have auto-allocated ports, how do clients known what to use? Is the expectation that a producer creates the route, reads the status, then tells clients to use that port? That seems a bit concerning since its not particularly stable. If I have multiple clusters, for example, we get a different port here.

Is there prior art in K8s ingress products to auto assign ports?

[2022-03-16 18:42] robscott commented on #1033
/assign

[2022-03-16 20:26] robscott commented on #1031
Actually that was easier than expected, looks like anchors can be added with #1046.

[2022-03-16 20:40] #1032 closed

[2022-03-17 06:02] mehabhalodiya opened #1048 "Change the version mention"
**What happened**:
Latest supported version [status](https://github.com/kubernetes-sigs/gateway-api#status) is mentioned wrong in the [README.md](https://github.com/kubernetes-sigs/gateway-api#readme).

It doesn't match with the site.
![k8s_signet](https://user-images.githubusercontent.com/73488906/158745909-c8bf7645-05b1-479b-9c93-c7b5277644cf.png)

**What you expected to happen**:
We should corr

[2022-03-17 06:12] mehabhalodiya commented on #1048
/good-first-issue

[2022-03-17 06:34] Anubhavdevv commented on #1048
Hey @mehabhalodiya i would like to work on this issue

[2022-03-17 06:34] Nawaz027 commented on #1048
/assign

[2022-03-17 06:35] Anubhavdevv commented on #1048
/assign

[2022-03-17 06:36] Anubhavdevv commented on #1048
/assign

[2022-03-17 06:36] Nawaz027 commented on #1048
All the best @Anubhavdevv

[2022-03-17 06:37] Anubhavdevv commented on #1048
Thank you 🤠

[2022-03-17 07:19] mehabhalodiya commented on #1048
Thanks @Anubhavdevv for opening a PR super soon 🙂

[2022-03-17 07:42] Anubhavdevv commented on #1048
Thank you @mehabhalodiya please review it 🤠

[2022-03-17 16:31] #1048 closed

[2022-03-17 17:45] robscott commented on #1040
/assign

[2022-03-19 23:49] doonhammer opened #1052 "Use Case: Use Kubernetes to deploy a network operation as a Service leveraging the Gateway API"
**Overview**
The current implementation of the Gateway API appears to be based on a network proxy model as its core networking construct. This use case/issue makes the case to broaden the scope of the Gateway API to a non proxy model.

Kubernetes provides an environment to deploy, orchestrate and auto scale services. This use case is to investigate the requirements for using Kubernetes as a vehicl

[2022-03-19 23:56] doonhammer commented on #818
From my naive POV the a part of the core issue is that the networking model for the Gateway API is heavily dependent of a proxy model hence the listener construct for ports etc. For the use cases I am thinking of a more transparent networking model is required, and hence the need to be more flexible in IP address/port assignment/filtering. I would like to be able to implement a similar feature as

[2022-03-20 23:29] #1040 closed

[2022-03-20 23:31] youngnick commented on #968
@robscott Harry has called out that this should block `v1beta1`, which seems reasonable to me. What do you think?

[2022-03-20 23:37] #1033 closed

[2022-03-21 03:32] youngnick commented on #848
/remove-lifecycle stale

/help

[2022-03-21 07:25] mehabhalodiya commented on #1041
@robscott Will, you help me to get started? I am interested to work on this.
I want to learn while contributing. Thanks!

[2022-03-21 10:58] wjam opened #1053 "'Security Model' page just shows `TemplateNotFound` error"
**What happened**: Viewing the 'Security Model' page only shows a message about `TemplateNotFound`

**What you expected to happen**: Able to read the content on the Security Model page, which I presume is https://github.com/kubernetes-sigs/gateway-api/blob/master/site-src/concepts/security-model.md

**How to reproduce it (as minimally and precisely as possible)**: Go to https://gateway-api.sigs.k8

[2022-03-21 17:32] robscott commented on #1053
Thanks for catching this @wjam! I've filed #1054 to fix the bug.

[2022-03-21 18:24] markmc commented on #818
Right

Love the question!

Naive clarification - is the assumption it's fine for the address to differ across clusters, or is it that you'd use DNS to ensure the address stable for clients too?

My thinking is that there are plenty of cases where it would be routine for the client to be supplied a port and address, e.g. URI-like DB connection string

I can't speak usefully to that, but was more th

[2022-03-21 20:22] bowei commented on #968
If I understand this, "reencrypt" as a specific feature is somewhat confusing as it's not something specific to termination, or the backend, but basically a result of the fact that we can communicate with backends using TLS. It is technically "encrypted again", but there is no relationship between the decryption in the frontend and the use of encryption in the backend, e.g. they can use different

[2022-03-21 21:02] #1053 closed

[2022-03-21 21:28] robscott commented on #818
Some great discussion in this thread, thanks! After going through some of the comments on my [related doc](https://docs.google.com/document/d/1NN-IDoN-mIxtv6f7JR_G9kK1kKbZHMqQPcUSy6tPDbA), I realized that we're really talking about 2 different kinds of automatic port allocation.

1. Assign a port (or range) to a Gateway listener that does not specify one
2. Assign a port to a Route from a range on

[2022-03-21 21:34] robscott commented on #968
@youngnick @hbagdi My personal preference would be to not block beta on this issue. I've been trying to get together a rough set of characteristics for an issue that should block beta, and so far I think it's fair to say that we should consider something blocking if any of the following are true:

* Would require a breaking API change (new required field, rename, tightening validation, etc).
* Wou

[2022-03-21 21:39] robscott commented on #1021
/assign @cxhiano

[2022-03-21 21:40] robscott commented on #1037
/assign

[2022-03-21 21:40] robscott commented on #1038
/assign

[2022-03-21 21:40] youngnick commented on #968
I'm fine with leaving it out of v1beta1, since as you say it's a compatible change, but we probably should update the reference to say that support for encrypted upstreams/backends is still pending.

[2022-03-21 21:40] robscott commented on #1039
/assign

[2022-03-21 21:44] robscott commented on #1031
@mikemorris To clarify, do you mean that we should add more detail for each specific resource in our top level comment? IE for the following to look more like our full [HTTPRoute docs](https://gateway-api.sigs.k8s.io/v1alpha2/api-types/httproute/)?
https://github.com/kubernetes-sigs/gateway-api/blob/74099119128328127ecd625816256779daa53c44/apis/v1alpha2/httproute_types.go#L31-L34

[2022-03-21 21:48] robscott commented on #1041
Thanks for volunteering to help with this @mehabhalodiya! This will be one of our last steps prior to the v1beta1 (v0.5.0) release. In general, this will involve copying the type definitions for HTTPRoute, Gateway, and GatewayClass from the apis/v1alpha2 dir to a new apis/v1beta1 dir and then running `make generate`. We've never actually done this before, so I'm not 100% sure if anything else will

[2022-03-21 21:51] robscott commented on #960
@stevesloka I think this may have already been solved by our webhook validation:

https://github.com/kubernetes-sigs/gateway-api/blob/74099119128328127ecd625816256779daa53c44/apis/v1alpha2/validation/httproute.go#L128)

I'm going to close this one out for now, but feel free to reopen and/or let me know if I missed anything.

[2022-03-21 21:51] #960 closed

[2022-03-21 22:04] costinm commented on #968
The main issue for encrypted upstreams is how to verify the SAN, which is particularly complex if spiffee is used.
Just to use TLS or not on the gateway->backend connection shouldn't require explicit config - an implementation that supports this can use labels or other info about the backend, or have its own extension or settings.

We probably should have some common way to indicate that a Pod acc

[2022-03-22 02:47] robscott commented on #818
We discussed this at the community meeting today. The high level summary is that we're not planning on making any port related changes in the upcoming v1beta1 release.

Although we discussed the possibility of preemptively making port optional prior to beta graduation, that would open a rather complex topic of how an empty/unspecified port should be interpreted. Instead we'll leave this decision f

[2022-03-22 02:51] robscott commented on #968
We discussed this issue at today's community meeting. I think there's broad interest in building a standardized way to configure this for implementations that can support this functionality. It's not clear exactly what that will look like yet. It will likely be an "extended" feature of the API, and may be included within an existing Gateway API resource or as part of a new policy that uses our pol

[2022-03-22 03:01] youngnick commented on #928
/remove-lifecycle rotten

[2022-03-22 04:17] Jeff-Apple opened #1058 "GEP: Add support for Route inclusion and delegation"
**What would you like to be added**:
Add support for a 2-tier hierarchy of route configuration to allow partial delegation of route settings and, provide more flexibility in how route configurations are organized and managed.

The formal GEP document will be based on the following document but with some changes based on the feedback and discussions that have taken place since it was last modified:

[2022-03-22 17:55] markmc opened #1060 "Include port in listener status"
We should consider adding the port number to listener status in anticipation of future support for auto-assigning a port when no port is specified.

By adding it in advance of actually supporting auto-assignment, API users can begin to adapt their usage in a way that will continue to work in future.

For example, examples like in [Istio's gateway docs](https://istio.io/latest/docs/tasks/traffic-ma

[2022-03-22 17:55] markmc opened #1061 "Make listener port optional"
There are multiple cases where it may make sense to not require a gateway owner to specify a listener port:

1. Where a port number is irrelevant or nonsensical - #1052 is an example AIUI
2. Where the port is well-known and can be derived from the listener protocol - e.g. where `protocol==HTTP` default to port 80 if unspecified
3. Where a port should be auto-allocated for this listener - e.g. simi

[2022-03-22 17:58] markmc commented on #818
I've filed #1060 and #1061 in an effort to help untangle this discussion a bit.

This leaves this issue to focus on just the port range concept, and "all ports" as a special case of that.

[2022-03-22 18:26] markmc opened #1062 "L4 Gateway Sharing"
The Gateway vs Route separation allows a cluster operator gateway owner to share a gateway and its resources with many application developers.

However, in the L4 routing model (i.e. TCPRoute and UDPRoute), routes attaching to a shared gateway will generally be associated with a dedicated gateway listener, thereby preventing an application owner from creating a route without some cooperation from

[2022-03-23 17:05] kundan2707 commented on #446
/assign

[2022-03-24 02:06] #968 closed

[2022-03-24 03:10] mehabhalodiya commented on #1041
/assign

[2022-03-24 04:42] robscott opened #1067 "Provide a way to configure TLS from a Gateway to Backends"
**What would you like to be added**:
The ability to configure TLS connections between a Gateway and Backends (also commonly referred to as upstream TLS or re-encryption). At a minimum, this should include the ability to select this protocol for these connections. Additionally it would likely be helpful to be able to configure CA bundle and SAN(s) to be used for validation.

**Why this is needed**:

[2022-03-24 13:46] markmc commented on #1061
#1066 adds docs for implementors about the possibility of required fields become optional in future:

[2022-03-24 20:34] howardjohn opened #1070 "Explicitly define ExternalName expectations"
Currently, Service is a supported backendRef. A service can be of type ExternalName, which has non-obvious semantics.

In the Ingress world, I previously did some research into how different controllers handle differently; I don't think I was able to find two implementations doing the same thing.

It would be great to explicitly define how this should be treated. Depending on the answer, we may ne

[2022-03-24 23:16] rainest commented on #735
For anyone else that wound up here looking for the continued port matching discussion, it resulted in https://github.com/kubernetes-sigs/gateway-api/issues/1021 and [GEP-957](https://gateway-api.sigs.k8s.io/geps/gep-957/).

[2022-03-25 04:06] youngnick commented on #1060
Strong +1 from me here.

[2022-03-25 04:36] youngnick commented on #1017
No, the plan here is to have something a bit more complete - a single file (and command) to install both the CRDs and webhook, since I believe it should be mandatory. For those who want to customize the install a bit, I'd like to provide a directory of versioned individual YAMLs as well as the single file.

[2022-03-25 04:44] youngnick commented on #973
/remove-lifecycle stale

I think that we should say that any resource that can act as a ParentRef _must_ include something that acts like AllowedRoutes if it supports cross-namespace attachment. ReferencePolicy should be used for objects that don't have a direct Gateway API attachment formed, or that we can't change the spec of, like Secret and Service.

[2022-03-25 04:50] youngnick commented on #1070
I think we should recommend pretty strongly against using a Service of type ExternalName as a backendRef.

It's just too easy to bypass namespace controls by using ExternalNames of `service.namespace.svc.cluster.local`, or to gain access to the localhost of network gear using an ExternalName of `localhost`. And that's aside from the stuff you can do with manipulating Endpoints on top of that.

I'd

[2022-03-25 05:08] youngnick commented on #1062
For this to work, Gateway will need a way to specify a pool of ports (most likely a range) to draw from (probably covered by #818), and will also need the port included in the status (#1060), right?

That gives the Gateway owner a way to specify what ports to pick from, and the Route owner a way to know what they got.

[2022-03-25 05:08] youngnick commented on #818
Thanks @markmc for clarifying here. I think those separate issues really help.

[2022-03-25 05:09] youngnick commented on #1052
I think that "Using a Gateway to define a DMZ" is another way to describe this use case, maybe?

[2022-03-25 05:11] youngnick commented on #634
This discussion is relevant for the GEP in #1058, but I think has probably been superseded. @robscott?

[2022-03-25 19:59] robscott commented on #634
Yep, I think #1058 will cover this and we can safely close this issue now. Feel free to reopen if not.

/close

[2022-03-25 20:00] #634 closed

[2022-03-25 20:31] robscott commented on #1060
I think this is worth exploring, but want to be a bit cautious. The most compelling reason to add port to status would be if we added support for automatic port assignment/allocation. Without that feature, we'd just be replicating a value from spec to status. I think it may be better to wait until we have a clearer picture for what port assignment would look like/if we want to proceed with that fe

[2022-03-26 05:57] mehabhalodiya commented on #1067
I need your help. I would like to work on this. May I?
Thanks!

[2022-03-26 10:54] mehabhalodiya commented on #958
Still not 100% clear about what needs to be done but then too I would like to work on this.
I will ask and learn what changes are required for this particular.
/assign

[2022-03-26 17:31] mehabhalodiya commented on #995
/assign @hzxuzhonghu

[2022-03-27 23:49] youngnick commented on #1067
I think that this issue is waiting on feedback, use cases and so on before we generate a GEP and get started on a design. I think that something that could be very helpful is to review what some specific CRDs do (Istio, Contour, Gloo, and Openshift all have CRDs that I *think* let you specify this). That way we can be confident we've checked what the community is doing and be hopeful that a design

[2022-03-28 10:37] sdjksdajshd opened #1074 "Support the necessary functions of load balancing to gateway and route"
**What would you like to be added**:

Load balancing algorithm, session persistence, CORS and health check can be used as a standardized support

**Why this is needed**:

From my work experience as a product manager, basically, the load balancing of the public cloud supports these four capabilities and is used as a necessary configuration for load balancing

[2022-03-28 13:33] eoshardwork opened #1076 "apply httproute.yaml err info： error validating data: ValidationError(HTTPRoute.spec.rules[0].filters[0].requestRedirect): unknown field "path" in io.k8s.networking.gateway.v1alpha2.HTTPRoute.spec.rules.filters.requestRedirect; if you choose to ignore these errors, turn validation off with --validate=false"
**What happened**:
apply httproute error
**What you expected to happen**:
apply httproute can be success
**How to reproduce it (as minimally and precisely as possible)**:

[code]

httproute.yaml
[code]

**Anything else we need to know?**:
[code]

[2022-03-28 23:05] youngnick opened #1077 "Update HTTPRoute and other status definitions and documentation"
**What would you like to be added**:

In implementing HTTPRoute and Gateway, implementors have found things that we've missed or that are not clear in the definitions of how status should be updated.

There are some condition types that need to be added, some edge cases that need to be addressed, and so on.

This issue covers doing a pass over this area before we finalize v1beta1.

This top-level

[2022-03-28 23:05] youngnick commented on #1077
/assign

[2022-03-28 23:08] youngnick commented on #1077
Candidates for tasks so far:
- Add a `Ready` condition type for HTTPRoute, with explanation of what Ready means. This has conformance test implications.
- Add a `NotImplemented` or `NotSupported` condition type for all resources so that there's another place to hold more information about why something was not accepted, with explanations of what that means.

[2022-03-28 23:08] youngnick commented on #1077
Need to fold feedback from #935 in here as well.

[2022-04-01 22:57] hbagdi commented on #1074
Hey @sdjksdajshd, thanks for the issue!
Gateway API aims to provide a portable set of expressive features while allowing for extensions.
We have had discussions at length about supporting load-balancing features such as LB algorithms, timeout policies, health-checks and we have come to the conclusion that supporting these in a way that is consistent across various implementations is very challengi

[2022-04-01 23:08] hbagdi commented on #1067
Writing down some thoughts for the future:
TLS between the gateway and the upstream service is about encryption and identity.
This includes a common trust (CA), SANs for the upstream services, and a client certificate in the gateway (in case the upstream wants to verify the identity of the gateway).
The challenge here is to figure out the ownership of the above information:
- Trust stores are _gen

[2022-04-01 23:31] hbagdi commented on #1061
Gateway resource consists of two parts:
1. Network configuration that is closely tied to the underlying infrastructure. Ports, IPs and hostnames are good example of this category.
2. Routing configuration such as TLS, route selectors, etc.

Of these, most/all use-cases consider (2) to be the source of truth and a Gateway should _lead_ and not _follow_.

(1) is more complicated.
In most of our desi

[2022-04-01 23:43] hbagdi commented on #916
That sounds good as long as we make sure to have YAML in the release tag pointing to the production image. I expect implemeneters to point to the repo with a release tag to do installation. That is what we do in our docs as well: https://gateway-api.sigs.k8s.io/v1alpha2/guides/getting-started/#installing-gateway-api-crds-manually

[2022-04-01 23:49] hbagdi commented on #1039
Meaning graduation to the beta will be in on a resource by resource basis even for types that ship within the API? (not trying to say that it is bad, just new)

[2022-04-01 23:56] hbagdi commented on #1062
Reading this issue reminds me of my recent comment: https://github.com/kubernetes-sigs/gateway-api/issues/1061#issuecomment-1086412027

Spitballing an idea:
`spec.listeners` is currently expected to be populated and static, static meaning configured by a human. We could consider making `spec.listeners` to be dynamically managed, maybe by another controller or the controller managing the gateway. A

[2022-04-01 23:58] hbagdi commented on #1070
I can see someone trying to use Gateway API as an Egress Gateway which specializes in doing routing to ExternalName services. No?

[2022-04-02 00:00] hbagdi commented on #928
Will documenting this after v1beta1 be considered a breaking change?

[2022-04-03 22:01] youngnick commented on #1039
Exactly. In the first round of v1beta1 changes, we will be graduating Gateway, GatewayClass, and HTTPRoute to `v1beta1`.

[2022-04-03 22:11] youngnick commented on #1070
Yes, I agree that is a useful use case, but allowing Service of Type ExternalName in all cases still leaves us with the ability to use this functionality to bypass namespace security. That's why I recommend a different object that can be clear about the risks involved.

The alternative is to allow Service of Type ExternalName in *some* use cases, but then there's no way for a user to know if their

[2022-04-03 22:14] youngnick commented on #1062
Historically, having `spec` fields be dynamically managed has been a mistake - there is a section in the API conventions that talks about how this hasn't gone well. The reason for the split between `spec` and `status` is that `spec` reflects the user intent, and `status` reflects the actual state.

I think that having a way to represent a user's intent to request "please dynamically assign me a po

[2022-04-04 12:01] evankanderson commented on #1077
There's also feedback in https://github.com/kubernetes-sigs/gateway-api/pull/1080#issuecomment-1082412501 (sorry @nathancoleman for diverting your PR).

I'd also like to specify some update semantics of the Gateway API -- in particular, it would be nice if Gateway API consumers could update from one "working" (not serving 500s) configuration to another without serving 500s in between. IIRC, at lea

[2022-04-05 05:33] #1021 closed

[2022-04-05 05:39] youngnick commented on #1077
We discussed this in our community meeting today and agreed that:
- Many implementations (not just Envoy-based ones) can't guarantee that the configuration requested has made it to the entire data plane, so a strict `Ready` condition (as @evankanderson reasonably asked for on #1080) is not possible for them.
- Because of this, we can't mandate a `Ready` condition, because people will bring the exp

[2022-04-06 05:31] youngnick commented on #1017
Okay, here's my thoughts on the install process:

I think that we want to have a single YAML file that requires no further rendering, that includes both the CRDs and the webhook install.

We add the following files:
`install/stable.yaml` - contains the stable CRD channel and the current webhook version.
`install/experimental.yaml` - contains the experimental CRD channel and the current webhook ver

[2022-04-06 13:16] evankanderson commented on #1077
+1 on not mandating any behavior that doesn't have a conformance test.

What we've done in Knative is to set up a "load test" (e.g. 20 rps GET requests to the destination) while updating the routes, and checking that all returned results are 200 and not 500. Obviously, there are many different permutations here (replace existing route, add new more-specific route, update certain routing parameters

[2022-04-06 19:52] mikemorris opened #1092 "docs: intended ReferencePolicyTo implementation unclear for backendRef without optional Kind"
**What would you like to be added**:

When the optional `kind` field is not specified on a `BackendReferenceObject`, explicitly describe whether `Service` is assumed to be the default `Kind`, or if it should be handled as a wildcard selector by name across any `Kind`.

**Why this is needed**:

The `kind` field on [`ReferencePolicyTo`](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gatew

[2022-04-06 22:28] robscott commented on #1092
If I'm understanding this correctly, I think this shows a gap in our reference docs. The docs you linked to do not mention that `BackendObjectReference.Kind` has a [default value of `Service`](https://github.com/kubernetes-sigs/gateway-api/blob/ef773194892636ea8ecbb2b294daf771d4dd5009/apis/v1alpha2/object_reference_types.go#L105). I think we should clarify more generally that if/when a controller

[2022-04-07 17:04] aryan9600 opened #1097 "Add an Integrations section on the website"
**What would you like to be added**:
It'd be nice if the website also had a section/page about tools that integrate with the Gateway API similar to the page [Implementations](https://gateway-api.sigs.k8s.io/implementations/) present right now.

**Why this is needed**:
This would help users make more informed decisions and also document the adoption of this project in the broader cloud native and k

[2022-04-07 17:06] aryan9600 commented on #1097
Below are a couple of projects that could be listed currently:
* [Flagger](https://flagger.app)
* [cert-manager](https://cert-manager.io/)

[2022-04-07 17:10] robscott commented on #1097
👍 this is a great idea. Maybe it can just be a new section on the implementations page?

[2022-04-07 17:26] gnossen opened #1098 "Validate At Least One of GRPCRoute.Rules.Matches.{Method,Service} is Supplied"
As a result of [this exchange](https://github.com/kubernetes-sigs/gateway-api/pull/1004#discussion_r840953154), it was decided to require at least one of the fields `Service` and `Method` of `GRPCMethodMatch` to be specified. This is not currently possible via JSON-schema validations, so enabling this will require changes to the validating webhook.

[2022-04-08 23:37] robscott opened #1102 "Conformance Tests: HTTPRoute Matching"
This issue is intended to track conformance test development for HTTPRoute matching. Comment below if you're interested in working on covering any of these areas.

**Core Capabilities:**
- [x] Path prefix matching
- [x] Exact path matching (#1147)
- [x] Header matching (#1134)
- [ ] Combinations of the above

**Extended Capabilities:**
- [x] Method matching (@skriss)
- [x] Query param matching (@s

[2022-04-08 23:41] robscott opened #1103 "Conformance Tests: HTTPRoute Filters"
This issue is intended to track conformance test development for HTTPRoute filters. Comment below if you're interested in working on covering any of these areas.

**Core Capabilities:**
- [x] Header modifier (@skriss)
  - [x] Set
  - [x] Add
  - [x] Remove
- [x] Request Redirect: (@LiorLieberman)
  - [x] Scheme
  - [x] Port Number

**Experimental Capabilities:**
- [x] Request Redirect:
  - [x] Pat

[2022-04-08 23:51] robscott opened #1104 "Conformance Tests: L7 Gateways"
This issue is intended to track conformance test development for L7 Gateways. Comment below if you're interested in working on covering any of these areas.

**Core Capabilities:**
- [x] Gateway - Route Binding
  - [x] Successful cross namespace configuration
  - [x] Invalid cross namespace configuration
  - [x] Invalid binding from Route kind not specified in AllowedRoutes.Kinds (@skriss)
- [x] Ho

[2022-04-08 23:55] robscott opened #1105 "Conformance Tests: ReferencePolicy"
This issue is intended to track conformance test development for ReferencePolicy. Comment below if you're interested in working on covering any of these areas.

**Extended Capabilities:**
- [ ] Gateway -> Secret (@nathancoleman)
  - [ ] Cross namespace reference not allowed by a ReferencePolicy
  - [ ] Cross namespace reference allowed by a ReferencePolicy
  - [ ] Multiple cross namespace referenc