[2022-04-09 00:15] robscott opened #1106 "Gateway.Spec.Addresses Support Level Likely Inaccurate"
`Gateway.Spec.Addresses` is [currently listed as having "Core" support](https://github.com/kubernetes-sigs/gateway-api/blob/master/apis/v1alpha2/gateway_types.go#L138). This does not seem like something that some implementations will be able to support. It would be helpful to get some comments here from other implementers to confirm my theory that this is not universally supportable.

[2022-04-09 12:41] mehabhalodiya commented on #1106
Can you please specify "other implementors" from the [file](https://github.com/kubernetes-sigs/gateway-api/blob/master/apis/v1alpha2/gateway_types.go)?

Maybe I can work on this!

[2022-04-11 00:56] youngnick commented on #1106
I agree that this should be `Extended` support. Contour only supports setting addresses when the underlying cloud provider does, so it's definitely not all the time.

[2022-04-11 08:47] eoshardwork commented on #1076
@we4tech @EppO @mortent @Atoms any idea about this issue？

[2022-04-11 16:42] #1017 closed

[2022-04-11 22:29] mikemorris opened #1109 "docs: add RouteConditionReason to v1alpha2 docs, enumerate possible reasons for each RouteConditionType"
**What would you like to be added**:

A section to the API Specification for `RouteConditionReason`, mirroring similar content from [`ListenerConditionReason`](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io%2fv1alpha2.ListenerConditionReason)

**Why this is needed**:

Only [`RouteConditionType`](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.

[2022-04-13 17:46] mikemorris opened #1110 ""good" state for ListenerStatus feels logically inverted, difficult to understand"
**What would you like to be added**:

- Add [`ListenerConditionType`](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io%2fv1alpha2.ListenerConditionType) `Attached` (or possibly `Accepted` for parity with other objects, ref #1111 ), deprecate `Detached`

**Why this is needed**:

From a quick glance, seeing a `ListenerStatus` with `Detached` and `Conflicted` condit

[2022-04-13 19:27] mikemorris opened #1111 "discrepancies between Accepted, Ready, and Detached condition types and reasons"
Several different [`Kubernetes meta/v1.Condition`](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.23/#condition-v1-meta) types are defined by the spec, and some use differing terminology to communicate apparently similar status.

**What would you like to be added**:

- [ ] Add `Pending` GatewayClassConditionReason, deprecate `Waiting` (for parity with ListenerConditionType)
  - T

[2022-04-13 21:16] mikemorris opened #1112 "Route handling of invalid BackendRefs needs clarification"
**What would you like to be added**:

Add documentation, possibly a new page in the Reference section of the website, and additional `RouteConditionReason` and `ListenerConditionReason` types as needed to clarify intended handling of invalid BackendRefs configurations. This is a bit more complicated than just #1109, as the implications of initially applying or resolving changes to a Route's Backen

[2022-04-13 22:21] mikemorris commented on #1031
@robscott I was mostly thinking about the pattern @youngnick mentioned in https://github.com/kubernetes-sigs/gateway-api/issues/1031#issuecomment-1062557181, where (entirely within the API Specification page) important usage notes exist on the field where a type is used, rather than on the type itself. `allowedRoutes` (on [Listener](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway

[2022-04-14 11:16] sdjksdajshd commented on #1074
Hey @hbagdi ，thanks for your answer!

I had read [ReferencePolicy](https://gateway-api.sigs.k8s.io/v1alpha2/api-types/referencepolicy/)，and we had developed part。

A big question for me，we ready to provie  a  Gateway API UI  for  user。

We will provide customers with a complete K8S commercialization service, including highly customized permissions and UI.

We provided customers with a LB function

[2022-04-14 18:47] nathancoleman commented on #1105
@robscott If no objection, I'm beginning work on Gateway -> Secret conformance tests. Branching off of #1081 as it seems to be nearly merge-ready.

[2022-04-14 21:46] andrewstucki commented on #1112
So, just to chime in, overall the part of the spec that gives me some of the biggest headaches is how route validation is reflected in statuses. You pointed out a number of areas where something about the route status, as specified in the spec, seems to need to be propagated onto the Gateway's ListenerStatus.

For example, the current usage for `ResolvedRefs` as a [`ListenerConditionReason`](https

[2022-04-18 04:54] robscott commented on #988
This was a good catch @jpeach, adding it to v1b1 milestone since I think it's a fairly simple clarification.

/remove-lifecycle stale

[2022-04-18 05:02] #1097 closed

[2022-04-18 20:21] #997 closed

[2022-04-18 21:11] robscott commented on #1112
This is great content @mikemorris and @andrewstucki!

I think this is an artifact of the v1alpha1 API where listeners selected Routes. While I think it could potentially be helpful for a Gateway owner to understand that something is attempting to attach to it but can't, it seems like the primary way to communicate that failure in status should be on the route.

I like a lot of the suggestion above

[2022-04-18 21:51] robscott commented on #1077
I think #1110, #1111, and #1112 by @mikemorris significantly overlap with this issue. Not sure if there's room for consolidation, just wanted to make sure these were all linked together.

[2022-04-18 22:22] robscott commented on #1111
We need to make sure this is compatible with Route inclusion status proposal

[2022-04-19 21:42] #1109 closed

[2022-04-20 16:05] #1106 closed

[2022-04-20 16:46] mehabhalodiya commented on #1111
I would like to work on this, if it's alright 🙂

[2022-04-21 15:18] mikemorris commented on #1092
Fixed by #1121

[2022-04-21 15:18] #1092 closed

[2022-04-21 21:32] skriss opened #1125 "validating webhook fails to install correctly on 1.22+ clusters"
**What happened**:
I tried to install the validating webhook into a 1.23 cluster, by applying the contents of https://github.com/kubernetes-sigs/gateway-api/tree/v0.4.2/deploy.  The `gateway-api-admission-patch` Job never ran successfully, and the logs for the Job's pod showed:

[code]

**What you expected to happen**:
The webhook to install successfully.

**How to reproduce it (as minimally and p

[2022-04-21 21:37] robscott commented on #1125
Good catch, looks like we need to cherry pick #991 into release-0.4

[2022-04-21 21:47] skriss commented on #1125
Ah, somehow I overlooked that PR. I can probably just use `main` for now and wait for a 0.5 release with the fix. Thanks for the quick response!

[2022-04-22 03:50] sdjksdajshd commented on #1074
mark

[2022-04-25 23:46] robscott opened #1127 "Consider holding GEP 735 for a future release (after v0.5.0)"
As discussed in today's community meeting, [API Review on v0.5.0](https://github.com/kubernetes-sigs/gateway-api/pull/1086) has raised some good questions about address matching. I've tried to answer some of them, but have realized that others will require more significant thought/changes. Here are some of the questions discussed in today's meeting:

1. Does source address matching act purely as a

[2022-04-27 05:20] youngnick commented on #1110
Agreed, we should have the same `Attached` condition type across every place we use conditions, and have it mean the same thing.

[2022-04-27 05:25] youngnick commented on #906
/remove-lifecycle stale

[2022-04-27 05:58] youngnick commented on #1112
This is an outstanding summary, thanks @mikemorris!

Reading through this, there are a few places where I have assumptions that aren't written down. I may have spoke about these before and assumed they're in the spec, happy to talk about if they're valid assumptions.

I'll go through the questions in the order I read them.

## "not accepted"

In general, I think we've tried to have the default sta

[2022-04-27 06:05] youngnick commented on #1077
Agreed, I think that @mikemorris' issues handle a large portion of the things I was thinking about when I raised this.

Interested to hear what everyone thinks about the idea of a generic `NotImplemented` or `Unsupported` Condition that could be used across any resource to indicate that something you're doing is unsupported?

[2022-04-27 06:08] youngnick commented on #1000
/remove-lifecycle stale

This issue covers updating the policy attachment example to match the example in the text.
This would be a great early issue for someone who wants to contribute.

/help-wanted
/good-first-issue

[2022-04-27 06:10] #988 closed

[2022-04-27 06:27] youngnick commented on #1074
Thanks for your response @sdjksdajshd. I'm not sure I quite understand what you are asking for though.

It seems like you are saying that you're building a Gateway API UI, which is awesome.

Could you clarify a bit more what you'd like us to do? From your comments here, it seems like you would like there to be a way to limit users to only editing one resource type? Or perhaps your question is abou

[2022-04-27 06:28] youngnick commented on #1127
I am +1 to holding this until we have another look at the design.

[2022-04-27 08:10] sdjksdajshd commented on #1074
I am very glad to hear from you @youngnick

If the user wants to configure a Policy, then in this case, I don't think the user wants to configure multiple policies on a Route to achieve this goal.

So I was looking forward to a more standardized Policy API that would allow common configurations to be configured on a single resource

And， Is there a standard way to show the configuration that reall

[2022-04-27 08:16] sdjksdajshd commented on #1074
We are agree to provide enough  function to  final users，it‘s a goal  that we provide a Gateway API UI

[2022-04-27 17:03] evankanderson commented on #1077
I'm skeptical that a generic `Unsupported` Condition will always work, assuming that fields may be added to the API that implementations may not be aware of. I suppose implementations could be conservative here and check for any `spec` fields that they don't recognize, and report them as `Unsupported` even if they contain a default value that matches the existing behavior.

[2022-04-27 20:28] candita commented on #1102
@robscott Interested

[2022-04-27 20:42] robscott commented on #1102
@candita great, thanks! Any particular tests described in this issue you want to take on? Let me know if you have any questions as you're getting started.

[2022-04-28 06:50] #906 closed

[2022-04-28 17:28] robscott commented on #1077
@evankanderson I agree that it would be nearly impossible for an implementation to recognize configuration they are not aware of and populate a "Unsupported" or "NotImplemented" condition based on that. I do think there's still value in having a condition like that though. This API includes many "extended" features that will not be implementable by everyone. That means it would be very useful for

[2022-04-28 17:50] skriss commented on #1104
I'm interested in picking up some of these - can start with the remaining route binding one and the hostname matching ones. @robscott were you thinking that the Gateway manifests for these would go into the individual tests, rather than the "base" manifests, since these aren't likely to be reused across many tests?

[2022-04-28 18:12] robscott commented on #1104
@skriss that's a great question. I think it will be most straightforward to start with Gateways being defined by the tests directly. We'll need to discuss more broadly though, maybe at the next community meeting. I think some implementations don't support automatically provisioning Gateways yet, so depending on how widespread that is, we may need to move Gateway definitions into base manifests. I'

[2022-04-29 08:34] sdjksdajshd opened #1132 "HTTP Path Matah ： Is it more appropriate to write PathPrefix as Prefix?"
**What happened**:
<img width="617" alt="image" src="https://user-images.githubusercontent.com/42963243/165910671-9e0c70e1-207b-46fb-971f-dae8a58f912e.png">

**What you expected to happen**:

write PathPrefix as Prefix?

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

[2022-04-29 15:41] howardjohn commented on #1132
PathPrefix is distinguish from 'Prefix' because its not a literal string prefix match. eg `PathPrefix: /foo/bar` does not match `/foo/barextra`, only `/foo/bar/extra`.

[2022-04-29 18:59] robscott opened #1133 "Add documentation for validating webhook"
As [suggested](https://github.com/kubernetes-sigs/gateway-api/pull/1066#discussion_r861710156) by @markmc,  it would be helpful to have a docs page that provides information on the webhook. Some questions we should probably answer on that page:

- How do you install it?
- Why is it necessary?
- What does it validate?
- How is it updated?

[2022-04-29 20:15] #1037 closed

[2022-04-29 20:15] #1006 closed

[2022-04-29 20:21] skriss commented on #1102
I've submitted https://github.com/kubernetes-sigs/gateway-api/pull/1134 for header matching.

[2022-04-29 21:46] robscott opened #1135 "Conformance tests should allow an error state in Route Parent status"
Currently we have several tests with a TODO to allow implementations to actually provide an error in Route parent status if they are able to ([example](https://github.com/kubernetes-sigs/gateway-api/blob/fcb4b5ce5caa87087e745f5db52214cfba4fce06/conformance/tests/httproute-invalid-cross-namespace.go#L43-L49)).

I think there are 2 valid ways to represent this:

1. len(Route.Status.Parents) == 0
2.

[2022-05-01 23:24] youngnick commented on #1074
It sounds like our naming is a bit confusing. ReferencePolicy is a part of the main API, not an extension mechanism like the other Policy mechanism we discussed. It's configured alongside objects that are *not* part of the Gateway API, like Secret or Service, to safely do cross-namespace references. ReferencePolicy objects do not need to be configured on a Route.

Other Policy objects are currentl

[2022-05-01 23:27] youngnick commented on #1076
This kind of error is usually caused by there being a mismatch in the API version. Have you installed the most recent version of the CRD YAML?

[2022-05-02 16:03] skriss commented on #1077
One specific request for HTTPRoute status additions: Listeners have a possible condition of "Ready: false" with reason "Invalid" to generically cover syntactically/semantically incorrect Listeners. It would be nice to have something similar for routes (could be "Accepted: false" with reason "Invalid"). The specific case I ran into recently for this is if syntactically invalid hostnames make it to

[2022-05-02 22:44] youngnick commented on #1038
/unassign @robscott

[2022-05-02 22:50] youngnick commented on #1038
The todo list here:
- [ ] Take the GEP (https://gateway-api.sigs.k8s.io/geps/gep-726/) and write some documentation that explains how to use the feature. This probably needs to be a separate Guide under the guides heading (stored in `/site-src/v1alpha2/guides`).
- [ ] #1124 will mean that there will be slight schema changes to any examples.

[2022-05-02 22:51] youngnick commented on #1038
/help-wanted

[2022-05-03 05:27] youngnick commented on #958
Deliverables here are:
- [ ] Move AddressType from an Enum to a pattern validation, and provide constants for all Core and Extended support values.
- [ ] Update AddressType documentation to make clear that domain-prefixed strings are allowed
- [ ] Update AddressType validation to allow both bareword `CamelCase` values and `domain.io/DomainPrefixed` values are allowed.

[2022-05-03 11:22] markmc commented on #1127
+1

For reference, there's a good discussion of the challenge captured in the [April 25, 2022 Gateway API meeting](https://www.youtube.com/watch?t=870&v=AvOKXxDCwDM). Points include that the use cases and behavior are underspecified and not well understood.

But, in particular, I found the discussion of "is this routing or a firewall?" and "should this be part of the gateway rather than the route?

[2022-05-03 14:02] hoerup opened #1141 "Enhancement: add HTTPRoute IP ACL's"
**What would you like to be added**:
An option for defining a list of IP ranges that should be allowed/denied to call a certain HTTPRoute

**Why this is needed**:
When using the Gateway API for http requests it is possible to create a single http handler for all http traffic, which is delegated to the various backends.
In some instances it might be necessary to add additional ACL's in order to con

[2022-05-03 16:54] robscott commented on #1141
Thanks for raising this issue @hoerup! When discussing this in relation to GEP #735, one of the questions we had was where this configuration should belong (more in #1127). Is it important that this is tied to a route, if so, how would merging and conflict resolution work? If not, would it be sufficient to tie this to a Gateway? Should it apply to the full Gateway or per listener?

[2022-05-03 19:20] hoerup commented on #1141
As I see it, I think the IP ACL should definitely be tied to a route - in order to give the operator the wides flexibility so (s)he kan define multiple HTTPRoutes each with it's own ACL's  although an option to apply it on gateway/listener as well might me usefull in other scenarios?

While looking at the current (0.4.2) spec and wondering where to put this im thinking that it should probably go i

[2022-05-04 16:11] mikemorris opened #1142 "conformance: refactor listenersMatch and parentsMatch helpers into a single generic function"
**What would you like to be added**:

Refactor `listenersMatch` (added in #1081) and `parentsMatch` to be a single generic function, or at least wrappers around a single generic implementation of the core logic.

**Why this is needed**:

The core logic of these two functions is quite similar (searching for all expected items in a slice of actual items, including the unimplemented need to support a

[2022-05-04 16:30] mikemorris opened #1143 "conformance: add test for partial acceptance of a route with one allowed and one unpermitted backend reference"
**What would you like to be added**:

Update `conformance/tests/httproute-invalid-reference-policy.go` to add assertions that a route containing both a valid and an unpermitted backend reference is accepted by the gateway. This should:

- [x] The route should set an `Accepted {status: true, reason: Accepted}` route status condition
- [x] ~~Ensure the route is counted in the listener's `attachedRou

[2022-05-04 18:07] mikemorris commented on #1112
👍 , this makes sense to me too. I added a few specific TODO items to the "not found" section for new RouteConditionReasons to help communicate these rejection cases.

Alright - I think this makes sense but will require a docs update to remove the mention of ` or a Service with no endpoints` as an "invalid" case in each xRouteRule. Definitely agreed that flapping service health should not affect th

[2022-05-04 18:29] mikemorris commented on #1077
@skriss I added a few suggested RouteConditionReasons to the "not accepted" section of #1112 - `InvalidRouteHostname` sounds like it could reasonably cover your use case in addition to the listener hostname mismatch.

[2022-05-04 19:01] shaneutt commented on #1111
@mehabhalodiya from what I've heard in Slack it sounds like you may not be taking this one on because you've got some other things you're working on? If that's the case I was gonna pick this one up, let me know what's up?

[2022-05-04 19:08] mehabhalodiya commented on #1111
@shaneutt I think that you already have some more context on what needs to be done; so that you can get it done a little quicker as compared to me!

Also @robscott and @youngnick would really like to get it sorted asap.
You can assign this to yourself.
Thank you.

[2022-05-04 19:29] shaneutt commented on #1111
/assign @shaneutt

[2022-05-05 03:22] sdjksdajshd commented on #1132
I get it，thanks very much

[2022-05-05 03:22] #1132 closed

[2022-05-05 03:22] sdjksdajshd commented on #1132
My remember question

[2022-05-05 12:39] anjuls opened #1148 "Webhook Certificate Issue"
I am installing Gateway API with Traefik. After installing the webhook, I am getting following when creating Gateway and HTTPRoute.

[code]

Please point me to the right direction or documentation. I couldn't find much documentation around the webhook. Is it really required?

[2022-05-05 17:43] robscott commented on #1148
Hey @anjuls, a few follow up questions:

1. How did you install the webhook?
2. What version of the webhook are you using?
3. What version of Kubernetes are you using?
4. Are any pods in the `gateway-system` namespace in an error state?

[2022-05-06 00:00] #1127 closed

[2022-05-09 02:16] youngnick commented on #1074
Ah, you are saying that we don't have any way to show what policy is in effect on an object. That is a really good point that we haven't addressed yet.

I agree that we should do that.

[2022-05-09 07:27] anjuls commented on #1148
I have followed the installation given on Traefik docs and skipped the installation of webhooks. It is working fine without them as well. It would have been nice to get more information about why we need these webhooks.  Closing the issue.

[2022-05-09 10:04] youngnick commented on #1148
@anjuls, the webhook is required to do more specific validation of Gateway API resources. Without it, there are cases in which you'll supply invalid objects, that may or may not be handled correctly by your implementation.

The kubebuilder validations we use for some validation can't handle more complex validations, so we're forced to require the webhook.

We are still in the process of setting up

[2022-05-09 10:05] youngnick commented on #1148
I've reopened the issue for now, I really would like to hear more about what went wrong when you tried to install; we don't have much information about actual usage of the webhook, and any information you could give would be super helpful if you can @anjuls.

[2022-05-09 18:23] shaneutt commented on #1111
Turns out the ask here is somewhat large and after reviewing I do think a GEP might be warranted as suggested so that we can ensure consensus about the changes ahead of implementation. I'm not going to be able to work on this one after all as I have significant time constraints and several things competing for my time, so I will be un-assigning myself.

[2022-05-10 03:15] sdjksdajshd commented on #1074
@youngnick

If we think uniform Policy standard is hard，So why not make an experimental version? Logic is always the world we recognize。

Maybe a Policy standard is easy for lb providers.

[2022-05-10 03:20] sdjksdajshd commented on #1074
We had realized Poliycy CDR.

I go to  communicate with developers，If our work is useful，we will  pull request.

[2022-05-10 03:24] sdjksdajshd commented on #1074
Thanks for very much. Expect the Gateway API to become the new de facto standard.

When can we have a beta version？Look forward to.(*❦ω❦)

[2022-05-10 07:38] carlisia opened #1156 "Indicate a new Route "Readiness" condition"
## Goals

- indicate if all configuration needed to perform Route related operations has been fully propagated through the entire data plane.

- otherwise, indicate if the configuration had a point of failure, or if it is still converging towards being "ready"

- indicate the semantics for what a correct implementation of what it means for Routes to be "ready" for configuration updates as well

##

[2022-05-10 07:45] carlisia commented on #1077
I extracted the case for a "Ready" Route condition into a new issue, as requested in a recent meeting:

[Indicate a new Route "Readiness" state](https://github.com/kubernetes-sigs/gateway-api/issues/1156
).

[2022-05-10 07:48] carlisia commented on #1111
Cross-posting here that I [extracted the case for a "Ready" Route condition into a new issue](https://github.com/kubernetes-sigs/gateway-api/issues/1077#issuecomment-1122043612).

[2022-05-10 08:04] carlisia opened #1157 "Improvement to the website description of what a Gateway API is and is not"
What is the difference between a Gateway API and an API Gateway?

This is one question that is begging to be answered but is not cleared up by the website content.

I'll add some clarification around that as well as spruce up the existing content.

/assign

[2022-05-10 15:58] nathancoleman commented on #1111
Thanks @carlisia ! I think that makes this issue much more manageable

[2022-05-10 19:10] evankanderson commented on #1156
[Conditions are quad-state, generally simplified to tri-state](https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#typical-status-properties) (imma gonna make Tim cry here):

* `True`: The condition has been checked and is currently fulfilled
* `False`: The condition has been checked, and cannot be met
* `Unknown`: The controller has observed

[2022-05-10 19:21] carlisia commented on #1156
Adding related discussions here for convenience:

- https://github.com/kubernetes-sigs/gateway-api/issues/1077
- https://github.com/kubernetes-sigs/gateway-api/issues/1111

[2022-05-10 20:39] robscott opened #1159 "Wildcard hostname matching behavior is not clearly specified"
**What would you like to be added**:
As @howardjohn [noted in Slack](https://kubernetes.slack.com/archives/CR0H13KGA/p1652128690078659), our hostname matching behavior is not clearly specified. Other than saying "exact matches must be processed before wildcard matches", we don't really cover how wildcard matches should be implemented. Specifically, which of the following should `*.example.com` mat

[2022-05-10 20:41] howardjohn commented on #1159
One note in favor of the "1 label" behavior is that TLS verification behaves this way. So if we don't do that, we have inconsistency in certs and routing (which is ok, just inconsistent). I don' have a strong opinion one way or another though; as long as an implementation has regex header matching I think either approach can be implemented in most proxies?

[2022-05-10 20:47] skriss commented on #1159
xref https://github.com/kubernetes-sigs/gateway-api/issues/654 and https://github.com/kubernetes-sigs/gateway-api/pull/674 which also had discussion on this topic.

[2022-05-11 00:51] robscott commented on #1156
I think there's some nuance here. I think there will be a set of features that implementations are aware of but can't or don't support. In those cases, I think `Ready == False` with a `Unsupported` reason is appropriate. I think `Unknown` could be used to indicate if an implementation really didn't know if they supported a feature, but that seems unlikely.

[2022-05-11 00:53] robscott commented on #1156
As far as naming, there's been some earlier discussion that a "Ready" condition may be too precise for an eventually consistent world. It may be more realistic to use a term like "Programmed" to indicate that the dataplane has been programmed but that it may take some period of time for those changes to propagate.

[2022-05-11 03:59] evankanderson commented on #1156
I think `Ready == False` suggests that the controller **knows** that the resource isn't `Ready`, rather than that it's unable to measure whether or not the resource is `Ready`. I worry about downstream software taking that as a signal that the system is broken (and possibly blocking further reconciliation), rather than empty/unknown meaning "figure it out yourself, I can't help".

As a _programmat

[2022-05-11 14:40] FlorentFlament commented on #1142
Hi,

It looks like this refactoring could be achieved with the same level of log details by using Reflection. Would that be the way to go ? I'd like to give it a try.

Regards

[2022-05-11 17:25] robscott commented on #1156
That makes sense. I'd actually been assuming something else - a Gateway would not accept a Route that included configuration that was recognized but unsupported. As I'm thinking about that more, it seems like this specific reason may actually make more sense if tied to a different condition such as "Accepted".

💯  completely agree

[2022-05-11 21:36] candita commented on #1127
Is source IP address persistence/stickiness a consideration?

[2022-05-11 23:01] robscott commented on #1016
/remove-lifecycle stale
/lifecycle frozen

[2022-05-12 16:35] #1135 closed

[2022-05-12 21:05] robscott commented on #1159
In general, I think it's safe to describe the two options as "single label matching" and "multi label matching". Each have advantages:

**Single Label Matching:**

* Consistent with Ingress spec
* Consistent with TLS verification

**Multi Label Matching:**

* Consistent with envoy, nginx, and GCP defaults
* More broadly supportable

I'm biased here because GKE can only support the multi label matc

[2022-05-13 03:26] jpeach commented on #1159
Multi label matching won't work with TLS and practically everything is deployed with TLS. Specifying multi label matching just seems likely to encourage broken configurations that are hard to debug.

[2022-05-13 17:36] FlorentFlament commented on #1142
Hi,

So I've been thinking about the implementation, and found out that the `parentsMatch` and `listenerMatch` functions have a lot of specifics (i.e `v1alpha2.RouteParentStatus` and `v1alpha2.ListenerStatus` are not checked the same way).

I can propose the following approach:

Extracting the test logic of a single elemnent for both type with functions of the following prototype:

[code]
Note tha

[2022-05-16 22:27] skriss commented on #1103
I've submitted https://github.com/kubernetes-sigs/gateway-api/pull/1163 for the header modifier set/add/remove cases.

[2022-05-18 03:24] hzxuzhonghu opened #1165 "Confusing of HTTPPathModifier"
https://github.com/kubernetes-sigs/gateway-api/blob/c7da26bec21093f2eec792dd49386c344982ea9e/apis/v1alpha2/httproute_types.go#L719-L733

How could i rewrite url like  `/foo/bar` prefixed with foo to `/bar` , it does not allow setting match value

[2022-05-18 09:28] robscott commented on #1165
Thanks for the question @hzxuzhonghu! I think #1124 and #1162 will help make this a bit clearer. The value that is being replaced is from the path match. So if you want to use a prefix match to rewrite requests starting with `/foo/bar` to `/bar`, you could use config like this:

[code]

[2022-05-18 09:47] hzxuzhonghu commented on #1165
So what will happen if no path match is specified? Because they are two different structs, and so how can you make users understand this well.

[2022-05-18 12:18] robscott commented on #1165
Good question. That would be an invalid configuration. We should probably add some webhook validation to prevent that from happening.

[2022-05-18 12:22] robscott opened #1166 "Add webhook validation to ensure that ReplacePathPrefix in rewrites has corresponding prefix match"
When a URLRewrite filter is specified on a Route rule and it includes ReplacePathPrefix configuration, we should verify that exactly one path prefix match is specified on the same Route rule. We should also verify that no other path matches are specified as part of this.

[2022-05-18 12:22] robscott commented on #1165
x-ref https://github.com/kubernetes-sigs/gateway-api/issues/1166

[2022-05-18 12:23] robscott commented on #1166
This work should probably be based on https://github.com/kubernetes-sigs/gateway-api/pull/1124, or just wait for that PR to merge.

[2022-05-19 08:50] #1039 closed

[2022-05-19 09:02] youngnick commented on #1077
Moving this out of the v0.5.0 milestone, since we've hit the parts of this issue required for that release.

[2022-05-19 09:14] youngnick commented on #1111
Moving this out of the v0.5.0 milestone so it doesn't block the release. We can add the reasons in a patch release afterward.

[2022-05-19 09:29] youngnick commented on #1159
I *thought* I had specified a single label match previously, so I'd kind of prefer that we keep that.

[2022-05-23 21:23] robscott commented on #1166
/assign

[2022-05-24 19:13] skriss commented on #1125
Fixed in `main` and `v0.4.3`, closing this out.

[2022-05-24 19:13] #1125 closed

[2022-05-24 21:57] mikemorris commented on #1156
I explored a specific case of this a bit in https://github.com/kubernetes-sigs/gateway-api/pull/1146, and was leaning towards RouteConditionType `Accepted` with status `False` and adding an appropriate RouteConditionReason.

I'd agree with @evankanderson's suggestion that an implementation unable to provide RouteConditionType `Ready` could either not set it, or set it with status `Unknown`.

I'd t

[2022-05-27 21:34] howardjohn opened #1175 "conformance: MakeRequestAndExpectEventuallyConsistentResponse is not eventually consistent enough"
https://cs.github.com/robscott/gateway-api/blob/c7da26bec21093f2eec792dd49386c344982ea9e/conformance/utils/http/http.go#L88

MakeRequestAndExpectEventuallyConsistentResponse is currently just checking that a response returns 200 a few times in a row, then runs the assertion against it. However, this doesn't cover all cases. For example, on TestGatewayConformance/HTTPRouteMatchingAcrossRoutes/7_req

[2022-05-31 00:24] youngnick commented on #919
/remove-lifecycle stale
/lifecycle frozen

[2022-05-31 01:25] youngnick commented on #1112
I still feel pretty strongly that the guideline of "no config in the data plane means not accepted" is the easiest one to both understand and implement. But interested to talk more about it.

By that logic, I agree that the test in #1143 makes sense, and also agree that revoking the ReferencePolicy for a BackendRef that is the only target in a Route should mean that the Route is no longer Accepted

[2022-05-31 01:36] youngnick commented on #1159
To summarize what I said at the community meeting:
- Keeping things consistent with Ingress would be preferable
- But this is a core capability, and if some implementations can't implement it, we have a problem.
- I'd rather loosen this and try to find a way for implementations to optionally tighten it than exclude already-working implementations from conformance because of this detail.

[2022-05-31 01:48] youngnick commented on #821
/remove-lifecycle stale

This is probably better described by #1111 or #1007 I think? Thoughts anyone?

[2022-05-31 07:27] youngnick commented on #958
This is blocking the release of v0.5.0, so I'm going to knock it out. Sorry @mehabhalodiya.

[2022-05-31 07:27] youngnick commented on #958
/unassign @mehabhalodiya
/assign @youngnick

[2022-05-31 16:11] markmc commented on #20
I think this issue was resolved by #969

[2022-05-31 20:29] #446 closed

[2022-05-31 20:30] #20 closed

[2022-06-01 06:54] youngnick commented on #958
PR is open, please check it out everyone.

[2022-06-01 07:13] youngnick commented on #1156
I think the most likely case for an implementation setting "Ready" to "Unknown" is that it's sent off the config, but can't guarantee that the Ready criteria are met. Then it can set "Ready" to "Unknown" to signal that things watching the Route should perform their own checking of exactly when it's Ready (if that matters to them like it does to Knative).

I feel like there should *definitely* be a

[2022-06-01 16:13] mikemorris commented on #821
I think this is somewhat stale (`Admitted` became `Accepted` in v1alpha2), and mostly resolved by https://github.com/kubernetes-sigs/gateway-api/pull/1155, would vote to close this as fixed.

[2022-06-02 12:52] tomkerkhove commented on #554
Given the current state of the project, I think it's time to reconsider this for consistent metrics across implementation.

/reopen

[2022-06-03 16:08] mikemorris opened #1180 "conformance: allow reading BaseManifests from non-embedded local filesystem"
**What would you like to be added**:

Update [`getContentsFromPathOrURL`](https://github.com/kubernetes-sigs/gateway-api/blob/d1b86648e2771763d5f782bfd762c33936034fd2/conformance/utils/kubernetes/apply.go#L201-L237) to support reading files from the local filesystem rather than only the [embedded filesystem](https://github.com/kubernetes-sigs/gateway-api/blob/master/conformance/embed.go).

**Why t

[2022-06-06 02:45] youngnick commented on #1003
@mehabhalodiya has done a great job and has finished up the docs assessment. Please see the results at https://github.com/cncf/techdocs/blob/main/assessments/0006-gateway-api.md .

/close

[2022-06-06 02:46] #1003 closed

[2022-06-06 02:52] #1159 closed

[2022-06-06 02:53] youngnick commented on #1180
I can't see a reason not to support the local filesystem, subject to the usual input-validation checks to prevent directory traversal.

[2022-06-06 16:13] shaneutt commented on #892
while the originally wording of this issue may need some updating as it hasn't aged as well as I would like I still think some guidance on implementation of the "unmanaged" Gateway mode (which in my team's implementation we are supporting in addition to the "managed" mode) is valuable for future developers. I'm not sure it's going to be something I do right away, but if nobody else wants to take t

[2022-06-06 23:01] shaneutt opened #1183 "CHANGELOG for v0.5.0"
**What would you like to be added**:

We need a CHANGELOG for `v0.5.0`.

**Why this is needed**:

We can not release `v0.5.0` otherwise.

[2022-06-06 23:01] shaneutt commented on #1183
/assign

[2022-06-06 23:02] shaneutt opened #1184 "Blog post for v0.5.0"
**What would you like to be added**:

A blog post should be added for our `v0.5.0` release.

**Why this is needed**:

To help spread the word of the APIs progression towards GA.

[2022-06-06 23:03] shaneutt commented on #1184
/assign

[2022-06-06 23:37] rainest opened #1185 "Add redirect loop protection to HTTPRequestRedirect"
**What would you like to be added**:
I want the HTTPRequestRedirect to include language indicating how implementations handle redirects that result in loops, where the request URL received is equal to the request URL returned by the filter.

I propose that the spec be amended to include something like

Is this behavior desirable, and can implementations honor it easily?

**Why this is needed**:
ht

[2022-06-06 23:48] rainest commented on #1185
From our (Kong) perspective, we are in favor of avoiding loops, and iffy on the implementation. We support HTTP->HTTPS redirects as a standard part of our routing configuration, and configuring these redirects on dual-stack routes does indeed proxy HTTPS requests upstream.

We do not have standard support for generic redirects, however, and the simplest means we have of implementing non-protocol r

[2022-06-07 05:30] youngnick commented on #1185
I think that the "if the request is the same, the redirect does nothing" rule is a pretty good guideline, that can easily be extended if we add extra functionality in the future.

Additionally, in the case that we're making the redirect exclusions explicit, aren't they always going to be specifying a thing to change about the request (in that example, the `scheme`), and then a thing to exclude (th

[2022-06-07 06:55] youngnick commented on #1184
As mentioned by @candita in the meeting notes, this probably should be cross-posted both to the main Kubernetes blog and to the Gateway API site blog section.

[2022-06-07 18:54] #958 closed

[2022-06-07 22:37] pleshakov commented on #1185
I wonder if the HTTPS redirect use case is a suitable example for the redirect loop problem.

For example, what if an HTTPRoute has many rules. This means the user will need to configure the redirect filter for every rule, right?:
[code]

This looks more verbose than having two HTTPRoutes (one that explicitly references an HTTP listener of `example-gateway` with a redirect for path / and the other

[2022-06-08 14:00] #928 closed

[2022-06-08 14:00] #1038 closed

[2022-06-08 17:47] shaneutt opened #1195 "Rename "master" default branch to "main""
**What would you like to be added**:

It seems like we're eventually going to want to rename `master` to `main`. This is a proposal that we do that before `v0.5.0` when we start releasing BETA APIs, because the longer we wait the more trouble the change will be.

**Checklist From [Upstream Rename Documentation](https://www.kubernetes.dev/resources/rename/)**:

- [x] create an issue in your repo to

[2022-06-08 17:52] robscott commented on #1195
I'm all for this if anyone has time to take it on - instructions are here: https://www.kubernetes.dev/resources/rename/.

[2022-06-08 18:05] shaneutt commented on #1195
I'll take care of it.

/assign

[2022-06-08 18:14] caboteria commented on #1112
I'm trying to figure out how exactly the statuses of backendRefs influence the status of parentRefs. Let's see if I understand:

* If a Route has valid parentRefs and backendRefs then the parentRef statuses will be "Accepted".
* If a Route has valid parentRefs and no valid backendRefs then the parentRef statuses will be RefNotPermitted (per the HTTPRouteInvalidReferenceGrant conformance test).
* O

[2022-06-08 19:01] robscott commented on #1195
To more formally state this for the record: I approve this change.

[2022-06-08 19:05] bowei commented on #1195
Let me know if there is any github super user operation needed as I can make the change directly.

[2022-06-08 19:57] shaneutt commented on #1195
As per the documentation I have created a PR to account for the name change in this repo:

- https://github.com/kubernetes-sigs/gateway-api/pull/1196

As well as accounting for the name change in `test-infra`:

- https://github.com/kubernetes/test-infra/pull/26536

I would appreciate some extra :eyes: and critical reviews on these to help me find anything I may have missed.

[2022-06-08 20:03] shaneutt commented on #1195
As per the docs, I updated the mailing list that we intend to do this: https://groups.google.com/g/kubernetes-sig-network/c/WajfaZQqyGo/m/SNXzPAMhAwAJ

[2022-06-08 20:08] shaneutt commented on #1195
Thank you. Are you capable of updating the netlify config, RE: ` If the repo has netlify configured for it, ask a member of the GitHub Management Team to rename the master branch to main in the netlify site config. It can’t be controlled through the netlify config in the repo.`

[2022-06-08 20:30] robscott commented on #1195
I think @mrbobbytables set up Netlify for us originally, he might be able to help on that side.

[2022-06-09 00:08] youngnick commented on #1195
I approve this change also, thanks for pushing this forward @shaneutt, it's been on my want-to-do list for ages.

[2022-06-09 20:07] #1041 closed

[2022-06-10 00:05] youngnick commented on #1014
/remove-lifecycle stale

/assign

I made this mess, I better clean it up. 😉

[2022-06-10 00:11] youngnick opened #1200 "Move error status code to 500"
**What would you like to be added**:

In various places, we've documented that having no endpoints available should variously be 404 or 503. @thockin suggested in the v0.5.0 API Review that we should consider 502 instead.

This issue covers agreeing that's the case, and then implementing that change.

**Why this is needed**:
Need to get breaking behavior changes done before we release v0.5.0.

[2022-06-10 00:13] youngnick opened #1201 "Return ReferencePolicy CRD, deprecated, for v0.5.0"
To make migration easier, we should deprecate the v1alpha2 ReferencePolicy resource in v0.5.0, rather than removing it.

This means we'll need to add the types and CRD back, and figure out how to get the deprecation field and warning set on the generated CRD object.  (This will need to use https://kubernetes.io/docs/tasks/extend-kubernetes/custom-resources/custom-resource-definition-versioning/#ve

[2022-06-10 00:24] shaneutt commented on #892
I've gone through a couple drafts that I have reviewed with peers on this one. I've always found my own results wanting. The fact of the matter is that trying to implement for `unmanaged` mode is difficult, and it's problematic to provide any prescription for others to do the same since it gets deep into implementation-specific territory for each implementor.

I'm also convinced now that the value

[2022-06-10 00:24] #892 closed

[2022-06-10 00:33] shaneutt commented on #1201
I'll take care of it.

/assign

[2022-06-10 00:34] mehabhalodiya commented on #1200
@youngnick This needs to be done only in `v1beta1` or in `v1alpha2` also?
I caught 404 in `v1beta1/httproute_types.go`. Not sure, which other files to look at!

[2022-06-10 00:36] mehabhalodiya commented on #1200
I would like to take up this one.
/assign

[2022-06-10 00:37] youngnick commented on #1200
In both please, we will keep the v1alpha2 and v1beta1 in sync for this release.

[2022-06-10 00:44] robscott opened #1202 "Use CRD based RegEx validation instead of webhook where possible"
I believe this is limited to AddressType validation right now, but one of the final bits of feedback from @thockin on #1086 was that if it was possible to validate something with CRD validation, we should do that. Here's the rationale:

* If something can be done with CRD validation, it should, webhook should be last resort
* It seems unlikely that we'd frequently be adding additional address type

[2022-06-10 22:41] carlisia commented on #1157
Some notes relevant for this:

[Gateway API description | Worklogs](https://carlisia.github.io/carlisia/scrapbook/2022/gw-api-desc)

[2022-06-12 06:49] #972 closed

[2022-06-13 18:56] robscott commented on #1202
/assign

[2022-06-13 22:24] youngnick commented on #1200
We agreed that:
- If there are no matching routes, a 404 should be generated
- f there are matching routes but no/missing backends/endpoints to route to, a 500 (specifically) should be generated.

@mikemorris is going to write out a list of the different cases, and check we haven't missed anything.

[2022-06-13 23:31] robscott opened #1206 "Remove ReferencePolicy in favor of ReferenceGrant before v0.6.0 release"
We left this in place in v0.5.0 for a more seamless transition to the renamed resource. We need to remove this in v0.6.0 (x-ref #1201, #1205).

[2022-06-13 23:35] #1202 closed

[2022-06-14 17:21] dpasiukevich commented on #1200
/assign

[2022-06-14 17:49] #1105 closed

[2022-06-14 18:09] #1200 closed

[2022-06-14 21:00] robscott opened #1211 "Conflicting guidance when a HTTPRoute refers to an invalid backend"
I was trying to write an issue describing what conformance tests should look like for this, and I think.

On the HTTPBackendRef type definition we say that if the referent can't be found or is not allowed by a ReferenceGrant the BackendRef must be dropped from the Gateway. https://github.com/kubernetes-sigs/gateway-api/blob/3f4b981dd6669f67398d753a6f278b241d669953/apis/v1beta1/httproute_types.go#L

[2022-06-14 21:23] mikemorris commented on #1211
This had some prior discussion in https://github.com/kubernetes-sigs/gateway-api/pull/1081#pullrequestreview-938455345 (tl;dr Contour currently supports partial acceptance, Consul API Gateway does not currently but is open to adding support if adopted by Gateway API Spec)

While 1 initially seems simple and possibly preferable for authoring new Routes, the strongest motivation I've seen for suppor

[2022-06-14 21:48] robscott commented on #1211
+1 this is a great point.

Maybe we need some nuance in our spec (and conformance tests) that suggests the following:

- Never attach any routes that include invalid references
- If an existing reference becomes invalid in a route that already exists (ie ReferenceGrant or Service deletion) or a new invalid reference is added return a 500 for requests that would have been routed to that backend

Is

[2022-06-15 00:07] #1201 closed

[2022-06-15 00:15] #1183 closed

[2022-06-15 02:05] skriss opened #1215 "referencepolicies.yaml not included in experimental/kustomization.yaml"
https://github.com/kubernetes-sigs/gateway-api/blob/master/config/crd/experimental/kustomization.yaml does not include https://github.com/kubernetes-sigs/gateway-api/blob/master/config/crd/experimental/gateway.networking.k8s.io_referencepolicies.yaml, so when running `kubectl kustomize "github.com/kubernetes-sigs/gateway-api/config/crd/experimental?ref=v0.5.0-rc1"`, `ReferencePolicy` is not includ

[2022-06-15 16:31] #1215 closed

[2022-06-15 16:52] mikemorris commented on #1211
This has been my concern basically, that the controller/observer pattern and Kubernetes client-go API make this at best unintuitive to implement - the most direct approach I can think of would be for validation to check for an `Accepted: true` route status matching the controller/gateway, but not sure if that's potentially subject to abuse? I'd expect comparing against actual gateway state would b

[2022-06-16 00:34] youngnick commented on #1211
Using a `status` field to communicate past state like that is fiddly and unusual, yeah.

The big problems around this lie in reconstructing the state after a controller restart, when it's lost the context of what config it's seen before.

If we were going to do it, we would have to mandate that all Conditions MUST update the `observedGeneration` field with the `metadata.generation` of the object a

[2022-06-16 01:00] youngnick commented on #1042
This is held up along with the actual inclusion work until after v0.5.0, keeping unstale.

/remove-lifecycle stale

[2022-06-16 01:08] robscott commented on #1211
I think we should be careful here to allow room for controllers to store their own state if they are able to. I think in some cases that will provide the best possible experience.

I think what I'm suggesting is simpler than that. If something in status indicates that this Route is attached to the Gateway we could act differently than if the Route has not been attached to the Gateway. We already h

[2022-06-16 17:46] robscott opened #1219 "HTTPRoute Listener Hostname Matching conformance tests have invalid ParentRef expectations"
**What happened**:
Our conformance test helpers expect [exactly one ParentRef to be present in HTTPRoute status](https://github.com/kubernetes-sigs/gateway-api/blob/9e271efb321fb67708f880d3a83a00c7d4229c8f/conformance/utils/kubernetes/helpers.go#L113-L144). That was true until we added a test case [with 2 parent refs](https://github.com/kubernetes-sigs/gateway-api/blob/9e271efb321fb67708f880d3a83a

[2022-06-16 17:57] mikemorris commented on #1211
Instead of checking past status, could it be plausible to just check for invalid references in an admission webhook? It's a bit more work than a [similar approach for preventing gateway listener conflicts](https://github.com/kubernetes-sigs/gateway-api/discussions/1218#discussioncomment-2959571) due to checking for the existence of referenced objects beyond the applied config, and does have the mo

[2022-06-16 18:50] spencerhance commented on #1219
Volunteering myself

[2022-06-16 20:00] briantkennedy opened #1220 "ParentReference.Namespace has unnecessary pointer to string."
https://github.com/kubernetes-sigs/gateway-api/blob/master/apis/v1beta1/shared_types.go#L48

Given that the zero value in Go for a string type is empty string, there's no need for ParentReference.Namespace to be of type `*string`, rather, `string` would have the same interface with a simpler implementation.

[2022-06-16 22:26] howardjohn commented on #1211
IMO, doing it in a webhook is the wrong approach. Its _possible_, but it makes operations a huge pain to have cross-resource checking. Sorry to give a negative opinion without an alternative -- still trying to think it over..

[2022-06-16 23:06] lavalamp commented on #1211
Originally the "only reproducible things in status" rule was because we thought status might eventually have less durability than spec. That is absolutely not how anything ended up, that's not ever going to be a thing.

Nowadays, if you want to store some state in status, I'd say, knock yourself out. But it means you have to be very very careful in your controller to not accidentally mangle someth

[2022-06-21 00:02] youngnick commented on #1211
I think that *whatever* we end up doing, we should mandate the use of observedGeneration in all Conditions, and enforce it with conformance. It's optional in the type itself, (I suspect for back-compat reasons), but I think that Conditions are way more racy without it.

As I said earlier, I agree that the outcome is probably worth the risks of doing it, we'll just need to be careful in the design

[2022-06-21 00:15] youngnick commented on #1112
I like this idea.

[2022-06-21 00:17] youngnick commented on #1157
I definitely think that our existing docs could use some updates, along the lines of what I said in those notes.

[2022-06-21 00:23] youngnick commented on #1180
I can't find any good examples in a quick scan, but even just doing the obvious stuff is an improvement (no more than one consecutive dot allowed in paths and setting a maximum path length to prevent overflows).

Total path length varies depending on OS, but 4096 chars is reasonably common, and probably a good default. Filename length is 255 chars on most Unix-y OSes, so that will do there too.

[2022-06-21 18:43] spencerhance commented on #1219
thanks @shaneutt ! - usually prow won't let me assign myself 🤷

[2022-06-21 19:08] shaneutt commented on #1220
This is commonly done for reasons of encoding to JSON/YAML. Note the `// +optional` comment above and the `json:"namespace,omitempty"` declaration to the right: making this a pointer causes YAML encoding to omit the field entirely from the final encoding, so the value of this is to avoid having fields with empty strings in YAML, e.g.:

[code]

becomes

[code]

Besides any aesthetic preferences, th

[2022-06-21 19:13] briantkennedy commented on #1220
@robscott does this mean conformance tests should expect an error if a user provides `namespace: ""` for this field?

[2022-06-21 19:19] robscott commented on #1220
The [namespace validation included in the CRDs](https://github.com/kubernetes-sigs/gateway-api/blob/master/apis/v1beta1/shared_types.go#L413) should prevent empty string from being a valid input. I think the options are effectively nil or a 1+ character string. We should probably update the docstring to more clearly state that. With all of that said, CRD validation can be bypassed, so handling the

[2022-06-21 19:24] briantkennedy commented on #1220
So if we want to handle `nil` and `""` as equivalent, why not have a `string` value with `"omitempty"` instead of the `*string` and reduce the number of cases that alias the same thing?

[2022-06-21 19:34] briantkennedy commented on #1220
Actually, taking a step back from my previous comment, I think our conversation is going something like this:

@briantkennedy : Our docs say nil / "" do the same thing, let's turn two cases into one.
@shaneutt : No, "" shouldn't be allowed as a namespace value, let's not do that.
@robscott : We have to handle "", it should do the same thing for both values.

To me, it sounds like @shaneutt and @ro

[2022-06-21 19:36] robscott commented on #1220
I'd agree that would work and potentially be cleaner for implementations, but it unfortunately makes our [CRD validation](https://github.com/kubernetes-sigs/gateway-api/blob/9e271efb321fb67708f880d3a83a00c7d4229c8f/apis/v1beta1/shared_types.go#L410-L413) logic/type definitions messier. Essentially right now we've got a shared set of types, like Namespace that have validation centrally defined. If

[2022-06-21 20:06] shaneutt commented on #1219
np, thanks for grabbing this one :)

[2022-06-21 21:40] briantkennedy commented on #1220
So, to back up a bit, what's the behavior we want for this field when given empty string?  It sounds like you're both saying the API should treat empty string as an error since the user isn't supposed to express intent for a namespace with name empty string, is that correct?

[2022-06-21 21:56] shaneutt commented on #1220
Right, this resonates with me.

[2022-06-21 23:15] rainest commented on #1211
Invalid references that require cross-object checks (which ReferenceGrant-allowed backends would need) are tricky. The Listener one is nice and clean because it's possible to answer given a Gateway only.

From my default stance of assuming that users will apply broken configuration given the means to, I'd lean towards 2 with caveats. Currently, both expose clients to failures they cannot address;

[2022-06-22 05:29] youngnick commented on #1220
Yes, I think that it's correct to say that the value shouldn't be an empty string, that is an error. That error won't usually be encountered unless someone bypasses CRD validation, but it needs to be handled without crashing.

Given all that, we get back to the original question: Should this be a pointer? In this case, it doesn't *need* to be, because the difference between the empty string and a

[2022-06-22 11:14] mbinette opened #1222 "Services to Endpoints don't work"
I have setup a Gateway using gatewayClassname of gke-l7-gxlb. I have setup HTTPRoutes to backend services that all work fine as long as the backendRefs Service is going to a Pod. But when the Service goes to an Endpoint, it fails.

**What happened**
When you go to the configured URL you get a 502 error. It never hits the backend Endpoint.

**How to reproduce/description**
If the backendRefs Servic

[2022-06-22 20:58] shaneutt commented on #1220
Yep that tracks.

[2022-06-23 14:50] skriss opened #1225 "clarify behavior of multiple query param matches for the same key"
The spec does not indicate what should be done if a route ~rule~ match has multiple query param matches for the same key.

For header matches, guidance is given to use the first match for a given header name, and to ignore subsequent ones for the same name (see https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.HTTPHeaderMatch).

I'd suggest adding the sam

[2022-06-23 16:46] shaneutt commented on #1225
So basically today we say that `[]HTTPHeaderMatch` and `[]HTTPQueryParamMatch` are logically treated as AND operated lists, but with the caveat that multiple `HTTPHeaderMatch` entries with the same name have the ability to "overload" themselves to enable an OR on their values. Your suggestion that we should also prescribe the same for params makes sense to me, but I am left thinking that overall t

[2022-06-23 17:31] skriss commented on #1225
@shaneutt thanks for the comments!

This is not my understanding -- the spec says "If multiple entries specify equivalent header names, only the first entry with an equivalent name MUST be considered for a match. Subsequent entries with an equivalent header name MUST be ignored. Due to the case-insensitivity of header names, “foo” and “Foo” are considered equivalent." (see `name` field doc under h

[2022-06-23 18:20] shaneutt commented on #1225
You know now that you mention it, I think I've been historically confused about this bit. After doing some re-reading I think what we're suggesting is that when there are multiples you "must only consider the first entry with name X, and all others are ignored". As written that seems to mean that duplicates are allowed, but entirely pointless, but we still expect downstream to handle that in their

[2022-06-23 20:49] skriss commented on #1225
Yeah, I think it makes sense to add logic to the webhook for this since as you say, duplicates are pointless, though as an implementor I'd still want clear guidance on what to do if duplicates _do_ make it to my implementation. I'm fine with the "use the first, ignore the rest" guidance for now. It sounds like you are in agreement that whatever we do for header matches, probably makes sense to do

[2022-06-24 02:07] shaneutt commented on #1225
Yeah, I'm with you on that :+1:

[2022-06-27 04:00] youngnick commented on #1225
I agree that we should both have the webhook validation try to stop duplicate matches for either header or query params, and that we should have the behavior in case something makes it through that all but the first must be ignored.

[2022-06-27 04:03] youngnick commented on #973
/remove-lifecycle stale

The remaining action here is a some guidance to API designers (ie, us), that we should use a field like AllowedRoutes where we control the spec on both sides of the two-way handshake, and ReferencePolicy where we don't.

[2022-06-27 04:13] youngnick commented on #1211
This exact problem is one of the reasons I've been more in favor of the more brutal, "break things if the config says to" approach. If we do what you say above, we're guessing that the only reason you'd ever do this is because it's a mistake, and so we're put in the position of assuming what people intend when configuring resources in a way that's not specified in the API.

To put it another way,

[2022-06-27 05:07] robscott commented on #1225
+1 on consensus here, added to v0.5.0 milestone, appreciate if anyone has time to pick this one up in next day or two.

[2022-06-27 05:24] robscott opened #1229 "Documentation needs to be updated as part of v0.5.0 release"
I think at a minimum this requires the following changes, these can be combined or split up as needed, comment on whichever ones you can take on:

- [x] _completed by @EmilyShepherd:_ Add v1beta1 examples
  * Copy https://github.com/kubernetes-sigs/gateway-api/tree/master/examples/v1alpha2 into a new v1beta1 directory, ensure all new files use v1beta1 API group
  * Copy https://github.com/kubernet

[2022-06-27 07:34] kundan2707 commented on #1060
/remove-lifecycle stale

[2022-06-27 15:25] skriss commented on #1225
I should be able to knock this out.

[2022-06-27 15:51] shaneutt commented on #1225
/assign @skriss

[2022-06-27 21:59] EmilyShepherd commented on #1211
I prefer (2) because I feel like, given an invalid configuration, we may not know what the user wanted, but we may be able to determine want they _didn't_ want.

Say we have setup one rule to route / to a valid backend (A) and another rule to route /foo to an invalid backend (B).

When deciding how to handle this, we don't know if /foo was indeed meant to go to B but the user forgot to set up the

[2022-06-27 22:03] howardjohn commented on #1211
+1 to 5xx on invalid backend

[2022-06-27 22:15] youngnick commented on #1211
We discussed this in the community meeting, and feel that we've reached consensus on option 2 from the opening comment. I'll take the action to make a PR to update the spec to try and make this clearer, that invalid backends must create proportional 500s.

/assign

[2022-06-27 22:38] keithmattix commented on #1229
I'm willing to help out as well!

[2022-06-27 23:31] robscott commented on #1229
Awesome, thanks @EmilyShepherd and @keithmattix! Just comment whichever item(s) you want to start with.

[2022-06-27 23:37] keithmattix commented on #1229
I'll start off with a PR for calling out items in the experimental channel

[2022-06-27 23:50] keithmattix commented on #1229
FYI @robscott the instructions on the [getting started](https://github.com/kubernetes-sigs/gateway-api/blob/master/site-src/v1alpha2/guides/getting-started.md#install-the-crds) for installing the CRDs also needs to be updated to reflect the new channel structure. I couldn't find another issue tracking that, so I'm commenting here

[2022-06-27 23:55] robscott commented on #1229
Thanks @keithmattix! Added a bullet to track that. That's one update we try to keep as close to cutting the release as possible.

[2022-06-27 23:57] #1000 closed

[2022-06-28 00:02] shaneutt commented on #1060
Hey @kundan2707 :wave: just wanted to check if there was some new context on this one?

[2022-06-28 09:54] EmilyShepherd commented on #1229
I'll start working on switching over examples and references to `v1beta1` (items 1 and 2) :slightly_smiling_face:

[2022-06-28 15:56] skriss commented on #1102
I can take on tests for query param and method matching (@robscott note that query param should move under "Extended" conformance per https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.HTTPQueryParamMatch).

Has a pattern been discussed for separating extended-conformance tests from core conformance ones? Is it intended to use the `SupportedFeatures` field

[2022-06-28 17:39] shaneutt commented on #1195
We're getting some help (right now) from contribex to get the branch renaming and netlify configuration completed, then we should be unblocked.

[2022-06-28 17:53] #1195 closed

[2022-06-29 12:22] lobkovilya opened #1240 "Conflict resolution should rely only on resource naming"
**What would you like to be added**:

Change [conflict resolution](https://gateway-api.sigs.k8s.io/v1alpha2/references/policy-attachment/#conflict-resolution) rules to use **only** alphabetical order of "{namespace}/{name}". Stop using conflict resolution by "creationTimestamp".

**Why this is needed**:

Conflict resolution by "creationTimestamp" has a couple of problems:
1. In case of auto-syncin

[2022-06-29 15:06] howardjohn commented on #1240
And this level of the conflict resolution should be last resort  and always represents a misconfiguration by the user

[2022-06-29 15:57] lahabana commented on #1240
If it's possible at all don't you think that it's likely a user would end up relying on this behavior?
Should duplicates be rejected instead of relying on non deterministic ordering?

I guess this check at the admission webhook level is annoying and that's the reason why it's that way?

[2022-06-29 15:59] howardjohn commented on #1240
Its hard/not recommend to have cross resource validation (for many of the reasons mentioned in the initial description, actually). There can still be status messages warning though

[2022-06-29 16:46] #1225 closed

[2022-06-29 21:02] howardjohn opened #1242 "conformance: make all assertions in WaitForConsistency"
Currently WaitForConsistency does a few loops asserting 200s, then proceeds to the test. This is leading to flaky tests for us. For example in HTTPRouteSimpleSameNamespace; we get a 200 but are going to the wrong pod (from previous config).

I would expect that all assertions are in the retry loop

[2022-06-30 04:50] youngnick commented on #1211
Okay, I've prepared a PR that changes the spec as follows:
- Reasons for an *individual* BackendRef to be invalid are included in the HTTPBackendRef struct docs ( the BackendRef) field.
- Rules for handling invalid BackendRefs are in the BackendRefs field of the HTTPRouteRule struct.

This answers the specific query of this issue, but has flow-on effects to #1112, since as long as there as one Bac

[2022-07-01 03:39] youngnick commented on #1240
Yes, it's absolutely intended that the "first created" rule is a last resort for if there's a configuration error. Any conflict resolved by this method should also generate Conditions in the status that warn about what happened and why, so that the conflict can be removed as quickly as possible.

To put this another way, I'd argue that the problems you mention should be solved in different places:

[2022-07-01 19:03] robscott commented on #1102
Thanks @skriss! I've moved query param matching into extended. I think right now our best approach is to have any extended feature gated by the "SupportedFeatures" option, but open to other ideas.

[2022-07-01 20:07] robscott commented on #1229
Closing this out as everything has either been merged or is ready to merge.

[2022-07-01 23:31] howardjohn commented on #1242
/assign

[2022-07-02 13:43] #554 closed

[2022-07-03 13:53] EmilyShepherd commented on #1229
Do you still need a note on the docs RE how to install the experimental channel CRDs?

[2022-07-05 01:32] youngnick opened #1250 "conformance: Conformance tests need a way to test that a percentage of requests succeed or fail"
**What would you like to be added**:
In #1243, I added some conformance testing around new BackendRef tests, but one case we couldn't catch is the following:
- There are two backendRefs in the HTTPRoute backendRef list, with equal weights
- One is invalid
- Half of the requests sent through the implementation must get a 500.

**Why this is needed**:
Part of the spec is weighted load balancing, hav

[2022-07-05 16:37] mikemorris commented on #1250
This definitely feels like it would be flaky to test - would using filters to direct 100% of traffic to each of a valid and invalid backend for the same route be a viable alternative to this?

[2022-07-07 05:02] youngnick commented on #1062
/remove-lifecycle stale

[2022-07-07 05:25] youngnick commented on #1250
Well, in the spec for backendRef, the above behavior is mandated (that is, if there are multiple backends, and one is invalid, then the invalid one should instead produce an equivalent percentage of 500 errors), so ideally we should have a way to test implementations do that in conformance.

That's why I put a target percentage value, and some wiggle room (maybe 50% plus minus 5% or something for

[2022-07-07 08:27] tomkerkhove commented on #554
Thanks for the update.

I strongly believe Gateway API is more than service meshes and this is a common misconception but I will jump to that thread and see what gives because in the end if it's purely focussing on Service Meshes then SMI already covered that.

[2022-07-07 14:56] shaneutt commented on #1229
If we don't have a note somewhere on this, then I would vote yes we should add this.

[2022-07-07 16:22] robscott commented on #1242
/area conformance

[2022-07-07 19:39] EmilyShepherd commented on #1229
Happy to write something this evening :smile:

You already have some general documentation about the [release channels](https://gateway-api.sigs.k8s.io/concepts/versioning/#release-channels-eg-experimental-standard) so I'm hoping that this change doesn't actually need to be too complex - I was thinking referencing that and explaining which crd file is needed for each channel would be appropriate.

[2022-07-08 03:35] youngnick commented on #554
I one thousand percent agree that Gateway API is more than service meshes, but I'm supportive of the new WG because the core API has so many todos already that we're not going to have bandwidth to properly address service mesh use cases for some time. Having a WG that works on the service mesh problems and how to _integrate_ the work SMI has already done with Gateway API and report back will be su

[2022-07-08 03:36] youngnick commented on #1250
I agree that we should create another issue for the test Mike described.

[2022-07-08 19:12] mikemorris commented on #1250
Well, looking at [HTTPRouteFilter](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.HTTPRouteFilter) it appears the functionality I was envisioning doesn't really exist (so I'm not opening an issue to test it hah) - [HTTPRequestMirrorFilter](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io/v1alpha2.HTTPRequestMirrorFilt

[2022-07-11 01:01] #1007 closed

[2022-07-11 17:03] #1242 closed, assigned to howardjohn

[2022-07-11 17:33] robscott opened #1256 "Add non-blocking presubmit that shows diffs between v1beta1 and v1alpha2 types"
Now that we have both v1alpha2 and v1beta1 types, it's going to take some extra effort to keep these in sync. One potential approach for that would be to add a non-blocking presubmit that shows the diffs between v1beta1 and v1alpha2 types. We'd probably want this to just diff the files that exist in both v1alpha2 and v1beta1 directories. Although I don't think we could make this blocking, just hav

[2022-07-12 05:02] #1014 closed

[2022-07-12 17:16] #1211 closed

[2022-07-12 22:56] skriss opened #1261 "v0.5.0-rc2 webhook image tag is `latest`"
**What happened**:
Installed the v0.5.0-rc2 webhook, noticed the image tag is set to `latest`.

**What you expected to happen**:
I expected a versioned image tag, like v0.4.3 had (https://github.com/kubernetes-sigs/gateway-api/blob/v0.4.3/deploy/admission_webhook.yaml#L71)

**How to reproduce it (as minimally and precisely as possible)**:
Install https://github.com/kubernetes-sigs/gateway-api/blob

[2022-07-13 16:57] robscott commented on #1261
Thanks for catching this @skriss! We'll make sure this is fixed as part of the v0.5.0 release.

[2022-07-13 17:15] #1261 closed

[2022-07-13 17:58] shaneutt opened #1267 "Automated Releases"
**What would you like to be added**:

Automated release creation.

**Why this is needed**:

It's nice to have and it might encourage us to release more often.

**Details**:

Ideally we would create a (github?) workflow which automates creating a Github release for us with the following criteria:

1. if using Github actions, has `workflow_dispatch:` property to allow manual triggering with paramete

[2022-07-13 18:35] robscott commented on #1229
No worries @EmilyShepherd, thanks for all the help with the rest of this!

[2022-07-13 18:35] #1229 closed

[2022-07-14 04:30] robscott commented on #1058
/remove-lifecycle stale
/lifecycle frozen

[2022-07-14 04:44] youngnick commented on #1267
One thousand percent agreed, the more we can head towards this goal, the better.

[2022-07-14 15:25] shaneutt commented on #1184
Now resolved as of https://github.com/kubernetes/website/pull/34968 and https://github.com/kubernetes-sigs/gateway-api/pull/1263

[2022-07-14 15:25] #1184 closed

[2022-07-15 00:41] youngnick commented on #826
/remove-lifecycle rotten
/lifecycle frozen

This is still a reasonably good first issue, as described in Rob's initial comment.

[2022-07-15 00:42] youngnick commented on #1098
/remove-lifecycle stale

Waiting for the inital cut of GRPCRoute to be implemented in #1115.

[2022-07-19 18:33] pleshakov opened #1271 "Document the edge case with repeated query params"
**What would you like to be added**:

Extend the documentation of the Name field of the HTTPQueryParamMatch to describe the edge case of having repeated query params with the same name in the query string of a request. For example, `?a=1&a=2`.

**Why this is needed**:

This is needed to
* Ensure compatibility across Gateway implementations.
* To prevent users from relying on implementation-specifi

[2022-07-19 21:47] robscott opened #1272 "Conformance Test Name Generation is Flawed"
**What happened**:
The test names for HTTP Header Matching in particular are not very helpful. For example, here's the output from one test run:

[code]

**What you expected to happen**:
Test names to make sense.

**How to reproduce it (as minimally and precisely as possible)**:
Run conformance tests.

**Anything else we need to know?**:
I think there are at least two fundamental problems here:

1

[2022-07-19 23:44] robscott opened #1273 "Conformance: Add option to run tests against experimental CRDs"
With the recent v0.5.0 release, some conformance tests now depend on a resource that is only available in the experimental channel (ReferenceGrant). To improve this experience we should:

1. Add a new "MinChannel" string option to [Suite](https://github.com/kubernetes-sigs/gateway-api/blob/9537337d838cfebe3775c51be83c486a127c0d88/conformance/utils/suite/suite.go#L69) that defaults to "standard"
1.

[2022-07-19 23:51] robscott opened #1274 "Add documentation covering conformance tests"
**What would you like to be added**:
Documentation that covers that provides an overview of our conformance tests as well as how to run them and add new ones.

**Why this is needed**:
Conformance tests are key to the success of this API, ensuring that different implementations provide a consistent experience. Unfortunately today we have no documentation covering conformance tests (unless you count

[2022-07-20 12:48] masus04 opened #1275 "ManagedCertificate not found using `networking.gke.io/pre-shared-certs` option"
**What happened**:
According to the [Deploying Gateways](https://cloud.google.com/kubernetes-engine/docs/how-to/deploying-gateways#tls_between_client_and_gateway) post, I've been trying to deploy a Gateway to a GKE cluster using an existing `ManagedCertificate`.

I have used the `ManagedCertificate` with an `Ingress` before, so I assume it is configured correctly.

I then tried to reference it in

[2022-07-20 17:17] robscott commented on #1275
Hey @masus04, unfortunately we can't provide support for specific implementations on this repo. Please send this bug report in addition to your project number to gke-gateway-feedback@google.com and someone should be able to help you with this.

/close

[2022-07-20 17:18] #1275 closed

[2022-07-21 04:15] robscott commented on #1272
/assign @abhijit-dev82

[2022-07-21 06:36] youngnick commented on #1274
Definite +1 from me. I'd probably say there's a follow-up once we've done this - to provide a way for implementations to do something to prove what version and tests they're conformant to. Not urgent, but feels like we need some way to reward implementations for doing the work to be, and prove they are, conformant.

[2022-07-21 07:43] masus04 commented on #205
Any progress on this? Seems like an essential feature.

[2022-07-21 18:02] shaneutt commented on #205
There's been no progress that I'm personally aware of. If you have a strong interest and use case it might be worth joining the monday night community meeting and bringing this one up for discussion :thinking:

[2022-07-21 21:31] shaneutt commented on #56
While grooming we saw that this one was open for about 2 years without anyone with a strong use case to champion it. We're going to close this as we don't expect anyone's ready to drive it forward, but if you still want this feature and have a strong use case we will be happy to reconsider this and re-open.

[2022-07-21 21:31] #56 closed

[2022-07-21 21:39] shaneutt commented on #91
Despite this issue being quite old, we the maintainers are still pretty convinced that we want to have this functionality in a future release. We are marking this `help wanted` as we're looking for contributors with strong use cases to help champion and drive this forward.

[2022-07-21 21:41] shaneutt commented on #102
This is covered by #1058, closing as duplicate :+1:

[2022-07-21 21:41] #102 closed

[2022-07-21 21:49] shaneutt commented on #118
There's nothing in the API that prevents dual stack from working today: anywhere an address can be specified you can use v4 or v6 (and addresses are always lists), so we're going to close this as resolved for the time being. Please comment here and we can re-open this (or open a new issue) if any problems are found in the future.

As an aside: @robscott had suggested in the future we may want to a

[2022-07-21 21:49] #118 closed

[2022-07-21 21:51] shaneutt commented on #205
So as it turns out, there's some discussion about this going on in #1244. I'm going to mark this as `help wanted` as we need an owner to drive this forward (hopefully as a direct result of that discussion).

[2022-07-21 21:59] shaneutt commented on #223
Despite this issue being quite old, we the maintainers are still pretty convinced that we want to have this functionality in a future release. We are marking this `help wanted` as we're looking for contributors with strong use cases to help champion and drive this forward.

[2022-07-21 22:03] shaneutt commented on #262
While grooming we saw that this one was open for a long period of time without anyone with a strong use case to champion it. We're going to close this as we don't expect anyone's ready to drive it forward, but if you still want this feature and have a strong use case we will be happy to reconsider this and re-open.

[2022-07-21 22:03] #262 closed

[2022-07-21 22:09] shaneutt commented on #306
While grooming we saw that this one was open for a long period of time without anyone with a strong use case to champion it. We do expect that at some point downstreams may implement their own custom filters and we would invite you to present such implementations here to be considered for adding upstream. For the time being however, we're going to close this as we don't expect anyone's ready to dr

[2022-07-21 22:09] #306 closed

[2022-07-21 22:15] shaneutt commented on #326
Despite this issue being quite old, we the maintainers are still pretty convinced that we want to have this functionality in a future release. We are marking this `help wanted` as we're looking for contributors with strong use cases to help champion and drive this forward.

One important note: the original issue referred to the `Ingress` API which may be confusing, but we do indeed intend this for

[2022-07-21 22:17] robscott commented on #346
This was fixed by https://github.com/kubernetes-sigs/gateway-api/pull/428

[2022-07-21 22:17] #346 closed

[2022-07-21 22:17] shaneutt commented on #401
Despite this issue being quite old, we the maintainers are still pretty convinced that we want to have this functionality in a future release. We are marking this `help wanted` as we're looking for contributors with strong use cases to help champion and drive this forward.

[2022-07-21 22:29] youngnick commented on #433
So, we currently have no Extended support protocol types, but this issue serves to record that it's fine for implementations to bring Custom support protocol types upstream to us, and we'll consider moving them to Extended support.

This will be subject to the usual Extended support rules:
- the exact value will be specified
- there has to be conformance tests that validate how it works, if an imp

[2022-07-21 22:29] #433 closed

[2022-07-21 23:03] keithmattix commented on #326
For the mesh/GAMMA use-case, we'll probably be looking at [Policy Attachment](https://gateway-api.sigs.k8s.io/v1alpha2/references/policy-attachment/) as a way of providing this since each implementation's rate-limiting feature is rarely the same.

[2022-07-22 05:23] abhijit-dev82 commented on #1272
@robscott In the Request, we have Method string, can we use that field to specify a "test case name" and if not present it will generate the name as done now.

[2022-07-23 00:02] robscott commented on #1272
Hey @abhijit-dev82, I think that's largely correct, but just want to clarify things:

If a request is just to "/" we probably shouldn't include a "/" at all, maybe:

[code]

If a request is to "/foo" or some other non-root path, maybe it should look like this:

[code]

I'm not sure if wrapping the path with single quotes like that is actually possible, so open to alternatives if not.

Finally, if

[2022-07-25 17:39] abhijit-dev82 commented on #1272
ok got it, thank you Rob

[2022-07-25 21:56] hbagdi commented on #1141
[Filters](https://cs.github.com/kubernetes-sigs/gateway-api/blob/30f2983e9f01368adff82772c4d9178fcdb26344/apis/v1beta1/httproute_types.go?q=Filters+language%3AGo#L530) on HTTPRoute were meant to solve exactly this class of problem and I think we should explore that approach a bit more before additions to the core API.

A feature requests to specific implementation to add a custom filter to support

[2022-07-26 00:38] youngnick opened #1282 "GEP: Describe Backend Properties"
**What would you like to be added**:

As people have started implementing Gateway API, some functionality has come up that:
- is tightly bound to the backend (which is usually a Service)
- Can't easily be added to the Service resource

But that we need a way to represent in the API.

The first examples that came up are:
- TLS details for (re)encryption between the Gateway and the backend. That is,

[2022-07-26 00:39] youngnick commented on #1282
/kind gep

[2022-07-26 07:04] youngnick commented on #1282
Okay, I've started something rough in https://docs.google.com/document/d/1M8EPrZKuhYsQjHnVrdsBxU8mVPKUWUYLXW9qE_Et9-Y/edit?usp=sharing .

Remember that we're working first on a "what" and a "why", not on a "how" yet. Let's do a Provisional GEP agreeing on those things, then we can move to the "how".

[2022-07-26 18:17] paulohgontijoo commented on #1273
/assign @paulohgontijoo

[2022-07-26 18:49] mikemorris commented on #1282
One interesting twist here is that for mesh cases it may be preferable for the TLS identity to be assigned by a mesh controller rather than specified manually (but maybe possible to override?) which could suggest a status field for exposing this to consumers.

[2022-07-27 00:57] evankanderson commented on #1282
Would it be reasonable for the mesh to fill in the TLS details in the ServiceMetadata? Perhaps a spec/status split where the mesh could fill in the status if the cert was not specified in spec.

[2022-07-27 00:59] howardjohn commented on #1282
I mentioned this elsewhere but IMO application TLS and mesh encryption (which is not always tls...) should be kept entirely separated

[2022-07-27 21:23] robscott opened #1287 "Conformance Tests Should Support Configurable Timeouts"
When running conformance tests, it can be helpful to adjust timeouts to understand what is causing a test failure. As part of making conformance tests configurable, we should also document any maximum timeouts that are acceptable for a conformant implementation.

[2022-07-28 17:35] evankanderson commented on #91
I think this is related to https://github.com/kubernetes-sigs/gateway-api/discussions/1244 and therefore GEP https://github.com/kubernetes-sigs/gateway-api/issues/1282 might be relevant / close the loop here.

[2022-07-28 18:05] evankanderson commented on #91
It's likely this may block future Knative adoption of Gateway API until it's resolved -- we're moving to re-encrypt traffic from the ingress between our components to the user's pod.

[2022-07-29 05:54] abhijit-dev82 commented on #826
/assign

[2022-07-29 09:13] abhijit-dev82 commented on #1287
HI Rob,

Can this be achieved by adding a new"TimeOut" Field to struct  ConformanceTest and then use the same in the below functions or default value if not provided in the test case.

- kubernetes.GatewayStatusMustHaveListeners()
- awaitConvergence()

[2022-07-29 15:26] bowei commented on #1287
My $0.02 is that all the timeouts should be pulled out to a struct and we document what is expected for a conformant implementation.

This allows implementations that need tuning to do it easily without having to modify the mainline test code.

[2022-07-29 17:03] robscott commented on #1287
Hey @abhijit-dev82, thanks for asking about this! I had actually been chatting with @wstcliyu about this yesterday and they had volunteered to work on this, but we missed commenting here to track that.

/assign @wstcliyu

[2022-07-29 17:06] wstcliyu commented on #1287
/assign

[2022-08-01 10:48] youngnick commented on #91
It's related in that it's TLS, but this is for client certificate verification on the Listener, so on the connection from the client to the "outside" of the Gateway. #1244 and #1282 are both about the connection from the Gateway to the backend, "inside" the Gateway. (The descriptions are in quotes because they're not always the case, there's more to it than that, etc).

[2022-08-01 10:50] youngnick commented on #1282
I think that having a space in the status of resources to put generated TLS details makes some sense, but I think that we need to resolve the confusion about what we're putting in spec first, when you _do_ want to request. Then, any status info can be added to that same resource.

[2022-08-01 21:43] robscott commented on #851
Reopening because we need conformance test coverage for this.

[2022-08-02 15:49] robscott commented on #1016
Reopening this issue to track adding the following:

- Conformance Tests
- Documentation

[2022-08-02 16:44] robscott commented on #713
Reopening this to track stability of this feature and eventual graduation to standard channel.

[2022-08-02 17:53] robscott commented on #1143
/remove-lifecycle stale
/lifecycle frozen

[2022-08-02 18:32] keithmattix opened #1291 "GEP: Mesh Representation"
**What would you like to be added**:
As the GAMMA initiative seeks to create a model for service mesh implementations within Gateway API, it is necessary to have a mechanism for representing a [mesh](https://docs.google.com/document/d/1T_DtMQoq2tccLAtJTpo3c0ohjm25vRS35MsestSL9QU/edit#heading=h.fv9zxi8pjsiq) (follow link for definition) using the Gateway API.

This GEP covers the work to design and

[2022-08-02 18:34] keithmattix commented on #1291
/kind gep

[2022-08-02 18:34] keithmattix commented on #1291
/area mesh

[2022-08-03 06:13] #1272 closed

[2022-08-03 06:17] youngnick commented on #1008
/remove-lifecycle stale

[2022-08-03 21:18] skriss commented on #1102
Circling back here, @robscott you can mark query param matching as done, and I'll try to get to method matching soon.

Would be great if someone else wanted to pick up the combination tests!

[2022-08-03 21:37] robscott commented on #1102
Updated, thanks @skriss!

[2022-08-04 00:47] youngnick commented on #627
/good-first-issue

Outstanding work here is to update our webhook admission build to some other architectures, `linux/arm64` for certain, and to make sure we can add more if needed.

[2022-08-04 00:48] youngnick commented on #1008
This is due for a revisit before v0.6.0, at least to see if there's anything available to try out yet.

[2022-08-04 00:49] youngnick commented on #1005
I've updated the outstanding issues, I think they can probably be dealt with separately. Closing this one out.

/close

[2022-08-04 00:49] #1005 closed

[2022-08-04 01:21] keithmattix opened #1294 "GEP: Mesh Service Binding"
**What would you like to be added**:
As the GAMMA initiative seeks to create a model for service [mesh](https://docs.google.com/document/d/1T_DtMQoq2tccLAtJTpo3c0ohjm25vRS35MsestSL9QU/edit#heading=h.fv9zxi8pjsiq) implementations within Gateway API, it is necessary to have a mechanism for [binding](https://docs.google.com/document/d/1T_DtMQoq2tccLAtJTpo3c0ohjm25vRS35MsestSL9QU/edit#heading=h.qerd5n

[2022-08-04 01:21] keithmattix commented on #1294
/kind gep
/area mesh

[2022-08-04 15:51] howardjohn opened #1295 "conformance: support non-amd64 architectures"
Similar to https://github.com/kubernetes-sigs/gateway-api/issues/627, we should publish all images used in conformance tests with multi-arch support.

One thing that confused me is @mikemorris seemed to suggest we picked the image we use because it supports arm64: https://github.com/kubernetes/kubernetes/issues/110605#issuecomment-1168908764. However, I do not see the same:

[code]

[2022-08-04 15:51] howardjohn commented on #1295
I think the source is https://github.com/kubernetes-sigs/ingress-controller-conformance/tree/master/images/echoserver - It should be easy to change and I am happy to do it, just not sure how to actually get it published

[2022-08-04 16:24] howardjohn commented on #1295
/assign @howardjohn

I'll need help getting it published officially though

[2022-08-04 21:17] shaneutt commented on #450
While grooming we saw that this one was open for a long period of time without anyone with a strong use case to champion it. We're going to close this as we don't expect anyone's ready to drive it forward, but if you still want this feature and have a strong use case we will be happy to reconsider this and re-open.

[2022-08-04 21:17] #450 closed

[2022-08-04 21:18] shaneutt commented on #451
While grooming we saw that this one was open for a long period of time without anyone with a strong use case to champion it. We're going to close this as we don't expect anyone's ready to drive it forward, but if you still want this feature and have a strong use case we will be happy to reconsider this and re-open.

[2022-08-04 21:18] #451 closed

[2022-08-04 21:21] shaneutt commented on #455
`ReferenceGrant` gets us something close to what appeared to be the original intention here, as it allows cross-namespace certificate references. For now we're going to close this as we don't expect anyone's ready to drive it forward, but if you still want this feature and have a strong use case we will be happy to reconsider this and re-open.

[2022-08-04 21:21] #455 closed

[2022-08-04 21:33] shaneutt commented on #480
It seems reasonable that there would be situations where you would have multiple verbs acting on the same header. For instance, a user might use `Set` followed by `Add` to erase any values previously associated with a header, and then add another value on top of that. We are marking this `help wanted` as we're looking for contributors with strong use cases to help champion and drive this forward.

[2022-08-04 21:36] shaneutt commented on #482
Despite this issue being quite old, we the maintainers are still pretty convinced that we want to have this functionality in a future release. This could be particularly useful for conformance test targeting, as well as generally useful for end-users. We are marking this `help wanted` as we're looking for contributors with strong use cases to help champion and drive this forward.

[2022-08-04 21:41] shaneutt commented on #491
While grooming we saw that this one was open for a long period of time without anyone with a strong use case to champion it. We're going to close this as we don't expect anyone's ready to drive it forward, but if you still want this feature and have a strong use case we will be happy to reconsider this and re-open.

[2022-08-04 21:41] #491 closed

[2022-08-04 21:45] shaneutt commented on #529
While grooming we saw that this one was open for a long period of time without anyone with a strong use case to champion it. We're going to close this as we don't expect anyone's ready to drive it forward, but if you still want this feature and have a strong use case we will be happy to reconsider this and re-open.

[2022-08-04 21:45] #529 closed

[2022-08-04 22:41] robscott commented on #567
I think our best solution here would be to provide implementations with a pattern they can follow if they want to support single-namespace deployments. For example, implementations could provide a flag to indicate that they should only watch resources within the namespace they are deployed along with a flag to indicate which the class name they should implement. This class name should not overlap

[2022-08-05 13:43] #1287 closed

[2022-08-05 13:51] shaneutt commented on #586
While grooming this one it appears we're just at a point where this is a nice to have, but it's not easy to implement. We're going to close this as we don't expect anyone's ready to drive it forward, but if you still want this feature and have a strong use case we will be happy to reconsider this and re-open.

[2022-08-05 13:51] #586 closed

[2022-08-05 13:52] shaneutt commented on #588
While grooming we saw that this one was open for a long period of time without anyone with a strong use case to champion it. We're going to close this as we don't expect anyone's ready to drive it forward, but if you still want this feature and have a strong use case we will be happy to reconsider this and re-open.

[2022-08-05 13:52] #588 closed

[2022-08-05 13:52] shaneutt commented on #599
While grooming we saw that this one was open for a long period of time without anyone with a strong use case to champion it. We're going to close this as we don't expect anyone's ready to drive it forward, but if you still want this feature and have a strong use case we will be happy to reconsider this and re-open.

[2022-08-05 13:52] #599 closed

[2022-08-05 13:54] shaneutt commented on #622
While grooming we saw that this one was open for a long period of time without anyone with a strong use case to champion it. We're going to close this as we don't expect anyone's ready to drive it forward, but if you still want this feature and have a strong use case we will be happy to reconsider this and re-open.

[2022-08-05 13:55] shaneutt commented on #623
Despite this issue being quite old, we the maintainers are still pretty convinced that we want to have this functionality in a future release. We are marking this `help wanted` as we're looking for contributors with strong use cases to help champion and drive this forward.

[2022-08-05 13:59] shaneutt commented on #629
Given that all sub-issues and PRs listed are now resolved, it would seem we can consider this one resolved as well. If anyone has reason that this needs to be re-opened, no big deal please just say so and we'll be happy to reconsider and re-open as necessary.

[2022-08-05 13:59] #629 closed

[2022-08-05 14:00] tsaarni commented on #622
The use case is presented in the description and in my mind it is strong: application developer should be able to configure TLS certificates to protect backend communication without bothering the cluster administrator.

I have not participated actively in the gateway-api project though, so it is of course fair to close this.

[2022-08-05 14:02] shaneutt commented on #640
This requests a quick check of all places we use custom or implementation-specific and make sure that we've documented those correctly. We ideally should have done this before `v0.5.0` (our first beta release) but since that ship has sailed, I've placed this in `v0.6.0` as something we should take care of before the next release.

[2022-08-05 14:05] shaneutt commented on #646
We now have https://github.com/kubernetes-sigs/gateway-api/blob/main/RELEASE.md#release-steps

[2022-08-05 14:05] #646 closed

[2022-08-05 14:07] shaneutt commented on #678
This is being closed as duplicate of https://github.com/kubernetes-sigs/gateway-api/issues/726, the work will continue in that issue.

[2022-08-05 14:07] #678 closed

[2022-08-05 14:09] shaneutt commented on #687
Despite this issue being quite old, we the maintainers are still pretty convinced that we want to have this functionality in a future release. We are marking this `help wanted` as we're looking for contributors with strong use cases to help champion and drive this forward.

[2022-08-05 14:11] shaneutt commented on #753
@tao12345666333 I've unassigned you as it's been about a year since we last heard from you on this. If you're still wanting to have a go at this, let us know.

[2022-08-05 14:14] shaneutt commented on #793
While grooming we saw that this one was open for a long period of time without anyone with a strong use case to champion it. We're going to close this as we don't expect anyone's ready to drive it forward, but if you still want this feature and have a strong use case we will be happy to reconsider this and re-open.

[2022-08-05 14:14] #793 closed

[2022-08-05 14:15] tao12345666333 commented on #753
sorry for the delay. I forgot about this 😅

I haven't had time to work on it lately, I'll be happy to pick it up once I'm free and the issue is still open

[2022-08-05 18:36] shaneutt commented on #763
Despite this issue being quite old, we the maintainers are still pretty convinced that we want to have this functionality in a future release. We are marking this `help wanted` as we're looking for contributors with strong use cases to help champion and drive this forward.

[2022-08-05 18:36] shaneutt commented on #818
While grooming we saw that this one was open for a long period of time without anyone with a strong use case to champion it. We're going to close this as we don't expect anyone's ready to drive it forward, but if you still want this feature and have a strong use case we will be happy to reconsider this and re-open.

[2022-08-05 18:36] #818 closed

[2022-08-05 22:05] rushi47 commented on #753
I will try to give a short on this one, I might need some help.

[2022-08-06 00:30] shaneutt commented on #753
Sounds good @rushi47, reach out in here in this issue if you need some assistance :+1:

/assign @rushi47

[2022-08-08 16:03] mlavacca opened #1297 "conformance: gateway tests expecting wrong ListenerConditionReason"
**What happened**:

In the conformance tests for the gateway there are two different tests [`GatewaySecretInvalidReferenceGrant`, `GatewaySecretMissingReferenceGrant`] that expect a listener to have the ReasonCondition as `ListenerReasonInvalidCertificateRef`. Both tests create a Gateway with a listener that refers to a secret in another namespace and there is no `ReferenceGrant` granting that ref

[2022-08-08 16:03] mlavacca commented on #1297
I'd be glad to work on a fix for this issue. If this is effectively a bug, I ask to be assigned to fix it.

[2022-08-08 16:11] robscott commented on #1297
I think you're right, thanks for catching this @mlavacca!

/assign @mlavacca

[2022-08-09 16:48] keithmattix commented on #1291
I've drafted a [Google doc](https://docs.google.com/document/d/1oyA9uUH7pNNxxwy3WZGSWx-edHDBLrujcezr8q3el70/edit#) for more fluid discussion of this GEP.

[2022-08-09 16:49] keithmattix commented on #1294
I've drafted a [Google doc](https://docs.google.com/document/d/1_9jFaz3aPQlETMLBSSl2WyQge1ZyJIV2XR52a_9r1rw/edit#) for more fluid discussion of this GEP

[2022-08-09 19:20] #1297 closed

[2022-08-09 19:28] shaneutt commented on #1294
It would appear the permissions on this google doc are restrictive.

[2022-08-09 20:18] keithmattix commented on #1294
Apologies, the doc should be accessible now!

[2022-08-10 01:03] shaneutt commented on #826
Hey @abhijit-dev82  just checking in, everything going good with this one? Is there anything we can do to support/help?

[2022-08-10 04:31] abhijit-dev82 commented on #826
HI @shaneutt I had dropped a message on slack to @robscott asking for some pointers .  Will cover the below list of custom types to start off with. Please let me know if I have missed out on any.

Hostname
Namespace
Kind
Group
SectionName
PortNumber
PreciseHostname
ObjectName
GatewayController

[2022-08-10 19:38] kundan2707 opened #1308 "Link for Cilium broken"
Link for Cilium broken in https://github.com/kubernetes-sigs/gateway-api/blob/main/site-src/implementations.md

[2022-08-10 19:38] kundan2707 commented on #1308
/assign

[2022-08-10 19:57] kundan2707 commented on #1308
/kind documentation

[2022-08-10 20:39] #1308 closed

[2022-08-10 20:51] kundan2707 commented on #1076
@eoshardwork  are you still facing issue ?

[2022-08-11 10:05] kundan2707 opened #1311 "Multiple broken links under site-src"
Links in various documents under site-src folder are broken.

[2022-08-11 10:05] kundan2707 commented on #1311
/kind bug
/kind documentation

[2022-08-11 10:05] kundan2707 commented on #1311
/assign

[2022-08-11 10:18] mlavacca opened #1312 "Missing reason in the `Accepted` `RouteConditionType` documentation"
**What happened**:

The `Accepted` Route condition (https://github.com/kubernetes-sigs/gateway-api/blob/main/apis/v1beta1/shared_types.go#L193-L201) documentation does not include the reason  `UnsupportedValue` among the possible ones that make it `False`.

**What you expected to happen**:

Since this godoc section's purpose is to enumerate the possible reasons that may lead to having one Conditio

[2022-08-11 10:23] mlavacca opened #1313 "Missing reasons in the `ResolvedRefs` `RouteConditionType` documentation"
**What happened**:
The `ResolvedRefs` Route condition (https://github.com/kubernetes-sigs/gateway-api/blob/main/apis/v1beta1/shared_types.go#L227-L234) documentation does not include the reasons `InvalidKind` and `BackendNotFound`  among the possible ones that make it False.

What you expected to happen:

Since this godoc section's purpose is to enumerate the possible reasons that may lead to havi

[2022-08-11 10:41] mlavacca opened #1314 "conformance: always check `resolvedRefs` condition in `HTTPRoute` conformance tests"
**What would you like to be added**:

In the `HTTPRoute` conformance tests, the `RouteConditionResolvedRefs` is checked only in those tests expecting it to have status`false` (e.g., `HTTPRouteInvalidNonExistentBackendRef`, `HTTPRouteInvalidBackendRefUnknownKind`, ...), but it is never checked in those tests who expect the routing to be successful. This leads to never checking the `ResolvedRefs` re

[2022-08-11 13:23] shaneutt commented on #1314
Sounds good. I've added this to our `v0.6.0` milestone as ideally given the small size we could get this added in time for our next release.

[2022-08-11 14:02] mlavacca opened #1315 "conformance: always check `ResolvedRefs` condition in `Gateway` conformance tests"
**What would you like to be added**:

In the `Gateway` conformance tests, the `ListenerConditionResolvedRefs` is checked only in those tests expecting it to have status`false` (e.g., `GatewaySecretMissingReferenceGrant`, `GatewaySecretInvalidReferenceGrant`, ...), but it is never checked in those tests who expect the routing to be successful. This leads to never checking the `ResolvedRefs` reason

[2022-08-11 20:26] #1313 closed

[2022-08-11 21:49] robscott commented on #1273
One addition to the set of tests that should be covered here: "HTTPRouteDisallowedKind" relies on some level of TLSRoute support which is currently only available in experimental channel.

[2022-08-11 22:06] briantkennedy opened #1317 "Print out existing conditions on conformance test failure"
**What would you like to be added**:

Conformance tests validate conditions which are set on Gateway, HTTPRoute, etc.  On test failure, the test prints out that the wanted condition was not found, but it does not print out the conditions which were present.  Please add functionality to print out the conditions which were present when the test failed.

**Why this is needed**:

This will help improv

[2022-08-11 22:07] robscott commented on #1317
/area conformance
/good-first-issue

[2022-08-12 03:55] abhijit-dev82 commented on #1317
/assign

[2022-08-12 12:28] mlavacca commented on #1312
/assign

[2022-08-12 12:45] mlavacca opened #1318 "conformance: test gateway referencing an unexisting tls secret"
**What would you like to be added**:

A new conformance test case testing the presence of the status ResolvedRefs condition failed with the reason `InvalidCertificateRef` should be added to the conformance test suite.

To do so, the test case should create a gateway that references a non-existing TLS secret and check the failed `ResolvedRefs` condition is added to the corresponding listener status

[2022-08-12 12:54] kundan2707 commented on #1311
Corrected all links under site-src folder

[2022-08-12 13:08] mlavacca opened #1320 "conformance: test gateway when an unsupported Route kind is specified by the Listener."
**What would you like to be added**:

A new conformance test case testing the presence of the status ResolvedRefs condition failed with the reason `ListenerReasonInvalidRouteKinds` should be added to the conformance test suite.

To do so, the test case should create a gateway with a listener specifying an unsupported Route Kind and check the `ResolvedRefs` condition is added to the corresponding l

[2022-08-12 14:02] #1312 closed

[2022-08-12 14:30] #1311 closed

[2022-08-12 14:46] aryan9600 opened #1323 "Add support for manipulating response headers in the `HTTPRouteFilter` API"
**What would you like to be added**:

It'd be great if `HTTPRouteFilter` had a field to manipulate response headers being sent from  a backend (or a group of backends) similar to `RequestHeaderModifier`.

This can be done by adding a new field `ResponseHeaderModifier` of type `HTTPResponseHeaderFilter` which would have the same API as the existing `HTTPRequestHeaderFilter`. Alternatively, `HTTPReq

[2022-08-12 15:42] shaneutt commented on #1323
@aryan9600 thanks for suggesting this. This sounds compelling and as you suggest it would be good to see a GEP for this so we can establish motivations and goals and get into some of the details. If you'd like to start on a GEP I would encourage it, I can assign you to this issue and you can get started.

In general given the description above I don't see this GEP as ending up being too huge, but

[2022-08-12 19:18] aryan9600 commented on #1323
thanks @shaneutt
/assign

[2022-08-12 21:52] keithmattix opened #1324 "GEP: Service Mesh in Gateway API"
**What would you like to be added**:
Due to the overlap in surface area between the Gateway API's routing primitives and many service mesh implementations, it would be generally beneficial to the Kubernetes community for the Gateway API to provide/support patterns and/or new resources for service mesh functionality.

**Why this is needed**:
While attempting to scope out #1291 and #1294, it became

[2022-08-12 21:53] keithmattix commented on #1324
/kind gep

Provisional GEP text can be found [here](https://docs.google.com/document/d/1IzItdX22fHfXCP6Zch6pC8hEImMNJ6MCPqGNW1aaDr8/edit?usp=sharing)

[2022-08-12 21:54] keithmattix commented on #1324
/area mesh

[2022-08-12 23:24] robscott commented on #1320
How does this differ from the [HTTPRouteDisallowedKind](https://github.com/kubernetes-sigs/gateway-api/blob/main/conformance/tests/httproute-disallowed-kind.go) test? Maybe we just need to expand that one?

[2022-08-13 10:00] mlavacca commented on #1320
That test is somewhat specular to the one I'm suggesting here:
* The `HTTPRouteDisallowedKind` test creates an HTTPRoute with a ParentRefs that doesn't accept that kind of route (in that test the gateway accepts only TLSRoutes)
* In the test object of this issue, we should create a Gateway that accepts a kind of route not compatible with the `Listener.Protocol` field. As it is stated in the docs h

[2022-08-13 14:29] aryan9600 commented on #1323
Here's a first draft: https://docs.google.com/document/d/1w535mrHwsf6yZEIhTZh1dvseKajIDbIdkfNy_59KZKg/edit#
Please leave comments and suggestion, thanks :)

[2022-08-15 07:08] mlavacca commented on #1318
/assign

[2022-08-15 14:44] shaneutt commented on #1323
Thanks @aryan9600, I'll be taking a look soon. Not as a requirement by any means, but just as a suggestion: are you opposed to making this a PR and marking it as `draft`?

[2022-08-15 16:38] sunjayBhatia opened #1328 "Backport conformance fix for Listener condition reason ListenerReasonRefNotPermitted"
**What would you like to be added**:
Backport changes from https://github.com/kubernetes-sigs/gateway-api/pull/1305 to release 0.5.x

**Why this is needed**:
Implementations that are updated to pass conformance tests on `main` now fail on the Gateway API 0.5.0 conformance tests (and vice versa). Since #1305 is a bug fix It would be great to ensure the latest release line is patched along with `mai

[2022-08-15 16:40] #1295 closed

[2022-08-15 16:52] robscott commented on #1328
Good point. I think we should release a v0.5.1 with the updates to our conformance tests that have merged recently.

[2022-08-15 18:36] shaneutt commented on #1328
I'm on board with a `v0.5.1` for the recent conformance test fixes :+1:

[2022-08-15 21:35] robscott opened #1329 "Document How to Report Conformance Test Results"
**What would you like to be added**:
A standard process for reporting conformance results, similar to what already exists for upstream Kubernetes https://github.com/cncf/k8s-conformance. After chatting with @hh about how this works in upstream, there are a few details that may need some tweaking for our use cases (please correct me if I misunderstood something).

* Upstream conformance is all or n

[2022-08-15 21:36] robscott commented on #1323
/kind gep

[2022-08-15 21:46] robscott commented on #1175
/area conformance

[2022-08-15 21:47] robscott commented on #1220
/good-first-issue

[2022-08-15 21:49] keithmattix commented on #1175
This issue title is 💯

[2022-08-15 21:50] howardjohn commented on #1175
I think I might have fixed this one actually... let me see

[2022-08-15 21:51] howardjohn commented on #1175
fixed by https://github.com/kubernetes-sigs/gateway-api/pull/1249

[2022-08-15 21:51] #1175 closed

[2022-08-15 22:17] bowei opened #1330 "Support and test multiple TLS certificates per Gateway listener"
**What would you like to be added**:

We should clarify the API Spec to clarify what happens when multiple TLS Certificates are specified on a Listener. For example, what happens when those certificates overlap or conflict? Once we clarify the spec, we'll also need a conformance test to verify the behavior.

**Why this is needed**:

Attaching multiple TLS certificates to a Gateway listener should

[2022-08-15 22:24] nathancoleman commented on #1315
There was some relevant discussion between myself, @skriss and @robscott in https://github.com/kubernetes-sigs/gateway-api/pull/1158#discussion_r869537633. The spec doesn't specifically call for this to be set to `true` for a healthy state, so this might be a good venue to decide what we want to do.

[2022-08-15 22:33] keithmattix commented on #1324
/assign

[2022-08-15 23:46] robscott commented on #1330
This is one of the bullet points of #1104 (although that doesn't explicitly require multiple certs), adding a link from there as well.

[2022-08-16 00:36] Miciah opened #1331 "BackendObjectReference's Port field is underspecified"
**What happened**:

Currently, the `Port` field of `BackendObjectReference` has the following godoc:

[code]

This godoc is ambiguous because a service's port specification includes two port numbers: the service port and the target port.  For example, an annoying person could define the following service:

[code]

Then it is ambiguous which port the following httproute uses:

[code]

A reasonable

[2022-08-16 14:52] mlavacca commented on #1320
/assign

[2022-08-16 15:40] shaneutt commented on #738
Where are we at with this one? :thinking:

[2022-08-16 15:42] shaneutt commented on #835
While grooming we saw that this one was open for a long period of time without anyone with a strong use case to champion it. We're going to close this as we don't expect anyone's ready to drive it forward, but if you still want this feature and have a strong use case we will be happy to reconsider this and re-open.

[2022-08-16 15:44] robscott commented on #835
Actually I think we completed this one and just never closed it, either way, thanks for closing this one out.

[2022-08-16 15:45] robscott commented on #738
I think we still need this.

/help

[2022-08-16 15:45] shaneutt commented on #893
While grooming we saw that this one was open for a long period of time without anyone with a strong use case to champion it. We're going to close this as we don't expect anyone's ready to drive it forward, but if you still want this feature and have a strong use case we will be happy to reconsider this and re-open.

[2022-08-16 15:45] #893 closed

[2022-08-16 15:46] shaneutt commented on #919
Despite this issue being quite old, we the maintainers are still pretty convinced that we want to have this functionality in a future release. We are marking this `help wanted` as we're looking for contributors with strong use cases to help champion and drive this forward.

[2022-08-16 15:47] shaneutt commented on #921
While grooming we saw that this one was open for a long period of time without anyone with a strong use case to champion it. We're going to close this as we don't expect anyone's ready to drive it forward, but if you still want this feature and have a strong use case we will be happy to reconsider this and re-open.

[2022-08-16 15:47] #921 closed

[2022-08-16 15:48] shaneutt commented on #926
While grooming we saw that this one was open for a long period of time without anyone with a strong use case to champion it. We're going to close this as we don't expect anyone's ready to drive it forward, but if you still want this feature and have a strong use case we will be happy to reconsider this and re-open.

[2022-08-16 15:48] #926 closed

[2022-08-16 15:49] shaneutt commented on #941
Despite this issue being quite old, we the maintainers are still pretty convinced that we want to have this functionality in a future release. We are marking this `help wanted` as we're looking for contributors with strong use cases to help champion and drive this forward.

@tokers if you're still interested in implementing this validation for the remaining APIs, that would be welcomed and appreci

[2022-08-16 15:51] shaneutt commented on #995
If I'm understanding correctly based on the closed PR, we've decided not to move forward with this at this time. If that's not the case, please feel free to drop a comment and we can re-open.

[2022-08-16 15:54] robscott commented on #995
I think we decided this would be reasonable if we had a bigger use case associated with it. This will likely end up being included as part of route delegation in #1058.

[2022-08-16 15:54] shaneutt commented on #835
:+1:

[2022-08-16 15:54] #835 closed

[2022-08-16 15:55] shaneutt commented on #995
Ok. The project state also says "abandoned" so we should probably update this too so this issue doesn't look as though it is in fact abandoned.

[2022-08-16 15:56] shaneutt commented on #995
Ok, then let's consider this closed in favor of the implementation in https://github.com/kubernetes-sigs/gateway-api/issues/1058 :+1:

[2022-08-16 16:51] keithmattix commented on #919
I wonder if protocol conversion is part of the scope of https://github.com/kubernetes-sigs/gateway-api/pull/1333

[2022-08-16 18:41] carlisia opened #1336 "Consider a minor restructure of directory/file for util things"
Currently, there is a directory named "validation" that houses a folder named "util" and a package and file both named "utils". Nothing in this "utils" package does validation. There are only a couple things and they do some translation from Go types to pointer of custom types, which is entirely the same a currently open PR, which adds a file named "helper.go" to the root of the API directory (for

[2022-08-16 18:58] robscott commented on #1336
Thanks @carlisia! I think this would be a great change.

[2022-08-16 20:52] rushi47 commented on #753
Hello Team,
I got chance to review the code and I wanted to confirm my understanding (Apologies itself if my understanding is wrong as this is the first time, I am touching the code base)

Should we actually call Control plane API & validate`Service` object to confirm the port, when service is actually deployed and running in cluster ?

If not, I see port is kind of being validated here : https://

[2022-08-16 21:38] robscott commented on #753
You're completely right @rushi47! Sorry for the confusion here. It looks like we fixed this but never closed out the issue. Thanks for the references to where this is already implemented!

[2022-08-16 21:38] #753 closed

[2022-08-16 21:40] rushi47 commented on #753
Np ! but that means i need to find new issue @robscott lol

[2022-08-17 09:41] tokers commented on #941
I'm so sorry for the long delay, now I have some time with this issue, I will do this.

[2022-08-17 09:41] tokers commented on #941
/assign

[2022-08-17 20:13] sunjayBhatia commented on #1328
I don't see a 0.5.x release branch yet, I assume that needs to be created before we can do a backport? (sidebar, maybe we need a separate issue to document the backport process for maintainers and contributors if it doesnt exist already?)

[2022-08-17 20:25] shaneutt commented on #1328
I've created `release-0.5` (analogous to `release-0.4`) :+1:

[2022-08-18 00:11] robscott opened #1338 "HTTP Rewrite Docs have incorrect example"
**What happened**:
The example at the end of https://gateway-api.sigs.k8s.io/guides/http-redirect-rewrite/ is incorrectly repeated and does not match the text above.

**What you expected to happen**:
The example to match the text.

/kind documentation

[2022-08-18 00:32] #1331 closed

[2022-08-18 04:44] youngnick commented on #1328
I'm +1 on a patch release as well.

[2022-08-18 04:55] youngnick commented on #1110
/remove-lifecycle stale

[2022-08-18 05:02] youngnick commented on #1077
/remove-lifecycle stale

[2022-08-18 05:04] youngnick commented on #919
I think there's definitely some bits of #1333 and GEP-1282s that affect it, yeah. Let's make a note to come back and check this once we're done with GEP-1282?

[2022-08-18 05:20] #848 closed

[2022-08-18 05:45] youngnick commented on #1274
Hmm, I think there's still some to do here about how to run, etc? @robscott should we reopen to track that?

[2022-08-18 15:09] howardjohn opened #1340 "conformance: support testing mesh implementations"
Currently, the conformance tests use a pretty simple `echoserver` deployment and make HTTP calls from the go test runner to the Gateway IP (which must be reachable from the test runner).

For testing mesh implementations (and in general, but especially mesh), this may not be sufficient. Since we are testing calls to in-cluster Services, we typically cannot reach these from the test runner (out of

[2022-08-18 15:12] howardjohn commented on #1340
I haven't looked at any other meshs, but I am quite familiar with how Istio solves this. We have a standard `echo` client/server that we use for almost all testing. This has support for all the protocols we support and configuring a wide range of requests parameters (more than curl in some cases - we have logic to send 'illegal' requests as well for testing, overriding ALPN, etc).

The key for tes

[2022-08-18 15:12] howardjohn commented on #1340
cc @robscott

[2022-08-18 15:42] keithmattix commented on #1340
OSM does something similar; the Go test runner does an `exec` on the pod to perform the necessary HTTP request. This is definitely something we need to prepare for when it comes to mesh conformance

[2022-08-18 15:58] robscott commented on #1324
Let's leave this open until the GEP reaches a more complete state, probably "implemented".

[2022-08-18 16:04] robscott commented on #1274
Good catch, thanks @youngnick!

[2022-08-18 16:12] karmux opened #1341 "Support HTTPRoute filters for external load balancing"
**What would you like to be added**:
I would like to have following setup with external load balancer and HTTPRoute:
`/s/service1/foo/bar` requests being sent to `service1` Service with path `/foo/bar`.

Currenctly it sends full path `/s/service1/foo/bar` to `service1` Service.
Moreover it is not documented anywhere that external load balancers do not support HTTPRoute filters.

I see this log whe

[2022-08-18 16:21] robscott commented on #1341
Hey @karmux, can you send this information to [gke-gateway-feedback@google.com](mailto:gke-gateway-feedback@google.com)? It looks like this question is tied to the GKE implementation. This specific repo is focused on the broader API development and unfortunately we don't have capacity to provide support for implementation-specific questions here.

[2022-08-18 16:21] #1341 closed

[2022-08-18 17:42] #1336 closed

[2022-08-19 00:20] robscott commented on #1282
As suggested by @mikemorris in Slack, it seems useful to describe why we ended up [removing BackendPolicy](https://github.com/kubernetes-sigs/gateway-api/pull/732) earlier. Unfortunately we didn't leave much of a paper trail, but here's what I remember:

- We didn't feel confident in this API
- It had not been implemented by anyone
- Many of the concepts we'd tried to add (health checks, timeouts,

[2022-08-19 08:09] subi9 commented on #1338
/assign @subi9

[2022-08-19 14:01] #1318 closed

[2022-08-20 00:02] robscott opened #1347 "Document versioning plan and upgrade recommendations"
As we're thinking about the long term use of CRDs for this API, we'll want to ensure that both users and implementations have a smooth experience across CRD upgrades.

Here's a high level starting point based on discussions with folks from sig-apimachinery around the proper way to handle stored and served versions.

Minor release 1 (v0.5.0 for these resources):

* Release new API version (v1beta1)

[2022-08-20 07:28] ksankeerth commented on #1330
I’m interested in working on this conformance test. I went through the documentation. From my understanding, the conformance test for Gateway HTTPS listener references multiple TLS certificates should include the below aspects

1. The GatewayClass MUST use the longest matching SNI out of all available certificates for any TLS handshake.
2. The SNIs of all the certificates MUST match with the liste

[2022-08-20 17:21] alibo commented on #687
### Mixed Protocol

the current status of the mixed protocol feature in k8s:

1. `MixedProtocolLBService` graduated to beta in v1.24: https://github.com/kubernetes/kubernetes/pull/109213
2. Apparently, Azure also supports it, but the adoption is slow for other cloud providers: https://github.com/kubernetes/kubernetes/pull/97096

-------

### Status of HTTP3 in current ingress/gateway-api controlle

[2022-08-21 10:48] kundan2707 commented on #1271
/kind documentation

[2022-08-21 15:19] #941 closed

[2022-08-22 07:22] tokers commented on #480
@shaneutt I can help do this if possible :)

[2022-08-22 07:22] tokers commented on #480
/assign

[2022-08-22 07:35] tokers commented on #480
I think another case is clarifying the behavior for `Set`, Let's say we have two `X-Foo` headers:

[code]

What will happen after we apply the rule:

[code]

Will we have two `X-Foo` headers and their values are `v3` or we just have one `X-Foo` header (Because we can treat the original `X-Foo` header's value as `v1, v2`.

[2022-08-22 13:02] abhijit-dev82 commented on #1336
@carlisia & @robscott Thank you for all the comments. I was away due to health reasons, hence was not able to make the necessary changes. I see that the directory changes are already done, will add the new file in the util dir. Do we need to see we can auto generate these translation routines based on the custom types defined .

[2022-08-22 15:04] sunjayBhatia commented on #1328
submitted #1351 to backport the commit

[2022-08-22 17:40] rainest commented on #480
I think it's reasonable to approach this by simply rejecting any configuration that includes multiple Sets or Adds (or both a Set and Add) for the same header, which should be simpler to implement since you can handle it entirely in Gateway API resource processing and don't need to worry about whether an implementation can easily conform to a given order. Is there a good reason we'd need to allow

[2022-08-22 18:50] mikemorris commented on #1295
Hmm, interesting that we had found this to work in practice previosuly without explicitly building arm64 images - not quite sure _how_ it was working without digging deeper, but https://github.com/hashicorp/learn-consul-kubernetes/issues/65 was the behavior we found where switching to this image was working on an M1 chip.

[2022-08-22 18:51] howardjohn commented on #1295
possibly using emulation?

On Mon, Aug 22, 2022, 11:50 AM Mike Morris ***@***.***> wrote:

[2022-08-22 19:02] #826 closed

[2022-08-22 19:07] shaneutt commented on #687
Thanks for the detailed write-up @alibo. Given the depth of your comment I would encourage you to take this issue if that's something that interests you. Otherwise for anyone else who's interested in taking on this issue it would appear @alibo's write-up above :point_up: provides a lot of good context and thoughts to get started, definitely read it over.

[2022-08-22 20:07] robscott commented on #1328
Thanks @sunjayBhatia!

[2022-08-22 20:07] #1328 closed

[2022-08-23 01:39] tokers commented on #480
I think we should not make the decision for the users.

[2022-08-23 09:09] alibo commented on #687
@shaneutt I'm glad it was helpful, my colleague ( @m-yosefpor ) and I are interested in working on this feature, but any contributions are also welcomed :)

I guess in the first step, we need to prepare a GEP? https://gateway-api.sigs.k8s.io/contributing/enhancement-requests/

[2022-08-23 10:39] alibo commented on #687
Also, I've investigated some popular load balancers/reverse proxies to see how they've supported http3/quic:

### Haproxy (2.6+)

[code]

 it can be enabled in the same `frontend` HTTP and HTTPS configured by adding a new `bind` directive.

 More info: https://www.haproxy.com/blog/announcing-haproxy-2-6/#http-3-over-quic

### Nginx (cloudlfare/quiche)

[code]

It can be enabled by adding a new `li

[2022-08-23 13:46] shaneutt commented on #687
Yep sounds good, and looks like you can add much of the context already posted here in this issue. Let us know if there's any help you need putting together a GEP. Thank you!

/assign @alibo

Also @m-yosefpor if I get a confirmation from you that you'd like to be assigned to this as well, I'm happy to add you on the issue just let me know.

[2022-08-23 13:55] m-yosefpor commented on #687
@shaneutt Sure. I would be glad to work on this issue.

[2022-08-23 14:14] shaneutt commented on #687
Thank you!

/assign @m-yosefpor

[2022-08-23 14:19] #1320 closed

[2022-08-23 15:55] howardjohn commented on #687
FYI
https://github.com/istio/istio/wiki/Experimental-QUIC-and-HTTP-3-support-in-Istio-gateways
also supports it. I think you could get it working with gateway-api today
as well, but its not currently documented (more of a coincidence that it
would work really, since HTTP3 isn't in the spec yet)

On Tue, Aug 23, 2022 at 7:14 AM Shane Utt ***@***.***> wrote:

[2022-08-23 16:24] alibo commented on #687
@howardjohn cool, thank you for the heads up. It's also one of my questions, if http3 becomes the mainstream technology like http2 is right now, then I'm not seeing any reason to have a specific field/type for just http3 in a more general API like Gateway API.  What if somewhere in the future http4 is released, should we add another type/field for it?!

[2022-08-23 16:38] howardjohn commented on #687
The tricky thing with HTTP3 IMO is that its on a completely different
protocol (UDP). This implies opening 2 ports (not supported in many cases),
alt-svc for negotiation, etc. Its possible to just do that automagically,
but I could see very reasonable reasons for wanting to opt-in/opt-out of
that.

On Tue, Aug 23, 2022 at 9:24 AM Ali Borhani ***@***.***>
wrote:

[2022-08-23 19:46] rainest commented on #480
It's not something that affects the end result AFAIK. If you have:

[code]
and
[code]
and both result in the request containing `X-Foo: Red,Blue`, choosing to allow only one or the others doesn't limit actual capabilities. We can and should be prescriptive about configuration format. I'm asking if there's any way this _would_ limit capabilities and not just accepted configuration.

The main exampl

[2022-08-23 19:58] skriss commented on #1297
Just coming back to this and while I'm fine with using the `RefNotPermitted` reason for this scenario, I do think the API docs need some modifications to cover this more explicitly, since as pointed out above, currently the `RefNotPermitted` reason only talks about routes and backends (nothing to do with listeners and secrets). It might be worth also clarifying for `InvalidCertificateRef`, exactly

[2022-08-25 01:41] robscott opened #1362 "Clarify RefNotPermitted and InvalidCertificateRef reasons in API Spec"
As a follow up to #1297, @skriss suggested that we should clarify this behavior in the API docs.

- currently the RefNotPermitted reason only talks about routes and backends - this should be expanded to include listeners and secrets, or maybe remove references to specific resource types altogether
- we should clarify the scope of InvalidCertificateRef, exactly what an "invalid" certificate ref is,

[2022-08-25 01:41] robscott commented on #1297
Good call @skriss, filed https://github.com/kubernetes-sigs/gateway-api/issues/1362 to track that.

[2022-08-25 11:49] hoerup commented on #1141
hbagdi: Yes - i think that when I originally wrote this i hadn't  completely understood the purpose of filters. But yes a HttpACLFilter would be great

[2022-08-25 17:08] mlavacca commented on #1362
/assign

[2022-08-26 00:18] youngnick opened #1364 "GEP: Conditions and Status update"
We currently have a lot of outstanding issues related to status, mostly around Conditions, whether it be issues with specific Conditions being hard to understand, or general issues around Conditions. It's just because a lot of the status and Conditions design has grown very organically, what we effectively need is a design pass to make sure everything is consistent. There have been a few looks at

[2022-08-26 04:15] pleshakov commented on #1141
I wonder if the suggested filter approach would be manageable. If it is only necessary to apply ACLs to one rule, then it looks simple enough. However, if it is necessary to apply ALCs to more than one rule, then there will be duplicated ACLs spread across one resource. Or even multiple resources.  Maintaining those duplicated ACLs will be a burden imho.

Additionally, should ACLs be the responsib

[2022-08-26 06:05] youngnick commented on #1362
@mlavacca, would you mind holding off on this one until I get some more work done on #1364? I want to make sure that whatever fix we do here is aligned with what we do there.

[2022-08-26 06:29] mlavacca commented on #1362
@youngnick Sure, I'll wait for that one.

[2022-08-26 19:00] robscott commented on #1156
We had a similar discussion about a potential "Reconciled" condition previously, adding a reference here in case any of that context is helpful in this discussion: https://github.com/kubernetes-sigs/gateway-api/issues/642

[2022-08-26 19:09] robscott commented on #1364
I was initially going to create a new issue for this, but will start here for now since I know this is meant to be a bit of an umbrella issue.

Closely related to your comments about a "Ready" condition on HTTPRoute, I think we really need something to fill the gap in our current conformance tests here. Currently we're limited to an "Accepted" condition with a rather vague definition:

https://git

[2022-08-26 19:32] shaneutt commented on #1364
I'm glad you brought that one up Rob, as that's been one on my mind as well.

Right now I would personally characterize `Accepted` as also meaning `Reconciled`, at least colloquially. Defining it as anything else seems difficult because all implementations universally have a sense of "the dataplane has been configured" but everything in between that, and even some of the stuff after that seems mor

[2022-08-26 20:46] robscott commented on #1364
I think we probably need some change like this for conformance. The amount of time it takes for these changes to propagate is wildly dependent on what's being configure. For example, if we're rolling out changes globally, it may take longer for them to reach certain regions. We already allow these timeout to be configurable, maybe we just need to remove or increase the max value that we consider c

[2022-08-28 11:37] evankanderson commented on #1364
I have a somewhat-related concern, based on past history with different envoy-based implementations.

In some implementations, adding a new percentage rule with a new backend pool to an existing HTTPRoute can cause traffic to be dropped with 500s (no healthy upstream). The root cause is that the new route definitions arrive at some envoy pods before the cluster definitions do, and when traffic arr

[2022-08-28 11:55] evankanderson commented on #1364
Would a `Ready` congestion separate from `Accepted`/`Reconciled` allow implementations to choose that 30s value for themselves? (Yes)

I think the question is whether implementations would know that timing duration themselves (i.e. it might differ depending on the number and location of nodes).

[2022-08-29 04:03] youngnick commented on #1364
Okay, I've spent a whole lot of time reading through issues, code, and docs, and here are my current suggestions. I've bucketed them into more general things and specific things.

## General things

We should make sure that, as far as possible, Conditions should have similar names and flow for each resource.

We should mandate the use of `observedGeneration` for Conditions, and check that it's set

[2022-08-29 04:06] youngnick commented on #1364
I agree that this is a problem, but I would like to sort out the basic flow first -  it's a little orthogonal to the main thrust of this issue (which is that what we have at the moment is very inconsistent across resources).

However, for Envoy-based implementations, this is all about ordering the cache updates or implementing ADS (which enforces ordering as well).

[2022-08-29 04:25] youngnick commented on #1141
I think there are two classes of IP ACLs, per-app and per-infrastructure.

Using HTTPRoute Filters to handle per-app sounds like a good fit, but won't scale well if you want to apply the same ACLs across lots of things.

To be honest, per-infrastructure IP ACLs are probably better handled either by something _in_ the Gateway spec, or by something that _attaches_ to the Gateway (like a Policy resou

[2022-08-29 04:54] youngnick commented on #687
Those are some seriously great write-ups @alibo. Nice work.

In your GEP, I'd recommend picking whichever one of the two options you suggest here you think is better, and document the other one in "Alternaatives Considered". (On an initial read, I think I'm slightly preferring adding a new Protocol and having a separate listener, but it seems like defining how the alt-svc thing would work across l

[2022-08-29 16:29] mikemorris commented on #1364
Big +1 to this ^

In #1111 I had initially considered whether `Accepted` and `Attached` would mean the same thing (and thus want to remove one of them), but I think the discussion in https://github.com/kubernetes-sigs/gateway-api/pull/1085#discussion_r931212794 proposes a clear distinction between the two and a use case where they may be set to different values. Agreed about language referring to

[2022-08-30 01:25] #1061 closed

[2022-08-30 01:45] robscott opened #1366 "Update hack/verify-examples-kind.sh to work better with releases"
**What would you like to be added**:
Something that allows us to:

1. Run tests using the latest webhook image that has been built (latest commit, not latest release)
2. Still pass `hack/verify-codegen.sh`
3. Have a simple release process that allows us to at least temporarily set a fixed image version in our webhook deployment for our generated YAML attached to the release + the config/webhook YA

[2022-08-30 10:30] evankanderson commented on #1364
With respect to `observedGeneration`, both `Accepted` and `Ready` might flip from `True` to `Unknown` or `False` without a `spec` change as other parts of a configuration tree change. (Deletion of a ReferenceGrant, for example.)

[2022-08-30 10:35] evankanderson commented on #1364
Two notes here:

1. `ResolvedRefs` is positive, while `Conflicted` is negative. That's probably the high order bit to sort out.
2. If you mix positive and negative polarities. (`Accepted` and `Ready` are positive, others are negative), every UI which wants to display the status of Gateway resources as dots/check marks/etc will need to bake in that rule. "UI" here includes both web UIs as well as C

[2022-08-30 10:40] evankanderson commented on #1364
I think that you **don't** want Conditions on Policy resources. In particular, it's possible (and reasonable/handy) to have a `ReferenceGrant` which grants two different Gateway objects with different controllers access to all Services in a namespace.

[2022-08-30 10:48] evankanderson commented on #1364
One additional state that might or might not be Condition-worthy: when there is at least one resource which is blocked from attachment due to Policy (in comparison with "resource does not exist" reasons).

My rationale here is that debugging this kind of failure is likely to be common, and so a little guidance / hand-holding for new users / users in a rush might be helpful.

Maybe this is part of

[2022-08-30 10:55] evankanderson commented on #1364
One last thought:

Given the ability to delegate the configuration tree to different namespaces, you may want to provide different Condition views of the overall configuration tree on the HTTPRoute objects then on the Gateway object, for three reasons:

1. limit status updates on state change
2. avoid confusing/unable to assist failure reports when resources in a different namespace are broken
1.

[2022-08-30 14:11] abhijit-dev82 commented on #1340
/assign

[2022-08-30 19:00] rainest commented on #480
@tokers we discussed this during [yesterday's sync](https://www.youtube.com/watch?v=OItXQSN2gWU&t=3180s) and consensus was generally okay with restricting to a single operation per header name (`remove` hasn't been discussed here previously, but it doesn't make much sense to exclude it--any combination of other operations and `remove` could be accomplished by just using `remove` or just using `set

[2022-08-31 01:04] pleshakov opened #1371 "Clarify whether an http redirect is conditional or unconditional"
**What would you like to be added**:

In the redirect examples here https://gateway-api.sigs.k8s.io/guides/http-redirect-rewrite/#redirects the backendRefs are always configured. Like below:
[code]

If the redirect is unconditional (always fires), then the backendRefs are unnecessary, because the proxy will never proxy to the backends.

However, if the redirect is conditional, then the backendRefs

[2022-08-31 01:53] tokers commented on #480
Indeed I have never encounter such a scenario.

[2022-08-31 01:55] tokers commented on #1371
I think it makes sense +1.

[2022-08-31 07:14] youngnick commented on #1364
I think any conditions we put on ReferenceGrant will need to be namespaced by `controllerName`, just like most of the other status.

[2022-08-31 07:24] youngnick commented on #1364
Good thoughts as always, @evankanderson, much appreciated.

I think we should work to try and make deletion of a ReferenceGrant _not_ induce things to flip their `Attached` state - we've been moving in that direction a bit, but I think it's worth checking the rules for this specific case. If we can keep it that only `Ready` flips without a spec change, I think we're in a better place.

About Condi

[2022-08-31 07:26] youngnick commented on #1364
Okay, I think the outstanding item here is for me to write a GEP that details the changes to be made. I'll skip the preliminary "what and why", "merge a preliminary GEP that doesn't discuss the how" stage, since I think we've hashed that out in this issue, and write a full GEP on this one, with as many changes as I can find all in one spot.

[2022-08-31 18:43] briantkennedy opened #1372 "Conformance tests using v1beta1"
**What would you like to be added**:

Upgrade the HTTP conformance tests to v1beta1 or create a v1beta1 fork.

**Why this is needed**:

v1beta1 is now the latest version.

[2022-08-31 20:06] sunjayBhatia commented on #1102
I can work on some tests for combinations of matching capabilities

Also see https://github.com/kubernetes-sigs/gateway-api/pull/1370 for a relevant PR

[2022-09-01 02:43] #1372 closed

[2022-09-01 03:17] youngnick commented on #1330
Sorry for the delay, @ksankeerth, that looks right to me.

[2022-09-01 03:21] #1323 closed

[2022-09-01 03:34] youngnick commented on #1364
Okay, I've marked this issue as a GEP now, so I'll prepare a PR for GEP-1364 - Status and Conditions Update.

[2022-09-02 01:38] ksankeerth commented on #1330
Thanks @youngnick. I'll send a PR to cover these tests. Let's get others' opinions after the PR

[2022-09-02 18:45] eigood opened #1374 "Release 0.5.0 contains duplicate kind:Namespace/gateway-system object definition."
I'm attempting to reference either the standard-install.yaml or experimental-install.yaml on the releases page, via a kustomization.yaml/resources: tag.  However, both of those files contain a duplicate definition of the gateway-system namespace.  This breaks when applied directly via using via helmfile/helm/kustomize pipeline.

To work around this I downloaded the files and I modified them locall

[2022-09-04 10:38] tokers commented on #1374
What do you mean by saying a duplicate definition of the `gateway-system`?  A re-defintion for Kubernetes namespace?

[2022-09-04 18:34] ksankeerth commented on #1330
Hi @youngnick,
I sent a PR with a conformance test. The test cases were written to check the longest SNI when multiple TLS certs are available. If possible, please review it.

[2022-09-05 01:07] asim-reza commented on #1220
/assign

[2022-09-06 00:38] robscott commented on #1374
It looks like the problem is that both `config/webhook/certificate_config.yaml` and `config/webhook/admission_webhook.yaml` include the namespace definition. We concatenate those files together here: https://github.com/kubernetes-sigs/gateway-api/blob/83eac3a978a473947db595c5a1dcc79a347dcf9e/hack/build-install-yaml.sh#L42-L58.

I don't think we're suggesting anyone use the individual YAML files, s

[2022-09-06 02:05] gyohuangxin commented on #1374
@robscott I'm interesting in contributing to gateway-api project and I think this issue is a good start, can you assign it to me? Thanks.

[2022-09-06 03:19] robscott commented on #1374
Thanks!

/assign @gyohuangxin

[2022-09-06 03:22] gyohuangxin commented on #1374
@robscott Thanks, I just created a PR, can you review it?

[2022-09-06 07:24] #1220 closed

[2022-09-06 14:17] robscott commented on #1148
/remove-lifecycle rotten

[2022-09-06 15:40] ivanmatmati opened #1378 "TCPRouteRule and BackendRef"
**What happened**:
Implementing a GW Api implementation, we're focusing on TCPRoute. I'm puzzled by the structures used in v1alpha2 for TCPRoute.
I see that TCPRouteSpec contains a slice of TCPRouteRule like this: `Rules []TCPRouteRule`. But a TCPRouteRule itself is simply a slice of BackendRef like this: `BackendRefs []BackendRef`. Comments in code don't reveal the reason for this structure. Fina

[2022-09-06 17:17] keithmattix commented on #1011
GAMMA has interest in this as well

/remove-lifecycle rotten

[2022-09-06 17:28] skriss commented on #1330
My understanding was that multiple certificate refs per Listener was "custom" conformance, per:
https://github.com/kubernetes-sigs/gateway-api/blob/main/apis/v1beta1/gateway_types.go#L312-L314
https://github.com/kubernetes-sigs/gateway-api/blob/main/apis/v1beta1/gateway_types.go#L328-L330

Am I missing something here?

[2022-09-06 19:18] shaneutt commented on #1378
If my memory serves: the reason we're in this state is that we wanted to leave the option open for matching rules in the future, similar to what you see with `HTTPRoute.Spec.Rules` currently. Despite not having those rules now, it is simpler to add them horizontally at a later time as needed given this structure (which can be made backwards compatible) than to have to vertically add them later (wh

[2022-09-06 19:35] rainest commented on #1330
No, I think you're correct @skriss. It looks like the language is a bit confusing, where https://gateway-api.sigs.k8s.io/references/spec/#gateway.networking.k8s.io/v1beta1.Listener has

under the `tls` field, which I think meant to indicate that the `tls` field itself is core, and then also included some additional tips related to if. After, https://gateway-api.sigs.k8s.io/references/spec/#gateway

[2022-09-07 07:32] youngnick commented on #1031
/remove-lifecycle rotten

I think that this may have been a bit addressed by #1243 - I moved some stuff from the `backendRefs` field docs to the inner struct docs where I could. I don't think we've done the same with `AllowedRoutes` yet though. @mikemorris what do you think?

[2022-09-07 07:35] ivanmatmati commented on #1378
Thanks @shaneutt for clear explanation, We'll keep in mind we can get involved for that matter.

[2022-09-07 07:35] youngnick commented on #1074
/remove-lifecycle rotten

@sdjksdajshd I'm sorry I didn't get back to you - if you've implemented a Policy resource, I'd love to see a writeup or presentation to one of our meetings, or anything else you can do to share. Policy resources are a bit underspecified at the moment, because there aren't a lot of examples yet.

[2022-09-07 13:51] sunjayBhatia opened #1381 "Clarify Route matching precedence language"
The language describing Route match precedence order still seems a little unclear: https://github.com/kubernetes-sigs/gateway-api/blob/c1adb20f2d476dee1b95c255aedfa9b49e8b59f0/apis/v1beta1/httproute_types.go#L144-L167

In https://github.com/kubernetes-sigs/gateway-api/issues/1370 I interpreted the section about `largest number of...Header matches` to mean the Rule with the largest number of matchi

[2022-09-08 01:26] ksankeerth commented on #1330
@rainest  Sorry for the confusion related to the proposed changes. I also looked at the same doc. The Longest Matching SNI was mentioned as support: core.  The second proposed test seems unnecessary. As “Host Header” and “Hostname” should match, I thought the “SAN” or “CommonName” of certificates also match with “Hostname”. I think it’s not necessary for Support: core. Even in the PR, I didn’t inc

[2022-09-08 13:07] #1271 closed

[2022-09-10 12:50] aryan9600 opened #1384 "Improve `ExpectedResponse` used in conformance tests"
**What would you like to be added**:
A new type `Response` should be added containing the following fields (non-exhaustive):
[code]
The `ExpectedResponse` struct should be modified to have field of the type `Response` replacing the current field `StatusCode`.

**Why this is needed**:
The `ExpectedResponse` contains a lot of information other than about _just_ the expected HTTP response, like the e

[2022-09-10 12:51] aryan9600 commented on #1384
/area conformance
/kind cleanup

[2022-09-11 16:03] akankshakumari393 commented on #1366
Is this issue still open? @shaneutt I would like to work on it.

[2022-09-11 16:04] akankshakumari393 commented on #1366
/assign

[2022-09-11 16:11] akankshakumari393 commented on #1267
Hey @youngnick @shaneutt. Is this still valid. I would like to contribute to it. Also I would need some technical guidance on it.

[2022-09-12 02:46] youngnick commented on #1206
/remove-lifecycle stale

[2022-09-12 12:47] shaneutt commented on #1267
Still valid, feel free to ask in this issue if you need help or run into any specific problems.

[2022-09-12 15:46] akankshakumari393 commented on #1267
/assign

[2022-09-12 15:48] akankshakumari393 commented on #1267
Sure thanks @shaneutt 👍🏻

[2022-09-12 15:56] akankshakumari393 commented on #1267
I would like to understand how were we releasing up until now. Was it a manual process?

[2022-09-12 16:09] robscott commented on #1076
Going to close this one due to lack of response, feel free to reopen if you're still running into this.

[2022-09-12 16:09] #1076 closed

[2022-09-12 17:15] danehans opened #1385 "Provide Clarification for Collapsing Compatible Listeners Across Gateways"
**What would you like to be added**:
Either update the current spec for collapsing compatible Listeners across Gateways or update conformance tests to support existing guidance for collapsing compatible Listeners across Gateways.

**Why this is needed**:
To aid implementors in implementing the API.

**Background**:
Currently, the v1beta1 Gateway spec [states](https://github.com/kubernetes-sigs/gat

[2022-09-12 17:17] shaneutt commented on #1267
It's been this so far: https://github.com/kubernetes-sigs/gateway-api/blob/main/RELEASE.md#release-steps

[2022-09-12 17:29] danehans opened #1386 "Gateway Finalizer"
**What would you like to be added**:
A Gateway finalizer similar to the GatewayClass finalizer.

**Why this is needed**:
The [GatewayClass finalizer](https://github.com/kubernetes-sigs/gateway-api/blob/v0.5.0/apis/v1beta1/gatewayclass_types.go#L64-L67) ensures that a GatewayClass is not deleted when Gateways are attached. A Gateway finalizer should be specified to ensure Gateways are not deleted w

[2022-09-12 21:54] robscott commented on #1374
Opening this back up to track a cherry pick into release-0.5

[2022-09-12 23:46] howardjohn commented on #1385
IMO this is an issue with the implementation/spec, not the tests. The test has defined a perfectly valid set of listeners which cannot be collapsed. There are two correct ways to handle this as an implementation:

1. Don't collapse in this case
2. Collapse at first, then split once a conflict is detected

2 Seems like a bad idea/complex.

For (1), this doesn't necessarily mean _never_ collapse - b

[2022-09-13 00:07] danehans commented on #1385
I agree that the tests provide a perfectly valid set of listeners __if__ multi-gateway listener collapsing is not supported by the spec. This is why I state:

Without updating the conformance tests, implementors that follow the multi-gateway listener collapsing spec cannot use the provided base manifests b/c the 3 Gateways have incompatible listeners. I suggest providing separate manifests that ad

[2022-09-13 00:09] howardjohn commented on #1385
I don't think its following the spec:

Its a bit ambiguous but to me this means if they are not compatible you cannot collapse them, not that they should just fail.

[2022-09-13 00:53] danehans commented on #1385
Agreed. So an implementation doesn't collapse the listeners since they're not compatible for collapsing, leaving 3 Gateways in a "Ready=False" state. @howardjohn as you mention in https://github.com/kubernetes-sigs/gateway-api/issues/1385#issuecomment-1244718632, I think it's a bad idea for an implementation to "Collapse at first, then split once a conflict is detected".

[2022-09-13 01:14] tokers commented on #1386
Also for TLSRoute, TCPRoute, and UDPRoute?

[2022-09-13 01:21] howardjohn commented on #1386
IMO we shouldn't do this.

1. Core k8s types do not (PDB and deployment for example). The one I know that does, Namespace, is a unique case.
2. Generally finalizer is for the controller to cleanup. But the controller cannot delete the HTTPRoute - the user must. However, the user *also* cannot delete them since there is a persona split between gateway admin and app admin
3. Finalizer generally prov

[2022-09-13 03:24] gyohuangxin commented on #1374
@robscott I raised a PR to cherry pick it into release-0.5, please review it, thanks.

[2022-09-13 18:52] danehans commented on #1386
This is not the case for `GatewayClassFinalizerGatewaysExist`.

The persona split is not a requirement of Gateway API, e.g. a user can be responsible for managing the infra and app routing. Even in a split persona use case, I can see value in a Gateway finalizer to avoid an infra admin user from deleting Gateways with routes that were attached by app dev users.

[2022-09-13 19:13] robscott commented on #1385
From my perspective, the concept of collapsing listeners is present to allow for implementations to provision infrastructure in more efficient ways when it's possible. It was not intended to say that all listeners in a cluster should be collapsible to a single underlying Gateway, or that all listeners defined by conformance tests would be collapsible to a single underlying Gateway. Sorry for any c

[2022-09-13 19:19] howardjohn commented on #1386
FWIW I don't think this should exist either :slightly_smiling_face:

I don't think there is anything stopping an implementation from adding a finalizer if they want to, right? If you specifically want one (maybe you don't have persona split or don't care), you can always add one today?

[2022-09-14 05:13] youngnick commented on #1386
After thinking about this for a bit, I agree with @howardjohn to some extent - I don't think that the relationship implied by parentRef is strong enough for it to include a finalizer.

The only action on a Gateway being removed should probably be to remove the associated status references as the Route falls out of scope. We could maybe use a small spec update to include that.

[2022-09-14 14:48] keithmattix opened #1388 "Publish policy on using generics in gateway-api"
**What would you like to be added**:
With generics shipping in go1.18, the gateway-api project needs to have some kind of policy around when and how generics should be used. If upstream Kubernetes has a policy, we likely need to mirror it. If further discussion is needed, please use GitHub Discussions and/or Slack to engage members of the community.

**Why this is needed**:
Generics are a very new

[2022-09-14 15:05] akankshakumari393 commented on #1388
I would like to work on this issue. But would need guidance as well
/assign

[2022-09-15 04:33] youngnick commented on #1111
I'm attempting to close this one as part of GEP-1364, so I'll take it.

/assign

[2022-09-15 04:34] youngnick commented on #1077
Doing this as part of #1364.

/assign

[2022-09-15 04:34] youngnick commented on #1156
Doing this as part of #1364.

/assign

[2022-09-15 04:36] youngnick commented on #1267
Hi @akankshakumari393, before we go too far down the automation route, we have #916 and #627 that are both v0.6.0 release blockers that we could really use help on.

[2022-09-15 04:54] akankshakumari393 commented on #1267
yeah Sure that, I would be happy to help.

[2022-09-15 04:56] akankshakumari393 commented on #627
/assign

[2022-09-15 06:23] aryan9600 opened #1391 "Add flags for `SupportedFeature` and `ExemptFeature` in conformance tests"
**What would you like to be added**:
A flag for configuring `SupportedFeature` and another for `ExemptFeature` in the conformance test suite.

**Why this is needed**:
This would let implementations choose which features they want to include in their conformance test runs, depending on which features are supported/unsupported by them.

[2022-09-15 07:06] gyohuangxin commented on #847
@robscott @bishtsaurabh5 May I know if this feature is still required based on the current design? If so, I'd like to continue to implement this.

[2022-09-16 00:52] mikemorris commented on #1388
Refs https://github.com/kubernetes/community/blob/master/sig-architecture/generics.md for the upstream Kubernetes policy, and https://github.com/kubernetes/kubernetes/issues/106846 as a specific attempt at introducing generics in a meaningful way.

FWIW I did previously introduce some trivial usage of generics in https://github.com/kubernetes-sigs/gateway-api/pull/1081

[2022-09-16 01:18] mikemorris commented on #1374
/close

Cherry pick to 0.5 in #1387 has merged.

[2022-09-16 01:18] #1374 closed

[2022-09-16 01:27] mikemorris commented on #1384
Adding this in place of the existing `StatusCode` field make sense to me.

Linking the existing `ExpectedResponse` struct for comparison https://github.com/kubernetes-sigs/gateway-api/blob/a7a465ababc8b7c2cd9eaa1ab769496704fee92a/conformance/utils/http/http.go#L30-L47

[2022-09-16 01:40] mikemorris commented on #1142
/remove-lifecycle stale

[2022-09-19 02:07] kahirokunn commented on #326
I need this.

[2022-09-19 02:16] gyohuangxin commented on #1391
I will work on this. /assign

[2022-09-19 22:18] shaneutt commented on #1314
Talked about this in the sync: not considering this a blocker for v0.6.0

[2022-09-20 02:45] gyohuangxin commented on #1391
@aryan9600 I created a PR to add these flags, please feel free to review and leave comments.

[2022-09-20 13:49] shaneutt commented on #1381
@skriss could we get an update from you on this one? It would be good to know your thoughts on whether keeping #1370 and updating the language is viable to you?

[2022-09-20 14:09] skriss commented on #1381
@shaneutt yep I think that works; it seems logical to consider each `HTTPRouteMatch` separately when counting match conditions for tie-breaking. Just want to make sure the spec is clear/precise on things like this and that the conformance tests match the spec!

[2022-09-20 14:47] sunjayBhatia commented on #1381
yep, I can make an update to the commentary on matching precedence

[2022-09-20 15:51] shaneutt commented on #1381
Thank you! :partying_face:  :vulcan_salute:

[2022-09-20 18:02] LCaparelli commented on #640
I'd like to work on this. First contrib ever, so I might need some pointers, but I'll ping on #sig-network-gateway-api if I need any help o/

@shaneutt Is there a deadline for v0.6.0 I should be mindful of?

/assign

[2022-09-20 18:08] briantkennedy opened #1395 "Improve conformance test error messages"
**What would you like to be added**:

Improve logging for conformance test conditions to include the "got" in addition to the "want".  In particular, `HTTPRouteInvalidCrossNamespaceParentRef/Gateway_should_have_0_Routes_attached` needs improvement.

**Why this is needed**:

Example of error message that needs improvement, this is the entirety of the log for the sub-test:

[code]

This doesn't give

[2022-09-20 18:09] shaneutt commented on #640
Thanks @LCaparelli! We are currently targeting the week before Kubecon for the release. We appreciate you helping out with this, please let us know here in the issue or on Kubernetes slack if you need any help while working on it :vulcan_salute:

[2022-09-20 18:45] robscott opened #1397 "Conformance: Timeouts should be configurable when waiting for Gateway to have 0 attached routes"
**What happened**:
This applies to 2 very closely related tests:

- [HTTPRouteInvalidCrossNamespaceParentRef](https://github.com/kubernetes-sigs/gateway-api/blob/main/conformance/tests/httproute-invalid-cross-namespace-parent-ref.go#L36)
- [HTTPRouteDisallowedKind](https://github.com/kubernetes-sigs/gateway-api/blob/1afb35ace155a92d2cbc03993763dbedec52cedc/conformance/tests/httproute-disallowed-ki

[2022-09-20 18:50] robscott commented on #1397
/assign @briantkennedy

[2022-09-20 20:09] briantkennedy opened #1398 "Add make rule for running goimports"
**What happened**:

Running `make fmt` does not address linter formatting concerns.

**What you expected to happen**:

There should be a `make fmt` or `make goimports` rule that brings files to a state where `hack/verify-golint.sh` will pass.

**How to reproduce it (as minimally and precisely as possible)**:

Alter line spacing on imports then run `make fmt; make verify`.

[2022-09-21 00:25] #1397 closed

[2022-09-21 04:54] oo00spy00oo opened #1399 "Conflict namespace resource when using kustomize"
**What happened**:

[code]

**What you expected to happen**:

Build with `kustomize` via command:

[code]

**How to reproduce it (as minimally and precisely as possible)**:

`kustomizaton.yaml`
[code]

**Anything else we need to know?**:

There are 2 `kind: Namespace` with `name: gateway-system` in `standard-install.yaml`

Remove conflict namespace resource
[code]

[2022-09-21 04:59] gyohuangxin commented on #1399
This bug has been fixed by https://github.com/kubernetes-sigs/gateway-api/issues/1374, are you using the latest code?

[2022-09-21 21:21] sunjayBhatia commented on #1381
opened https://github.com/kubernetes-sigs/gateway-api/pull/1401 to cover this

[2022-09-22 14:19] #1381 closed

[2022-09-23 21:13] akutz commented on #567
Maybe we should revisit https://github.com/kubernetes-sigs/gateway-api/issues/136? It still strikes me as the most elegant solution. It is not about managing infra, but about pointing to infra within the multi-tenancy world in which we live on Kubernetes. Without a proper `ClusterGatewayClass` and `GatewayClass`, I argue everything else is a work-around.

Regarding your proposal @robscott, I'm not

[2022-09-24 07:46] McLayer commented on #1399
I think for non-contributors latest code = latest released code :)

[2022-09-25 06:32] akankshakumari393 commented on #1398
Hey @briantkennedy, I couldn't reproduce the issue, I added line spaces on imports in the file `cmd/admission/main.go` like this
[code]

then after running `make verify`  `hack/verify-golint.sh` script passed.
Could you please add more details on what is missing here.

[2022-09-25 06:58] akankshakumari393 commented on #1388
We have a upstream Kubernetes policy in place for using generics, I think we should mirror it for single source of truth

[2022-09-25 09:13] akankshakumari393 commented on #627
Quick question -
1. what all arch do we want to add?
2. All arch images need to use to repo that has arch information in its name, earlier we were using `${REGISTRY}/admission-server:${VERSION_TAG}`. Now it should be `${REGISTRY}/admission-server-${ARCH}:${VERSION_TAG}`. So do we need to create new repo or is it handled by infra team.

[2022-09-25 09:18] akankshakumari393 commented on #1398
/assign

[2022-09-25 11:19] akankshakumari393 opened #1403 "Fix anchor for installing gateway api CRD on getting started Guide"
On this [page](https://gateway-api.sigs.k8s.io/guides/getting-started),the anchor in the link [installing-a-gateway-api-bundle](https://gateway-api.sigs.k8s.io/guides/getting-started/#installing-a-gateway-api-bundle) does not exist anymore and should be updated to [installing-gateway-api](https://gateway-api.sigs.k8s.io/v1alpha2/guides/getting-started/#installing-gateway-api)

**What happened**:

[2022-09-25 11:19] akankshakumari393 commented on #1403
/kind documentation

[2022-09-25 11:20] akankshakumari393 commented on #1403
/assign

[2022-09-26 02:05] gyohuangxin commented on #1399
@McLayer Yes, it's a good reminder. @robscott This fix was merged and cherry-picked to [release-0.5](https://github.com/kubernetes-sigs/gateway-api/pull/1387), but we haven't updated it on release page.

[2022-09-26 04:01] youngnick commented on #1399
Yes, the fix for this will be included in the v0.5.1 patch release.

[2022-09-26 04:03] youngnick commented on #1157
/remove-lifecycle stale

@carlisia, are you still able to take this one on? If not, maybe we can write it up for someone else?

[2022-09-26 04:05] #1403 closed

[2022-09-26 04:06] youngnick commented on #627
I think that `amd64` and `arm64` are probably okay for now, we can add more later if required.

I didn't know that was a requirement, maybe we can check with some other things like ingress-nginx as to how they handle this (I don't think that other Kubernetes projects have the arch in the repo name?)

[2022-09-26 04:29] youngnick commented on #567
There are a few problems I can see with introducing a ClusterGatewayClass and associated GatewayClass namespace-scoped resource:
- *Class names are, in the Kubernetes API, generally reserved for cluster-scoped things. IngressClass and StorageClass are both cluster scoped. So I'd probably be more in favor of keeping GatewayClass and introducing NamespacedGatewayClass or something.
- Once we do have

[2022-09-26 04:50] gyohuangxin commented on #1399
@youngnick Great, thanks!

[2022-09-26 05:26] gyohuangxin commented on #1157
@youngnick I'd like to take this if @carlisia are not working on this.

[2022-09-26 16:21] robscott commented on #847
Hey @gyohuangxin, thanks for checking! This is still unimplemented and would be a nice addition to https://github.com/kubernetes-sigs/gateway-api/blob/main/apis/v1beta1/validation/gateway.go. Let me know if you're still interested in implementing this.

[2022-09-26 17:39] akankshakumari393 commented on #847
Hey i would like to contribute if no one is working on it.

[2022-09-26 20:42] robscott commented on #1362
@youngnick now that the GEP for #1364 has merged can we unblock this one? I think the work there ended up not requiring any changes to the original plan here, but correct me if I'm wrong.

[2022-09-26 20:46] #1338 closed

[2022-09-26 21:02] akankshakumari393 commented on #1366
Hey @robscott please assign it to someone else, as i may not be able give time to it.

[2022-09-26 21:56] #1206 closed

[2022-09-26 23:03] mikemorris commented on #1141
It feels like there may be some substantial overlap here with [NetworkPolicy](https://kubernetes.io/docs/concepts/services-networking/network-policies/) (if it could be explicitly applied to a Gateway resource instead of a pod selector?) for the whole-infra case.

[2022-09-27 00:28] tokers commented on #1366
/assign

[2022-09-27 01:49] gyohuangxin commented on #847
@robscott Thanks! I'd like to contribute on this.
@akankshakumari393 Sorry! I'm working on this, but any reviews and comments are welcome :)

[2022-09-27 01:49] gyohuangxin commented on #847
/assign

[2022-09-27 08:34] mlavacca commented on #1315
@youngnick @shaneutt Reading from the GEP #1383 that has recently merged, I see that has been decided to always enforce the Gateway conditions, even when true. Do you think I can pick this one and start implementing it?

[2022-09-27 10:44] mlavacca opened #1410 "`ControllerName` validation helper"
**What would you like to be added**:

The GatewayClass `ControllerName` validation is enforced at the CRD level through the following regex:
`^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*\/[A-Za-z0-9\/\-._~%!$&'()*+,;=:]+$`

Since the controllerName is a field that may be used by the implementations to check that the `GatewayClass` has to be reconciled by the controller itself,

[2022-09-27 12:35] shaneutt commented on #1315
I would say yes, but I'll defer to @youngnick since he has more context on this than I.

[2022-09-27 12:59] mlavacca commented on #1410
/assign

[2022-09-27 13:09] mlavacca opened #1411 "Consider the MUST requirement for gatewayclass finalizer"
**What would you like to be added**:

The `GatewayClass` [doc](https://github.com/kubernetes-sigs/gateway-api/blob/2738bba07d9cc98f4f0334a638c26d2159ae12b0/apis/v1beta1/gatewayclass_types.go#L45-L50) states that
[code]

Since this is described as a MUST in the API, it should be checked by a conformance test that creates a `GatewayClass` and a `Gateway` that uses it. Once the `Gateway` is created,

[2022-09-27 13:53] howardjohn commented on #1411
Can we consider changing the spec here? This is a bad idea IMO

[2022-09-28 02:12] gyohuangxin commented on #1399
@oo00spy00oo https://github.com/kubernetes-sigs/gateway-api/releases/tag/v0.5.1 was released, it fixed this issue.

[2022-09-29 01:26] youngnick commented on #1362
Yes, thanks for the poke. This one is unblocked, please go ahead @mlavacca. I'll include any changes you make in my PR to implement #1364, which I'm still working on.

[2022-09-30 02:13] youngnick commented on #1399
/close

[2022-09-30 02:13] #1399 closed

[2022-09-30 08:48] oo00spy00oo commented on #1399
It worked, thanks!

[2022-10-01 19:43] gnossen opened #1422 "ReferencePolicies yaml not present in config/crd/experimental"
**What happened**:

[code]

**What you expected to happen**:

Successful installation.

**Anything else we should know**:
It looks like the reference to the file is [here](https://github.com/kubernetes-sigs/gateway-api/blob/6a8aa636b4bf39c9961b59fbd3d925ed7effb2a7/config/crd/experimental/kustomization.yaml#L6). By deleting this line, I can successfully install the experimental CRDs.

[2022-10-02 11:24] subi9 commented on #1422
/assign

[2022-10-03 07:39] lahabana commented on #1240
If there's warnings in case of conflicts it's makes it obvious for user to not rely on this.

/close

[2022-10-03 07:39] #1240 closed

[2022-10-03 16:31] robscott commented on #1422
Thanks for reporting this @gnossen! @howardjohn fixed this with #1424

[2022-10-03 16:31] #1422 closed

[2022-10-03 17:49] robscott opened #1425 "Webhook: Publish metric that tracks the number of errors encountered"
**What would you like to be added**:
A metric published by the webhook that tracks the number of errors encountered. It may be useful to have a metric that tracks responses by the following three outcomes:

1. 20x - Success
2. 40x - Failed Validation
3. 50x - Internal Error

**Why this is needed**:
When deploying this webhook as a cluster operator or infrastructure provider it would be helpful to

[2022-10-03 21:23] pleshakov opened #1427 "Migration guide for Ingress users"
**What would you like to be added**:

As part of the guides section of the docs (https://gateway-api.sigs.k8s.io/guides/), add a "Migrating from the Ingress resource" guide to help Ingress users adopt the Gateway API.

**Why this is needed**:

The Gateway API resources are quite different from the Ingress resource, so explaining the differences and how to translate the Ingress resource to Gateway

[2022-10-03 21:28] pleshakov commented on #1427
I wonder what people think about the following ideas about the migration guide:

**Goals**:
- Prepare Ingress users to migrate from the Ingress resource to the Gateway API resources.
- Keep the guide Ingress Controller agnostic -- only focus on portable features.
- Make the guide only about the data plane configuration.

**Non goals**:
- Nothing about live migration  (ex. how to migrate to Gateway

[2022-10-03 21:37] mikemorris opened #1428 "website: render Approved GEPs in numerical order instead of alphabetical"
**What would you like to be added**:

Approved GEPs should be rendered in reverse chronological order in the website navigation menu (roughly, sorting by PR number instead of date is likely preferable). This may require adding additional metadata to existing GEP files.

**Why this is needed**:

Currently, Approved GEPs are rendered in alphabetical order, which can be particularly confusing now tha

[2022-10-04 04:13] robscott commented on #1428
For reference, this is the line that generates this: https://github.com/kubernetes-sigs/gateway-api/blob/main/.golangci.yml#L42.

[2022-10-04 04:18] robscott commented on #1427
Thanks @pleshakov! This is a great idea. There's a lot of overlap here with what @shaneutt and I will be talking about in https://sched.co/182IG, it would be great to actually have this kind of content on our website in advance though. Happy to share our WIP slides if they're helpful when writing this.

[2022-10-04 04:44] #1366 closed

[2022-10-04 18:30] #1391 closed

[2022-10-04 18:53] mikemorris commented on #1070
/lifecycle frozen

[2022-10-04 19:00] mikemorris commented on #1067
/remove-lifecycle stale

@candita has started work on supporting this functionality it https://github.com/kubernetes-sigs/gateway-api/pull/1430

[2022-10-04 19:01] mikemorris commented on #1103
/remove-lifecycle stale

[2022-10-04 19:09] mikemorris commented on #1329
/help

[2022-10-04 19:12] mikemorris commented on #1317
I think this has been resolved with the changes in #1363 and #1367, thanks @abhijit-dev82!

/close

[2022-10-04 19:12] #1317 closed

[2022-10-04 19:24] mikemorris commented on #622
Noting for posterity and shared context that this appears to be a duplicate of https://github.com/kubernetes-sigs/gateway-api/pull/1430.

[2022-10-04 19:43] mikemorris commented on #1133
This appears to have been fixed in https://github.com/kubernetes-sigs/gateway-api/pull/1066

/close

[2022-10-04 19:43] #1133 closed

[2022-10-04 19:47] hh commented on #1329
/assign

[2022-10-04 19:48] hh commented on #1329
/cc

[2022-10-04 19:48] hh commented on #1329
/unassign

[2022-10-04 19:55] shaneutt commented on #1427
Yes, also sounds like something that would be potentially good to do as part of the upcoming `ingress2gateway` migration tool (that is, to document using this tool to migrate potentially).

[2022-10-04 20:05] mikemorris commented on #835
This was completed in https://github.com/kubernetes-sigs/gateway-api/pull/1046

[2022-10-04 21:05] pleshakov commented on #1427
great! I will write a draft and create a PR.

[2022-10-05 04:50] tsaarni commented on #622
Hi @mikemorris

While being closely related,

1. this current issue #622 was about allowing application developer to manage the **client** certificate for proxy when it **initiates TLS connection** towards their upstream/backend service.
2. The discussion in #763 is about allowing application developer to manage **server** certificate for proxy when it **terminates TLS connection** from an externa

[2022-10-05 12:52] shaneutt commented on #1062
/remove-lifecycle stale

[2022-10-05 12:54] shaneutt commented on #1062
While I don't think this issue is entirely ready for action, I do think it represents some key interests in the L4 ingress space that I would like to see addressed. I'm going to take this one to try and shepherd it forward with the goal of fully defining the acceptance criteria that would see it complete and ideally getting this into `v0.7.0`.

[2022-10-05 15:50] ivanmatmati opened #1433 "TCP specification question"
Hi,
I would like to ask two questions about Gateway API specification for TCP protocol.

1.  The specification says that to determine which route is selected when multiple can apply we should select by these rules:

    * The most specific match as defined by the Route type.
    * The oldest Route based on creation timestamp. For example, a Route with
      a creation timestamp of "2020-09-08 01:0

[2022-10-05 17:51] mikemorris commented on #622
Thanks for the explanation @tsaarni, that makes sense and I think #1282 could possibly address both use cases.

[2022-10-05 22:51] #1362 closed

[2022-10-06 10:27] mlavacca opened #1437 "Improve the Gateway `ResolvedRefs` condition conformance tests"
**What would you like to be added**:

#1419 improved the Gateway `ResolvedRefs` condition documentation by specifying in which cases the reason `InvalidCertificateRef` must be used:

https://github.com/kubernetes-sigs/gateway-api/blob/38a295bb0ad65b1b8cfc3610dad89754259f6623/apis/v1beta1/gateway_types.go#L748-L759

To ensure full compliance with this specification, the conformance tests related to

[2022-10-06 15:41] #1428 closed

[2022-10-06 16:19] mikemorris commented on #1437
/kind conformance

[2022-10-07 12:27] #640 closed

[2022-10-07 13:08] mlavacca opened #1441 "webhook: validate certificateRefs when `tls` is set and `mode` is Terminate"
**What would you like to be added**:

The `TLSModeType` documentation states: https://github.com/kubernetes-sigs/gateway-api/blob/006a257d4dfd6bf3bea938def6e20e7ddf256df2/apis/v1beta1/gateway_types.go#L290-L305

In particular, when the `TLSConfig` is set, and the `TLSModeType` is **terminate**, the `certificateRefs` field must always be set and contain at least one reference to an object.
To ensur

[2022-10-07 13:50] rperper commented on #1320
I'm having an issue passing this test as the test is requiring the Gateway ListenerStatus SupportedKinds array to be empty.  The CRD does not permit an empty array to be passed in, nor does it allow a single element array with a 0 Kind length.  Am I missing something here?  Thanks!

[2022-10-07 14:49] LCaparelli opened #1442 "Add go version check for code generation"
**What would you like to be added**: a version check for Go when running code generation

**Why this is needed**: the project's `go.mod` currently uses Go 1.18, but the code generation script must be executed using go 1.19. However, `make verify` runs fine with 1.18 locally, but will fail in CI/CD that is using 1.19.

[2022-10-07 15:26] mlavacca commented on #1320
Hi @rperper, the field `SupportedKinds` is mandatory, therefore you cannot leave it as nil, but you need to provide an array of length 0. With such a value, it should work as expected.

[2022-10-07 18:17] rperper commented on #1320
Thanks for responding so quickly!  When I tried that I got an error: `Gateway.gateway.networking.k8s.io "gateway-only-unsupported-route-kind" is invalid: status.listeners[0].supportedKinds: Required value`.  This little bit of code:
[code]
Resulted in this output in the trace:
[code]
As you can see, the field: `f:kinds":{}` which is an empty array.
But I may indeed have missed something.  So much

[2022-10-07 20:53] rperper opened #1444 "Conformance test httproute-matching-across-routes generates unexpected HTTPRoute Paths."
**What happened**:
When running a conformance test with our company's Kubernetes Gateway Load Balancer (LiteSpeed Technologies), the httproute-matching-across-routes conformance test failed using today's (07 Oct 2022 main branch) conformance test code  When checking the .yaml, it shows:
[code]
Which would mean that for `matching-part2` there would only be a single path `/v2`.  However when doing a

[2022-10-07 21:45] mlavacca commented on #1320
The `kinds` field you pointed out above is in the listener spec, while the `supportedKinds` is in the listener status. In this case, no `kinds` specified in the `allowedRoutes` matches the ProtocolType. Therefore the field `supportedKinds` in the listener status must be set to an empty (non-nil) slice. Indeed, is in `status.listeners[0].supportedKinds`, not in `spec.listeners[0].allowedRoutes.kind

[2022-10-10 14:51] #1442 closed

[2022-10-10 19:00] mikemorris commented on #1364
Should this be closed now that https://github.com/kubernetes-sigs/gateway-api/pull/1383 has merged, or should it stay open until implementation is complete?

[2022-10-10 19:21] robscott commented on #1364
I'm not really sure what we should do. Generally we've been leaving these open until they're implemented and documented, but not until they reach beta/GA. In upstream (k/enhancements), tracking issues are left open for all KEPs until they are either removed or graduate to GA. We may want to move to that approach. I've got a related PR that tries to more clearly document our approach here: https://

[2022-10-10 19:26] shaneutt commented on #1364
If the dilemma is whether to keep it open until it _releases_, I say close it. It's tracked against v0.6.0 milestone that should be sufficient to indicate in what release it's done.

[2022-10-10 19:34] robscott commented on #1364
@shaneutt At a minimum, I want to leave a GEP tracking bug open until it's met the criteria to be released. If we close out without actually implementing or documenting it, we may accidentally release a feature that's only half of the way there.

[2022-10-10 19:46] mikemorris commented on #1110
[GEP-1364](https://gateway-api.sigs.k8s.io/geps/gep-1364/) has been approved, deprecating `ListenerConditionDetached` and proposing that `ListenerConditionAccepted` be used instead.

This GEP also addresses the confusion with the `Conflicted` status by setting an expectation that positive polarity error status conditions should only be present when the error state exists.

[2022-10-10 19:54] mikemorris commented on #1077
Re-read this and it feels like #1364 covers all the points in this sufficiently that this could likely be closed as a separate issue now.

[2022-10-10 21:32] robscott opened #1448 "Promote ReferenceGrant to Beta"
**What would you like to be added**:
Based on discussion in recent community meetings, we believe that ReferenceGrant has met the required [graduation criteria](https://gateway-api.sigs.k8s.io/concepts/versioning/#graduation-criteria) to graduate to beta. This will require updating the types to match what we've done for GatewayClass, Gateway, and HTTPRoute, with one exception: The storage version

[2022-10-10 21:42] robscott commented on #1444
Hey @rperper, I think the confusion here is coming from the [default "/" prefix path match](https://github.com/kubernetes-sigs/gateway-api/blob/f533a1e7637a057fd4dc20c9adbc27f8dbd8bc5d/apis/v1beta1/httproute_types.go#L116) we apply for HTTPRoutes. I'm not sure that should matter here though because a "/v2" match should have precedence over "/". Maybe some more details on what you'd expect to happe

[2022-10-10 21:43] mikemorris opened #1449 "Add "Pending" reason and document usage for condition "Accepted", status: "Unknown" on all resources"
**What would you like to be added**:
- [ ] Add a new `"Pending"` status condition reason to match the existing [ListenerConditionReason](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io%2fv1beta1.ListenerConditionReason)
  - [ ] GatewayClassConditionReason
  - [ ] GatewayConditionReason
  - [ ] RouteConditionReason
- [ ] Document that ListenerReasonPending should

[2022-10-10 21:49] mikemorris commented on #1111
[GEP-1364](https://gateway-api.sigs.k8s.io/geps/gep-1364/) helped significantly clarify the expected behavior here, tracking followup work individually in:
- https://github.com/kubernetes-sigs/gateway-api/pull/1446
- https://github.com/kubernetes-sigs/gateway-api/pull/1447
- https://github.com/kubernetes-sigs/gateway-api/issues/1449
- https://github.com/kubernetes-sigs/gateway-api/issues/1156

[2022-10-10 21:49] #1111 closed

[2022-10-10 22:27] nathancoleman commented on #1448
@robscott I can take this one

[2022-10-10 23:55] robscott commented on #1448
Thanks!

/assign @nathancoleman

[2022-10-11 07:49] mlavacca commented on #1315
ping @youngnick

[2022-10-11 12:57] rperper commented on #1444
Hi @robscott !  Indeed a /v2 match will take precedence over '/'.  However, this causes '/' to match at all.  '/' should go to the other backend.  This causes the load balancer confusion: now both backends are eligible for '/' traffic which is why the test fails.  Kubernetes shouldn't be adding rule matches, only using the ones specified and '/' is not specified.

[2022-10-11 15:02] rperper commented on #1320
Hi @mlavacca, I don't think I was stomping on the listener's `allowedRoutes.kinds`.  So I added additional tracing code right before the gateway UpdateStatus:
[code]
I'm using the conformance tests; this is the gateway-unsupported-route-kind test.  The full gateway (from kubectl) is:
[code]
As a load balancer which doesn't support UDPRoute (and that's what the test is written for), I'm supposed to

[2022-10-11 15:17] mlavacca commented on #1320
I actually was looking for the Gateway Status that triggers the error, can you add the Status section in the snippet above?

[2022-10-11 16:35] rperper commented on #1320
@mlavacca I don't affect the status.  This is the Gateway.UpdateStatus() function and it fails so the status doesn't change.
But what it ends up with is this:
[code]
Since it fails the UpdateStatus() it doesn't even update the NotReconciled reason.  Sigh.

[2022-10-11 16:44] skriss commented on #1320
For reference, Contour does the following if there are no supported kinds, which seems to work fine: https://github.com/projectcontour/contour/blob/main/internal/status/gatewaystatus.go#L204-L207

[2022-10-11 16:46] mflendrich commented on #1411
xref https://github.com/Kong/gateway-operator/issues/432

[2022-10-11 18:29] rperper commented on #1320
That did it!  Thanks so much!

[2022-10-11 20:46] #1110 closed

[2022-10-11 22:20] danehans opened #1450 "Enhance HTTPRoute Status Conditions"
**What would you like to be added**:
Improve HTTPRoute status conditions to better reflect instances where a route is accepted but differ from spec. For example, a user creates a route that has duplicate header matches. In this instance, the `Accepted=true` condition is surfaced since the ResolvedRefs condition type does not apply.

**Why this is needed**:
To provide better visibility into routes

[2022-10-11 22:21] danehans commented on #1450
xref: https://github.com/envoyproxy/gateway/pull/495

[2022-10-11 23:21] arkodg opened #1452 "Conformance tests for TLS Passthrough"
**What would you like to be added**:
Conformance tests that define rules within the TLS Route API to enable TLS Passthrough between the client and the backend

**Why this is needed**:
To validate that the implementation supports the [TLSRoute API](https://gateway-api.sigs.k8s.io/concepts/api-overview/?h=tlsroute#tlsroute)

[2022-10-12 08:32] gyohuangxin commented on #847
I meet an issue when implementing this feature. My method is to add a function in https://github.com/kubernetes-sigs/gateway-api/blob/main/apis/v1beta1/validation/gateway.go, which will create a Kubernetes client via `"sigs.k8s.io/controller-runtime/pkg/client"` to get `gateways` resource list at cluster scope, here is the example code:
[code]

However, it doesn't work because the user "system:ser

[2022-10-12 17:28] mikemorris commented on #1450
I'm not quite sure I understand the ask here - this seems to imply encoding a way to express behavior that violates the spec within a specified status condition?

This feels like something that should be handled through conformance tests, setting an implementation-specific status condition, or suggesting changes to the Gateway API spec if it's misaligned with implementations in practice.

[2022-10-12 17:29] nathancoleman commented on #1448
@robscott is the plan to move `ReferenceGrant` into the standard channel as well?

[2022-10-12 17:42] mikemorris commented on #1112
I think _most_ of these questions have been clarified now in [GEP-1364](https://gateway-api.sigs.k8s.io/geps/gep-1364/), and we should use this issue to track updating the documentation to reflect those decisions and add it to the v0.6.0 milestone.

Issues I had been tracking as related to clarifying this behavior:
- https://github.com/kubernetes-sigs/gateway-api/pull/1151#issuecomment-1133127038

[2022-10-12 18:02] mikemorris opened #1454 "Add "Programmed" Gateway condition, move "Ready" to extended conformance"
**What would you like to be added**:
- [ ] Add a new `"Programmed"` status condition and reason to:
  - [ ] [ListenerConditionType](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io%2fv1beta1.ListenerConditionType)
  - [ ] [ListenerConditionReason](https://gateway-api.sigs.k8s.io/v1alpha2/references/spec/#gateway.networking.k8s.io%2fv1beta1.ListenerConditionReason

[2022-10-12 18:06] mikemorris commented on #1454
/area conformance

[2022-10-12 18:24] robscott commented on #1448
@nathancoleman yep, resources that have graduated to beta should also be part of the standard channel.

[2022-10-12 20:15] rperper commented on #1444
Unless the '/' added is intended behavior.  If so, I'll deal with it, just need to know.

[2022-10-12 21:04] robscott commented on #1444
Hey @rperper! Thanks for checking. The default "/" prefix match is intentional. The idea is that rules match all requests unless specific matches or hostnames are specified, this just makes that behavior a little bit clearer.

[code]

To clarify, the first match should only match requests that start with `/v2` and the second match should only match requests that include a `version` header set to `

[2022-10-12 21:29] rperper commented on #1444
Thanks for the clarification!

[2022-10-13 02:57] robscott commented on #1098
Looks like we missed this. Adding to v0.6.0 milestone.

/help

[2022-10-13 02:58] robscott commented on #1098
/remove-lifecycle stale

[2022-10-13 03:29] #1449 closed

[2022-10-13 03:29] robscott commented on #847
Hey @gyohuangxin, sorry for the confusion here! This was actually intended to be smaller in scope than that. Instead of ensuring that a Listener's port, protocol, and hostname are unique across all Gateways, we want to make sure that they are unique within each individual Gateway.  A quick example:

**What we're trying to prevent with this validation:**
[code]

**What we don't care about:**
[code]

[2022-10-13 04:05] hzxuzhonghu commented on #326
IMO, every users may need ratelimit, @keithmattix I admit different implementors can not be same,  but if gateway API can not provide some typical  API, why would end-user pay for it? They already have all their own API.

[2022-10-13 05:28] gyohuangxin commented on #847
@robscott Understand, thanks for clarifying!

[2022-10-13 11:30] #1444 closed

[2022-10-13 11:31] rperper commented on #1444
Appreciate your help!

[2022-10-14 05:50] gyohuangxin commented on #1441
I'd like to implement it.
/assign

[2022-10-14 08:32] pmalek opened #1458 "https://gateway-api.sigs.k8s.io/references/spec renders code snippets improperly"
It seems that the tooling responsible for generating the source for https://gateway-api.sigs.k8s.io/references/spec is not doing it properly for code snippets (e.g. yaml manifests)

Taking a look at https://github.com/kubernetes-sigs/gateway-api/blob/ff862f153f1c3c014ddf84a1194bc44982d027e2/site-src/api-types/httproute.md#matches the manifest looks correct

<img width="481" alt="image" src="https:

[2022-10-14 21:35] LCaparelli commented on #1454
I'd like to work on this one :-)

/assign

[2022-10-15 00:34] robscott commented on #1458
Thanks for filing this @pmalek! Hopefully someone can find a solution to this that also passes linting. If not, we may just need to find an alternative to inline YAML snippets. We ran into similar problems in https://github.com/kubernetes-sigs/gateway-api/pull/1416.

[2022-10-17 06:18] youngnick commented on #713
This one still needs further work.

/lifecycle frozen

[2022-10-18 14:59] #1410 closed

[2022-10-19 11:41] #1441 closed

[2022-10-19 13:18] Asmokin11 opened #1465 "Failed calling webhook "validate.gateway.networking.k8s.io", context deadline exceeded"
**What happened**: I am facing the error **Failed calling webhook "validate.gateway.networking.k8s.io", context deadline exceeded** since this week when implementing the gateway API on our cluster.

**What you expected to happen**: Till last week we were able to deploy the load balancer through the gateway api but this is not the case anymore. We normally deploy the load balancer via terraform, bu

[2022-10-19 14:05] shaneutt commented on #1465
When this occurs, what is the status of the pods for the `gateway-api-admission-server` `Deployment`?

[2022-10-19 14:38] jrsmroz opened #1466 "`HTTPRouteMatch.QueryParams` status is confusing"
**What happened**:

`HTTPRouteMatch.QueryParams` is not marked as extended feature by `Support: Extended` comment.

Conformance tests claims it’s extended: https://github.com/kubernetes-sigs/gateway-api/blob/main/conformance/utils/suite/suite.go#L47-L48

Possible values of `HTTPQueryParamMatch.Type` are marked as extended or custom. https://github.com/kubernetes-sigs/gateway-api/blob/b9a8710347aed

[2022-10-19 14:50] gyohuangxin opened #1467 "Webhook: validate TLS config must be set when protocol is HTTPS/TLS"
**What would you like to be added**:

As discussed in https://github.com/kubernetes-sigs/gateway-api/pull/1460#issuecomment-1283623768, it's worth adding a validation to validate TLS config must be set when protocol is HTTPS/TLS

**Why this is needed**:
Because we need to validate TLS config must be set when protocol is HTTPS/TLS

[2022-10-19 14:50] gyohuangxin commented on #1467
/assign

[2022-10-20 04:12] youngnick commented on #1112
I've reviewed those issues and PRs @mikemorris was tracking, thanks Mike. I think we've largely got this handled, and that invalid backendRefs are pretty well clarified now. The last remaining piece is #1143 - which I think should absolutely be updated, but we should also add or update tests to ensure that partial validity is checked in other cases too.

[2022-10-20 05:52] Amila-Rukshan opened #1468 "Alternative to get same capability of extensionRef from route match block after discontinuing support for it"
**What would you like to be added**:
With the following GEP, the extension points within Route match block are going to be removed.
https://gateway-api.sigs.k8s.io/geps/gep-820/

If I had the some policy defined and targeted at HTTPRoute resource then it will apply for all the route rules. but previously it was possible to apply for a single rule (that granularity is lost after dropping the extens

[2022-10-20 16:31] #1466 closed

[2022-10-21 01:44] gyohuangxin commented on #1465
I had a similar issue before which caused by a Kubernetes CNI issue. Can you check the Kubernetes network and other service work fine?

[2022-10-21 02:19] gyohuangxin commented on #1098
I'd like to implement it.
/assign

[2022-10-21 08:20] Asmokin11 commented on #1465
@shaneutt I followed the example given on google's page to deploy gateway API - [Gateway API](https://cloud.google.com/kubernetes-engine/docs/how-to/deploying-gateways#backendconfig_with_gateway)

When I deploy the CRDs, they get configured but there is no gatewayClass is found when I run "kubectl get gatewayclass":

`docker@WL-C3CL7C3:~/Docker/repos/POC_Symlink/XS2A_POC-Terraform$ kubectl apply -

[2022-10-21 17:35] shaneutt commented on #1465
@Asmokin11 since it would seem very likely the problem exists somewhere in the environment, have you checked in with your cloud provider about this? My understanding is that for GKE users you can get Gateway API specific support via gke-gateway-feedback@google.com.

[2022-10-21 21:07] arkodg commented on #91
Hoping to help out with this issue.

**Existing Projects**
* [Here's](https://istio.io/latest/docs/tasks/traffic-management/ingress/secure-ingress/#configure-a-mutual-tls-ingress-gateway) an example of how mTLS is described to the user in Istio and how the user can configure their Gateway to support mTLS (by setting the `tls.mode` to `MUTUAL` and specifying the CA Certificate as `cacert` in the sa

[2022-10-21 23:24] howardjohn opened #1473 "HTTPRouteResponseHeaderModifier test seems incorrect"
**What happened**:

I tried to run the latest conformance tests

**What you expected to happen**:

It failed, but I don't think it should have.

**How to reproduce it (as minimally and precisely as possible)**:

You can run the tests with https://github.com/istio/istio/pull/41353 I suppose

**Anything else we need to know?**:

Aside from trivial issue in https://github.com/kubernetes-sigs/gateway-

[2022-10-24 06:48] kundan2707 commented on #1458
/assign

[2022-10-24 08:33] mlavacca opened #1474 "TLS support docs inconsistencies"
**What happened**:

In the api-overview docs section (https://gateway-api.sigs.k8s.io/concepts/api-overview/#route-summary-table), a compatibility matrix about the TLS support lists the TLS types supported by each Route; apparently, all the routes but the `UDPRoute` support TLS (either in terminated or in passthrough mode, or in both modes).

In the TLS guide docs section (https://gateway-api.sigs

[2022-10-25 14:44] aojea commented on #223
/assign

[2022-10-25 15:39] robscott commented on #1437
@mlavacca are you still able to work on this?

[2022-10-25 15:40] robscott commented on #1098
@gyohuangxin are you still able to work on this? Anything we can help with?

[2022-10-26 01:36] gyohuangxin commented on #1098
@robscott Yes, sorry for being busy with other things. I'll work on this these days.

[2022-10-26 10:22] navendu-pottekkat commented on #558
@mark-church @robscott Was there any effort made to build an example application?

[2022-10-26 15:52] robscott commented on #558
@navendu-pottekkat I'm not sure, what would that look like?

[2022-10-26 16:45] navendu-pottekkat commented on #558
I was referring to these two points (first two) made in the issue description:

So, this example application would be able to demonstrate the features provided through the Gateway API. And the goal for creating such an application would be to use it in examples so that readers can actually see an e2e example and test it out themselves using their choice of a Gateway API implementation.

I was look

[2022-10-26 19:42] mikemorris opened #1478 "Define how Gateways should or should not interact with GAMMA routing configuration"
**What would you like to be added**:

As a followup to #1426, there is a need to clarify how traffic ingressing through a `Gateway` should or should not respect GAMMA routing configuration, specifically in the case when a `Service` specified as a `backendRef` of an `HTTPRoute` with a `Gateway` `parentRef` may have separately-configured mesh routing rules from an `HTTPRoute` specifying the `Service

[2022-10-26 19:56] mikemorris opened #1479 "Remove "one HTTPRoute per Service" GAMMA limitation if safe"
**What would you like to be added**:

Allow more than one `HTTPRoute` to target the same `Service` as a `parentRef`, removing the existing limitation in [GEP-1426: HTTPRoute Mesh Binding](https://github.com/kubernetes-sigs/gateway-api/pull/1426).

To remove this restriction, we would need to confirm that this can be allowed safely (wouldn't be susceptible to circular references or confusing confli

[2022-10-26 20:05] mikemorris opened #1480 "Allow GAMMA HTTPRoutes to direct traffic to backendRefs in a different namespace"
**What would you like to be added**:

Define expectations or requirements for an `HTTPRoute` with a `Service` `parentRef` to direct traffic to `backendRefs` in other namespaces.

**Why this is needed**:

For North/South implementations, Gateway API requires a `ReferenceGrant` to be present to allow traffic from a Gateway to reach a `backendRef` in a different namespace, but service mesh implementa

[2022-10-27 14:55] mlavacca opened #1481 "webhook: validate HTTPRoute parentRefs"
**What would you like to be added**:

The `ParentRefs` field in the `CommonRouteSpec` states:
 https://github.com/kubernetes-sigs/gateway-api/blob/21bba43681b3db3a62d7ca9f108bf3be4c0cea71/apis/v1beta1/shared_types.go#L130-L132
For his reason, the `HTTPRoute` webhook should be improved in a way the above condition is always verified. Hence, the following check should be added to the webhook:

if an