[2020-10-13 19:29] hbagdi opened #396 "Upstream protocol cannot be defined"
**What happened**:

I was trying to define a set of manifests to use HTTPS between the Gateway and backend:
[code]

There is no place to define the protocol the Gateway should use to talk to the upstream. The above info is also not sufficient to determine it. This also applies to protocols like TCP/TLS.

**What you expected to happen**:

There should be a way to define upstream protocol to use.

*

[2020-10-13 20:16] eth0xFEED commented on #337
/assign

[2020-10-13 21:36] hbagdi commented on #390
/assign

[2020-10-13 21:40] hbagdi commented on #210
https://github.com/kubernetes-sigs/service-apis/pull/378
/close

[2020-10-13 21:40] #210 closed

[2020-10-13 22:09] hbagdi commented on #203
@jpeach Is this resolved now? It is used like an enum inside the API but we intentionally:
- don't do enum validation in the CRD to allow for arbitrary protocols
- ProtocolType is an exported Go type

Please also see #390

Is that sufficient to close this?

[2020-10-13 22:12] jpeach commented on #203
Where do you see that there's no validation?

[2020-10-13 22:18] hbagdi commented on #203
Whoopsie. My bad.

I fixed that in #390. PTAL.

[2020-10-13 22:27] hbagdi commented on #306
This is intentional. The filters inside the core/extended API will always be a common denominator of all implementations that are implementing this API. Overtime, I expect that more and more implementations will add in features such as the one you have described. As this convergence happens, we can promote more fields into the core filters as well.

A new custom filter should not be hard to implem

[2020-10-13 22:30] hbagdi commented on #36
/close

[2020-10-13 22:30] #36 closed

[2020-10-13 22:33] hbagdi commented on #259
This and HTTP method based matching -- these two good candidates that could have custom conformance and use the extensionRef inside HTTPRouteMatch. If anyone takes this up, would love to get some feedback on the extension point.

[2020-10-14 08:45] SantoDE commented on #259
Traefik is able to do QueryPath matching. We're currently doing a base implementation on the Spec. We could think about experimenting with the extension afterwards to support Query Param Matching?

[2020-10-14 22:43] danehans commented on #396
As discussed during the community meeting, `AppProtocol` will be the long-term answer to this issue. I'm in favor of providing a temporary `Service` annotation until then. My 2nd preference is adding a `protocol` field to `BackendPolicy`.

[2020-10-14 22:53] hbagdi commented on #395
/assign

[2020-10-14 23:12] howardjohn opened #401 "BackendTLSConfig defaulting and system ca certificates"
Currently CertificateAuthorityRef is optional and can refer to an object like secret.

The spec does not define what happens when this is not set - is this essentially `-k`/`InsecureSkipVerify` or is it defaulting to using the system ca certificates?

If the former - how can we specify to use the system ca certificates? This is an extremely common use case which seems wrong to force users to eithe

[2020-10-15 17:32] hbagdi opened #403 "Gateway listeners default for HostnameMatch"
**What happened**:
I was trying to use a Gateway for protocols without a concept of "hostname".
The HostnameMatch field in Gateway defaults to `match: any` which is ambiguous.

**What you expected to happen**:

One should be able to use protocols that don't have the concept of hostnames.

**How to reproduce it (as minimally and precisely as possible)**:

[code]

**Anything else we need to know?**:

[2020-10-15 17:32] hbagdi commented on #403
/assign

[2020-10-15 17:33] hbagdi commented on #403
We have two options:
- Make HostnameMatch optional and do NOT default
- Introduce a match type of None (seems wrong)

[2020-10-15 20:56] jpeach commented on #403
The default is `{match: "Any"}` which matches everything.

Docs say:

So it sounds like "Any" is what you want here?

[2020-10-15 22:04] jpeach commented on #396
In Contour-land, the common cases are

| name | description |
| - | - |
| tls | HTTP/1.1 over TLS |
| h2 | HTTP/2 over TLS (also gRPC) |
| h2c | HTTP/2 over TCP (also gRPC) |

In practice, there is some overlap between [ALPN](https://www.iana.org/assignments/tls-extensiontype-values/tls-extensiontype-values.xhtml#alpn-protocol-ids) and [services](https://www.iana.org/assignments/service-names-port

[2020-10-15 22:30] hbagdi commented on #403
Yes, the docs do cover that but as a user studying/working with YAML, that's not obvious when the user is not even thinking about the hostname.

[2020-10-15 22:33] hbagdi commented on #401
This is a very good question.
Most implementations are capable of performing verification based on system ca certs.
The default in implementations vary, some do `-k/InsecureSkipVerify` and some don't.

Is this something that belongs to GatewayClass's ParameterRef?

cc @bowei @danehans @jpeach @robscott

[2020-10-15 23:01] jpeach commented on #401
My initial thought is that the validation type should be explicit, but that system CA configuration belongs in the gateway class config.

[2020-10-16 00:26] jpeach commented on #403
IIUC you don't have to specify it, the defaulting sets it if you don't.

[2020-10-16 09:08] #34 closed

[2020-10-20 15:46] hbagdi commented on #403
That's right. My concern is that it is the end state that doesn't make much sense for the user and has the potential to confuse users and maintainers.

[2020-10-20 16:09] hbagdi commented on #395
This is now fixed.
/close

[2020-10-20 16:09] #395 closed

[2020-10-20 16:09] hbagdi commented on #363
This is now fixed.
/close

[2020-10-20 16:09] #363 closed

[2020-10-20 16:12] hbagdi commented on #392
Is there any documentation on how CRD versioning and Go module versioning should work together?
This proposal makes sense to me and we should certainly do it if it aligns well with upstream's guidance.

What should be the path forward here?
Is documenting this inside [release.md](https://github.com/kubernetes-sigs/service-apis/blob/master/RELEASE.md) sufficient?

cc @robscott @jpeach @danehans

[2020-10-20 16:14] hbagdi commented on #311
@robscott Is there anything left to do here?

[2020-10-20 16:37] robscott commented on #311
I don't think so, thanks!

/close

[2020-10-20 16:37] #311 closed

[2020-10-20 16:44] robscott opened #404 "Add policy examples for restricting usage of GatewayClasses"
In #402 we removed any internal way of restricting where GatewayClasses could be used in favor of policy enforcement with tools like Gatekeeper. We need to provide some examples of how that would be done.

[2020-10-20 17:06] hbagdi opened #405 "Finalize naming for Gateway resource"
This issue tracks the WG discussions that we have been having around renaming Gateway (and GatewayClass) resource.

Some early suggestions have been:
- AppGateway and AppGatewayClass [danehans]
- Router and RouterClass?
- AppProxy?

We are likely going to conduct a survey to settle on this.

/cc @robscott @jpeach @danehans

[2020-10-20 17:43] hbagdi commented on #51
/remove-lifecycle rotten
/lifecycle frozen

[2020-10-20 17:44] hbagdi commented on #162
@jpeach Can we close this now?

[2020-10-20 21:18] jpeach commented on #403
I don't really follow that since you could make the same argument about any sort of defaulting. The alternative to explicit defaulting is for each controller to internally apply defaulting which is invisible to the operator.

[2020-10-20 22:05] jpeach commented on #162
I'll defer to @danehans since he filed this issue.

[2020-10-21 22:13] danehans commented on #403
What about this approach:
[code]
`hostnameMatch` would be ignored for TCP protocol type.

[2020-10-21 22:22] youngnick commented on #403
With the existing structure, we really have two options:
- keep a default, and have the value be always present in the YAML (because you can't omitempty on a non-empty value). This is confusing for TCPRoute, but clear for HTTPRoute.
- remove the default, and have the empty value mean "match any". This is clear for TCPRoute, but will probably be confusing for HTTPRoute.

Usage guesses for the two s

[2020-10-21 22:26] danehans commented on #331
Closed by https://github.com/kubernetes-sigs/service-apis/pull/391

[2020-10-21 22:26] #331 closed

[2020-10-22 18:31] danehans commented on #307
@hbagdi I submitted https://github.com/kubernetes-sigs/service-apis/pull/408 to fix this issue. Feel free to reassign yourself if you prefer your WIP PR over mine.

/assign

[2020-10-22 22:31] robscott opened #409 "Clarify what happens when a NamedAddress is requested but not supported"
The `NamedAddress` field is listed as `ImplementationSpecific`, what should an implementation do when this is requested in a manifest but can't actually be supported?

[2020-10-22 22:35] robscott opened #410 "Gateway and HTTPRoute hostname matching should be more similar"
On Gateway we support the following HostnameMatchTypes:

- Domain
- Exact
- Any

On HTTPRoute we rely on wildcard for similar functionality (`*`, `*.foo.com`, and `foo.com` are all valid options).

[2020-10-22 22:40] robscott opened #411 "Clarify how RouteGateways would work if we supported Route->Route delegation"
Right now the name seems to clearly describe which Gateways can use a Route. If we end up supporting Route->Route delegation, we may want to make this more generic to simply refer to what resource/parent can use the route.

[2020-10-22 22:42] robscott opened #412 "Clarify what case-insensitive means for header matching"
From prealpha review:

[2020-10-22 22:44] robscott opened #413 "Rename FilterTypeImplementationSpecific to FilterTypeExtension"
This would more clearly match the `ExtensionRef` field that is used for this filter type. (This feedback originally came from prealpha review).

[2020-10-22 22:45] jpeach commented on #409
I would expose this problem as

[code]

[2020-10-22 22:48] robscott opened #414 "Require port to be specified whenever a Service is targeted"
From prealpha review - the following comment should be removed.

[code]

Port should always be specified when a Service is the target resource. Leaving this in would risk significant breaking changes if a second port was added to a Service.

[2020-10-22 22:49] robscott commented on #414
For HTTPRoute we may want to default port to 80.

[2020-10-22 22:56] robscott opened #415 "Add a way for TCPRoute, TLSRoute, and UDPRoute to match all requests"
From the prealpha review: We have not clarified what happens when no matches are specified. It may make sense to use an enum here that supported the following options:

- All
- ExtensionRefs
- None

This could get confusing because we support multiple match structs here. Alternatively we may want to specify that if no matches are specified, all requests should match.

[2020-10-23 23:39] robscott commented on #403
I think there's a lot of overlap with this issue and https://github.com/kubernetes-sigs/service-apis/issues/410. I think the pattern we've used for hostname matching in HTTPRoute is easy to understand and has the added benefit of being similar in nature to the [Ingress host config](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/networking/types.go#L365-L375). I propose replacing Gat

[2020-10-23 23:40] robscott commented on #410
I think there's a lot of overlap with this issue and #403. I think the pattern we've used for hostname matching in HTTPRoute is easy to understand and has the added benefit of being similar in nature to the Ingress host config. I propose replacing Gateway hostname config with a copy of the hostnames field on HTTPRoute. This field would behave in the same way as the field on HTTPRoute, if no hostna

[2020-10-23 23:40] robscott commented on #410
/assign

[2020-10-24 00:26] jpeach commented on #410
In general, I think that the HostnameMatchTypes is more explicit and hence easier to understand. For example, you can't easily know that `foo.*.example.com` is not a valid hostname match otherwise. Making the semantics explicit with an enum seems to me to be more in the spirit of the Kubernetes API.

[2020-10-24 00:44] robscott commented on #410
`foo.*.example.com` would also be invalid for HTTPRoute:

I think the wildcard pattern in general is fairly widely used and understood at this point. Here's what I think a transition would look like:

### Any
**Current**
[code]

**Proposed**
No config needed

### Exact
**Current**
[code]

**Proposed**
[code]

### Domain
**Current**
[code]

**Proposed**
[code]

I'm definitely a fan of enums as I've

[2020-10-24 01:08] robscott commented on #403
I've opened a [PR](#416) to explore what this approach would actually look like.

[2020-10-24 01:08] robscott commented on #410
I've opened #416 to explore what this approach would actually look like.

[2020-10-26 09:44] aojea commented on #118
/remove-lifecycle stale
we'll get there :)

[2020-10-26 21:43] hbagdi commented on #346
@howardjohn Just following up, were you able to make any progress towards this?

[2020-10-26 21:44] hbagdi commented on #413
@danehans, assigning you as you are on #408. Feel free to unassign.

/assign @danehans

[2020-10-26 21:48] hbagdi commented on #392
/assign

[2020-10-26 21:48] hbagdi commented on #415
/assign

[2020-10-26 21:48] hbagdi commented on #414
/assign

[2020-10-26 21:49] howardjohn commented on #346
No, I am stuck on this by https://github.com/kubernetes/kubernetes/issues/95407

[2020-10-26 21:50] hbagdi commented on #170
#385 was merged in.
Please re-open if this doesn't solve the problem.
/close

[2020-10-26 21:50] #170 closed

[2020-10-26 23:29] robscott opened #418 "verify-golint is failing in CI"
It looks like golint is not present in the latest CI images and therefore our verify-golint script is failing. I've looked through the last few CI images and haven't figured out when it was removed yet. It seems like we should install golint if it does not exist locally.

/assign

[2020-10-27 00:07] #418 closed

[2020-10-27 17:24] hbagdi commented on #414
What are the downsides of always requiring a port?

It helps with debugging where a Gateway and Route resource tell you all you need to know about the network path of a request.

[2020-10-27 17:27] robscott commented on #414
I can't think of many downsides other than one more field to specify in manifests. I think requiring a port would be a good improvement to the API, especially if we could have a sensible default of 80 on HTTPRoute.

[2020-10-27 17:46] hbagdi commented on #414
I see. I think I understand what you mean. Let me push up a patch for this now and we can take it from there.

[2020-10-27 22:28] hbagdi commented on #332
I've been working a little bit towards this.
There is a new guides.md and I'm adding content to it slowly.
TLS is already in, #425 does some refactoring, #427 is adding some content in there.

[2020-10-27 22:28] hbagdi commented on #333
#427 accomplishes part of this.

[2020-10-28 00:19] robscott commented on #337
@eth0xFEED Do you still have time to take this one on?

[2020-10-28 00:25] #414 closed

[2020-10-28 01:02] robscott commented on #404
/assign

[2020-10-28 17:15] danehans commented on #409
[code]

We may want to consider breaking this status condition reason out into more specific reasons, but that's separate from this issue.

[2020-10-28 17:50] danehans commented on #409
/assign

[2020-10-28 17:51] danehans commented on #409
I'm pushing a PR that updates the godocs for `NamedAddressType` to address this issue.

[2020-10-28 18:27] danehans commented on #413
xref: https://github.com/kubernetes-sigs/service-apis/pull/408

[2020-10-28 20:29] robscott commented on #404
Initial WIP here: https://github.com/open-policy-agent/gatekeeper-library/pull/24

[2020-10-28 21:43] #307 closed

[2020-10-28 21:56] danehans opened #430 "Remove Unneeded Verify Examples Script"
**What would you like to be added**:
https://github.com/kubernetes-sigs/service-apis/pull/428 added support for kind to verify examples. Therefore, the existing `verify-examples.sh` script and associated `examples_test.go` are not longer needed and should be removed.

/cc @robscott @hbagdi

[2020-10-28 21:57] robscott opened #431 "Remove hack/verify-examples.sh"
Now that https://github.com/kubernetes-sigs/service-apis/pull/428 has merged, we likely don't need hack/verify-examples.sh and the associated go test.

[2020-10-28 21:59] hbagdi commented on #431
Dup of https://github.com/kubernetes-sigs/service-apis/issues/430
/close

[2020-10-28 21:59] #431 closed

[2020-10-28 22:15] hbagdi commented on #413
/close

[2020-10-28 22:15] #413 closed

[2020-10-28 23:01] bowei commented on #405
@robscott can you post the short link to the ideas doc?

[2020-10-28 23:13] robscott commented on #405
[bit.ly/service-apis-naming](https://bit.ly/service-apis-naming)

[2020-10-29 00:05] danehans opened #433 "Define Semantics for Extended Protocol Types"
**What would you like to be added**:
The Gateway API defines "Core" and "Implementation-specific" protocol types but does not address "Extended" protocols. Should "Extended" protocols contain a prefix, i.e. `extended/GRPC" to denote that implementations are not required to support this protocol type?

xref: https://github.com/kubernetes-sigs/service-apis/pull/398

[2020-10-29 00:10] #390 closed

[2020-10-29 02:36] mark-church commented on #332
Hi @hbagdi I'd love to collaborate with you on this. I was planning on porting the non-Istio bits of [this Gateway tutorial](https://github.com/GoogleCloudPlatform/gke-networking-recipes/tree/master/gateway) to here. It's 97% non-Istio specific so we could reuse most of it. I just need to figure out how to merge it with our existing content so it flows naturally. If you have any good ideas on how

[2020-10-29 03:41] robscott opened #434 "ListenerStatus should be more clearly tied to Listeners"
From the prealpha feedback:

Some possible solutions:
- Add a name field to listeners to uniquely identify them, use that in ListenerStatus
- Add protocol (and maybe hostname) to ListenerStatus

/cc @jpeach

[2020-10-29 03:48] robscott opened #435 "Cleanup from prealpha review"
This is one umbrella issue to capture a number of the smaller bits of prealpha feedback. This includes:

- Add an upper limit to the number of Gateways that will be stored in RouteGatewayStatus, likely 100.
- Clarify what "Filtering support, including core filters, is NOT guaranteed at this-level" means.
- Weight: Describe why so low and not 1B. Document that impls should quantize this as needed t

[2020-10-29 03:54] youngnick commented on #3
/remove-lifecycle stale
/remove-lifecycle rotten

I think the only utility here is to make the builds/testing a bit faster by allowing reuse of the mkdocs container. Given the amount of time this has lain dormant, we can probably just close it out. Thoughts?

[2020-10-29 15:01] #392 closed

[2020-10-29 16:40] robscott opened #440 "Reuse as much as possible between HTTPRouteForwardTo and RouteForwardTo"
There's a lot of overlap in these two types, and so far they've both been entirely duplicated. I believe the only difference is that `HTTPRouteForwardTo` includes filters.

[2020-10-29 16:41] hbagdi commented on #430
/close

[2020-10-29 16:41] #430 closed

[2020-10-29 17:07] hbagdi commented on #332
@mark-church, I've written up two guides:
- TLS: https://kubernetes-sigs.github.io/service-apis/tls/
- A simple Gateway: https://github.com/kubernetes-sigs/service-apis/pull/427/files?short_path=8350bc8#diff-8350bc8e1572393f0258cd3e7252bd5f9282c1f887bc07881a35961175b9e18e

Rather than having example manifests, my approach has been to include them in a webpage and explain what the manifests achieve

[2020-10-29 17:31] hbagdi commented on #95
I'm going to go ahead and close this issue as it has served the original purpose.
If there are bugs or feature requests or any other discussion that stems from here, please open a new issue.

/close

[2020-10-29 17:31] #95 closed

[2020-10-29 18:24] danehans opened #443 "Improve NamedAddressType Documentation"
Provide better documentation for defining what a `NamedAddressType` is. Should a `NamedAddressType` continue to be supported as "Implementation-specific" or should it be a different support level? Provide an example of a `NamedAddressType`.

[2020-10-29 18:25] danehans commented on #443
/cc @robscott @bowei @hbagdi

[2020-10-29 18:27] danehans commented on #443
This issue surfaced during the review of https://github.com/kubernetes-sigs/service-apis/pull/429.

[2020-10-29 19:54] #409 closed

[2020-10-30 08:18] SantoDE commented on #332
@mark-church @hbagdi

I have a question on that, as I see your conversation here as well. @mark-church, on your example you named it "Gateway API" while @hbagdi calls it the "official" name Service API. With which will we be going in the future? :)

For me, it already is confusing as we jump between the names. I guess, the confusion comes with the Gateway API being a subpart of Service API. That j

[2020-11-02 15:38] eth0xFEED commented on #337
@robscott yes i am finally back from the long trip , will get this completed today 👍

[2020-11-02 17:18] hbagdi opened #446 "Add backlinks from example manifests to guides"
**What would you like to be added**:

Add YAML comments in `examples/*.yaml` to list the guides in which an example manifests is being used:
[code]

**Why is this needed**:

Changes to example manifests and docs can get out of sync and skew.

[2020-11-02 17:38] #403 closed

[2020-11-02 17:38] #410 closed

[2020-11-02 18:55] hbagdi commented on #332
The official name is Service APIs and we haven't had any discussions to change the name that I'm aware of.

Gateway is a resource under Service APIs. We haven't used the term "Gateway API" and this is the first time I'm hearing it.

@bowei @robscott Thoughts?

[2020-11-02 20:22] #335 closed

[2020-11-02 21:24] #435 closed

[2020-11-03 19:06] robscott commented on #415
@hbagdi or @danehans Are you still able to take this one on?

[2020-11-04 20:24] robscott opened #447 "Develop a plan for repository and docs structure post v1alpha1"
Although we're currently very focused on a v1alpha1 release, we also need to figure out how we'll update our project structure after the API release. We need to answer the following questions:

- How can we ensure that all new work targets v1alpha2 by default?
- Should we create branches for each API release?
- How can we structure the docs to cover multiple API versions?

[2020-11-04 23:02] robscott commented on #333
#427 also potentially accomplishes 'a Gateway that targets routes in multiple namespaces' as well

[2020-11-04 23:03] danehans commented on #415
+1 specifying that if no matches are specified, all requests should match. This approach provides consistency with default matching of other API fields and with Ingress hostname matching. This issue does not address TLSRoute though.

[2020-11-04 23:32] eth0xFEED commented on #337
From Miciah to Everyone: (6:31 PM)
 The current wording makes it difficult to figure out which of these wins:  * foobarbaz.foo.com/ * foobar.foo.com/foo * *.foo.com/foobar * *.foo.com/foobarbaz 

[2020-11-05 17:44] hbagdi commented on #415
Removed myself from Assignee list a while ago because had too much on the plate.

[2020-11-07 17:23] evankanderson commented on #114
(sorry, missed the follow-up until now for some reason)

I agree that having a general extension mechanism is important, and the "actions API" seems like a sketch that could eventually provide lots of functionality that API gateways provide.

What I'm specifically interested in, though, is a standard way to provide data-plane access control along the lines of Google's BeyondCorp design -- a way to

[2020-11-07 21:41] evankanderson commented on #114
/remove-lifecycle rotten

[2020-11-08 20:08] akutz opened #450 "Support for LoadBalancerSourceRanges"
**What would you like to be added**:

It would be nice if the Service API spec supported some version of the `loadBalancerSourceRanges` field from the existing [`services` spec](https://godoc.org/k8s.io/api/core/v1#ServiceSpec):

[code]

**Why is this needed**:

Because the existing `services` resource supports it, and it makes sense to implement some type of ACL system in the Service APIs. Also,

[2020-11-08 21:20] akutz opened #451 "Support for ExternalTrafficPolicy"
**What would you like to be added**:

It would be nice if the Service API spec supported some version of the `externalTrafficPolicy` field from the existing [`services` spec](https://godoc.org/k8s.io/api/core/v1#ServiceSpec):

[code]

**Why is this needed**:

Because the existing `services` resource supports it, and it makes sense to implement this in Service APIs as well. While it's true that the

[2020-11-09 14:44] jmprusi commented on #114
Perhaps getting into the extended support spec, a basic initial approach like AWS Lambda has:

Could help cover some initial use-cases, provide an initial reference implementation, and "simple" enough to be implemented in different data-planes.

[2020-11-09 17:12] evankanderson commented on #114
Would a POC for one or more ingress implementations help move the needle here? If so, which ones?

[2020-11-09 17:53] hbagdi commented on #333
@robscott Do we need a separate guide from $427 for the multiple namespace point or can that box be checked off as well?

[2020-11-09 21:07] jpeach commented on #114
There's a question of what the API looks like, and a question of what the implementation looks like for integrating this stuff. There's no common protocol for external auth; various proxies all do different things. We could, for example, spec that the external auth server has to support the Envoy gRPC protocol, but that that just means few proxies will implement it.

[2020-11-09 23:42] #396 closed

[2020-11-10 05:22] robscott commented on #333
I'm on the fence. I think it's probably good enough to no longer block alpha, but we could probably use an example that actually showed different routes in different namespaces being targeted by the same gateway.

[2020-11-10 11:22] jmprusi commented on #114
Yes, going with extAuthz gRPC could be difficult for other proxies, but envoy can use a REST endpoint for extAuthz, and some of those proxies can be extended via lua, wasm, or native extensions...

As @evankanderson proposed, it seems to be a good idea to try to define a list of proxies and make some PoCs :)

[2020-11-10 15:31] hbagdi commented on #333
I was under the same confusion so errored on the side of having a new guide #452. PTAL.

[2020-11-10 15:41] hbagdi commented on #332
@robscott Can we close this as duplicate of #333?
Is there any difference between these two issues?

[2020-11-11 05:03] #415 closed

[2020-11-11 13:28] jmprusi commented on #326
This seems to be related to https://github.com/kubernetes-sigs/service-apis/issues/114

[2020-11-12 02:11] danehans opened #455 "Provide Alternatives for Managing TLS Assets Through Secrets"
**What would you like to be added**:
Currently, a controller that implements Service APIs needs the ability to watch secrets from all namespaces when an HTTPRoute is configured with a CertificateRef. Alternatives should be considered to reduce the need for a controller to have this level of RBAC privileges.

**Alternative Considerations:**
- Designate a single namespace used for secrets. Now diffe

[2020-11-12 05:05] robscott commented on #333
I've dropped this down to priority/important-soon now that #452 has merged and all of our must haves for v1alpha1 are in.

[2020-11-12 05:11] robscott commented on #455
A couple more options discussed today:

- Run multiple instances of the controller that each have access to secrets in only the subset of namespaces that are relevant.
- Provision Gateways and TLS config in namespaces that are otherwise isolated. Secrets in those namespaces can be limited to TLS certificates. Gateways can then target Routes in specific namespaces and controllers would not need acc

[2020-11-12 14:56] hbagdi commented on #412
/assign

[2020-11-12 16:14] hbagdi commented on #434
/assign

[2020-11-12 16:15] hbagdi commented on #447
Removing this from v1alpha1 milestone because this is intended for post v1alpha1.

[2020-11-12 18:57] robscott commented on #332
/close

[2020-11-12 18:57] #332 closed

[2020-11-12 19:30] robscott commented on #404
Fixed by https://github.com/kubernetes-sigs/service-apis/pull/456.

[2020-11-12 19:30] #404 closed

[2020-11-12 21:24] #434 closed

[2020-11-13 02:10] robscott opened #464 "Explore adding structure to docs-src"
We have an ever increasing number of md files in docs-src. It would be quite helpful if we could arrange them in folders similar to our navigation structure.

[2020-11-13 16:53] hbagdi commented on #203
This can be closed now. Please see:
https://github.com/kubernetes-sigs/service-apis/blob/6a0eff2f33e0c84b1dfff11782689d5174194932/apis/v1alpha1/gateway_types.go#L248-L253
/close

[2020-11-13 16:54] #203 closed

[2020-11-13 22:03] #412 closed

[2020-11-17 02:06] #337 closed

[2020-11-17 04:22] youngnick opened #465 "Change GatewayClass Condition to `Accepted`"
**What would you like to be added**:

Currently, GatewayClass' `status` stanza has only one Condition type explicitly laid out in the type files - `InvalidParameters`. This makes sense as a coordination mechanism for controllers that actually use the `spec.parametersRef` field, but is confusing for ones that don't.

**Suggested change**:
We change the standard condition for GatewayClass to `Accept

[2020-11-17 04:24] jpeach commented on #465
Routes use "Admitted", which is very similar.

[2020-11-17 07:41] youngnick commented on #465
We should use `Admitted` then, agreed.

[2020-11-17 23:25] maplain commented on #196
@hbagdi
we also have `LoadBalancerSourceRanges` in Service for `firewall` or `policy` related configurations.

[2020-11-18 00:05] maplain commented on #451
@akutz  see https://github.com/kubernetes-sigs/service-apis/issues/196 for service level configuration related discussion.

[2020-11-18 01:34] #465 closed

[2020-11-19 22:37] #162 closed

[2020-11-20 09:44] jbdoumenjou opened #470 "Fix the GatewayClass default Condition"
**What happened**:

Create a GatewayClass object and have the following default condition:

[code]

**What you expected to happen**:
According to #466

[code]

**How to reproduce it (as minimally and precisely as possible)**:

[code]

[2020-11-23 21:39] #470 closed

[2020-11-24 16:55] hbagdi commented on #216
This API is not prescriptive of how any infrastructure related to Gateway is created, maintained or destroyed. Closing this as resolved, please re-open if needed.

[2020-11-24 16:55] #216 closed

[2020-11-24 17:03] hbagdi commented on #440
/assign

[2020-11-24 18:11] robscott commented on #447
One thing that we’ll need to figure out pretty quickly - what do we want to do with changes that come in now that v1alpha1 is launched?

As I see it, we have 2 main options:
1. Create a v1alpha2 API directory and branch immediately, make the majority of changes excluding bug fixes there.
2. Continue to iterate on v1alpha1, release new minor versions of service-apis with updates to v1alpha1. We wou

[2020-11-24 18:19] robscott commented on #447
I'm personally leaning towards option 1 since I think it could be confusing to have lots of variations to the v1alpha1 API.

[2020-11-25 02:37] jpeach opened #480 "HTTPRequestHeaderFilter should specify the order of operations"
**What happened**:

HTTPRequestHeaderFilter has add/set/remove operations that manipulate the set of request headers. Depending on the order that a proxy applies these operations, the final result can be different.

**What you expected to happen**:

Header manipulations should be consistent across proxies.

[2020-11-25 11:51] nak3 opened #481 "The maximum limitation for HTTPRouteForwardTo is too small"
**Why is this needed**:

- The maximum limit of `httproutes.spec.rules.forwardTo` is only `4` as per [httproute_types.go#L205-L206](https://github.com/kubernetes-sigs/service-apis/blob/4455c32ed47a8b47f686d2c5c64aeff9b6798dcd/apis/v1alpha1/httproute_types.go#L205-L206).
- For example, Knative currently verfies [10 traffic split](https://github.com/knative/networking/blob/28c37e3cbe53b06b2471c4231c

[2020-11-25 14:47] mark-church opened #482 "Define standard conformance format for a GatewayClass to communicate what it supports to operators"
**What would you like to be added**:
GatewayClasses encapsulate the capabilities that an implementation of Service APIs supports. However, for the platform operators or application operators who might deploy Gateways in a cluster may not know exactly what within the API a given GatewayClass supports. This issue proposes a standard way for all GatewayClasses to communicate to a user what it support

[2020-12-01 16:11] kundan2707 commented on #482
/kind documentation

[2020-12-01 16:17] kundan2707 commented on #401
/kind design

[2020-12-01 16:58] hbagdi commented on #447
+1 to option 1. It will be much more easy to maintain and ship changes that way.
One concern I have is too many versions. CRD versions are kind of heavy weight and having a lot of them can easily confuse users and maintainers alike.

[2020-12-02 01:29] robscott opened #487 "Implement a Validating Webhook"
Although we've discussed this in a variety of previous community meetings, we didn't have an issue to track work on this. We've labeled [issues that need to be covered](https://github.com/kubernetes-sigs/service-apis/issues?q=is%3Aopen+is%3Aissue+label%3Aarea%2Fwebhook) with this webhook with `area/webhook`. Those include:

- [Support for setting a default GatewayClass](https://github.com/kubernet

[2020-12-02 01:38] robscott commented on #196
@hbagdi This issue has become pretty large in scope, would it be possible to split this up into smaller issues so it is easier to track progress on each part?

[2020-12-02 01:48] robscott commented on #481
Hey @nak3, thanks for reporting this! Our goal was to start with relatively low limits that each implementation could support and then expand from there. We're really just trying to avoid unbounded lists wherever possible. Do you know of any upper limits as far as what Knative or other implementations might be capable of? Is a traffic split between more than 4 targets a common or critical use case

[2020-12-02 12:49] squeed opened #488 "RFE: add layer-3 (TCPRoute) examples"
I've been reading through the service API documentation, and it's mostly excellent! Thank you, especially, for writing so many examples. It really makes it a lot easier to grok the shape of the API without poring through autogenerated documentation.

However, I don't see any examples for layer-3 Gateways.

**What would you like to be added**:
Some basic examples for how a layer-3 load balancer mig

[2020-12-02 15:36] squeed commented on #488
/kind documentation

[2020-12-02 19:48] robscott commented on #488
/assign @hbagdi

[2020-12-02 20:26] hbagdi opened #489 "Investigate alternative doc generation"
**What would you like to be added**:

Study and investigate docs site generator used by upstream Kubernetes and related project.

**Why is this needed**:

Existing docs tooling (mkdocs) is not meeting our needs. Specifically, we need our docs to be version aware. A long term goal for the project is to integrate docs to upstream, and hence it makes sense to align with upstream early on.

[2020-12-03 21:31] howardjohn opened #491 "Add support for selecting a specific in-cluster proxy instance as implementer of Gateway"
**What would you like to be added**:

A field like `selector` on Gateway that specifies what <thing> will have the gateway configuration applied to it.

For an in cluster proxy, this would be the pods that are actually implementing the Gateway. For out of cluster implementations, there may be similar selection mechanisms, although this is probably more domain specific.

The selector could be eithe

[2020-12-07 17:08] mark-church commented on #405
In an effort to actually start some name bikeshedding, I wanted to throw out some of my personal thoughts around ideas for Gateway naming and see what others thought. The [vote is still open](https://docs.google.com/forms/d/e/1FAIpQLSfgdecA_1UiriXIbITdROOcnbMa1pLEFivqXRQktik8nGHicg/viewform) and below is the final list of proposed names (which was cut down from the original list above):

- Gateway

[2020-12-07 18:21] hbagdi commented on #491
This is a very interesting problem.

Up until now, the maintainers have taken the stance that Service APIs doesn't dictate anything about the underlying implementation. This works even for in-cluster proxies to a certain extent: I had imagined a workflow where an in-cluster proxy is told which GatewayClass and which Gateway it is supposed to target. With that bit of information, the implementation

[2020-12-07 19:15] hbagdi commented on #89
/lifecycle frozen

[2020-12-07 19:18] hbagdi commented on #196
Update:
As Rob said, this umbrella issue has become large and served its purpose.
Some specifics before closing this issue:
- Load balancing is tracked in #98
- Traffic management (canarying, mirroring) are implement as HTTPRouteFilters as of v1alpha1
- Healthcheck related features are already tracked in #97 #99 #89
- Global defaults can be set in an implementation-speicfic CRD that is specified i

[2020-12-07 19:18] #196 closed

[2020-12-07 19:20] hbagdi commented on #358
This is duplicate of #440 now.

/close

[2020-12-07 19:20] #358 closed

[2020-12-08 06:01] jpeach commented on #491
I thought that this was exactly the kind of problem that GatewayClass was intended to address?

There was a previous discussion (probably in a issue IIRC) about deploying a gateway stack in a single namespace as an unprivileged operation and consensus was not in favor of that. Maybe #136 captures some of that, but I don't think it's the full discussion.

[2020-12-08 15:53] howardjohn commented on #491
My primary concern is when we start moving from the happy-case of "one big load balancer for the cluster" to things like gRPC, service mesh, etc which will potentially have many different instances. The original issue was perhaps not the right solution to this problem, but I am not convinced GatewayClass is either due to its cluster scoping

[2020-12-09 02:15] robscott commented on #200
/remove-lifecycle stale

[2020-12-09 02:15] robscott commented on #213
/remove-lifecycle stale

[2020-12-09 15:44] cmluciano commented on #487
I would would like to take this on if no one has started yet

/assign @cmluciano

[2020-12-09 17:37] hbagdi commented on #200
/lifecycle frozen
/assign

[2020-12-09 18:01] hbagdi opened #498 "Remove namespace from examples"
**What would you like to be added**:

- Remove namespace from example manifests (unless the namespace is relevant to the example).
- Update docs if required due to this change

**Why is this needed**:

It makes it harder for some tools to apply examples to a namespace other than default.
See: https://github.com/kubernetes-sigs/service-apis/pull/496#discussion_r539069054

[2020-12-09 18:50] #481 closed

[2020-12-09 19:53] stevesloka commented on #498
I can take this one.

/assign

[2020-12-10 10:05] tokers opened #500 "Execution order of []HTTPRouteFilter"
**What would you like to be added**:

For now, the order of HTTPRouterFilter is not specified according to the document.

What do you think of adding the built-in priority of HTTPRouteFilter, each filter will be assigned a priority which decides their running order.

**Why is this needed**:

Some filters, like Auth, should be executed firstly, but if the admin put them latter in the filter list, t

[2020-12-10 18:28] #498 closed

[2020-12-10 21:33] cmluciano commented on #349
@robscott Can you expand on this a little bit more? I've decided to start with this first but I'm not sure that I understand what we are validating for. Is it possible to do something like

[code]

[2020-12-11 17:16] hbagdi commented on #349
Should we start with limiting one filter per type for all filters and then open it up if required?

@cmluciano The case in your comment should error out and be rejected by the validating webhook.

[2020-12-12 00:07] danehans opened #502 "Improve the CRD Installation Experience"
**What would you like to be added**:
An easier way to install Service APIs CRDs, including a specific version. The current user experience is:

[code]

**Why is this needed**:
Currently, the installation experience has the following limitations:

1. kustomize is required
2. Only the master branch is referenced.

Should a single yaml manifest get rendered so users can simply kubectl https://kuberne

[2020-12-12 00:20] howardjohn commented on #502
Isn't kustomize built-in to kubectl so everyone should have it since 1.13 if I recall right. You also can reference tags like `kubectl kustomize "github.com/kubernetes-sigs/service-apis/config/crd?ref=v0.1.0-rc2" | kubectl apply -f -`

[2020-12-12 00:30] danehans commented on #502
If https://github.com/kubernetes-sigs/service-apis/issues/502#issuecomment-743497074 is correct, maybe this is a docs update to set the version for `ref=`.

[2020-12-14 16:15] hbagdi commented on #97
/lifecycle frozen

[2020-12-14 18:47] #502 closed

[2020-12-14 22:45] #333 closed

[2020-12-14 22:45] #488 closed

[2020-12-16 01:32] robscott commented on #500
Would it be reasonable to say something like the following?

[code]

[2020-12-16 02:03] robscott opened #505 "Update gen-crd-api-reference-docs dependency"
Once https://github.com/ahmetb/gen-crd-api-reference-docs/pull/29 merges, we need to switch back to using that version instead of @jpeach's fork. We originally diverged due to https://github.com/kubernetes-sigs/service-apis/pull/503.

[2020-12-16 19:48] hbagdi commented on #489
/assign

[2020-12-16 19:52] danehans commented on #500
A consensus was achieved during the 12/16/20 community meeting to not add an ordering field and leave the HTTPRouteFilter documentation general (i.e. https://github.com/kubernetes-sigs/service-apis/issues/500#issuecomment-745705314) until implementations gain traction.

[2020-12-16 20:01] cmluciano commented on #349
/assign @cmluciano

[2020-12-17 19:35] cmluciano opened #507 "Run CI job for test code"
**What would you like to be added**:

- [x] Add test line to Makefile #508
- [ ] Run `make test` in CI kubernetes/test-infra#20281

**Why is this needed**:
Tests will be added for #487

[2020-12-17 19:35] cmluciano commented on #507
/assign

[2020-12-18 16:39] hbagdi commented on #489
I looked into https://github.com/kubernetes/website. Hugo is powerful but also more complicated that mkdocs.
We can move over to Hugo but I don't see any benefit imminently, especially since we don't have any major problems other than the search functionality.
I'd like to punt on this one if that seems okay with everyone else.
/unassign

[2020-12-20 00:59] jpeach commented on #223
/lifecycle frozen
/remove-lifecycle stale

[2020-12-20 23:06] youngnick commented on #489
Sounds fair to me, I agree that updating to Hugo at some point will help later, but now is probably not the time.

[2020-12-23 14:58] mark-church opened #510 "Traffic weighting guide for docs"
**What would you like to be added**:
I'm just opening this issue to track development of a traffic weighting guide.  I'm going to be taking [this example](https://github.com/GoogleCloudPlatform/gke-networking-recipes/tree/master/gateway#traffic-splitting) and making it more generic to adopt it as a guide for the service-apis docs.

[2020-12-28 02:33] #228 closed

[2020-12-28 04:35] #234 closed

[2020-12-28 18:08] hbagdi commented on #262
/remove-lifecycle stale
/lifecycle frozen

[2021-01-04 20:10] mark-church opened #515 "Route selector improvements on Gateway"
**What would you like to be added**:
This issue has some proposals to improve Route selection and binding UX. The Route selection mechanisms on Gateway listeners look something like this:

[code]
I wanted to record some feedback from some internal testers for Gateway in GKE:

- The default Route selection feels a little bit too permissive because the default settings will select all Routes within

[2021-01-05 19:39] robscott commented on #361
I'm not sure if I'm correctly understanding the original issue here @danehans. Is this asking if we should stop generating a client altogether or if we can safely remove the `+clientgen` tags and still continue to generate a client? I think it's valuable to provide a generated client here. Although dynamic client certainly works, it's not an ideal experience and could have scalability implications

[2021-01-05 20:36] robscott commented on #361
/remove-lifecycle stale

[2021-01-05 22:03] robscott commented on #375
Our solution here was to remove this from GatewayClass in favor of policy. We've [updated the docs](https://github.com/kubernetes-sigs/service-apis/blob/master/docs-src/security-model.md#limiting-namespaces-where-a-gatewayclass-can-be-used) with a reference to sample OPA configuration to implement this.

/close

[2021-01-05 22:04] #375 closed

[2021-01-06 17:47] danehans opened #517 "The TLS Mode Field is not Being Defaulted"
**What happened**:
The `gateway.spec.tls.mode` field is not being defaulted.

**What you expected to happen**:
The field set to "Terminate" (i.e. the default) when unspecified.

**How to reproduce it (as minimally and precisely as possible)**:
- `cat examples/wildcard-https.yaml`
- `make install`
- `kubectl get gateways/gateway -o yaml`

**Anything else we need to know?**:
Other fields that should

[2021-01-06 17:53] danehans commented on #517
The TLS mode is unspecified:

[code]

The mode should be set to "Terminate" (default) but it's nil:
[code]

[2021-01-06 19:41] danehans opened #520 "Add API Tests"
**What would you like to be added**:
API tests.

**Why is this needed**:
The current tests only ensure the CRDs and examples can be installed to a cluster. Tests are needed that compare the current and expected values of API types. For example, many API fields are being defaulted but no tests exist to ensure the defaults are being properly set.

/cc @robscott @hbagdi

xref: https://github.com/kube

[2021-01-08 19:54] cmluciano commented on #487
I have the webhook ready to be reviewed at https://github.com/kubernetes-sigs/service-apis/pull/506 .

@bowei @robscott Do we currently have a process for docker image management ?

[2021-01-08 20:15] danehans opened #521 "Inconsistent Persona Naming"
The persona naming scheme is inconsistent across documentation.

[Intro Page](https://kubernetes-sigs.github.io/service-apis/):
- Platform Provider
- Platform Operator
- Service Operator

[Concepts Page](https://kubernetes-sigs.github.io/service-apis/api-overview/):
- Infrastructure Provider
- Cluster Operator
- Application Developer

@robscott and I prefer the concepts page naming scheme. Thought

[2021-01-08 20:25] robscott commented on #487
Thanks for the work on this @cmluciano! We don't currently have anything set up for docker image management, but I believe a PR to https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io could fix that. I'm not very familiar with the process but happy to help however I can.

[2021-01-08 21:04] cmluciano commented on #487
Thanks! So it sounds like we might need to merge the PR I have open first and then we can add a new job there.

[2021-01-11 07:28] hbagdi commented on #521
I think we have usually discussed the API with the naming in Concepts doc.
I personally prefer the naming in Concepts doc as well.

[2021-01-11 21:18] robscott opened #522 "Make it more obvious why pull-service-apis-verify failed"
**What would you like to be added**:
An easy way to see why this test failed.

**Why is this needed**:
When tests fail, it is rather complex to understand which verify script actually failed and why. Any improvements would be greatly appreciated.

[2021-01-11 23:31] robscott commented on #330
@hbagdi I think this issue needs a bit of clarification on 2 points:

1. Our validation does not currently prevent this from happening.
2. The [upstream Ingress validation](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apimachinery/pkg/util/validation/validation.go#L131) and spec for this field require this to be a "domain-prefixed path". That means that "gateway.example.

[2021-01-11 23:31] robscott commented on #330
/remove-lifecycle stale

[2021-01-11 23:59] danehans opened #524 "Inconsistency in ParametersRef Documentation"
**What happened**:
I'm trying to implement Service APIs and I'm confused on what resources can be used for `gatewayclass.spec.parametersRef`.

**What you expected to happen**:
That either cluster-scoped or namespace-scoped resources are allowed. The namespace **must** be known by the implementation when using a namespace-scoped resource.

**How to reproduce it (as minimally and precisely as possib

[2021-01-12 00:00] danehans commented on #524
xref: https://kubernetes.slack.com/archives/CR0H13KGA/p1609808722309100

[2021-01-12 06:24] #522 closed

[2021-01-12 09:40] hbagdi commented on #259
/remove-lifecycle stale
/lifecycle frozen

[2021-01-12 09:42] hbagdi commented on #97
/remove-lifecycle stale
/lifecycle frozen

[2021-01-12 09:42] hbagdi commented on #206
Fixed with https://github.com/kubernetes-sigs/service-apis/pull/416
/close

[2021-01-12 09:42] #206 closed

[2021-01-12 09:43] hbagdi commented on #197
/remove-lifecycle stale
/lifecycle frozen

[2021-01-12 09:43] hbagdi commented on #370
/remove-lifecycle stale
/lifecycle frozen

[2021-01-12 09:49] hbagdi commented on #355
/remove-lifecycle stale
/lifecycle frozen

@robscott @danehans We should settle on this ticket sooner rather than later as it is a breaking change.

Good observation. I was very much settled on `matches` but now I'm confused as well. I personally prefer plurals for arrays.

@jpeach @Miciah @bowei @youngnick @howardjohn Any thoughts?

[2021-01-12 09:50] hbagdi commented on #313
I believe this has been now fixed with all our additions before v1alpha1 release.
Can you confirm and close this issue @danehans?

[2021-01-12 09:51] hbagdi commented on #204
/remove-lifecycle rotten
/lifecycle frozen

[2021-01-12 09:51] hbagdi commented on #205
/remove-lifecycle rotten
/lifecycle frozen

[2021-01-12 09:59] hbagdi commented on #37
This is a valid uncommon use-case and it is quite difficult to incorporate it into the current API in a way that would be supported by multiple implementations (an important goal for this project).

There are two options:
- Use extension points in the API to implement this functionality. We have added extension points throughout the API to support such use-cases which although being valid, are not

[2021-01-12 09:59] #37 closed

[2021-01-12 10:00] hbagdi commented on #306
/remove-lifecycle stale

ping @howardjohn @robscott

[2021-01-13 18:34] robscott commented on #174
/remove-lifecycle stale

[2021-01-13 19:08] mark-church commented on #521
Yeah makes sense, I like the ones from the concepts doc as well. I can go ahead and change it later this week.

[2021-01-13 23:59] danehans commented on #313
@hbagdi `RouteGatewayStatus` is missing a default status condition. https://github.com/kubernetes-sigs/service-apis/pull/528 fixes the issue.

[2021-01-14 05:11] robscott opened #529 "Add forwarding shortcut to Gateway Listener"
This is a follow up from what we discussed at today's community meeting. During that meeting, option B was favored due to its simplicity and clear purpose. This issue is closely related to https://github.com/kubernetes-sigs/service-apis/issues/174, but takes a slightly different approach.

---

Adding a forwarding shortcut to Gateway listeners would allow users to create simple Gateways without th

[2021-01-14 05:13] robscott commented on #174
@maplain and @akutz - I've created a related proposal/issue here: https://github.com/kubernetes-sigs/service-apis/issues/529. I think that approach could potentially address the goals of this issue, would appreciate your feedback.

[2021-01-14 05:16] robscott commented on #114
Hey @jmprusi and @evankanderson, thanks for raising this issue! We followed back up on this today during our community meeting and are still very interested in finding a solution here. Would either of you happen to have time to work on some PoCs for this?

[2021-01-14 05:42] hbagdi commented on #521
Great, thanks!
I'll assign this to you for now.
/assign @mark-church

[2021-01-14 05:47] robscott commented on #529
There's also some related discussion around this in the [associated doc](https://docs.google.com/document/d/14vP98BavhFiIUZ198RtNjRGH1D5koIeRUsHb3jlMWAA/edit).

[2021-01-14 05:47] hbagdi commented on #529
I saw this issue after reviewing this same content in Google doc: https://docs.google.com/document/d/14vP98BavhFiIUZ198RtNjRGH1D5koIeRUsHb3jlMWAA

[2021-01-14 15:19] jmprusi commented on #114
Hi @robscott, I did work on an early PoC around this:

* A WIP ExtAuthz HTTP Protocol plugin for OPA: https://github.com/jmprusi/opa-http-extauthz
* A simple environment with multiple (Envoy, Openresty for now..) example implementations: https://github.com/jmprusi/http-extauthz-poc

Luckily, I can shift my working focus onto this right now, so I will start a design/proposal document and improve th

[2021-01-14 18:39] robscott commented on #355
Thanks for bringing this back to attention @hbagdi! I can see a good argument for either approach here and don't currently have a strong preference on this. I've added this to our v1alpha2 milestone to ensure we tackle this before that release. If we do make a change here, it will be a breaking change so would have to be part of that release.

[2021-01-17 01:23] jpeach opened #530 "Distinguish custom and implementation-specific support levels"
Some APIs non-code APIs are marked "Support: Implementation-specific", but the documentation only specifies core, extended and custom levels for conformance. The "implementation-specific" level should be defined as well.

ref #482

[2021-01-18 04:49] hbagdi commented on #530
Doesn't implementation specific imply custom conformance level?

[2021-01-18 05:04] jpeach commented on #530
Yeh I think all we need to do is a bit of docs.

We say:
[code]

not sure how that differs from "implementation-specific"?

[2021-01-18 18:21] robscott commented on #530
Maybe we should just standardize on using "Implementation-Specific" instead of "Custom"? I think they are essentially the same thing, but I think "Implementation-Specific" is a bit easier to understand.

[2021-01-20 05:48] tokers commented on #500
Thanks for you reply, I see it.

[2021-01-20 05:48] #500 closed

[2021-01-20 20:09] hbagdi commented on #530
I agree here.
One reason I remember we went with "Custom" was to promote experimentation and then graduate successful adoptions to "Extended". "ImplementationSpecific" communicates the same but more directly. The difference is really fine and probably doesn't even matter.

+1 to moving everything to ImplementationSpecific.
This again will be a large change, tagging for v1alpha2.

[2021-01-21 22:18] danehans commented on #524
xref: https://github.com/kubernetes/kubernetes/issues/97396

[2021-01-22 05:21] #141 closed

[2021-01-23 12:27] nak3 opened #535 "The schedule of next intermediate release"
**What would you like to be added**:

It would be great if we could know about the schedule of intermediate releases from docs or somewhere.

**Why is this needed**:

For Knative Serving, [this change](https://github.com/kubernetes-sigs/service-apis/commit/8a8b4e7a4ced75f999fdfef7a393563e16c38a89) is one of the important requirements.
But each Ingress (I am testing Istio now) implements v1alpha1 w

[2021-01-23 19:56] hbagdi commented on #535
`v1alpha2` is a bit away.
We can consider releasing v0.2.0 since there is need with whatever all the progress we have made.

@robscott @bowei @danehans Thoughts?

[2021-01-25 21:56] bowei opened #536 "Change repo name?"
Should we change the name of the repo to align with the primary resource names (gateway-apis?)

[2021-01-26 06:18] mark-church commented on #536
Could we not pluralize it though? When it's plural everybody tends to call it something different (service api vs service apis). It would be a bit more concrete if it was just gateway-api.

[2021-01-26 08:16] SantoDE commented on #536
I am so much in favour of `gateway-api` then :)

[2021-01-26 18:12] hbagdi commented on #536
@bowei Before we get into renaming, I think we should understand why the current name was chosen in the first place. What was the motivation and goal then?

[2021-01-26 18:15] bowei commented on #536
I chose the name because it has to do with an API that was an iteration on Kubernetes services.

At that point in time, we didn't really have any of the resource names, so I didn't really want to make up a name.

[2021-01-26 18:32] robscott commented on #536
Although the plural APIs name feels more accurate, I think the singular Gateway API name would likely be easier to work with. Name changes are always painful, but I think the transition from Service to Gateway probably makes sense here. Certainly will be easier to change the project name now than at any point in the future. With that said I'm sure it will be a non-trivial amount of work.

[2021-01-26 18:32] robscott commented on #536
/cc @danehans @jpeach

[2021-01-26 18:45] robscott commented on #536
Of course this would be a terrible change if we weren't 100% sold on the Gateway name. I think our [votes on resource naming](https://docs.google.com/spreadsheets/d/18hlubHDfZ73oi17CmqmdL-fQOJiwrXLOFcbIU2RaTh0/edit#gid=779515090) in the fall were pretty conclusive though.
<img width="710" alt="Screen Shot 2021-01-26 at 10 44 02 AM" src="https://user-images.githubusercontent.com/419322/105889936-94

[2021-01-27 04:53] #510 closed

[2021-01-27 04:55] robscott commented on #524
Following up on this, @danehans and I are planning on working on a KEP for the 1.21 release cycle that would add an optional namespace reference to IngressClass ParametersRef. Initial feedback on sig-network community call was promising. Assuming that KEP is approved, I think it will make sense to move forward here as well.

[2021-01-27 05:50] robscott commented on #535
I agree completely. I know closer to the end of 2020 we'd discussed the possibility of an 0.2.0 release sometime in January. Although that's unlikely to happen, I think it would make sense to release something soon. There are plenty of people working on implementations of this API and it would be helpful to provide a more recent version of the API to pin to. I'll bring this up at our community mee

[2021-01-27 19:12] danehans commented on #536
@bowei what is the impetus for the name change? Renaming to `Gateway API` implies a single API. I'm in favor of keeping the name unless the current name does not follow a standardized k8s repo naming schema.

[2021-01-27 19:34] danehans commented on #536
@bowei will send an email to the sig-network mailer to obtain feedback on the rename. This issue will be readdressed during the 2/3 service apis community meeting.

[2021-01-27 20:34] robscott commented on #536
Thread in sig-network mailing list: https://groups.google.com/g/kubernetes-sig-network/c/5Rkg_juNDGc. Also added to agenda for sig-network meeting on Feb 4.

[2021-01-27 20:40] Miciah commented on #530
As general terms within the context of service-apis, "implementation specific" and "custom" seem to me to be distinct, independent concepts.  An implementation-specific API may be required or optional  and leaves some semantics up to the implementation, whereas a custom API is optional and leave no, some, or all details up to the implementation.  Some examples:

* `httproutes.spec.rules[*].matches

[2021-01-27 23:27] robscott commented on #535
We discussed this at our community meeting earlier today. We're going to try to get a v0.2.0 release out in the first half of February.

[2021-01-28 00:27] bowei commented on #535
Rob -- do we want to use the project board and gather the PRs/issues that we want to get done in the next two weeks?

[2021-01-28 18:09] #517 closed

[2021-01-29 22:31] robscott opened #537 "Pointers should be used for all optional fields"
I know we've gone back and forth on this, but the Kubernetes API conventions do make it quite clear that pointers should be used for all optional fields. https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#optional-vs-required

[2021-02-06 00:02] danehans commented on #355
Similar to the audit I'm doing for `optional` fields, it might be a good idea to do the same for singular/plural list types.

[2021-02-08 20:04] jberger opened #539 "Rendering of literal star characters in documentation"
In reading your documentation, specifically that surrounding wildcard hostnames for a [PR on Traefik](https://github.com/traefik/traefik/issues/7874), I noticed that you appear to be suffering from markdown rendering literal `*` characters as markup generating `<em>` tags. On slack I was shown that this [had indeed been noticed](https://github.com/kubernetes-sigs/service-apis/pull/509) but the sol

[2021-02-10 00:34] robscott commented on #20
/remove-lifecycle stale
/lifecycle frozen

[2021-02-10 09:02] hbagdi commented on #455
/remove-lifecycle stale
/lifecycle frozen

It seems to me that we should have documentation around this for the implementers. We can't really do much at the API level, can we?

[2021-02-10 20:48] hbagdi commented on #505
This was fixed in https://github.com/kubernetes-sigs/service-apis/pull/513.
/close

[2021-02-10 20:48] #505 closed

[2021-02-10 20:49] hbagdi commented on #521
Hey @mark-church, do you still have the bandwidth to take this on?

[2021-02-10 20:50] hbagdi commented on #539
/assign

[2021-02-11 05:51] danehans opened #542 "Make Conditions of RouteGatewayStatus Required"
**What would you like to be added**:
To make conditions of RouteGatewayStatus required.

**Why is this needed**:
Currently, these conditions can be omitted from json serialization:
[code]

This can result in an empty list of conditions for route status which may cause confusion for users. The field should be updated to:
[code]

xref: https://github.com/kubernetes-sigs/service-apis/pull/528#discuss

[2021-02-11 06:04] #537 closed

[2021-02-11 06:12] #313 closed

[2021-02-11 06:13] robscott commented on #535
Quick update, it looks like we're a bit behind schedule for "first half of February" but should still get 0.2.0 out this month. We're trying to bundle this with the rename to gateway-api - most of the pieces seem to be in place for that, but not sure how long it will take for all the changes to get merged in and applied across various repos. We've created https://github.com/kubernetes-sigs/service

[2021-02-11 06:17] robscott commented on #464
/remove-lifecycle stale

[2021-02-11 08:56] hbagdi commented on #536
/assign @robscott

[2021-02-11 09:42] hbagdi commented on #524
xref https://github.com/kubernetes-sigs/service-apis/pull/543

[2021-02-11 09:53] hbagdi commented on #440
We decided to not do this: https://github.com/kubernetes-sigs/service-apis/pull/476#issuecomment-777028096

/close

[2021-02-11 09:53] #440 closed

[2021-02-11 10:05] hbagdi commented on #405
@robscott conducted a survey and "Gateway" was deemed as the right name: https://docs.google.com/spreadsheets/d/18hlubHDfZ73oi17CmqmdL-fQOJiwrXLOFcbIU2RaTh0/edit#gid=779515090

We have also decided to rename Service APIs to Gateway APIs (#536).

/close

[2021-02-11 10:05] #405 closed

[2021-02-11 10:14] hbagdi commented on #361
I went ahead and tested this theory out.
While `kubebuilder` doesn't need `+genclient`, `k8s.io/code-generator/cmd/client-gen` uses those tags to determine if it should create generated client for any type.

If a day comes where we want to remove the generated client from this repo, then we can remove the `+genclient` tags.

@danehans Can we close this issue out now?

[2021-02-11 10:15] hbagdi commented on #330
/remove-lifecycle stale
/lifecycle frozen

[2021-02-11 10:21] hbagdi commented on #3
I think this issue now becomes important again with @cmluciano's work on validating webhook, which requires a container repository (#487).
@bowei @robscott Do you have any guidance on how to go about doing this?

[2021-02-11 11:07] aojea commented on #3
The container repository was created, it is missing to configure the repo to automate the build
https://github.com/kubernetes-sigs/service-apis/issues/3#issuecomment-573576025

[2021-02-11 18:59] danehans opened #545 "HTTPRoute Godocs Typo"
**What happened**:
I tried to consume the CRDs as part of my project, but the build failed due to a type in HTTPRoute godocs.

**What you expected to happen**:
The build to pass due to no typos in Service APIs CRDs.

**How to reproduce it (as minimally and precisely as possible)**:
Run go-linter against CRDs.

**Anything else we need to know?**:
N/A

[2021-02-11 19:27] #545 closed

[2021-02-11 23:06] robscott commented on #539
I did some debugging here and here's the least bad solution I could find:

[code]

Simply using backticks without the `\` would result in the markdown appropriately getting `*` instead of `<em>`. So that solves an issue with `gen-crd-api-reference-docs`. Unfortunately we immediately turn around and try to convert that to html with mkdocs, and that predictably converts `*` to `<em>`. Adding `\` hel

[2021-02-11 23:23] jberger commented on #539
I'm surprised that a doc renderer coming from html would have that problem. The backticks should render as either a pre or a code tag (can't remember which) but it should skip either

[2021-02-11 23:34] robscott commented on #539
I think part of the problem here is that `gen-crd-api-reference-docs` is generating this:

[code]

mkdocs translates that into
[code]

On the other hand, if we manually modify the generated markdown in doc-src to this:
[code]

Running mkdocs on that results in the appropriate output:
[code]

[2021-02-11 23:37] jberger commented on #539
I guess I'm just saying that blindly double converting from markdown seems unlikely to succeed in other cases too. Can mkdocs be taught to ignore the content of code tags?

[2021-02-11 23:37] robscott commented on #539
Actually, yeah, that's the problem. `gen-crd-api-reference-docs` is generating HTML and we're putting it in a md file so we can include it in our generated docs easily. We probably just need a better way to include that HTML.

[2021-02-12 00:04] jpeach commented on #539
Rename the .md to .html?

[2021-02-12 15:04] travis-sobeck opened #547 "Your website is down"
https://kubernetes-sigs.github.io/service-apis/
Just getting 404

[2021-02-12 16:01] travis-sobeck commented on #547
Per slack, renamed to https://kubernetes-sigs.github.io/gateway-api/ looks like the docs are being worked on.

[2021-02-12 17:09] robscott commented on #547
Thanks for letting us know! This was actually how I found out that the repo rename had happened :). Closing now since links have been updated.

/close

[2021-02-12 17:09] #547 closed

[2021-02-12 17:37] #536 closed

[2021-02-12 17:49] #524 closed

[2021-02-15 03:27] #539 closed

[2021-02-15 03:48] youngnick commented on #455
I agree, this seems like something that an implementation can handle itself, probably with one of the methods mentioned above, like providing a list of valid namespaces for secrets or something. In that case, seems like the implementation should put a condition on the object to say that the secret couldn't be found (it's pretty much the same case as "the secret doesn't exist).

Contour has a sligh

[2021-02-15 22:45] mark-church commented on #521
Yup, fixed it with https://github.com/kubernetes-sigs/gateway-api/pull/551

[2021-02-15 23:05] #521 closed

[2021-02-16 03:48] robscott commented on #451
/remove-lifecycle stale

[2021-02-16 06:12] tomkerkhove opened #554 "Provide standardized traffic metrics"
**What would you like to be added**:
Provide standardized traffic metrics for all gateways to implement so that other tools can rely on a common way to get the metrics.

Ideally, this would fully align with the metrics that [SMI spec](https://github.com/servicemeshinterface/smi-spec/blob/main/apis/traffic-metrics/v1alpha1/traffic-metrics.md) leverages to make it, even more, easier to integrate.

*

[2021-02-16 20:01] craigbox opened #556 "Old URL is 404"
There are a lot of links to https://kubernetes-sigs.github.io/service-apis/.  Could you make them 301 to /gateway-apis/ now you've renamed?

[2021-02-16 20:06] hbagdi commented on #556
Fair ask.
To do this, we would need to create a `kubernetes-sigs/service-apis` repo and then initialize that with a webpage that essentially does the redirect.
The things that would break in that case is:
- https://github.com/kubernetes-sigs/service-apis currently redirects to this repo (github feature)
- kubectl kustomize "github.com/kubernetes-sigs/service-apis/config/crd?ref=v0.1.0" currently w

[2021-02-16 20:53] robscott commented on #556
Yeah I think you're right, we really don't have great options here other than to make things better going forward :(. I wish GitHub auto-redirects extended to pages. I asked @mrbobbytables about what our options here are and it sounds like our best option is to setup a custom `gateway-api.sigs.k8s.io` domain that will give us more control over redirects in the future.

As a side note, that would a

[2021-02-16 21:25] hbagdi commented on #556
I didn't know we had that option in kube projects. Netlify is very good with such things. Looking forward and let me know if I can help.

[2021-02-16 23:07] mrbobbytables commented on #556
@hbagdi It's the preferred option :)

 It's honestly pretty hard to find this stuff as its scattered across a bunch of repos/teams + GitHub search is not super great 😬 We've recently put a list of a bunch of the different services available to project members/repos here to try and list them out in one place: https://k8s.dev/services

[2021-02-17 01:06] robscott commented on #554
Hey @tomkerkhove, thanks for bringing this up! We're always interested in finding any overlap with SMI Spec or any other related projects and trying to develop a standard that works for all use cases. In this case, metrics are something that we haven't prioritized yet, but something that could be in scope in the future. This actually [came up in Slack a couple weeks ago](https://kubernetes.slack.c

[2021-02-17 02:52] mark-church opened #558 "Docs Improvements"
I wanted to list out some general docs improvements that would improve the site, for others to contribute, and also to keep track for myself. If anybody else has docs improvements that they would find valuable, feel free to pile on this issue and we can keep a running tracker.

- [ ] Make user guide Service names consistent (and consistent within concept docs too). There is foo-v1, foo-v2, foo, fo

[2021-02-17 04:48] robscott commented on #556
I've started this process with https://github.com/kubernetes-sigs/gateway-api/pull/559. Does not help the 404 issue but gives us a lot more control going forward.

[2021-02-17 04:53] robscott commented on #558
This is a great list, thanks for putting it together! I completely agree with more real end to end examples. I still remember how helpful that classic guestbook example was for me when I was getting started with Kubernetes. Providing examples that are similarly useful will make this API much easier to get started with.

[2021-02-17 23:41] nak3 commented on #535
Thank you! Now I found https://github.com/kubernetes-sigs/gateway-api/releases/tag/v0.2.0 was released. Closing this issue.

[2021-02-17 23:41] #535 closed

[2021-02-18 20:08] tomkerkhove commented on #554
Thanks for your reply!

In terms of what metrics I do not have much of a preference, but # of requests is the minimum for me.

A CRD is ideal for us/me as we do not want to force Prometheus on everyone. For example, some companies rely on their cloud provider for that so don't need it (including me).

In terms of standardization, I'd hope every gateway API has to/will provide these metrics and hop

[2021-02-18 23:22] robscott commented on #556
So it looks like we have 2 options here and neither are great:

1. Leave as is
This allows us to maintain the existing redirects from github.com/kubernetes-sigs/service-apis to gateway-api, including the URLs we've recommended using for installing the CRDs.

2. Create a new service-apis and add configuration that will redirect gh-pages to gateway-api
This allows us to redirect from kubernetes-sigs

[2021-02-18 23:22] #556 closed

[2021-02-18 23:42] beriberikix commented on #554
I would suggest success/failure vs. raw count, since success rate or # of requests can both be calculated from it.

[2021-02-19 05:58] tomkerkhove commented on #554
Yes, but ideally they are there out of the box so no computation needs to be done which makes it easier to use

[2021-02-19 17:54] bowei commented on #554
Given the SMI experience, are there any issues with using CRs (which are backed by etcd db) to store metrics that are fast changing and tend to be emphemeral? I know that K8S metrics resources have special handling to avoid overwhelming the API server.

(https://github.com/kubernetes/metrics/blob/master/pkg/apis/metrics/v1beta1/types.go)

[2021-02-22 08:07] nak3 opened #563 "HTTPRouteMatch always requires Path field when creating HTTPRoute by API"
**What happened**:

- When creating HTTPRoute with HTTPRouteMatch, HTTPPathMatch field always needs to be defined.

**What you expected to happen**:

- HTTPPathMatch should be pointer.

**How to reproduce it (as minimally and precisely as possible)**:

#### 1. Create HTTPRoute with direct API.

[code]

#### 2. Get the following error

[code]

This is because `HTTPPathMatch` get empty values instea

[2021-02-24 10:07] hbagdi commented on #118
/remove-lifecycle rotten
/lifecycle frozen

@aojea Since dual stack is now in mainline, are there any changes that we should be documenting here or having pointers for?

[2021-02-24 10:08] hbagdi commented on #480
/remove-lifecycle stale
/lifecycle frozen

[2021-02-24 10:24] aojea commented on #118
I have to admit that I've lost track of this project, but think that the main impact here is the Services have dual-stack IPs, so the field Service.Spec.ClusterIP was pluralised to Service.Spec.ClusterIPs, that is an array.

Happy to talk more about this if necessary

[2021-02-24 19:00] robscott commented on #558
/help-wanted

[2021-02-24 20:04] shaneutt commented on #558
As per today's sync I'll take on this one:

And from there I'll just keep plugging away at other ones.

[2021-02-26 00:09] robscott commented on #411
/remove-lifecycle rotten

[2021-02-26 07:18] hbagdi commented on #411
/lifecycle frozen

[2021-03-01 20:55] howardjohn opened #566 "TLSRoute SNI match inconsistency"
TLS route:
[code]

HTTP route:
[code]

The inconsistency here feels a bit odd when compared to HTTPRoute.

Would it make sense to make a `hostnames` field in TLSRoute and remove the `snis` field in matches? Then the specs above would be identical (both looking like the "HTTP Route")

[2021-03-01 22:29] howardjohn opened #567 "Support namespace scoped implementations"
**What would you like to be added**:

Currently, someone deploying an implementation must have cluster scoped privileges to access GatewayClass. Often in multitenant clusters, teams are given access only to a set of namespaces without permissions to access cluster scoped resources.
Users in this scenario should be able to deploy an implementation of the API.

For example, they would deploy an ngin

[2021-03-01 22:29] howardjohn commented on #567
cc @costinm

[2021-03-02 18:01] howardjohn opened #568 "Extend route's gateway selection"
Currently, routes can select gateways by list or namespace or all. One thing that is missing is selecting based on class. This can be important when using extensions that are only supported by one class. For example, if I use the `nginx` class and depend on nginx-auth extension, I need to fail-closed - if I am selected by the `haproxy` class and auth is ignored we are in trouble.

One possible ide

[2021-03-02 20:13] danehans opened #569 "Fields of Type LocalObjectReference Have Incorrect Documentation"
**What happened**:
Fields of type `LocalObjectReference` contain incorrect documentation that cause confusion for implementors. For example, multiple fields state `the resource defaults to "secrets"`. `LocalObjectReference` contains field kind instead of field resource and does not default to "secrets".

**What you expected to happen**:
The field documentation to correctly describe the behavior of

[2021-03-03 00:03] stevesloka opened #571 "Gateway.Spec.Listener[x].Routes.Selector should be a pointer"
**What happened**:

When implementing GatewayAPI, I noticed the `selector` field on a Gateway.Spec.Listener[x].Routes.Selector (https://gateway-api.sigs.k8s.io/spec/#networking.x-k8s.io/v1alpha1.RouteBindingSelector) is currently not a pointer, but nice if it was to know if the field has been provided or not by a user.

I’m using the [LabelSelectorAsSelector](https://pkg.go.dev/k8s.io/apimachinery

[2021-03-03 00:03] stevesloka commented on #571
/assign

[2021-03-03 19:18] evankanderson commented on #554
Other art happening concurrently:

https://github.com/open-telemetry/opentelemetry-specification/blob/main/specification/metrics/semantic_conventions/http-metrics.md

I'd share bowei's concern about the apiserver not necessarily being the best place for fast-moving metrics.

[2021-03-03 19:56] bowei commented on #566
Discussion from meeting, looks like there are two threads:

1) General support for making TLSRoute consistent with HTTP Route. This is a tradeoff with the user having to create multiple TLSRoute objects as opposed to one that is aggregate'd single object.

2) Changing the name to `hostnames` --

There is room in the TLS spec for different types of matching there. Whether or not it is realistic tha

[2021-03-04 06:20] nak3 opened #573 "Are multiple HTTPRoutes for one hostname with weight configuration supported?"
**What happened**:

- When multiple HTTPRoutes for the same hostname were defined, the weight will not work.

**How to reproduce it (as minimally and precisely as possible)**:

- Create multipe HTTPRoutes for the same hostname with `weight` field like this:

[code]

- This HTTPRoutes expects the traffic of 30% for my-trafficsplit-svc1 and 70% for my-trafficsplit-svc2.  But I think it is difficult

[2021-03-04 06:27] nak3 commented on #573
This is neither a blocker nor critical issue. I just wonder that it could be a specification bug.

[2021-03-04 07:03] bowei commented on #573
I think that should be a conflict according the spec (or at least it is allows for controllers to reject the configuration).
The meaning is likely not well-defined currently as part of the merging spec.

@robscott we might want to add this to the conflict handling.

[2021-03-04 15:50] hbagdi commented on #566
I think you mean `sni`.
One reason I can make against changing it is that if the core routes are homogenous, custom routes might take that as a hint to reuse `hostnames` for a field that seems _similar_ to HTTP hostname.

If `snis` feels a bit too specialized or archaic (although, I don't see how, anyone using a TLSRoute MUST know the concept of SNI to use it correctly), how do folks feel about `s

[2021-03-04 15:52] hbagdi commented on #573
Merging of routes is allowed but merging of this sorts helps neither the user nor the implementers.

I _feel_ there might be other areas in the API which will have similar issues so let's wait to see all these issues crop up.

[2021-03-04 16:10] howardjohn commented on #566
I cannot speak for Bowei but my proposal was to make TLSRoute identical to HTTPRoute (ie `hostnames` at top level). Its a bit of bikeshedding/personal preference, but I see them the same:

* HTTPRoute `hostnames` looks in `Host` header to see which  *hostname* a request was intended for
* TLSRoute `hostnames` looks in `SNI` to see which *hostname* a request was intended for

[2021-03-04 17:24] bowei commented on #566
John -- I think we can go head with a PR for the first bullet and keep discussing the sni vs hostnames.

[2021-03-04 23:16] alanchrt commented on #91
Adding my comments from Slack regarding some configuration options that would be nice:

The `ingress-nginx` annotations seem like a really good reference point for which configuration options might be nice, as well as the names and contents of headers to pass back to the upstream:

https://kubernetes.github.io/ingress-nginx/user-guide/nginx-configuration/annotations/#client-certificate-authenticat

[2021-03-04 23:33] youngnick commented on #91
It's also important to remember that, if the following are true:
- you have a single proxy routing multiple SNIs
- the multiple SNI routes can have different security profiles (as in, some can have client certificates and some can't)
- You are using a protocol that has a higher-level routing construct (like HTTP's `Host` header)

Then you can connect to `insecure.foo.com` without a client cert, an

[2021-03-05 16:12] alanchrt commented on #91
I wonder if sane defaults plus an "I know I'm doing a dangerous thing" option could help with domain fronting.

That is, if your listener is configured in `Terminate` mode, client certificate authentication can be configured with no special options. In addition to verifying the certificate, requests by default won't be routed upstream unless the SNI host matches the HTTP `Host`.

But, if you're in

[2021-03-05 21:24] mmalone commented on #91
@alanchrt you're talking about two modes: one that enforces that Host matches SNI and the other that doesn't, right? We're not terminating TLS vs. passing it through for a backend to terminate? If that's correct, I like the idea but would probably look for different terminology ;).

I'm not convinced the non-enforcing mode needs to exist at all. What's the use case for upstreams actually _needing_

[2021-03-05 21:26] howardjohn commented on #91
I think per the HTTP2 spec servers are expected to return a 421 here in some scenarios - this allows the browser to automatically retry when its optimizations cause it to not match
https://github.com/envoyproxy/envoy/issues/6767 and https://github.com/istio/istio/issues/13589 have a lot of info here

[2021-03-05 22:03] alanchrt commented on #91
@mmalone Actually, I wasn't trying to suggest `Terminate` and `Passthrough` as names for client auth handling, but rather trying to describe some possible default behaviors for those modes, which are [defined in the TLS config](https://github.com/kubernetes-sigs/gateway-api/blob/675ca43a6212d902acc8bd055e651816047129b3/apis/v1alpha1/gateway_types.go#L310-L324).

Enforcement of SNI host and HTTP `H

[2021-03-08 18:17] bowei commented on #491
/remove-lifecycle stale

[2021-03-09 03:12] bowei commented on #213
/remove-lifecycle stale

[2021-03-09 06:29] #571 closed

[2021-03-09 06:39] robscott opened #576 "Pointers need to be used consistently for optional fields"
As noted in #564 and #572 we have not consistently been using pointers throughout this API. We should be using pointers for all fields that are optional and not a map or slice. That includes if the field has a default value.

[2021-03-09 06:47] #563 closed

[2021-03-09 19:54] maplain commented on #491
When the GatewayClass controller is a cluster-scoped resource, meaning the proxy is either outside of the cluster or a cluster-scoped resource, this is less of a problem.

However, when the in-cluster proxies are used in namespace scope, they're forced to access Cluster scoped GatewayClass with the current model, which might not be ideal.

[2021-03-09 20:01] maplain commented on #136
It actually forces the infrastructure to be cluster-scoped. For instance in your example, the GatewayClass watches Gateways in namespaces then allocates Proxies into the namespace.

If tenants are namespace scoped, and they want to deploy GatewayClass controller into their own namespace, this wouldn't work cuz the Controller simply cannot access the Cluster scoped resource.

[2021-03-09 20:01] mark-church opened #577 "Interaction between TLS config on HTTPRoute and Gateway"
After trying to implement TLS in the GKE Gateway controller it raised some questions around what the interaction should be between TLS config in the HTTPRoute and the Gateway. Let's say I have the following Gateway:

[code]

This config raises a couple gray areas:
- How does a Gateway certificate without a hostname specified, interact with HTTPRoutes that have certificates and hostnames? Does it b

[2021-03-09 20:07] stevesloka opened #578 "HTTPRoute forwardTo ports not required"
**What happened**:

In implementing HTTPRoutes, I had a question on how to handle `forwardTo.Ports` if unspecified. I was unsure of which port to use since that is currently an optional field.

The docs state:

I asked a question on Slack (https://kubernetes.slack.com/archives/CR0H13KGA/p1615242865086900) and found out about this thread in Slack (https://kubernetes.slack.com/archives/CR0H13KGA/p16

[2021-03-09 20:36] bowei commented on #136
@maplain -- this issue is now closed, it would be good to file a new issue to continue the discussion.

[2021-03-09 20:44] stevesloka commented on #51
In Contour, we've implemented this by having the 301 redirect from http->https if a cert is defined on the route. Then if someone needs to remove the redirect, we have a field to allow the route path to serve insecure.

What's nice about this is by default most folks probably want the 301 redirect if they have a cert applied, but don't need more configuration.

[2021-03-09 20:49] stevesloka commented on #569
Is the intent @danehans that folks specify the `kind` & `group` even for just k8s secrets?

e.g.:
[code]

...and not (which can't be applied due to kubebuilder validation of min length=1 on kind/group:
[code]

[2021-03-10 06:20] robscott commented on #573
I think the conflict resolution guidelines may already handle this:
https://github.com/kubernetes-sigs/gateway-api/blob/9d63656df8cc9e67da60d4fe3f6289aad22e72d3/apis/v1alpha1/httproute_types.go#L176-L183

Specifically, I think these 2 would come into play:
* The oldest Route based on creation timestamp.
* The Route appearing first in alphabetical order.

This could potentially be clarified further

[2021-03-10 06:32] robscott commented on #567
We discussed this at the last community meeting. It sounded like there was significant interest in deployment models without the GatewayClass resource. Maybe something that could look like this:

1. Each Gateway implementation can choose to support a set of static, domain-prefixed classes (such as `gke.io/xlb`). These would not require GatewayClass resources to exist.
2. Users could specify those

[2021-03-10 06:52] robscott commented on #568
I think custom extensions are one of the most compelling reasons to limit this by class or implementation. At first glance, I like the simplicity of the first option with either `FromClassNames` or `FromGatewayRefs`. The second example is certainly more powerful, but I'm not sure we need that level of flexibility if we're primarily concerned about custom extensions. Are there other use cases here

[2021-03-10 10:26] SantoDE commented on #567
While I agree with you @robscott (for the need of namespace scoped installations), I feel the same issue is similiar to the normal `IngressClass` Ressource, no? As this is also a cluster scoped ressource. So maybe its possible to find a solution that works for both sides?

re: https://github.com/kubernetes/kubernetes/issues/99824

I feel like, we should try to solve that all together? 🤷‍♂️

[2021-03-10 10:32] SantoDE commented on #577
Just my quick 2 cents:

I would guess, it should be some sort of default certificate for `HTTPRoutes` that don't have own certificates. Then, the cluster operator still would have control over that in order to protect all routes bound to that listener with TLS?

For me, thats a question of the roles. Currently, I would guess `Gateway` definitions take precedence as its probably set by the cluster

[2021-03-10 15:24] nak3 commented on #573
Thank you. Yes, I just wanted to clarify it. Actually I missed the guidelines. And I wrongly assumed that multi-route matching works because `hostnames` does not need to be unique (Sorry my excuse :sweat_smile: ).
Please feel free to close this issue any time.

[2021-03-10 16:07] howardjohn commented on #567
We had mentioned before the GatewayClass is optional, but if its added it will be used (to use parameters in the GWC). If we use this syntax I don't think its possible since you cannot have `/` in the name? I guess your third comment is conflicting with that, so maybe that was just my impression that wasn't shared by others. I think its useful to be able to overwrite it.

[2021-03-10 18:00] bowei commented on #573
I'm trying to figure out where to document this so it's clearer. Should we create a documentation page on http route merging?

[2021-03-10 18:24] robscott commented on #558
/reopen

[2021-03-10 20:09] danehans commented on #578
Notes from the community meeting:
- We need to decide if `port` should be required or option. As @howardjohn pointed out, how does an implementation know what port to use if unspecified?
- [This example](https://github.com/kubernetes-sigs/gateway-api/blob/master/examples/upstream-tls.yaml) should be updated to remove the service target ports and change the httproute port to 443.
- As @Miciah menti

[2021-03-11 16:59] mateiidavid commented on #558
I'd like to improve the TLS section a bit, if that's okay.
i.e

[2021-03-11 18:10] robscott commented on #326
/remove-lifecycle rotten

[2021-03-11 21:16] howardjohn opened #582 "Allow cross namespace references"
**What would you like to be added**:
Cross namespaces references in Route and BackendPolicy.

Examples:

A gateway may want to expose a route for a service in another namespace. For example, maybe we set up a dedicated gateway namespace a define a few routes to expose Services in other namespaces. This may sound like a security issue (a user can expose my secret Service externally without my permi

[2021-03-11 21:34] howardjohn opened #583 "BackendPolicy: allow global/namespace level defaults"
Currently, BackendPolicy refers to an explicit set of backends. It has been a common demand for us to configure things like retries and timeouts (which, presumably, will be part of BackendPolicy in the future) at a higher level. For example, if a user wants to enable retries on all requests globally, they don't want to do this in 1000s of BackendPolicies and instead want a single point of control.

[2021-03-12 00:00] robscott commented on #582
I think the cross namespace traffic-splitting is a pretty compelling use case. This actually feels somewhat related to https://github.com/kubernetes-sigs/gateway-api/issues/573 (cc @nak3).

My concern is that it risks making the API too complex. We already provide one place in the API for cross-namespace references (Gateway->Route). Adding a second cross-namespace reference (Route->Backend) could

[2021-03-12 02:32] robscott commented on #583
Thanks for starting this discussion @howardjohn!

As far as creative uses of BackendPolicy, I don't think there's much right now that would prevent this from happening (there's [no min length on BackendRefs](https://github.com/kubernetes-sigs/gateway-api/blob/master/apis/v1alpha1/backendpolicy_types.go#L63)).

I think the options you've mentioned above could be roughly split into these 3 options:

[2021-03-12 05:15] bowei commented on #582
The key here is to understand what the permissions model is -- and how this will be enforced.

 The nice thing with same namespace is that it is prevented by the syntax of the API itself -- there is simply no way for the user to create an invalid configuration -- we don't need to call out to controller behavior to give guarrantees.

[2021-03-12 05:58] bowei commented on #583
A thing to note is that we could leave some of this to be implementation specific for the moment while collecting experience across implementations.

Nothing prevents implementations from giving unattached BackendPolicy (and friends) resources special meaning if defined in specific namespaces.

[2021-03-12 06:14] robscott commented on #567
Thanks @SantoDE for linking this to the upstream issue! I agree that whatever we should try to gain consensus in the broader sig-network community as well to ensure any change can help with Ingress as well as Gateway.

You're completely right @howardjohn, the example I gave of `gke.io/xlb` wouldn't work. My goal was to define some patter that would make conflicts unlikely or impossible. For exampl

[2021-03-12 06:17] robscott commented on #583
Yeah I agree that this is a good time for experimentation. All of the options above are completely possible today without an API change. It would be good to see what works or doesn't work in practice before we lock down the spec too tightly.

[2021-03-12 15:47] howardjohn commented on #583
Oh neat, I didn't realize backendRef allowed 0 length list. That seems reasonable for now. I do worry a little bit if we have implementations experimenting a lot now we may end up with lots of divergence that is never reconciled - maybe this can be addressed by good conformance tests post-alpha/beta

[2021-03-12 21:15] robscott commented on #136
I think https://github.com/kubernetes/kubernetes/issues/99824 is a good follow up to this.

[2021-03-15 17:23] mark-church opened #586 "Add GATEWAYS field to kubectl get httproute output"
**What would you like to be added**:
Add a GATEWAYS field to the `kubectl get httproute` output. Thanks to the feedback from @joshrosso I realize it's challenging to easily understand which Gateways a Route is bound to or whether it's bound at all. This field would key off of the HTTPRoute status which indicates the Gateways that a Route is bound to: https://gateway-api.sigs.k8s.io/spec/#networkin

[2021-03-15 17:24] SantoDE commented on #586
That would be so awesome

[2021-03-15 19:03] robscott commented on #586
Although I agree that would be awesome, we're unfortunately quite limited by what we can do with the `additionalPrinterColumns` field that powers this for CRDs. I've tried a variety of different json path configs here and it appears that only the most basic types are supported (more info in https://github.com/kubernetes/kubernetes/issues/67268).

When reading from lists, you can actually get prett

[2021-03-15 19:21] mark-church commented on #577
@stevesloka @danehans @hbagdi - how are Contour and Kong planning to deal with this (interaction between Gateway and HTTPRoute secret)?

Here is one proposal, but I can think of other combinations that would also make sense so feel free to shoot holes in this:

- The secrets specified for a Gateway listener are used for any HTTPRoutes bound to it, if the HTTPRoutes don't have secrets specified the

[2021-03-16 13:13] mark-church commented on #586
Is there anyone in API-machinery that can help us (cc @thockin)? The more I use Gateway hands on, the more I see the need to make it very obvious how Routes and Gateways are bound. For example, I am testing a bunch of Routes against a bunch of different Gateways, but based on the CLI output, you'd guess that all these Routes are in conflict on the same Gateway:

[code]

[2021-03-16 15:52] stevesloka commented on #586
I've had similar needs and the only thing I could come up with is to add a metadata status type section to expose more of this to users.

Here's a draft PR on adding some bits to Contour which don't translate 100% but are similar: https://github.com/projectcontour/contour/blob/e802dd5f8d2c5bb267299bda3a247d461be7b13d/design/httpproxy-status-meta.md

[2021-03-16 16:41] stevesloka commented on #577
I think Contour is in the same boat as @SantoDE is where we have't gotten there just yet, but I your proposal @mark-church outlined makes sense to me.

The other scenario I'm not sure on would be:

- A Gateway has a secret specified, `routeOverride.certificate=Allow` is set, but two different HTTPRoutes reference different secrets for the same host.

I'm not sure how to validate that since you'd h

[2021-03-17 05:01] robscott commented on #586
I think adding a new field to status may be our best option here, even if it is repetitive. For example, we could add a new `connectedGateways []string` field that could be printed out with the existing `additionalPrinterColumns` json path support.
Alternatively, if anyone felt like building out a kubectl plugin for making sense of the connections in this API, that could be quite useful. Also need

[2021-03-17 15:51] SantoDE commented on #577
Yeah @stevesloka, we are in the same boat :)

And I also agree that @mark-church's purpose is good. About validation that cert from @stevesloka, I think we would either have to pick the oldest, or error out the Gateway with a config issue condition? 🤷‍♂️

[2021-03-17 18:03] #576 closed

[2021-03-17 21:53] robscott commented on #586
Quick follow up on this: I got some help from @apelisse in tracking down how this is implemented. This behavior is intentional, the [code picks the first matching result](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/apiextensions-apiserver/pkg/registry/customresource/tableconvertor/tableconvertor.go#L111). Although we can make a feature request for more advanced support

[2021-03-17 21:55] SantoDE commented on #586
I would go with a field at first. Plug-in is nice for more features, but if im trouble shooting things and I need a plug-in I probably go mad. So my vote is on a simple field first :p

[2021-03-17 23:13] robscott commented on #586
Better reference to a tracking issue in upstream https://github.com/kubernetes/kubectl/issues/517. Hope to have a PR adding a new field ready for review shortly.

[2021-03-18 05:49] SantoDE commented on #586
You rock. Thanks :)

[2021-03-18 20:42] danehans commented on #487
Will this issue resolve the following Gateway validation use cases:

1. Is `gateway.spec.listeners[x].hostname` valid according to the spec of the field, i.e. not an IP address?
2. If `gateway.spec.listeners[x].protocol` is “HTTPS” or “TLS” that gateway.spec.listeners[x].tls is specified?
3. If `gateway.spec.listeners[x].tls.mode` is “Terminate”, that `gateway.spec.listeners[x].tls. certificateRef

[2021-03-18 20:47] jpeach commented on #487
Can this be a regex validation check?

It should be OK (and be an error on the listener condition) for the ref to not exist when the gateway is posted.

This should be OK too (listener condition).

[2021-03-18 21:17] danehans commented on #487
@jpeach `gateway.spec.listeners[x].hostname` is based on [Ingress host](https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.20/#ingressrule-v1-networking-k8s-io), so I was thinking the validating webhook implement the [same logic](https://github.com/kubernetes/kubernetes/blob/3b5d809eedcc60e1e8fe63dace1f453d6a27b949/pkg/apis/networking/validation/validation.go#L346-L360) for consisten

[2021-03-18 21:26] danehans commented on #487
@jpeach if multiple listeners reference the same port number, should the `ListenerReasonPortUnavailable` get triggered or be covered by this issue?

[2021-03-18 21:27] jpeach commented on #487
Ah I see. `IsWildcardDNS1123Subdomain` is basically a regex, so I think it should be possible to regex this case with a validation annotation.

[2021-03-18 21:57] jpeach commented on #487
The listener field says:
[code]

And the reason is:
[code]

I think that it's OK for a gateway to squash listener specs down to some combined configuration, which means that listeners can have the same port as long as they are "compatible" (e.g. HTTP listeners on port 80 that use different hostnames).

`ListenerReasonPortUnavailable` is more for cases where the gateway can't give you the requested

[2021-03-19 17:25] danehans commented on #487
@jpeach even though these status conditions exist, I don't think it should preclude us from implementing these [use cases](https://github.com/kubernetes-sigs/gateway-api/issues/487#issuecomment-802282296) and others in the validating webhook. Thoughts?

[2021-03-19 20:44] howardjohn opened #588 "Add more columns to CRDs"
**What would you like to be added**:
We should add more columns to the CRDs to expose useful information in `kubectl`. For example, we can expose Admitted for most types:
[code]

I would also suggest adding AGE to align with most other k8s types.
**Why is this needed**:
Useful to expose info here.

[2021-03-19 20:45] howardjohn commented on #588
Related: https://github.com/kubernetes-sigs/gateway-api/issues/586

[2021-03-19 20:46] howardjohn opened #589 "Add categories to CRDs"
**What would you like to be added**:
Add something like:
[code]

or similar to the CRD spec

**Why is this needed**:
This allows people to do `kubectl get gateway-api` and get all associated types, instead of needing to do `kubectl get gwc,gc,httproute,...`

[2021-03-19 20:51] howardjohn opened #590 "Conditions for BackendPolicy"
Currently, BackendPolicy only has `ConditionNoSuchBackend` defined. There are other ways a backendpolicy may be invalid though:
* BackendRef is unknown/unsupported type
* Certificate ref is unknown/unsupported type, or does not exist

One other issue is that, unlike routes and gateways which all point back to a single controller eventually (via class), there is no controller association with Backe

[2021-03-19 20:55] howardjohn opened #591 "Handling Route status when multiple controllers are involved"
Consider a route that selects many different gateways from many different controllers. This may cause issues in writing the route status.

At first glance, you could have each controller only update info about gateways they own. However, this makes it hard to handle removal of Gateways. For example, if I see existing status of `gateways: [a, b, c, d]`, and now I see the route matches gateways `a`

[2021-03-19 21:05] robscott commented on #591
This is a good catch! What would help with this? Maybe we need a class field in `GatewayReference`?

[2021-03-19 21:08] howardjohn commented on #591
@robscott I think that would reduce but not eliminate the problem. A controller can handle many classes, they could remove one of the classes and we end up with a dangling reference still?

One option would be a `controller` reference but that feels ugly

[2021-03-19 21:17] robscott commented on #590
Agree that these would be good conditions to add. Unfortunately the unknown/unsupported type conditions are going to be implementation specific (one implementation may support a type of backend that another does not). BackendPolicy is certainly one of our least refined resources at this point, and status is rather difficult to solve.

The way we've currently defined it, BackendPolicy refers to bac

[2021-03-19 21:20] robscott commented on #591
Yeah, controller name feels like the safest way to avoid dangling references. It doesn't feel quite as natural as using something like GatewayClass, but it might be our best option here.

[2021-03-19 21:26] robscott commented on #589
Good idea, I had no idea this was a thing.

/assign

[2021-03-19 21:56] robscott commented on #588
Agree that this would be great to have. #592 adds a "Created At" column, but I think "Admitted" is going to be more difficult here. Unfortunately `additionalPrinterColumns` just does not handle status conditions (or other lists) well. We could follow the same approach I proposed in #587 and add a new field to status just to improve `kubectl get` output. Alternatively we could push to get better su

[2021-03-19 21:58] howardjohn commented on #588
You can do it with `.status.conditions[?(@.type=="Admitted")].status`

Also can do it directly like `kubectl get gatewayclass -o 'custom-columns=NAME:.metadata.name,HEALTHY:.status.conditions[?(@.type=="Admitted")].status'`

For the ones that are nested (listener status) I don't know how to handle though.

[2021-03-19 22:43] robscott commented on #568
In the community meeting this week, @bowei pointed out that we could simply update the documentation to clarify that if an implementation runs into a filter or extension point it doesn't support, it should drop the entire route. At some point we should likely add a new field in each extension point that can be used to indicate if the route should be dropped if the extension can't be supported. Unt

[2021-03-19 22:58] jpeach commented on #487
If an error can be expressed by status then it should be. That gives better feedback that validation IMHO.

For other constraints, perhaps the best approach is to build a validation package that can be consumed by an optional webhook, or bu controllers directly.

[2021-03-22 17:37] robscott opened #594 "Simplify Gateway Route Binding"
At our last community meeting, we talked about ways we could simplify Gateway Route binding. That was centered around a [relatively lengthy doc](https://docs.google.com/document/d/1YVyB2dizACWrn8Rj31hQFBwCYqgyFKsxKeeGlv-iQCs/edit) I'd written covering a few different options. Thanks to some great feedback in that meeting and in the doc, I think we've reached an option that makes a lot of sense. I

[2021-03-22 22:35] danehans commented on #487
@robscott @bowei @hbagdi thoughts on the comments above? The Gateway API implementation for Contour is blocked until this issue is resolved. I prefer not building a downstream Gateway API validation pkg and the validating webhook is not ready.

[2021-03-23 00:58] robscott commented on #487
@danehans Thanks for following up on this! I completely agree that we should try to include as much core validation as possible here. I think we should prioritize validation in the following way:

1. CRD validation with kubebuilder annotations on the types
2. If that's not possible, use webhook validation
3. If that's not possible, use status conditions that are populated by a controller

Of the e

[2021-03-23 01:10] danehans commented on #487
@robscott thanks for all the great feedback. What are your thoughts on building a validation pkg that can be used by the webhook implementation, xref https://github.com/kubernetes-sigs/gateway-api/issues/487#issuecomment-803179835?

[2021-03-23 01:31] robscott commented on #487
How would that validation package be used? Would it be used for controllers to populate status if the webhook was not installed or working properly?

[2021-03-23 05:08] danehans commented on #487
@robscott that's correct. The validating webhook implementation could also use the validation pkg.

[2021-03-23 20:26] stevesloka commented on #487
Some things to think about are optional fields that maybe a Controller might not adopt, for instance the `Protocol` field. Some may not support `UDP` for instance. I'll have to think up some more examples, but just wanted to throw that out there when we were discussing this earlier today @danehans.

[2021-03-24 05:52] robscott commented on #588
@howardjohn Unfortunately I haven't been able to get that to work for `additionalPrinterColumns`. It seems that the implementation between `custom-columns` in kubectl and `additionalPrinterColumns` is quite different. For example, running this works:

[code]

but unfortunately adding the same logic to `additionalPrinterColumns` just returns empty. I've seen this kind of similar pattern for anythin

[2021-03-24 06:00] robscott commented on #568
https://github.com/kubernetes-sigs/gateway-api/issues/594 proposes an alternative approach to Gateway Route selection. This would not include selection by class, but does enable more powerful Gateway selection from Routes.

[2021-03-24 06:02] robscott commented on #507
@cmluciano I think this is done now, so I'm closing it out. Feel free to reopen if not.

/close

[2021-03-24 06:03] #507 closed

[2021-03-24 06:03] robscott commented on #489
The move to Netlify probably helps makes this less necessary, but it also gives us a lot more flexibility in terms of what tooling we could use here.

[2021-03-24 06:04] robscott commented on #489
/remove-lifecycle stale

[2021-03-24 06:05] robscott commented on #450
/remove-lifecycle rotten

[2021-03-24 06:07] robscott commented on #361
Looks like we can close this one out, feel free to reopen if needed.

/close

[2021-03-24 06:07] #361 closed

[2021-03-24 06:11] robscott commented on #197
I think this issue is sufficiently stale that we can close it. I believe 1 is mostly handled already and if not would be helped by #594. I think the [upstream work on standard namespace labels](https://github.com/kubernetes/enhancements/tree/master/keps/sig-api-machinery/2161-apiserver-default-labels) that reached alpha in 1.21 should cover 2. Feel free to reopen if I'm missed anything.

/close

[2021-03-24 06:11] #197 closed

[2021-03-24 14:28] howardjohn commented on #588
Hm.. it seems like cert-manager is doing this: https://github.com/jetstack/cert-manager/pull/1194/files#diff-4cd218a9d6c5b00138ca643ec6b983015ba906cff00011340e798d668b9dfa39R27. Not sure what the gap is. The `additionalPrinterColumns` stuff is a bit frustrating

[2021-03-24 14:37] howardjohn commented on #594
[code]

Should this instead be:
[code]
?

[2021-03-24 17:35] robscott commented on #594
@howardjohn thanks for catching that! Updated examples above.

[2021-03-24 18:26] robscott commented on #530
/assign @bowei

[2021-03-24 18:41] stevesloka commented on #529
Should we make the `backendRef` a set so you could configure multiple backends for the listener?

e.g.:
[code]

[2021-03-24 19:22] robscott commented on #529
That's a good question - what would the implementation do with multiple backends? Adding any support for a shortcut direct from Gateway to Backend is a bit of a slippery slope, but so far I'd drawn the line at multiple backends. For anything like traffic splitting I think routes should be involved, this would just be a shortcut for the simplest use cases.

[2021-03-25 00:02] bowei commented on #530
As per the discussion in the meeting on 03-24:

* Three conformance levels: core, extended and custom. These define what the requirements are for the controller:
   * core: must be supported by all controllers
   * extended: must be specified in the API (i.e. this repo), but support is not required. If support exists for the feature, it must behave as specified in this API (e.g. it's portable).

[2021-03-29 04:44] youngnick commented on #594
This looks great! Great flexibility, and the defaults make sense too. Solid +1 from me.

[2021-03-29 11:47] mark-church commented on #577
It's a long shot but I'm just pinging some of the top cert-manager contributors here on this question to see if they have thoughts on this topic. Hi @munnerz, @joshvanl, and @meyskens -  [Gateway is an evolution to the Ingress API](https://gateway-api.sigs.k8s.io) being worked on in SIG-Network. There are two places where TLS can be configured - on the HTTPRoute and also on the Gateway and we are

[2021-03-29 12:47] meyskens commented on #577
Hi :wave: I have been quickly reading into the whole proposal to get an idea how it functions. As i understand a Gateway would handle multiple routes which each also have their own TLS cert. I do wonder why both have a TLS cert? The example in the issue the two HTTPRoutes have different certificates but the same domain, which is not possible as the gateway will only receive he HTTP Path after the

[2021-03-29 12:54] SantoDE commented on #577
👋

It's a question of responsibilities out of the gateway spec so far, I would assume. One is controlled by an operator while the other might be merely maintained by a developer. For me, the general idea would be that a gateway could potentially set some defaults or more "important" certs, but who knows?

I agree with you. If there is a matching cert on a gateway, it should take those. On Routes,

[2021-03-29 13:05] meyskens commented on #577
I would always assume the operator has the last say :) It does solve a common issue of needing 1 certificate across namespace boundaries.

[2021-03-29 14:37] stevesloka commented on #591
I agree controllerName could work. This could also happen if the selector on the Gateway is changed, leaving a set of resources that were once selected but now are not and need the status removed from them.

[2021-03-29 15:47] bowei commented on #529
If we allow for multiple backends at that level, you will eventually have to clone the attributes in the *Route that pertains to multiple backends. The single backend reference is a shortcut and we should be careful about widening that part of the API ("it's ok to have more complex resource graphs to describe more complex use cases").

[2021-03-29 16:14] bowei commented on #577
Some notes:

Gateway provider has to explicitly allow override (see `RouteOverride` field) to allow the behavior -- and this represents a delegation of authority w/ attendant issues once it has been delegated. It was discussed that for more complex permissions model, this can be implemented via separate infra that is trusted w/ edit access to the Gateway itself. Sketch: set of CRs accessible to th

[2021-03-29 17:47] bowei commented on #433
/remove-lifecycle rotten

[2021-03-29 22:26] howardjohn commented on #577
Putting in my 2c:

Overarching question I have, which is a really hard but important question: Do we support traffic where the SNI and Host header are not the same? This would apply to HTTPS only

Seems like route ones are called *overrides*, so if its in Route it takes precedence. Any routes with TLS config will present those certificates when SNI matches route.hostname. Note that this means that

[2021-03-30 02:45] nak3 opened #596 "Unclear specification for a single host with weight=0 in HTTPRoute"
**What happened**:

As per spec comment:

https://github.com/kubernetes-sigs/gateway-api/blob/1caea70dce2571124a7a4887d32076ff8aa166e2/apis/v1alpha1/httproute_types.go#L624-L627

it seems that `weight = 0` for only one backend is not invalid but what error code is expected - 404, 503 or something else?
Also, a single host with `weight = 0` should be invalid configuration?

**How to reproduce it (a

[2021-03-30 03:27] robscott commented on #596
Agree that we should clarify this a bit more. My interpretation of `weight==0` is that it should generally be equivalent to a backend not existing. The slight exception to that rule may be that some providers may choose to leave some warm infra in place for if/when that weight transitions to a non-zero value. I think the question becomes a broader one of how implementations should handle a Gateway

[2021-03-30 03:48] howardjohn commented on #596
There is also a potential distinction between "process the request and send to no backend" and "realize there is no backend and drop the entire HTTPRoute". for example, if we had a filter with a side effect, etc

[2021-03-30 03:50] robscott commented on #596
Are there any use cases where we'd want to run a filter + have no valid backends? That seems like it could create some really confusing config.

[2021-03-30 03:53] howardjohn commented on #596
I hope not! I agree it's confusing. I think we should just treat the whole route as discarded if there is no backend with a non zero weight? It could be rejected by the webhook even potentially?

[2021-03-30 04:04] robscott commented on #596
Yeah good call, this probably could be handled by the webhook.

[2021-03-30 15:24] bowei commented on #596
Single backend, weight = 0 should probably be a valid config:

Scenario: admin is adding a filter chain to protect their backend. They want to test it but not allow any requests to go through. (Think DoS attack on a production system).

[2021-03-30 15:52] hbagdi commented on #596
In my experience, processing filters and *not* forwarding requests to upstream service is a common use-case.
It is used for debugging (in production), temporarily disable an endpoint, or simply as a placeholder for variety of business reasons.
I'm not sure if it is feasible to have conformance for behavior at this granularity for all implementations. It could be possible but requires more experien

[2021-03-30 16:18] hbagdi commented on #577
I think most of these cases were discussed when we merged TLS but they are not explicitly documented.

Certificate without hostname at Gateway implies a default certificate. TLS is supported on Gateway AND XRoute at the same time (iff routeOverride.Certificate is set to true).

HTTPRoute takes precedence. This was to solve use-cases like https://github.com/kubernetes-sigs/gateway-api/issues/103.

[2021-03-30 16:32] hbagdi commented on #596
I feel we should use MUST here but I'd love to hear thoughts from others.

I think so.

[2021-03-30 16:35] bowei commented on #596
I think the last bullet (503) should be qualified with the fact that in most cases, we would expect some filter in the chain to generate the actual response (e.g. 404 filter)

[2021-03-30 16:45] hbagdi commented on #582
I don't completely agree with this reasoning. Cross-namespace problems in k8s are present in a lot of places and network is no exception. The isolation doesn't guarantee security at runtime but it does guarantee security at configuration time, which is plenty useful and adding such features should be an exception rather than the norm. To me, the use-case of migrating between namespaces doesn't see

[2021-03-30 17:29] hbagdi commented on #586
I think this is very useful thing to have and a feature that most users would just expect to have.

I do have concerns with the workaround with duplicate field we are considering. This is not the first time when we are running into limitations of CRD and gateway-api being out of tree and it seems a tad early to start adding hacks into our API to get this to work.
Even though a kubectl plugin is mo

[2021-03-30 19:39] robscott commented on #586
It is fairly easy to write a kubectl plugin in my experience, it's just much more difficult to maintain it, especially if it's built against an alpha API with breaking changes planned. Although a plugin would enable us to do much more, it may not be as intuitive/straightforward for users as using kubectl directly. I'd be concerned if our kubectl experience was entirely dependent on a plugin, but I

[2021-03-31 09:08] hbagdi commented on #594
To clarify, we now have 4 selectors for the most verbose case:
Gateway listener:
- A selector for namespaces from which routes can be selected
- A selector for the route within the above namespaces which can be selected
Route's Gateway selector:
- A selector for namespaces in which a Gateway is allowed to bind to this Route
- A selector for Gateways within those namespaces which is allowed to bind

[2021-03-31 09:26] hbagdi commented on #586
Writing and maintaining a kubectl plugin will certainly involve non-trivial cost and I'd really like to avoid it as much as possible.
My concerns:
- This small addition will be used in future to justify addition of such helper fields in other places, which makes the API cumbersome to consume and implement.
- Such a field to help kubectl will surprise users. AFAIK, I've not seen such fields in upst

[2021-03-31 09:46] SantoDE commented on #586
I soo much agree. As I said previously, having a plugin as a "requirement" for better troubleshooting is imho not that user friendly.

Im also down for wait a bit and see what other requests we have to come up with something "better"

[2021-03-31 17:24] robscott commented on #482
/remove-lifecycle rotten

[2021-04-04 12:46] nak3 opened #598 "Multipe HTTPRouteFilters with same type are supported?"
**What happened**:

Currently there are two ways of writing HTTPRouteFilter when we add two headers.

examp-a) Single filter with two headers.

[code]

examp-b) Two filters with one header each.

[code]

Both example-a and example-b are supported?

**What you expected to happen**:

- I just want to make sure the spec if both writing styles are supported.

**Anything else we need to know?**:

- If

[2021-04-04 17:58] bowei commented on #598
Given that we say order of application is not imposed on the underlying implementation, it probably makes sense to really push users to only have a single RequestHeaderModifier. Otherwise we will need an order dependent merging behavior.

We do need to say what happens when the user adds more than one filter configuration:

* Is it a synchronous web hook error?
* Is it ignored?

[2021-04-05 20:32] howardjohn opened #599 "Document best practices for third party applications bundling routes (ie helm)"
Its common for Helm charts or other application deployments to bundle an Ingress to expose the application. With gateway-api, it may be less straightforward. I think it would be helpful to define best practices for this.

I would imagine this means:
* Bundle xRoutes, but not Gateways
* Have some configuration to control the gateway selections. We should define the API we recommend for this in term

[2021-04-06 01:28] stevesloka commented on #97
Would it make sense to apply these to `BackendPolicies`? This would fit in with allowing these to be specified once since the backendRef could be used in multiple routes. But since these are namespaced, it might not fit all use cases.

Also, backendPolicy has a `tls` option to specify certs for the backend making this a good place to add higher level of customizations that other users might not re

[2021-04-06 01:33] howardjohn commented on #97
One concern with backend policies is that its not explicitly when we should check it. This could be solvable by a comment in the spec, but we need to consider it.

For example, if I have 10 Gateways, which ones should health check policy1? is it all of them, any of them with routes to policy1, etc. If all gateways have routes to it, we will now get 10x the health check load.

The reason I care is

[2021-04-06 15:42] stevesloka commented on #97
Yeah having multiple Gateways makes it tricky, I'd expect each Gateway to do it's own Health Checks against the resource.

[2021-04-07 17:37] bowei commented on #520
/remove-lifecycle stale

[2021-04-08 00:55] youngnick commented on #482
I think we talked about something like this a long time ago, having this sort of information be passed in the Status of the GatewayClass, so that you can look at a GatewayClass and undestand what features *will* work, before you start putting Routes into Gateways. It might make sense to have that information in the Gateway status as well though.

[2021-04-08 17:57] robscott opened #602 "Traefik Implementation Link is Broken"
In the implementations docs, our Traefik link currently targets https://doc.traefik.io/traefik/routing/providers/kubernetes-gateway/. It looks like that link no longer works. Maybe https://doc.traefik.io/traefik/master/routing/providers/kubernetes-gateway/ and/or https://traefik.io/blog/getting-started-with-traefik-and-the-new-kubernetes-gateway-api/ would be better to link to. Not sure if this is

[2021-04-08 17:58] SantoDE commented on #602
I'll take a look tomorrow and if needed do a PR to fix

[2021-04-08 21:19] SantoDE commented on #602
/assign @SantoDE

[2021-04-08 21:26] robscott commented on #72
/remove-lifecycle rotten

[2021-04-08 22:22] #589 closed

[2021-04-12 00:32] #135 closed

[2021-04-12 12:44] #3 closed

[2021-04-12 16:37] mark-church opened #604 "Kubernetes.io Blog Post for Gateway API"
I'm putting together a blog post for the Kubernetes.io public site that is an introduction for Gateway API. Since this is a community effort, I'd like to have the primary contributor(s) from each [contributing company](https://gateway-api.sigs.k8s.io/implementations/) be listed as authors. The goal is to get this published prior to Kubecon on May 4th to generate some awareness of Gateway API going

[2021-04-12 19:50] hbagdi commented on #97
Interesting. I think "who" does the health-checking is up to the implementation. You use a health-checking service or a proxy or some more complicated distributed mechanism, that is up to you and should be transparent to the end user. What matters more here is what happens when health-checks are failing and how different implementations react differently to it.

As I think more about this, it feel

[2021-04-12 19:54] hbagdi commented on #598
I think this makes most sense here.

[2021-04-12 19:56] hbagdi commented on #599
As of today, this is still moving but I think letting the end user of the Helm chart have control over the lables of the xRoute resource of the application as well as `spec.gateways` should be sufficient.

[2021-04-12 20:04] howardjohn commented on #97
Another question which may be obvious but not to me - why do we need this at gateway level instead of using pod readinessProbes?

[2021-04-12 21:29] hbagdi commented on #97
- Network view is sometimes different from kubelet view.
- Pods could be ready but health-checks for traffic can be a different probe. Service readiness from gateway can go in and out of rotation more frequently than pod readiness probes.
- I think pod probes are not strictly network-specific, users can configure a shell command/script as well.
- The feedback loop of (a) pod failing a check (b) ku

[2021-04-12 21:42] hbagdi commented on #604
Happy to do this. Thanks for the effort Mark!

[2021-04-12 22:06] hbagdi commented on #594
My gut feeling is that the most complex case with 4 selectors at the same time will be rarely used, maybe never. All other cases with a subset of 4 selectors do make a lot of sense and I think they will be used based on the organization design of our users.

With that said, I'd like endorse the proposal.

[2021-04-13 01:27] hbagdi opened #607 "speed up hack/verify-golint.sh for developer environment"
**What happened**:
./hack/verify-golint.sh is super slow because golangci-lint takes a while to generate intermediate representation. The intermediate representation is not being cached to disk.

**What you expected to happen**:

./hack/verify-golint.sh to run fast and provide a good developer experience

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to

[2021-04-13 01:29] hbagdi commented on #607
I tried fixing this with a time boxed 15 minutes but couldn't get it to work due to file permissions.
The solution here would be to mount a volume (or reuse existing one) from host to container and then set GOLANGCI_LINT_CACHE (https://golangci-lint.run/usage/configuration/#cache) appropriately.

[2021-04-13 09:28] SantoDE commented on #602
We had an issue on Thursday with our docs, which was related. The issue since then is fixed and we don't need to make changes :)

[2021-04-13 09:28] SantoDE commented on #602
/close

[2021-04-13 12:19] mark-church commented on #604
@stevesloka, @robscott thought it might be a bit simpler if we just showed one author per contributing company. Feel free to edit the doc for whether it should be you or @youngnick :)

[2021-04-13 12:19] mark-church commented on #604
@yuval-k lmk who is the best person to list as the author from Solo. Thanks!

[2021-04-13 13:29] stevesloka commented on #604
@mark-church I updated, can use @youngnick for this one. Let's write another later on with implementation stories or something. =)

[2021-04-13 14:02] SantoDE commented on #604
Obviously LGTM to me. Great post. Thanks @mark-church :)

[2021-04-13 14:30] #602 closed

[2021-04-13 14:36] #464 closed

[2021-04-13 15:35] shaneutt commented on #558
@robscott @mark-church what do you think about us breaking down the checkboxes into several smaller issues? Maybe since there are so many smaller things to tackle logistically we could put together a documentation milestone or something to organize them?

Just thinking out loud as I feel like we could break this one down a bit, let me know your thoughts :thinking:

[2021-04-13 17:32] robscott opened #610 "Add a description field to GatewayClass"
**What would you like to be added**:
An optional, short, description field (<60 characters) could help describe a GatewayClass with a bit more detail. This concept was inspired by @youngnick's [doc](https://docs.google.com/document/d/10aYJ2ia9Hym-qBt39bwgr7bO_GE_C952XoNkv48pdf8/edit#) that included a suggestion for some extra information about a GatewayClass.

**Why is this needed**:
GatewayClass

[2021-04-13 23:41] mark-church opened #611 "Extensible Service policy and configuration"
[This proposal ](https://docs.google.com/document/d/1Wh52e7pupV0H1lEA5l_sqDmvRC7lk2cf1fufCz8vxzM/edit?usp=sharing) draws inspiration from our current TLS design and offers a uniform method of attaching arbitrary and implementation-specific configuration to the Gateway API core resources.

It aims to achieve three different goals that I think are very important for a standard API spec. This is base

[2021-04-14 05:24] youngnick commented on #610
I think this change should also add this description field to the default columns for the CRD (so you see it with `kubectl get`).

[2021-04-14 05:28] youngnick commented on #611
We had a lot of similar problems with HTTPProxy, Contour's own CRD, which we tried solving in a similar way, but we found it very quickly grew unwieldy because of the interactions between different policy options.

The best example for HTTPProxy was client request timeout. In HTTPProxy's API, we allow setting this to the special value "infinity", which means that Envoy will disable this timeout. H

[2021-04-14 06:15] robscott commented on #97
To follow up on this, I've written up a quick [doc](https://docs.google.com/document/d/1eg-YjOHaQ7UD28htdNxBR3zufebozXKyI28cl2E11tU/edit) to try to summarize the portability of health check config across implementations. There's a [spreadsheet](https://docs.google.com/spreadsheets/d/1MdT06Dee0ZriWecjL5Mz-nLjcttGIgeic5Rmu1hQ9r0/edit#gid=0) that covers some of the most commonly supported features. I

[2021-04-14 14:48] stevesloka commented on #611
In the early days of `IngressRoute` (which was the predecessor to `HTTPProxy`, we had similar designs that you have @mark-church, where you could define "defaults" for say a vhost a a high level which defined how all the routes would operator (e.g. timeouts, load balance algo, etc), but then users could have the ability to overwrite if they needed for some specific reason (say one backend was slow

[2021-04-14 17:09] danehans commented on #604
Other than a few nits, LGTM. Thanks @mark-church for leading the effort.

[2021-04-14 18:05] costinm commented on #97
This seems to match what Pod readiness probe supports - any reason to not just use the exact same thing (as spec and API), and default to the HTTP readiness probe in the pod, if it exists ?

I assume like all K8S services, it will be required that gateways respect the K8S readiness semantics as well, i.e. if K8S kubelet
( and the associated EndpointSlice, Endpoint) is marked not ready, it will tak

[2021-04-14 19:33] robscott opened #612 "Clarify how Gateways and Routes should interact with TLS"
This is a followup to the great conversation in [Slack](https://kubernetes.slack.com/archives/CR0H13KGA/p1618300603046300). I think we reached a good consensus there, we just need to document it.

/assign @hbagdi

[2021-04-14 20:21] SantoDE commented on #612
@hbagdi we can try to help working on that (or do a draft you can review) if that helps :)

[2021-04-15 03:06] louiscryan commented on #577
Reading through linked issues it seems like there are two tensions in the API:

- (A) Who gets define a VHOST and it's properties
- (B) The difference between where a cert is loaded from and what properties that cert or TLS negotiation should have.

The model in proxies is **LISTENER(IP, port) --> VHOST(domain/host, TLS) --> ROUTE(host, path, headers, ...)**

The discussion in #103 is really about

[2021-04-15 14:01] jbdoumenjou commented on #612
We are focused on the [downstream](https://gateway-api.sigs.k8s.io/guides/tls/#downstream-tls) connection (between the Client and the Gateway).

Concerning the HTTP protocol, the TLS is defacto terminated and so `HTTPRoute` will manage both HTTPS and HTTP Gateway Protocol types.

Concerning the TCP protocol, the TLS could be terminated or not (passthrough mode). The `TLSRoute` must be used for SNI

[2021-04-15 17:47] robscott commented on #577
Thanks for the great write up @louiscryan! I think you've summarized our current state and tradeoffs well. I just have a couple questions about the alternatives you mention at the end:

1. What would it look like to "Leave VHOST in Gateway and allow for Gateway merging to enable VHOST delegation to app-owner"? Would this involve infra-owners owning a root Gateway that could then delegate domains t

[2021-04-15 18:55] louiscryan commented on #577
@robscott

For 'Gateway merging' there are two options:

- 'merge-in-workload' - The API doesn't dictate how the merge occurs but rather a controller implementation which is going to materialize many Gateways in a single proxy uses moderately straight-forward merge semantics on (ip, port, protocol, domain-hierarchy) to ensure a functioning proxy. The API doesn't impose any declarative constraints

[2021-04-15 20:00] louiscryan commented on #577
A small revision to there 'merge-in-api' option above would be to introduce a 'virtual-host' Gateway class in the child. This has a few effects:

- Clear signal to controllers that this is not a thing to instantiate outside of a parent & codifies validation of fields
- Can be used to address the namespace transitivity issue. E.g. Gateways where class=virtual-host would not be allowed to delegate t

[2021-04-15 20:57] stevesloka opened #613 "Clarify route conflicts in the same resource"
I ran into a conflict today thinking about implementation and thought it would be best to gather everyone else's thoughts on it.

There is some logic written in the API which states in the event of conflicts occur, how to handle (e.g. The oldest Route based on creation timestamp, or the Route appearing first in alphabetical order).

What if I have an `HTTPRoute` which has the same `matches` set, b

[2021-04-16 01:28] gxthrj commented on #613
How about adding a `priority` field for each `rule`?

[2021-04-16 01:44] tokers commented on #613
Priority works well when number of routes are small.

[2021-04-16 02:43] youngnick commented on #613
We have a few options, I think:
- we make use of the fact that the routes are in an array/slice so they're naturally ordered. In this case, we just need to define which order takes precedence. I think it's okay to just pick one, as long as we say what that order is in the type documentation. My preference would be last one wins, since that just means that you run through all of them, and if a late

[2021-04-16 03:14] robscott commented on #613
I agree that all we can just rely on the position in the list as a final tiebreaker here. I don't have a strong preference as far as order. The current spec uses ascending order in one instance, but it would be a bit easier to implement if we used descending order for this specific condition. The most important thing is that we choose a consistent method of tiebreaking here. It looks like we just

[2021-04-17 02:59] hbagdi commented on #613
+1 to what Rob said. We should add this to conflict resolution guidelines. I don't have any preference with ordering either, but it should be consistent across the API (not just rules in HTTPRoute).

[2021-04-19 00:53] gxthrj commented on #613
If using the slice sorting, I prefer to choose the route based on the creation timestamp and choose The oldest Route one.

[2021-04-19 00:57] evankanderson commented on #114
/remove-lifecycle stale

[2021-04-19 05:42] youngnick commented on #613
Okay, for choosing which one wins given two matching Routes in a slice, we have two options then:
- first one wins. This means that, when iterating across a slice of Routes, you should take them and check if you've seen a matching route already, and if so, throw any other matches away.
- Last one wins, This means that, when iterating across a slice of Routes, you should over write whatever you see

[2021-04-19 16:23] bowei commented on #306
@howardjohn do you want to freeze this bug to keep it from becoming stale as the general ask is still relevant -- or we can close this and have the issue naturally pop up again, but in a more specific context? Right now the ask is quite general so it's harder to make progress on the issue.

[2021-04-19 20:20] bowei commented on #174
/remove-lifecycle stale

[2021-04-19 20:39] robscott commented on #349
/remove-lifecycle rotten

[2021-04-19 20:54] robscott commented on #613
I have a slight preference for first one wins, but would be happy with either. In either case, this should be covered by webhook validation so whatever we add as guidance here should really only be relevant as a last resort.

[2021-04-20 17:44] hbagdi commented on #487
/assign
xref #617

[2021-04-21 00:38] robscott commented on #89
I've spent some time digging into just how portable this could be, and unfortunately it looks like there is quite a bit of variation on how different projects handle this. One of the most broadly supported concepts is that of a request or read timeout, here are some examples of how that is defined:

- GCP: This is the amount of time that the load balancer waits for a backend to return a full respo

[2021-04-21 00:45] youngnick commented on #89
I think the way @hbagdi laid it out is both clear and correct. There's just too much variability here to really be able to make these settings portable.

But the other part of what he said is probably addressable under this issue, namely having a single spot in the API where you put timeouts, and a standard shape of thing to put there, probably a CRD per underlying implementation or something? Tha

[2021-04-21 02:06] hbagdi commented on #487
xref https://github.com/kubernetes/test-infra/pull/21881
xref https://github.com/kubernetes/k8s.io/pull/1954

[2021-04-21 05:56] bowei commented on #89
One question:

How many different types of timeouts are supported for each of the variants?
For example, is it suffice to say:

[code]

But the specific (which byte) qualifies is up to the implementation?

Do we need to be 100% proscriptive or is it still useful at a high level and point the user to the specific documentation when they have to get into the weeds?

[2021-04-21 13:19] mark-church commented on #583
@howardjohn  I've been thinking a lot about how to apply Namespace-level default or enforcement with the ServicePolicy proposal in https://github.com/kubernetes-sigs/gateway-api/issues/611. At first I thought that Namespace-level policy was incompatible with ServicePolicy because ServicePolicy depends on a strict hierarchy between resources to have predictable and enforceable override behavior. Ho

[2021-04-21 13:57] mark-church commented on #611
Thanks @stevesloka and @youngnick - on one hand I'm glad that we independently came to similar solutions, on the other hand, I'm bummed to hear that you also found no "slam dunk" proposal. I agree that some imperfect way of extended the API with custom fields is likely better than none, or else implementers will always continue to support their proprietary APIs for the advanced functionality

I ag

[2021-04-21 14:52] howardjohn commented on #583
I think it makes sense, but I am not sure I understand why Namespace is above GatewayClass? That means the cluster admin cannot enforce any policies, since namespace admins can override?

[2021-04-21 15:00] mark-church commented on #583
We could choose to rearrange it so that the hierarchy has GatewayClass -> Namespace -> Gateway. I think there are good arguments for both orders. Ultimately, my guess is that the same administrator would have ownership over GatewayClasses and Namespaces, so they could choose either vector to enforce policies. It all depends on whether enforcing via a GatewayClass or Namespace has simpler UX for en

[2021-04-21 22:45] hbagdi commented on #97
( and the associated EndpointSlice, Endpoint) is marked not ready, it will take priority and no traffic will be sent.

This actually is a great point and requires some more discussion and probably an issue of its own. Some Ingress Controllers route traffic to the VIP of the k8s Service while others route traffic directly to the endpoints. Which behavior do we expect from implementations in Gateway

[2021-04-22 07:11] tsaarni opened #622 "Allow application developer to specify TLS client certificate"
**What would you like to be added**:

Application developer should be able to define a client certificate that the proxy uses when it connects to developer's backend service with TLS.

**Why is this needed**:

Background:

This feature has been previously discussed and it was included as `BackendPolicy.spec.tls.clientCertificateRef`. Later, Gateway level configuration was preferred #395 and featur

[2021-04-22 14:31] stevesloka opened #623 "Conflicting SNI's between HTTPRoute & TLSRoute"
**What happened**:
If I have the same `fqdn` defined in both an `HTTPRoute` as well as a `TLSRoute`, what could the conflict resolution be in that case?

The current docs on a `TLSRouteMatch` sort of lead me to think that TLSRoutes should match first before HTTPRoutes, but might be nice to raise a Condition for this in the event that one is ignored over another.

Just curious if others have though

[2021-04-22 15:30] hbagdi commented on #487
Update:

The following needs to happen now:
- Merge the code: https://github.com/kubernetes-sigs/gateway-api/pull/617
- Merge the cloudbuild config: https://github.com/kubernetes-sigs/gateway-api/pull/621
- Merge https://github.com/kubernetes/k8s.io/pull/1954
- Do steps in https://github.com/kubernetes/k8s.io/tree/main/k8s.gcr.io#creating-staging-repos with help from a community member

Once the a

[2021-04-22 18:27] zoglesby opened #624 "Method based routing"
I did a quick search and did not see a ticket for this, if I missed it I am sorry.

**What would you like to be added**:
Method based routing would be a nice addition. This is something that we are currently looking to implement in another part of our stack, but having it in a gateway-api would make things easier for us.

An example of this can be found in Ambassador

[code]
https://www.getambassa

[2021-04-22 19:42] stevesloka commented on #612
@SantoDE were you going to work on this? Just wanted to confirm so we don't duplicate efforts.

[2021-04-22 19:56] SantoDE commented on #612
I want to! Either tomorow or early next week. If you want go first, feel free tough :)

[2021-04-22 22:53] #349 closed

[2021-04-22 23:54] #613 closed

[2021-04-23 03:56] hbagdi opened #627 "Provide admission server builds for CPU architectures other than amd64"
**What would you like to be added**:

Admission server builds are currently only available for amd64 architecture.
We should provide builds for other architectures as well.

**Why is this needed**:
Our users could be running k8s clusters on other CPU architectures.

[2021-04-23 03:57] hbagdi commented on #627
For some context, #621 was the first attempt to get an image built and published. We decided to take an incremental approach to building out our images. There is no blocker for building docker images for other CPU architectures.

[2021-04-23 07:05] hzliangbin commented on #610
/assign

[2021-04-23 08:39] hzliangbin commented on #610
@robscott hi, are u working on it ? May I take it ?

[2021-04-23 17:17] robscott commented on #610
Hey @hzliangbin, thanks for offering to take this on! You're very welcome to make a PR to add this. One note though, I don't think we've reached full consensus on this yet, so there's no guarantees that this field will be added, it's just something that I think would be a good idea.

@hbagdi, @danehans, or @jpeach do you have any hesitations about adding a description field to GatewayClass?

[2021-04-23 18:37] hbagdi commented on #610
+1 on adding this.

[2021-04-23 18:49] hbagdi commented on #624
What should be the conformance for this?
I'm thinking extended.
Most reverse proxies support it but most cloud LBs don't.

Once we settle on this, it should be possible to add this to the API fairly easily.

[2021-04-23 18:52] robscott commented on #624
I think this is an extended feature since not every implementation will be able to support it, but agree it should be pretty straightforward to add. I'm actually a little tempted to try to get this into v0.3.0 but that's coming up pretty quickly.

[2021-04-23 18:55] hbagdi opened #629 "Summary of out-of-tree problems"
This is an umbrella issue to track several problems that this project is running into because of it being out-of-tree.

- GatewayClass cannot be immutable https://github.com/kubernetes-sigs/gateway-api/issues/189.
- User-friendly `kubectl` output https://github.com/kubernetes-sigs/gateway-api/issues/588 https://github.com/kubernetes-sigs/gateway-api/pull/587 https://github.com/kubernetes-sigs/gate

[2021-04-23 18:56] hbagdi commented on #629
This was discussed a while ago in one of the community meetings but I only got to this action item today.
There are several other issues that we have run into with CRDs but they are not logged and I can't recall others from the top of my head.

[2021-04-23 18:59] robscott commented on #629
Thanks for creating this! I think another key one is the lack of built-in CRD validation for many of our use cases which has required us to create and maintain a validating webhook.

[2021-04-23 19:10] hbagdi commented on #529
/assign @stevesloka

Adding some tracking info for v0.3.0 milestone.

[2021-04-23 19:17] hbagdi commented on #591
Since Rob already has a PR out for this.
/assign @robscott

[2021-04-23 19:25] hbagdi commented on #530
@bowei This is included in the v0.3.0 milestone and we are getting close to release. Do you think you will be able to get to this?

[2021-04-23 19:29] hbagdi commented on #624
@zoglesby If you can send a PR for this feature in the next couple days, we might be able to include this feature in our upcoming release. Even if we can't get it in the release, a PR would be warmly welcome!

[2021-04-23 19:44] hbagdi commented on #623
At any time, a listener on the Gateway can only select routes of one `kind`, so conflicts shouldn't happen between route of different types.
I'm curious how you are running into this.

[2021-04-23 21:39] bowei commented on #624
+1 to extended, agree with all comments above.

[2021-04-23 23:57] #591 closed

[2021-04-25 10:02] hzliangbin commented on #610
@robscott got it

[2021-04-25 21:18] jpeach commented on #610
Is there precedent for this in other class-oriented APIs?

[2021-04-25 21:29] jpeach commented on #529
This approach seems fraught to me. It's a new API to do things that you can already do, but not quite the same. To me, a good API design practice would guide users along a well-trodden path and grow with them. If we do this as a "simplification", it complicated the API by creating new concepts and short-cuts. There's no obvious reason why we wouldn't add other shortcuts in the name of simplificati

[2021-04-25 21:45] jpeach commented on #610
Also, you can do this with an annotation today. Does it really need to be a first-class field? Is the problem of wanting some business or contextual description specific to Gateway or is it generally applicable to Kubernetes resources?

[2021-04-25 21:54] robscott commented on #529
The most up to date conversation on this is likely in the related [PR](https://github.com/kubernetes-sigs/gateway-api/pull/603) that has made some tweaks to the proposal here. With that said, I think the overarching concept is still the same.

Although I agree that we need to be very careful about providing more than one way to do something, I think this is particular approach makes the API signif

[2021-04-25 23:24] jpeach commented on #529
I think it's way too early for this kind of optimization. The API isn't widely available, and there is minimal feedback on how people will actually deploy and use it.

#174 is asking for listeners to be optional. That seems fairly weak support for this change.

It seems like a tool should be able to create the intermediate routes?

`kubectl gateway forward-service --listener=SOMETHING --service-po

[2021-04-26 16:08] stevesloka commented on #623
I thought you could duplicate listener ports in a Gateway and then the controller should collapse them:

[code]

I guess we can apply the same conflict logic within the same type (e.g. HTTPRoutes), but do across types which would make the behavior consistent in a way, but would need to raise a condition on the object to alert the user.

// ref: https://gateway-api.sigs.k8s.io/references/spec/#netw

[2021-04-26 17:01] hbagdi commented on #623
I see the problem.

[code]

I think the `or` in ` "HTTPS" or "TLS"` is the reason for the confusion.
I could be wrong here but I think multiplexing HTTPS and TLS routing configuration on the same port isn't something we have discussed before. Collapsing should really happen only for listeners which have the same protocol type.
I don't think many implementations would be able to support such a conf

[2021-04-26 18:47] bowei commented on #629
We need to feed a lot of these requirements to api machinery and CRD.

Maybe we should create x-ref issues on their repo(s)?

[2021-04-26 20:50] stevesloka commented on #623
Today Contour supports a single insecure/secure listener, so all traffic routes through those two listeners essentially. Someone could potentially create a TLS route with the same fqdn as an HTTPRoute and you'd have a conflict. We handle this today by only supporting one or the other if users create them on the same fqdn.

[2021-04-26 21:21] jpeach commented on #623
IIURC an implementation can either conflict the route on this, or could choose HTTPS (on the principle that most specific wins).

[2021-04-26 22:35] bowei commented on #530
Yes, let me get the doc PR together

[2021-04-26 22:47] robscott commented on #612
Hey @SantoDE, thanks for offering to take this on! Do you think it would be possible to get a PR in for this tomorrow? We're hoping to cut v0.3.0 on Thursday and it would be awesome if this could make it into that release. If not, let me know and @stevesloka or I can take it on.

[2021-04-26 23:47] robscott commented on #529
Good discussion around this issue in [Slack](https://kubernetes.slack.com/archives/CR0H13KGA/p1619386375146100). It looks like there's still plenty of hesitation around an approach like this, so I'm going to remove this from the milestone and lower the priority.

[2021-04-27 04:54] youngnick commented on #629
I think that all of the things we've mentioned here are definitely problems for other CRD authors, so being able to get some solutions to them would be really helpful for everyone. Thanks for making sure this stuff gets tracked @hbagdi!

[2021-04-27 09:01] SantoDE commented on #612
Yeah I will work on it today my time and try to finish it. Otherwise I gonna continue tommorow my time (Wednesday)

[2021-04-27 21:17] Freyert opened #634 "Request Filtering Between Gateways and Namespaced Routes"
**What would you like to be added**:
A method for `Gateway` administrators to use routing rules to filter which traffic can be forwarded to downstream routes.

As a `Gateway` administrator managing an HTTP load balancer I would like to delegate particular path prefixes to namespaced `HTTPRoutes` to prevent namespace administrators from writing rules that conflict with the rules from other namespac

[2021-04-27 21:35] howardjohn commented on #634
I didn't put too much thought into this, but would it makes sense to have something like:
Gateway my-gw in ns `gw`: select routes in same namespace only
HTTPRoute my-route in ns `gw`: match /cats, forwardTo _HTTPRoute_ cats in `cats` namespace, match /dogs, forwardTo _HTTPRoute_ dogs in `dogs` namespace
HTTPRoute dogs in ns `dogs`: ...
HTTPRoute cats in ns `cats`: ...

This introduces a new concep

[2021-04-27 21:43] robscott commented on #634
Yep this concept was in the early designs and something I wanted to revisit for v1alpha2. It really covers 2 related ideas - Routes forwarding to other namespaces, and Routes forwarding to other Routes. I think both are worth exploration as part of v1alpha2. There's also a bit more context for this in the related Slack [thread](https://kubernetes.slack.com/archives/CR0H13KGA/p1619468613155200).

[2021-04-27 21:46] robscott commented on #634
@howardjohn I think you've provided a great example of how this could work but it also shows how it could significantly alter the namespace boundary. If Routes can forward to other Routes, it would be difficult/impossible for a Gateway owner to ensure that all Routes it forwarded to were actually in the same zone. It also makes any tree visualization of how resources are connected in the API more

[2021-04-27 21:47] hbagdi commented on #629
That's the plan but I was thinking of getting a fair representation of the problems we have in this project before doing that.
Are there others that come to mind?

[2021-04-27 22:32] hbagdi commented on #623
TLSRoute implies that the traffic flowing through the byte stream could be non-HTTP. Can you multiple HTTP/non-HTTP traffic on the same TCP port via Contour? Only then can this conflict occur.

@jpeach, is such a conflict even possible though?

[2021-04-27 23:24] #259 closed

[2021-04-28 04:02] youngnick commented on #577
This issue really has exposed some things that I thought we'd all agreed on, but obviously haven't been written down anywhere.

Based on our earlier discussions about this, I thought that Gateways were already mergable under something like "merge-in-workload", although I considered the merging to happen at the Listener level - there's not much difference, practically, between merging Listeners *be

[2021-04-28 07:06] youngnick commented on #607
I had a crack at this, and saw a 35 second improvement, from 80sec to 45sec.

I'll make a PR, but in short, I gitignored a cache directory, then mounted it into the container, and set the `GOLANGCI_LINT_CACHE` dir.

[2021-04-28 14:53] stevesloka commented on #623
No you can't, but if someone tries to configure this, there should be some set of conditions to warn them that one was rejected and the other is used. I was just trying to think through what should happen in that case, which resource "wins" and what conditions to set so the user is aware of what's happening.

[2021-04-28 16:12] stevesloka opened #638 "Missing serviceName behavior"
I had another question on how we should handle errors (sorry for all the spam, but implementing is causing me to think about all these edge cases).

If I have an HTTPRoute like the following example, and one of the `forwardTos` are invalid (say the service is missing from the cluster). The docs say I should raise a `ResolvedRefs` condition and the route must be dropped.

My question is should the

[2021-04-28 18:39] bowei opened #640 "Audit the code base and make sure that our usage of custom vs implementation-specific is accurate AND/OR fix the description in the guidelines."
Audit the code base and make sure that our usage of custom vs implementation-specific is accurate AND/OR fix the description in the guidelines.

References:

* https://github.com/kubernetes-sigs/gateway-api/pull/639
* https://github.com/kubernetes-sigs/gateway-api/issues/530

[2021-04-28 20:33] bowei commented on #638
(Per discussion in the meeting)

I think in this case the proxy should serve a 503 or equivalent 5xx as the reason the response cannot be routed is that the upstream is bad.

[2021-04-28 21:56] #530 closed

[2021-04-28 22:26] #612 closed

[2021-04-28 22:31] jpeach commented on #638
If you just serve 503 without setting any conditions, the operator has no way to know something has gone wrong. Suggest that we need a resolved-refs RouteConditionType as well.

[2021-04-28 22:45] jpeach commented on #638
Grepping thru the spec again, I concur with @hbagdi. There are a ton of different ways a route can end up not being able to resolve a reference and right now all those are consistently handled by dropping the route. So I don't know that this should be special cased in the spec. The mitigation is easy (1 match per route), and results in a model where there are pretty clear failure domains. Converse

[2021-04-29 00:29] tokers commented on #638
I think it's required to set the conditions to show the exceptions, it's helpful for troubleshooting.

[2021-04-29 00:42] stevesloka commented on #638
I guess just to clarify, we're dropping the specific match that contains the error not the entire HTTPRoute. I might be tripped up on words, but think that if an HTTPRoute has more than one set of matches, you'd still want those to serve traffic. Is that correct?

[2021-04-29 00:46] robscott commented on #638
I think @howardjohn's point in today's meeting was that that might result in unexpected and undesired behavior. In your initial example, this would result in all traffic to `/blog` being routed to the `validservice`. That could be confusing in some cases and maybe some kind of vulnerability in others. It seems safer to return an error code for requests matching that config than to fall back to ano

[2021-04-29 01:03] stevesloka commented on #638
To me in my example above, I'd return a 503 for requests to `/blog`, all other traffic would be served by `/` to service `validservice`, I'd set a `ResolvedRefs` condition on the HTTPRoute.

Sorry I missed the meeting today, I'll go look for the recording & catch up on the discussion.

[2021-04-29 01:04] robscott commented on #638
I think that matches what we were thinking in the meeting as well, thanks for clarifying!

[2021-04-29 01:07] robscott commented on #487
@hbagdi I think everything listed above is complete, do you think we can close this out? I'm also happy to just pull this from the milestone if that's easier.

[2021-04-29 02:56] youngnick commented on #89
I think @robscott's review showed that even the definitions of what a particular timeout is are really varied between implementations. So I don't know if even that level of generic timeout is possible (because different implementations will have timeouts that may add up to that timeout or something).

[2021-04-29 03:16] jpeach commented on #89
Timeouts in general are a incompatible, but there are some general use cases that might be able to help us
* is this is streaming endpoint?
* is this a request/response endpoint?
* is this a large content upload/download endpoint?

Orthogonal to these issues is how to handle idle sessions.

So maybe an approach for the portable API is to represent timeouts as profiles that an implementation can us

[2021-04-29 20:18] hbagdi commented on #487
The images publishing part is broken for an unknown reason. Let's pull this out because of external dependencies.

[2021-04-30 00:40] robscott opened #642 "Add "Reconciled" condition for RouteGatewayStatus"
**What would you like to be added**:
Currently RouteGatewayStatus only has 1 possible condition defined in the API: "Admitted". It's not clear how that should be handled in the following use cases:

- Route has been processed by Gateway controller for the specified Gateway but reconciliation has temporarily failed
- Route is already being served by a Gateway but an incremental update failed

It se

[2021-04-30 01:35] youngnick commented on #610
I don't think it *needs* to be a first-c,lass field. But I can't see another way to make a simple thing that early adopters can use to get a little more information about a GatewayClass without installing extra tooling, checking annotations, or other similar things. This is literally just to give people the option to end up with something like this from `kubectl get` output:

[code]
There's no way

[2021-04-30 02:04] youngnick commented on #611
Sorry to take a while to come back to this one @mark-church.

I like those rules, but I think there are some interactions with what parts of the API an implementation will support (which may come under conformance profiles), that will make them more complicated than we have here, I suspect.

The best one is actually the request timeout. We allowed the setting of the default to whatever the cluster

[2021-04-30 02:08] jpeach commented on #610
I'm pretty surprised that StorageClasses don't seem to have a way to do this, but I wasn't able to dig up any issues asking for it 🤷

[2021-04-30 06:26] bowei commented on #610
I support this change, as it is fairly benign given it is entirely non-semantic in nature and really improves the CRD ergonomics.

[2021-04-30 18:13] #447 closed

[2021-05-03 17:24] hbagdi opened #646 "Create a release checklist document"
**What would you like to be added**:

A document outlining the release steps to be followed to perform a release of this API. This should include things like ordering of various tasks (merges, git-tag, release creation, update docs etc) to be performed, notifications to be sent out to the world and more things as we grow.

**Why is this needed**:
- These are usually ad-hoc in every release. Docume

[2021-05-03 17:34] hbagdi commented on #487
Update:
I was writing up an issue in `kubernetes/k8s.io` when I realized that there is a typo which probably caused the error. The PR to fix it is up: https://github.com/kubernetes/test-infra/pull/22061.

[2021-05-03 17:47] hbagdi opened #647 "Figure out versioning strategy for validating webhook server"
## Background

We are very close (#487) to getting automated validating webhook server builds working.
For a good user-experience, the validating webhook will either need to be part of the default installation of Gateway API spec into a cluster or we (or every implementation) will need to make it super-easy to do so.

The first path in that direction is deciding the versioning strategy and release

[2021-05-03 18:01] robscott commented on #647
This may not scale long term, but I think it's fine to tie the webhook versioning to the version of this project as a whole. I think what we've been doing here for versioning is similar in concept to what upstream already does. Each new minor project version can include:

- new functionality
- backwards compatible updates to an existing API version
- introduction of a new API version

Given that,

[2021-05-03 20:17] hbagdi commented on #604
The blog was published: https://kubernetes.io/blog/2021/04/22/evolving-kubernetes-networking-with-the-gateway-api/

/close

[2021-05-03 20:17] #604 closed

[2021-05-03 23:43] hbagdi commented on #647
That works well. One con I can think of is that this package could have many versions and many versions can confuse users.

Having said that, I'm in favor of versioning the webhook-server same as this repository as well.
If we have consensus, we can post the decision and close this issue out.

[2021-05-03 23:45] #607 closed

[2021-05-03 23:51] hbagdi commented on #623
In that case, shouldn't there be a conflict of listeners error on the Gateway status?

Let's say we have the following:
[code]

In this case, shouldn't the controller signal an error on the Gateway resource stating that these two listeners are incompatible?

[2021-05-04 00:11] robscott commented on #647
I think we'll have 2 versions here:
- Project version (currently v0.3.0), similar in concept to Kubernetes version (currently v1.21)
- Supported API versions (currently networking.x-k8s.io/v1alpha1), similar in concept to the long list of API versions supported with each upstream release

Although Kubernetes versioning has some complexity, if we follow a similar approach here, it should at least b

[2021-05-04 18:17] stevesloka commented on #623
Sorry @hbagdi I feel like I haven't been super clear. I agree with you on that this should be an error but trying to understand who would win in this case? Do all the corresponding routes that are selected by these two listeners get rejected?

If the HTTP listener was valid and the TLS was added, what should we do? I'm not sure if there are any good rules to apply short of rejecting both, but worr

[2021-05-04 18:36] howardjohn commented on #594
Just want to write out a use case this would not cover - allowing routes to select which listener is applied. It may or may not be something we care about.

For example:

[code]

Currently, a route can only select all or none of the gateway.

A gateway can extend its selector to allow a route to sort of implicitly select itself:

[code]

But this is not great for a couple of reasons:
* Routes are

[2021-05-05 04:38] robscott commented on #582
I think this may be less big of a deal than I'd originally thought. I started to sketch out some ways we could do this with some kind of two way handshake, but that felt like we'd be providing a false sense of security. As we've already noted, there's absolutely no boundary to prevent requests from reaching services in other namespaces, so we were really only talking about a referential boundary h

[2021-05-05 16:15] bowei commented on #647
Just to be clear, is the proposal (version numbers are fake):

| webhook release | supported K8s versions |
| ---- | ---- |
| 0.50 | v1alpha1 |
| 0.60 | v1alpha1, v1alpha2 |
| ... | |
| 1.2 | (drop v1alpha1), v1alpha2, v1beta1 |

[2021-05-05 17:22] hbagdi commented on #355
/assign

[2021-05-05 17:25] hbagdi commented on #578
/assign

[2021-05-05 17:25] hbagdi commented on #566
/assign

[2021-05-05 17:28] robscott commented on #647
I think we should follow the upstream Kubernetes versioning model. That would mean that all components included in the project supported all API versions associated with the project version (primarily including validating webhook and conformance tests).

| Project Version | Supported API Versions |
|-|-|
| v0.3.0 | v1alpha1 |
| v0.4.0 | v1alpha2, v1alpha1 |
| v0.5.0 | v1alpha2, v1alpha1 |
| v0.6.0

[2021-05-05 17:31] hbagdi commented on #542
/assign

[2021-05-05 17:32] hbagdi commented on #647
/assign

[2021-05-06 15:53] hbagdi commented on #355
I audited the code for consistency and here are my observations:
- All places where the field name is used as a noun, we use a plural value
- There are a few places where we use the field name is a verb, and there we use singulars:
  -  ForwardTo ([HTTPRoute](https://github.com/kubernetes-sigs/gateway-api/blob/3aa586db603203a32005bf1c2589ea45ab4ddbf4/apis/v1alpha2/httproute_types.go#L225-L232) and

[2021-05-06 18:28] robscott commented on #582
Closely related to https://github.com/kubernetes-sigs/gateway-api/issues/634

[2021-05-07 14:52] stevesloka opened #654 "Clarify Gateway.Listener.Hostname interaction with HTTPRoute"
I had a question when implementing `Gateway.Listener.Hostname` and how it interacts with `HTTPRoute.Spec.Hostnames` on Slack (Thread here: https://kubernetes.slack.com/archives/CR0H13KGA/p1620328409212700) with @hbagdi, @jpeach, & @robscott.

My understanding of how it works was incorrect and wanted to open this issue to clarify how it should work so I could help update the docs.

- An HTTPRoute t

[2021-05-07 15:45] stevesloka commented on #634
We did something similar in Contour with `IngressRoute` which was called `delegation`. It matches @howardjohn's example where a Route would delegate a match condition off to another resource by namespace+name. The successor to IngressRoute, `HTTPProxy` does something similar but uses an idea of `includes` where like a header file in code, you include the route conditions on another resource giving

[2021-05-07 15:47] banks opened #655 "v1alpha2: Clarify HTTPRouteFilter conformance levels"
**What happened**:

Reading the API definition in https://github.com/kubernetes-sigs/gateway-api/blob/3aa586db603203a32005bf1c2589ea45ab4ddbf4/apis/v1alpha2/httproute_types.go#L443 there seems to be some inconsistency in the conformance level annotations for `HTTPRouteFilter`.

It's possible I'm just reading it wrong, but if so perhaps the presentation could be clarified to ensure the spec is clea

[2021-05-09 02:36] jpeach commented on #654
It’s a single label. I thought that the spec had some explicit language about that?

[2021-05-09 20:43] sunjayBhatia commented on #654
sorry to clarify i mean the docs should be explicit about the wildcard case in the Listener field and HTTPRoute hostname field interaction, e.g. if a Gateway specifies `*.foo.com`, the HTTPRoute docs should mention that the hostname field there can only be something like `steve.foo.com` not `bob.steve.foo.com`

[2021-05-10 18:45] robscott opened #658 "Transition from maps to lists of named subobjects"
**What happened**:
Maps were used several places throughout the API. Including, but likely not limited to:

* Query Param Matching (#657)
* Header Matching (#657)
* Header Modification (assignee: @hbagdi, #681)

This is also the case for TLS options, but I think it's likely appropriate in that case.

**What you expected to happen**:
Lists of named subojects should be used to match the [API convent

[2021-05-10 21:35] robscott commented on #594
@howardjohn That's a good point. Maybe ports are more similar in concept to hostname in that they could be represented with a matcher on Routes. So instead of Gateway binding, this would become more of request matching, even if the end result is nearly identical.

[2021-05-12 00:14] hbagdi commented on #655
Doing a bit of git spelunking, we didn't have enough discussion around the conformance level for those fields and they got marked as `extended` in a cleanup: https://github.com/kubernetes-sigs/gateway-api/commit/034c3234f1f053621a3f6a6f6bd384781b8508ec#diff-d1c59de21c79ea2bd1a99c2f52d9879981dd785848408064289287cb262fe600R422-R424

I _think_ fields inside `RequestHeaderModifier` shouldn't even have

[2021-05-12 00:55] #487 closed

[2021-05-12 02:30] jpeach opened #661 "GatewayClass spec.controller non-empty requirement is not enforced"
The `GatewayClass` `spec.controller` field is documented as "cannot be empty", but there's no minimum length validation, and the `spec` field itself is optional. This means that it is possible to create a `GatewayClass` with an empty controller name.

[2021-05-12 13:18] stevesloka commented on #638
I was about to write some docs on this to try and clarify a bit and came up with one more small edge case.

What if I have multiple forwardTo's and only one of them is invalid? I'd think we'd drop the invalid forwardTo if there are other valid one that can route traffic, but still set a degraded condition on the route to inform users that something is wrong.

But in the event that ALL the forwardT

[2021-05-12 18:12] robscott commented on #638
That's a good question. I'm not sure what the appropriate answer is here, but I think we need to be careful about falling back to other forwardTo's here. Some potential downsides:

1. This makes it less obvious to users that there is an issue. If users missed the status update, they may spend time debugging why requests started responding more slowly or why foo Service is overloaded for some reaso

[2021-05-12 19:39] stevesloka commented on #638
Yeah I'm curious what others think as well. =)

A common thing that has come up a bunch with Contour is that the config is good, the for some reason the service gets changes (or invalid) and then the result is a bad route.

The other bit I've seen which is similar is that folks will stage up changes, so they'll push the route config first, then add the service later. I could argue "don't do that",

[2021-05-12 19:44] howardjohn commented on #638
For a data point, in Istio we just configure the envoy routes to point to what they told us to, unconditionally. So if the Service is missing (and therefor envoy cluster is missing), you would get some error (503 "NR"). If the Service is present but has no endpoints it would be an error as well (503 "UH").

This seems like something that would be a huge issue, but surprisingly I don't recall any i

[2021-05-12 21:49] hbagdi commented on #661
/assign

[2021-05-12 21:59] #661 closed

[2021-05-13 11:06] banks commented on #582
Came to open the same discussion and found this which already covers a lot of what I was thinking.

I think the first use-case presented where org-wide gateways are managed in a central namespace is important.

We have user requirements for a centralised NetOps team to own the gateway and operate it in one namespace, while being able to control which HTTP path prefixes route to which backend servi

[2021-05-13 18:26] robscott commented on #582
Thanks for the great feedback here @banks! I think your example of centrally managed Gateway + Routing is going to be fairly common.

This is closely related to https://github.com/kubernetes-sigs/gateway-api/issues/634 which would enable further Routing in the target namespace through Route delegation. Interested in your feedback on that approach as well.

Yeah, this was pretty confusing. I was tr

[2021-05-13 21:22] hbagdi opened #665 "Should spec be optional/omitempty?"
In v1alpha1 of Gateway API, `spec` section for all API types are optional.
This leads to bugs like #661 where empty resources with empty spec sections can be created for all resource types.

`omitempty` was redacted in #664 which make spec required but as @robscott [pointed out](https://github.com/kubernetes-sigs/gateway-api/pull/664#issuecomment-840167442), almost every type in Kubernetes/kuberne

[2021-05-13 22:46] hbagdi opened #666 "Need v1alpha1 equivalent examples for v1alpha2"
**What happened**:

There is not way to write examples for v1alpha2 resources.

**What you expected to happen**:

There should be a way to write v1alpha2 examples.

[2021-05-13 22:52] hbagdi commented on #666
One solution that I can think of is to have a v1alpha2 directory inside the existing examples directory, copy over the existing examples, change their API versions and go from there.
We can't change the existing examples because they are referenced in docs site.

[2021-05-13 22:52] robscott commented on #666
I made some assumptions for this in https://github.com/kubernetes-sigs/gateway-api/pull/657 where I created a new v1alpha2 directory in /examples.

[2021-05-13 22:52] robscott commented on #666
It's possible that we should copy all examples over to that in one go, but instead I just copied them over as they changed.

[2021-05-13 23:44] hbagdi commented on #666
Should we copy these over first in a PR and then change them as we go forward? I can send a PR if that works.
It might have happen that some never change and we might miss some of those examples, which will then later break our docs site once it switches to v1alpha2.

[2021-05-13 23:59] robscott commented on #666
I don't have a strong opinion here, but would lean towards copying examples over as they're needed. One advantage of this approach is that we won't end up with stale examples that we never reference or use. It provides a natural way to get rid of examples from v1alpha1 that are no longer useful.

[2021-05-14 12:31] banks commented on #582
@robscott thanks for clarifying - that reasoning makes sense to me.

Yes #634 is closely related and even goes further towards a model we've had requests for where there is central control of some portion of the routing decision (e.g. path prefix) while other routing rules (e.g. rest of path, headers, query params) can still be delegated to application teams. I'll follow that issue closely too.

[2021-05-14 12:55] banks commented on #634
One potential issue opened up by if the spec simply allowed `ForwardTo` to name another Route resource would be routing cycles. These might be somewhat hard to detect manually. It would certainly be possible for implementations to perform cycle checking on the graph at validation time and reject them but that does impose complication on the implementations. Beyond cycles, they also need to verify

[2021-05-14 23:03] hbagdi commented on #647
Having heard no objects or arguments the versioning strategy proposed here and as summarized in https://github.com/kubernetes-sigs/gateway-api/issues/647#issuecomment-832874418, we will be using it for now.
Please re-open the issue if you disagree or feel that this requires more discussion.
/close

[2021-05-14 23:03] #647 closed

[2021-05-14 23:04] hbagdi commented on #355
@danehans Should we close this issue at this point?

[2021-05-15 00:29] jpeach commented on #634
This issue is talking about delegation based on path, but in practice delegation will need to be based on arbitrary filtering criteria. This is consistent with John's [comment](https://github.com/kubernetes-sigs/gateway-api/issues/634#issuecomment-827946904), but I wanted to make it explicit.

Configuration cycle detection is necessary and feasible (e.g. Contour does it today). I don't think the p

[2021-05-17 01:45] youngnick commented on #634
@jpeach has said what I was trying to say earlier about `inclusion` versus `delegation`, much more clearly. In Contour's case, once we allowed more filtering criteria, the verb "delegation" didn't make sense.

That's super important in this case, because, as James says below, allowing a Route to reference another Route isn't about having the routes create actual routing hops, it's effectively abou

[2021-05-17 01:50] youngnick commented on #355
If @danehans agrees, then I think we should close this issue out with a docs update (maybethe Implementation Guidelines doc?). I'm happy to do that PR, but will wait for Daneyon's +1.

[2021-05-17 02:09] youngnick commented on #634
Leaving aside the exact mechanics of how the Route to Route referencing would work, there's some other data we can draw from Contour's experience here, but it will require a little explanation. I'll try and do a tl;dr as well.

In HTTPProxy, there are effectively two types of objects. The "root" HTTPProxy, which specifies an FQDN, and a "child" HTTPProxy, which doesn't. Referencing (including) a "

[2021-05-17 03:44] youngnick commented on #654
I think that in all cases, an error with a hostname is grounds for being rejected, and the whole Route should be marked as `Admitted` with a status of `false`.

I think we can resolve the other two questions by changing the last bullet point like this:

* A listener with *.foo.com as hostname, then all hostnames in the  HTTPRoute must have any single label where the star is, and the rest of the ho

[2021-05-17 03:46] youngnick commented on #622
This seems reasonable to me, with the proviso that the `BackendPolicy` client certificate details are documented as specifying the details for a TLS interaction between the Gateway and the serving Pods.

[2021-05-17 03:47] youngnick commented on #666
I tend to agree with @robscott here, but maybe we need to add a release checklist note to review the examples and bring forward any that are still relevant?

[2021-05-17 05:23] jpeach commented on #654
In all cases, we should be only matching a single label. This rule comes from TLS SNI matching rules, and I think it's easier if we just apply it everywhere.

Suggest hoisting this language up to the `Hostname` type so it's applied consistently everywhere.

HTTPRoute can be used with http and https schemes, so I think the matching rules apply universally.

[2021-05-17 05:54] robscott commented on #634
This is really helpful, some great discussion here. Some quick follow up questions for @youngnick or @jpeach on the Contour implementation:

1. You mention that you only support prefix matching, what does that look like? In your example, the HTTPProxy includes service2 with a prefix condition on `/service2`, does that mean that all matches in the included proxy would have to start with `/service2`

[2021-05-17 05:55] robscott commented on #666
Yep, that's a great idea

[2021-05-17 18:31] #189 closed

[2021-05-17 20:48] skriss opened #669 "RouteStatusGatewayReference.Controller should have an `omitempty` JSON tag"
**What happened**:
Contour code that updates HTTPRoute status produces errors like the following:
[code]

**What you expected to happen**:
Since the `Controller` field is optional, it should be omitted from JSON serialization if not specified.

**How to reproduce it (as minimally and precisely as possible)**:
I can provide more detail on how to run the Contour E2E's locally to observe this error i

[2021-05-18 00:00] robscott commented on #446
/remove-lifecycle rotten
/reopen

[2021-05-18 00:01] robscott commented on #443
/remove-lifecycle rotten
/reopen

[2021-05-18 00:56] robscott commented on #669
Thanks for raising this issue! I know we'd previously said that we'd freeze v1alpha1 and instead focus our development on v1alpha2, but maybe if there are enough bugs we should work on a 0.3.1 with a new release-0.3 branch to support a patch here.

I'll bring this up at our community meeting tomorrow. I think this is a bug, I'm just not sure how broadly we want to apply the patch.

[2021-05-18 01:44] youngnick commented on #634
Answering your questions, @robscott:
1. All routes on the includ*ed* HTTPProxy have `/service2` prepended to them, so `/foo` inside that proxy becomes `/service2/foo`.
2. No, there's no way to prevent HTTPProxy objects from being included, noone has ever asked.
3. People are definitely using the inclusion pattern, there are a couple of big prod users that use it. We haven't found any scaling issue

[2021-05-18 16:57] robscott commented on #654
Agree with the conclusions here, thanks for raising this issue @stevesloka. If anyone wants to take on this docs update, add a comment here to let us know you're working on it.

[2021-05-18 17:01] robscott commented on #642
This may be unique to our implementation, but we have a slightly different distinction. We may still be serving traffic with the older config if new config can not be reconciled. So in our case, some kind of distinction between "this config is valid" and the latest config has actually been reconciled is important. That is also fairly similar in concept to "Ready", but slightly different. Maybe bot

[2021-05-18 18:13] robscott commented on #669
We discussed this at today's community meeting and decided that it did not meet the bar for a new v1alpha1 release. Given that, I think it makes sense to make this change in v1alpha2 only. As I've been thinking about it more though, I realized that this was only optional in v1alpha1 to ensure backwards compatibility. IIRC, the intent was to make this field required in v1alpha2. I'll open a PR to m

[2021-05-18 18:30] skriss commented on #669
Sounds good, thanks for the update. We'll update Contur's code to provide a value for this field, to work around the v1alpha1 issue and be ready for v1alpha2.

[2021-05-18 21:43] robscott commented on #443
/assign

[2021-05-18 22:07] #669 closed

[2021-05-18 23:27] robscott commented on #443
I took a look at improving this, and I think it may already be fine. Back when this issue was opened, the description was a lot less clear (https://github.com/kubernetes-sigs/gateway-api/pull/429), but now I think we have a pretty clear example of how it can be used. Especially with my proposed addition of a hostname address type (#672), I think it's fairly clear what `NamedAddress` is intended fo

[2021-05-18 23:28] #443 closed

[2021-05-18 23:33] hbagdi commented on #355
@youngnick, @danehans agreed with the above approach in today's community call. Could you please send the PR to close this issue?
/assign @youngnick

[2021-05-19 06:51] youngnick commented on #355
Thanks, will do.

[2021-05-19 06:54] youngnick commented on #642
Yes, having two Conditions makes sense to me, being `Config is valid` and `Config is being served`. It seems to me like they should probably be `Admitted` and `Ready` respectively.

I note that Contour currently can't guarantee `Ready`, sadly, because there's no feedback loop from Envoy. We can guess with reasonable confidence, but can't guarantee. No reason not to go ahead with this distinction t

[2021-05-19 06:55] youngnick commented on #654
I'll take this one.

/assign

[2021-05-19 07:07] youngnick commented on #97
I think the thing that we would probably need to be a little prescriptive about is that the Gateway (however it's implemented) should be doing its own active checking if health checks are specified.

That way we can be clear how they are distinct in behavior from adding a readiness check to a Pod and having Endpoints not visible in that way.

[2021-05-19 12:17] jpeach commented on #642
Ready means it is working at some version. Actually specifying what the version is for an arbitrary tree of resources that can all change at any time doesn't seem straightforward to me. Hard to understand what the semantics of the valid config would be.

[2021-05-19 14:59] howardjohn commented on #97
I don't think its clear what "the Gateway" is, given the API is implementation agnostic. Does it mean all instances of the gateway (pod for in cluster workloads) must send requests to the pods to determine if its healthy? Does it mean one of them can and share the information with others? Can I spin up a distinct workload that does the health checks and reports it back? Stretching this really far,

[2021-05-19 17:25] bowei commented on #306
/remove-lifecycle rotten
/lifecycle frozen

[2021-05-19 23:17] #573 closed

[2021-05-19 23:35] jpeach commented on #665
I think that unless an empty spec is meaningful and results in some valid configuration, it should not be allowed.

[2021-05-20 00:01] jpeach commented on #596
This reads pretty clearly to me. There's no traffic, therefore there can never be a 503 or 404 response (since a response would be generated by traffic).

That seems to also be the consensus of the discussion above, so what still needs to happen? Change the should to a MUST?

[2021-05-20 00:27] jpeach commented on #330
Looking at `httpPathRegexp`, I think the second example would be valid. I agree that if we want to do any validation of this, its a good idea to be consistent with ingress class.

[2021-05-20 01:14] robscott commented on #330
Thanks for catching that @jpeach! You're completely right. It looks like we could probably use an update to the Gateway.Spec.Controller docs to clarify this.

[2021-05-20 01:46] youngnick commented on #97
That's a great point. I was thinking of it more in terms of saying something like "if you specify a healthcheck here, it must be done by some other mechanism than a Readiness check". You *may* use a readiness check as well (to filter endpoints or something), but asking here implies having the Gateway controller do something more active than that. Note that this isn't taking a stance on active heal

[2021-05-20 01:50] youngnick commented on #642
Well, a Condition does have a version, the `observedGeneration`, which should definitely be being checked by things consuming them.

I must admit to being a bit confused about your reluctance here @jpeach. Is it that you think that the Route should have a minimal set of Conditions, and we should teach people to look at owning Gateways for the system's current state? Personally, I don't feel like t

[2021-05-21 00:15] jpeach commented on #642
So the route is part of an object graph. For the proxy configuration to be "current", all the configuration in all the resources in the graph needs to be current on the server. When you look at a "reconciled" condition on the route, is it really telling you that the config is up to date, or only that this specific route hasn't changed since you last looked at it?

For the conditions that Rob liste

[2021-05-21 00:25] youngnick commented on #642
Okay, so I'm going to try and summarise what I understand you're saying.

You're in support of having the already-existing `Admitted` condition, plus additional ones to cover specific errors, but not a `Reconciled` or `Ready` or similar condition.

In this case, `Admitted` means, essentially, "no syntactic or other simple errors found, this is okay to be reconciled, that should happen at some poin

[2021-05-21 00:31] youngnick commented on #596
So, in the case that you have a weight of 0 on a single host, and no filters, then the config should be admitted but route no traffic? How do we surface that to the user? Feels like a Condition that says "This doesn't do anything, are you sure?" might be useful.

[2021-05-21 01:24] jpeach commented on #596
It's not broken and it does what it says on the box, my preference would be to silently accept it.

[2021-05-21 16:06] stevesloka commented on #634
In preparation for the meeting on Monday, I've started a discussion document that tries to outline the discussions into a single point. I also added some more examples of how Contour implements the same today to allow for discussion on that as well as the places where more work/thought is needed.

https://docs.google.com/document/d/1-0mgRRAY784OgGQ1_LCOshpLLbeAtIr4eXd0YVYK4RY/edit?usp=sharing

[2021-05-21 18:30] robscott opened #678 "Add support for HTTP rewrites"
**What would you like to be added**:
In addition to support for redirects (https://github.com/kubernetes-sigs/gateway-api/issues/200), it would be useful to extend HTTPRoute to support rewrites before forwarding traffic.

**Why is this needed**:
As a simple example, requests to `customer1/store` and `customer2/store` may require different routing while still being forwarded to backends as requests

[2021-05-24 20:29] hbagdi commented on #306
I think we need to keep the core filters as clearly defined, narrow and targeted to get traction and conformance from implementations. As soon as we add anything a bit more complicated, the number of implementations diverging in at least one detail will increase. Is defining a new implementation-specific acceptable for these cases and then come back to convergence in future?

[2021-05-24 20:32] robscott commented on #629
I've created a [doc to track these issues](https://docs.google.com/document/d/1mq4QYY1QWVFcrNOM9oBn3L1xtoNKALskwzlQsZ3uhpQ/edit#) and ran it by @thockin, @lavalamp, @apelisse and some others. Here are some highlights of those conversations (feel free to correct me if I got anything wrong):

1. Some things are being worked on to make CRD validation more powerful such as support for enforcing immuta

[2021-05-24 20:36] howardjohn commented on #629
Is it correct to read this as "vendors will need to duplicate their entire gateway-api codebase or only use the oldest api version they care about"? I don't know of any other way, but would be very happy to. This was a big pain point for Ingress, and other deprecation, for us.

[2021-05-24 20:59] lavalamp commented on #629
CRDs can keep a limited number of different versions of the schema *if* they are mutually convertible.

Typically, the point of doing alpha(s) is to relieve one's self of that burden, because it's not easy to work under that constraint.

If you want to install multiple non-convertible alpha versions at the same time, you could do so by putting them under different groups, although that'd be a litt

[2021-05-24 21:05] howardjohn commented on #629
Even if they are convertible, doesn't the same issue persist? Say we have v1alpha1 and v1alpha2. I am a controller that is up to date, so I want to support v1alpha2 (to get some new fields, etc), but I also need to support clusters with only v1alpha1 for backwards compatibility.

* If I read v1alpha1, then I don't get the new fields
* If I read v1alpha2, then it will fail on the clusters without v

[2021-05-24 21:06] lavalamp commented on #629
If they are convertible, then it is safe to install the variation of the CRD with both versions in all clusters.

[2021-05-24 21:06] apelisse commented on #629
cc @jpbetz

I'm a big +1 on 5. that we should use this as a motivation to improve CRDs rather than fall-back on in-tree. Sorry if you're paying part of the price :-(.

In the medium/long term, we're thinking about possible ways to address 1, 2, 3, and 4. So hopefully it will be much easier for the next projects or so that go through the same journey you did.

[2021-05-24 21:08] howardjohn commented on #629
This is great if the controller is also in charge of the CRDs. As a concrete example of where this won't work, GKE will automatically provision these CRDs. There will always be some delay before GKE shipping the new CRD; in that time, it is impossible to install the new version into the cluster. That is just one example, I am sure there are other cases where we may not be able to, such as when the

[2021-05-24 21:20] lavalamp commented on #629
You should need admin privileges to run a gateway implementation, so someone who can do that can also update / install the CRD.

I agree that if the platform providing the cluster has an opinion about the version of the CRD that is installed, you basically have to wait for them to upgrade, or risk fights with whatever controller maintains the CRD version. Platforms should therefore think very care

[2021-05-25 00:20] #542 closed

[2021-05-25 16:26] #355 closed

[2021-05-25 17:30] #330 closed

[2021-05-25 17:56] hbagdi commented on #658
@robscott I have opened up #681 to handle the header modifier filter. Do we want to go ahead with TLS or not? I don't have strong feelings either way.

[2021-05-25 19:03] hbagdi commented on #213
This seems like an edge case that would rarely happen in practice.
@bowei @robscott Have you run into this in your experience?
If not, I propose we move this back into the backlog and come back to this when someone actually reports that they are running into this case.

[2021-05-26 16:15] hbagdi commented on #578
My proposal for path forward on this problem:
- Clarify the optionality of Port: #685.
- Open a new issue to add validation for Port present when ServiceName is in use.

@danehans I'm not sure what you mean here, could you please rephrase?

[2021-05-27 17:46] sunjayBhatia commented on #654
Question from the contour issue above ^

Can you have a Gateway Listener with hostname `a.b.com` and HTTPRoute hostname `*.b.com`

My first instinct is no, b/c the Gateway is a precise match and `*.b.com` is a superset of what the Gateway specifies (even if you end up programming only `a.b.com`, but hoping we can clarify this as well

[2021-05-27 17:48] howardjohn commented on #654
How it works in Istio, which I think is a good part of the API, is it is essentially a bidirection handshake. So we take the intersection of hosts in GW and HTTPRoute.

So in this case, the route would apply, but only for a.b.com, not c.b.com.

[2021-05-27 21:31] jpeach commented on #654
Yup, agreed. In some other PR, I described this as a 2 level filter. Requests would first have to match the Listener hostname (via SNI or Host header), then they have to match one of the attached routes.

[2021-05-28 04:52] youngnick commented on #654
I've updated #674 with an idea about this.

[2021-05-28 05:00] youngnick commented on #596
If that's the case, then we should change the spec like this, agreed:
[code]

[2021-06-01 17:10] howardjohn opened #687 "HTTP3 and QUIC support"
QUIC recently went to "version 1" as https://datatracker.ietf.org/doc/html/rfc9000.

This issue tracks support for HTTP 3 and QUIC in the API.

These are similar to HTTP and TCP in terms of routing functionality, but they *always* have TLS and are on UDP instead of TCP.
Envoy, Google cloud, and Nginx all support HTTP3 today.

Typically, sites will want to expose HTTP3 and HTTP1/2 on the same domai

[2021-06-01 18:26] bowei commented on #596
Seems like an easy PR if this language is clearer -- send away?

(Github should do word-wise diff for this one)

[2021-06-01 20:58] tomkerkhove commented on #554
Closing as discussed in standup that this is not on the radar for now.

[2021-06-01 23:39] jpeach commented on #687
Could implementations transparently enable HTTP3 on a gateway listener it the protocol in "HTTPS"? Leaving aside whether the underlying cluster networking supports that, I think that would be OK from an API perspective?

[2021-06-04 00:30] youngnick commented on #596
Done.

[2021-06-04 00:45] #596 closed

[2021-06-06 17:57] bowei opened #689 "Change Kind to resource in all object references as Kind is computationally inefficient"
It looks like the use of Kind to reference objects is computationally expensive for the API server.

There is a proposal in OwnerReference to change to resource.

https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/2336-OwnerReference-resource-field/README.md

As we are making a breaking change in v1alpha2, we should consider fixing this.

[2021-06-06 18:23] howardjohn commented on #689
Does this apply to us? It seems like the controller knows all types it will handle and can just make a mapping of resource <-> kind for all types they know which is trivial.

That also means the inverse is true and `resource` is probably almost just as easy though

[2021-06-06 21:35] jpeach commented on #689
ObjectReference uses Kind, so if we switch to Resource, are we going to end up as that one weird API that does things differently?

[2021-06-07 00:16] bowei commented on #689
Given the above KEP, it sounds like it will be the norm to fix this in all of the APIs, but I have to look at KEP in more detail.

[2021-06-07 02:40] robscott commented on #689
I think the upstream KEP will actually result in both Kind and Resource being fields in OwnerReferences, with Resource taking precedence over Kind when it is specified. Given the relative newness of this concept, and that it applies to a field that most users don't write to, I think we'd likely also want to have both fields. I see the value of this proposal as it allows for more precision while wr

[2021-06-07 02:54] robscott opened #690 "Change API group from x-k8s.io to k8s.io"
After some discussion with @thockin, @liggitt, and an earlier [Slack thread](https://kubernetes.slack.com/archives/C09QYUH5W/p1618570463278100) with @aojea, it sounds like we should be moving to the k8s.io API group as part of the v1alpha2 release.

As I understand it, `x-k8s.io` is intended to represent experimental Kubernetes APIs while `k8s.io` is intended to represent official Kubernetes APIs

[2021-06-07 06:22] youngnick commented on #690
I think `gateway.networking.k8s.io` makes the most sense to me, this is the *Gateway* API, after all, and I think that the Gateway object is the key one. Interested to hear if people with wider context agree though.

[2021-06-07 06:34] #654 closed

[2021-06-07 15:25] howardjohn commented on #690
Is `gateway.k8s.io` an option? Just to be slightly shorter

[2021-06-07 16:15] lavalamp commented on #689
No -- resource is preferred because it is unambiguous. apiserver won't be doing any processing on references.

[2021-06-07 16:19] lavalamp commented on #689
Please follow the advice we just merged here: https://github.com/kubernetes/community/pull/5748

Re: that KEP: I am not sure we will be changing this in existing types, as schema changes are extremely disruptive.

[2021-06-07 16:51] robscott commented on #690
I don't think there are currently any conflicts with that, but it might be a bit more likely to conflict with something in the future? Agree that a short name is helpful, especially if we're going to have to advise users to use fully qualified names in their kubectl calls.