[2019-12-12 19:56] bowei opened #1 "Create prow configuration to perform CI"
Initial Prow configuration to just run

`make`

and ensure that passes for the repository.

Essentially get the prow robot work done so we can use the /lgtm /approve etc. and have CI results automatically run.

[2019-12-12 20:01] bowei opened #2 "Add basic hack/ verification scripts"
Implement basic verification scripts (this will not be inclusive of all that will eventually be needed).

### Verify apache license

Go through all source code types (Makefile, go code, markdown) have the right apache license header.
We should be able to use existing scripts and adapt it to this repo. Although it may make sense to carve
these things out into a separate repo across the Kubernetes p

[2019-12-13 19:13] bowei opened #3 "Create container image repository for built images"
We will need a gcr.io docker image repo for the built artifacts:

https://github.com/kubernetes/k8s.io/blob/master/k8s.gcr.io/README.md
https://github.com/kubernetes/test-infra/blob/master/config/jobs/image-pushing/README.md

[2019-12-16 13:58] aojea commented on #1
/assign

https://github.com/kubernetes/test-infra/pull/15615

[2019-12-16 15:04] aojea commented on #3
/assign
xref: https://github.com/kubernetes/k8s.io/pull/515

[2019-12-17 00:28] thockin commented on #3
I am curious what artifacts you expect to build and publish?

[2019-12-18 12:26] aojea opened #4 "Create an ingress implementation"
Setting aside the [debate of the `default implementation` that was running in the mailing list](https://groups.google.com/d/msg/kubernetes-sig-network/ULr1a3XWYq0/N7ynBwswAgAJ),
I think that we should have an Ingress implementation so the community can start reporting feedback about the new Ingress API.

At the end of the day, you'll never know how this is going to evolve until is being used :smil

[2019-12-19 19:32] rikatz commented on #4
@aojea I'm just afraid of [this](https://pbs.twimg.com/media/DZ80C0CVoAEH1PQ.jpg) happening, but I also think we should at least provide a really simple ingress implementation to work only as a validation of user stories :)

[2019-12-29 12:02] aledbf opened #8 "[Question] Listener TLS"
Can we avoid the use of [`map[string]string`](https://github.com/kubernetes-sigs/service-apis/blob/master/api/v1alpha1/gateway_types.go#L146) and use `core.TypedLocalObjectReference`?

[2019-12-30 00:22] Colstuwjx opened #9 "[Suggestion] Have a KEP for this?"
TBH, I'm not sure whether the service-apis is target for replacing ingress or just offer an out-of-tree solution for kubernetes users.

If it's target for replacing ingress and `type=Loadbalancer` service, we may need to have a KEP for tracking this.

Thanks.

[2020-01-02 21:21] bowei commented on #9
Yes there will be a KEP for which the contents will be from the work here.

[2020-01-02 21:23] bowei commented on #9
The KEP will be a schedule and a pointer to the docs here mostly likely.

[2020-01-02 23:19] bowei opened #10 "Understand how "official" CRDs will be handled in Kubernetes project"
The new APIs we are working on are targeted to remain as CRDs that are going to live outside the main kubernetes/kubernetes repo. While this is OK for the initial working state, at some point these will need to be made official. This issue tracks understanding what this means, how releases will be made, etc.

We need to figure out (most likely with SIG-ARCH) what this looks like.

* How do release

[2020-01-02 23:30] bowei commented on #9
(No

[2020-01-03 23:35] #2 closed

[2020-01-04 00:36] robscott commented on #10
/assign

[2020-01-07 17:40] howardjohn opened #11 "Generated protobufs for the API"
Most (all?) Kubernetes APIs have autogenerated protobuf messages from the go schema. It would be useful to have these generated for the types here as well

[2020-01-07 17:55] aledbf commented on #11
@howardjohn protobuf is not supported in CRDs https://kubernetes.io/docs/concepts/extend-kubernetes/api-extension/custom-resources/#advanced-features-and-flexibility

[2020-01-07 18:11] howardjohn commented on #11
Interesting, I didn't realize that. For my particular use case we have a system that is basically a protobuf processor. We cannot do anything unless the types are proto message, so we would probably need to generate the protos for our case, even if Kubernetes isn't using them internally. So either way we will probably need to end up generating the protos. It seems reasonable to do this in this rep

[2020-01-07 19:59] robscott commented on #10
Had a great call with @liggitt and @bowei today to talk through what this would look like. Some highlights:

- VolumeSnapshot is the first example of an "official CRD" in use. These definitions are automatically installed by CSI drivers that support them (https://kubernetes.io/blog/2018/10/09/introducing-volume-snapshot-alpha-for-kubernetes/)
- CRDs do not need to be tied to Kubernetes versions, t

[2020-01-07 20:01] howardjohn commented on #11
I was able to sort of run this locally, but I had to do a lot manually hacks.

Command: `go-to-protobuf --proto-import=$GOPATH/src/k8s.io/kubernetes/vendor --proto-import=$GOPATH/src/k8s.io/kubernetes/third_party/protobuf --packages sigs.k8s.io/service-apis/api/v1alpha1 -o /tmp/proto`

First issue is the line `SchemeBuilder = &scheme.Builder{GroupVersion: GroupVersion}` seems to blow up. Not 100%

[2020-01-08 01:55] bowei opened #14 "Make verify check that the kubebuilder generated code is up to date"
kubebuilder generates files so we should make sure they are always consistent w/ the source.

[2020-01-08 01:56] bowei commented on #11
Is there a cross post w/ the API machinery folks? This may be something that broader than our current use case.

[2020-01-08 04:28] rikatz commented on #8
Could only find this here: https://github.com/kubernetes-sigs/service-apis/blob/master/api/v1alpha1/gateway_types.go#L177

Was the file changed from when you found it to now, removing those map[string]string?

[2020-01-08 15:32] aojea commented on #1
/close

[2020-01-08 15:32] #1 closed

[2020-01-08 21:45] bowei opened #19 "Make verify to ensure `mkdocs` is up to date"
We need to have verify check that mkdocs is up to date.

[2020-01-08 22:16] robscott opened #20 "Add Initial Conformance Test Framework"
We want to ensure that controllers using these APIs are conformant. Having a good conformance test suite will help establish consistency across community implementations and help developers identify any missing pieces in their implementation. This should work similarly to the existing Kubernetes conformance tests and be accessible with the same workflows.

[2020-01-08 22:48] howardjohn commented on #11
current script I am using to do this. Its a major hack though, just for future reference:

[code]

[2020-01-08 22:52] aledbf commented on #11
@howardjohn I am not sure this should be added (in this repository) until protobuf are supported (personal opinion). Why? Users will find the definitions and expect to work ootb using the controller.

[2020-01-08 22:59] howardjohn commented on #11
If there is no desire to check this into this repo, thats fine with me, although I would prefer them here. However, I hope we can at least make the changes required to remove the above hacks so its feasible to generate the protobufs, assuming the changes are not invasive.

[2020-01-09 17:09] bowei commented on #10
/close

[2020-01-09 17:09] bowei commented on #10
/reopen

[2020-01-09 17:09] bowei commented on #10
Actually -- rob, can we document the output of the discussions before closing this issue?

[2020-01-09 17:11] bowei commented on #10
You can put it under a new page in the docs-srcs "Releases"

[2020-01-09 19:27] freehan opened #26 "Potential Naming Collision on GatewayClass"
Multiple Gateway vendors can come up with the same name for their GatewayClass. For instance, popular names like `external-load-balancer`. That makes it quite possible to have naming collision in a cluster with multiple Gateway vendors. Meanwhile, k8s object name format is not as flexible as label.

If the spec does not solve this and push this problem to the Cluster Admin, who needs to ensure the

[2020-01-10 01:27] howardjohn commented on #11
/assign

[2020-01-10 01:57] howardjohn commented on #11
I have this working now with only one minor hack now. Will send a PR out later after a few dependant ones merge

[2020-01-10 09:00] Ravi19967 commented on #14
\assign Ravi19967

[2020-01-13 00:36] youngnick commented on #26
The quote from the original API sketch I was thinking of was:

It feels to me that the current idea is that the GatewayClass name is largely descriptive, and Controller field inside the GatewayClass is intended to be the way a controller would find which GatewayClass objects it cares about (it's kind of a must-include label).

That is, when writing a controller, I don't really care about the name,

[2020-01-13 01:08] howardjohn commented on #10
Maybe this is what you meant by the above, but how will we handle conversion webhooks? It seems like we cannot really support that since the CRD is shared between multiple controllers, yet only one service can be the service for conversion

[2020-01-13 09:32] aojea commented on #3
@bowei only is missing the `cloudbuild.yaml`

https://github.com/kubernetes/test-infra/blob/master/config/jobs/image-pushing/README.md#cloudbuildyaml

and defining the artifacts https://github.com/kubernetes-sigs/service-apis/issues/3#issuecomment-566315207

[2020-01-13 09:57] #19 closed

[2020-01-13 17:26] bowei commented on #3
@thockin -- conformance test suite and there are some build related images would be helpful to keep a golden image to get repeat ability.

[2020-01-13 19:23] robscott commented on #10
@howardjohn I had thought that both CRDs and any conversion webhooks would be installed from this repo, essentially the shared prerequisites for any controller implementation would live here. I should clarify that in #32.

[2020-01-13 19:25] howardjohn commented on #10
That SGTM.

[2020-01-13 19:32] aledbf opened #34 "Use a different branch for generated docs"
and use a periodic Prow job to generate and push the content to the proper branch.

[2020-01-13 22:45] bowei commented on #34
I tried this and the management was pretty complicated, especially when you are generating the docs and matching the docs up with the API types.
Can you sketch out how this would work?

[2020-01-13 22:46] bowei commented on #34
I see -- you will only have the generated content via Prow. Seems ok, as long as it is automated.

[2020-01-14 02:54] jpeach opened #36 "Discuss whether GatewayClass.Parameters should use RawExtension"
GatewayClass has a [Parameters](https://github.com/kubernetes-sigs/service-apis/blob/fdbee69573c9a7436bd1fe91530a00efeb3fb776/api/v1alpha1/gatewayclass_types.go#L44) field that is a TypedLocalReference to a separate, provider-specific configuration object.

On the last community call, I asked whether using a [RawExtension](https://godoc.org/k8s.io/apimachinery/pkg/runtime#RawExtension) for this fi

[2020-01-14 08:09] bowei commented on #36
I'm all for exploring different techniques here wrt to the API schema.
The claim here is that YAML can contain multiple objects using `---` which simplifies things.

The drawback is kubectl commands are more complex (pointer chasing) -- can be smoothed over w/ a kubectl plugin
Also, people have to come up with throw away names to link objects together.

Dealing w/ RawExtension for each of the prov

[2020-01-14 11:07] suvl opened #37 "RegExp and capture group in host entry, usable to target headless services"
I've been redirected here coming [from this issue](https://github.com/kubernetes/kubernetes/issues/86132).

I have some `StatefulSet` that is accessible through a headless service. Then I want to target each specific instance of that service (clients would know what service from a redirect request). That service would have N instances at any given time.

It's something like this:

[code]

I ended

[2020-01-15 01:33] bowei opened #40 "Make the toolchain completely reproducible: kubebuilder"
It looks like the kubebuilder version is not constrained in the build.
The ideal case would be to containerize kubebuilder so it is not necessary to pin the version on the local machine.

[2020-01-15 15:48] ironcladlou commented on #8
This issue appears to be resolved on master.

[2020-01-15 15:53] ironcladlou commented on #36
With referenced extensions, are there any concerns about update atomicity? Maybe not as much of an issue for something like GatewayClass, but consider the other extension points, like Route. For example, given a controller which needs to process Routes and make admission decisions, is it plausible that the Route extension must be considered in that decision? If so, does the referential decoupling

[2020-01-15 15:56] ironcladlou commented on #37
This seems related to the [prior conversation](https://docs.google.com/document/d/1BxYbDovMwnEqe8lj8JwHo8YxHAt3oC7ezhlFsG_tyag/edit?disco=AAAADc1TU-I) between @smarterclayton and Romain Lenglet. Would this feature make it impossible for gateway class implementations to perform conflict detection?

[2020-01-15 18:30] bowei commented on #36
This is definitely something to consider when breaking up resources.

We should sketch out when this will/will not matter.

* it may not matter from use case perspective
* it is temporary (excluding control plane failures) to the point that users will not notice

One way to solve it would be pointer swapping a la concurrent data structures, but I'm hoping we don't have the need to do that...

[2020-01-15 19:05] ironcladlou commented on #36
Great points. I don't have any specific concerns yet with the decoupling.

[2020-01-15 19:18] #10 closed

[2020-01-15 21:31] aojea commented on #20
is this not related https://github.com/kubernetes-sigs/ingress-controller-conformance?

[2020-01-15 21:35] robscott commented on #20
@aojea It is related, but unfortunately it doesn't follow the pattern established by the Kubernetes conformance tests. @aledbf has some [work in progress for ingress conformance](https://github.com/aledbf/ingress-conformance) following that pattern, I'd been thinking about using that as a starting point for work here as well.

[2020-01-22 00:07] danehans opened #48 "Add Destination Service Port Selection to Route APIs"
**What would you like to be added**:

A Kubernetes `Service` has the ability to expose multiple ports. However, a `HTTPRoute` provides no ability to specify the destination service port that should be used to forward traffic. `HTTPRoute` should be updated to allow the destination service port to be specified.

**Why is this needed**:

As a developer, I need the ability to forward ingress traffic t

[2020-01-22 00:08] bowei commented on #48
/kind/design

[2020-01-22 00:09] bowei commented on #48
I put kind/design -- apparently kind/enhancement doesn't exist?

[2020-01-22 01:12] bowei commented on #48
Ahh -- this is probably just an oversight when we were throwing the initial API spec together. What we have should be the same in behavior as the current Ingress

[2020-01-22 01:21] danehans commented on #48
Using k8s enhancements as the reference model, enhancements should be labeled as `kind/feature`.

/kind/feature

[2020-01-22 01:26] danehans commented on #48
@bowei after a quick read of the [labels doc](https://github.com/kubernetes/test-infra/blob/master/label_sync/labels.md#kind/feature), it appears enhancements should be labeled as `kind/feature`. This is the approach I took in https://github.com/kubernetes-sigs/service-apis/pull/46.

[2020-01-22 01:36] bowei commented on #48
ok fixed

[2020-01-22 01:36] danehans commented on #48
@bowei I think it may be more complicated with the new API's due to `ForwardTo` of `HTTPRouteAction` being a `ObjectReference` instead of a `corev1.Service` type. For example, what if `ForwardTo` references another `HTTPRoute`?

/cc @youngnick

[2020-01-23 18:24] bowei opened #49 "Better modeling of a "virtual host""
This has come up in discussions about the split in functionality between Gateway and the set of Routes attached to a Gateway. See the meeting notes starting here:

The purpose of the split resource is model different permissions and delegation regarding assembly of a LB vs the application author (see "resource model" here: https://kubernetes-sigs.github.io/service-apis/concepts).

As currently ske

[2020-01-24 05:50] jpeach opened #50 "Consider naming `TypedLocalObjectReference` fields `fooRef`"
https://github.com/kubernetes/community/blob/master/contributors/devel/sig-architecture/api-conventions.md#naming-conventions

Following this recommendation would replace `Extension` with `ExtensionRef`, but it would also replace `ForwardTo` with something less wieldy (maybe `TargetRef`). So maybe it's better not to follow this convention in all cases.

[2020-01-24 17:25] danehans commented on #49
API implementation example for adding tls config in routes: https://github.com/kubernetes-sigs/service-apis/pull/35

[2020-01-24 18:13] bowei commented on #50
This reminds me of "Hungarian notation". I think we should try to make it align, but use common sense.

[2020-01-27 03:45] yiblet commented on #14
is this issue still open? If so I'd be interested in helping out.

[2020-01-28 22:49] danehans opened #51 "Insecure Connection Policy"
**What would you like to be added**:
The ability to enforce how insecure (http) connections are handled for a `xRoute`:

`InsecureConnections: “Redirect”`: Redirects http > https connections for an `xRoute`.
`InsecureConnections: “None”`: Refuse http connections for an `xRoute`.
`InsecureConnections: “Allow”`: Allows insecure connections for an `xRoute`.

**Why is this needed**:
As a cluster opera

[2020-01-28 23:09] danehans opened #52 "TLS Termination Policy"
**What would you like to be added**:
As an application developer, I need the ability to specify a TLS termination policy for my `HTTPRoute` to specify how the associated connections should be handled by the `Gateway`.

**Why is this needed**:
I create `HTTPRoutes` routes foo, bar and baz (with TLS configured). I need tls connections for route foo to be:
`client----(tls)----->gateway----(http)---->

[2020-01-28 23:12] danehans commented on #51
pr xref: https://github.com/kubernetes-sigs/service-apis/pull/35

[2020-01-28 23:13] danehans commented on #52
pr xref: https://github.com/kubernetes-sigs/service-apis/pull/35

[2020-01-28 23:25] danehans commented on #52
Can this be achieved using match/filter/action of a route? If so, how easy is the workflow understood by a user? Is this a gateway class, gateway or route setting?

[2020-01-28 23:35] danehans opened #53 "Selector-Based Route Binding"
**What would you like to be added**:
As a cluster operator, I need the ability to bind a subset of routes from a large pool of routes to a gateway without having to manually specify each route.

**Why is this needed**:
I create several gateways and a large number of routes. Instead of manually specifying each route (api group/kind/name) within a gateway, I group routes using labels and use a label

[2020-01-28 23:36] danehans commented on #53
pr xref: https://github.com/kubernetes-sigs/service-apis/pull/12

[2020-01-28 23:55] Miciah commented on #50
While we consider the naming, we should also consider using custom types instead of `ObjectReference` and `TypedLocalObjectReference`, per the recommendation in https://github.com/kubernetes/kubernetes/pull/87459.  (Let me know if you would prefer a separate issue for the type issue.)

[2020-01-29 00:02] danehans opened #54 "Gateway Scheduling Constraints"
**What would you like to be added**:
As a cluster operator, I need the ability to ensure a Gateway is scheduled to specific nodes.

**Why is this needed**:
My large cluster has been designed to constrain ingress connections to a specific group of nodes for security and performance purposes. I would like the ability to set a field that ensures the `Gateway` is scheduled to these nodes.

[2020-01-29 00:03] danehans commented on #54
pr xref: https://github.com/kubernetes-sigs/service-apis/pull/17

[2020-01-29 18:40] danehans opened #55 "Add Support for Per Target Filters"
**What would you like to be added**:
The ability to apply filters after a forwardTo action of an `HTTPRoute`.

**Why is this needed**:
Several proxy implementations support the ability to modify requests after making a forwarding decision.

From a sketch api [comment](https://docs.google.com/document/d/1BxYbDovMwnEqe8lj8JwHo8YxHAt3oC7ezhlFsG_tyag/edit?disco=AAAADsbvEx4):

"This would allow the usa

[2020-01-30 01:15] bowei opened #56 "Machine parseable tokens for indicating field support state"
**What would you like to be added**:

This comes from suggestion from @danehans:

For features and structs that can be clearly delineated with a support expectation (base = 100% support, extended = if supported, must be portable, custom = implementation extension), we have a machine parse able label:

[code]

This makes it easier create tooling for generating docs later.

**Why is this needed**:

[2020-01-30 18:25] danehans opened #58 "Backend Object Traffic Manipulation"
**What would you like to be added**:
Support for manipulating post-routed requests among multiple backend objects:

- [ ] Weight or percentage-based traffic splitting among multiple endpoints of a `Service`.
- [ ] Label-based traffic splitting among multiple endpoints of a `Service`.
- [ ] Weight or percentage-based traffic mirroring among multiple endpoints of a `Service`.
- [ ] Label-based traff

[2020-01-30 18:48] danehans commented on #58
In support of https://github.com/knative/serving/issues/6593 and other traffic splitting use cases (i.e. Contour, Istio, etc.).

/cc @youngnick

[2020-01-30 18:53] bowei commented on #8
Can we dupe this w/ the general extensions discussion or we want to keep this open separately (this issue will be pretty much stale)

[2020-01-30 18:54] bowei commented on #34
Ping if anyone wants to pick this up.

[2020-01-30 19:13] tcnghia commented on #55
An example of this use case looks like this

[code]

[2020-01-30 21:49] hbagdi commented on #51
This seems like a route level property since each application or route will want to control it.

I do see value in having a Gateway-level property where one configures redirects for every request.
But, it would be hard to use in practice. For instance, HTTP challenge in the ACME protocol for automated-certificate is always HTTP based.

[2020-01-30 22:56] hbagdi commented on #55
+1 on including traffic split and traffic mirroring into the core spec (meaning it should be supported by all controollers).

We should support modifiers in the core as well but, modification based on the backend seems to be not a common feature. Modification per route is more common and more widely supported.

Can we put modifiers per backend into extensions rather or have an extension point at t

[2020-01-31 00:00] bowei commented on #26
With Gateway class, it will be obvious to the admin that there is a conflict.
All implementations I know of can configure the prefix, not to mention people have used the java package like name (e.g. put your domain name in there), so this kind of thing does not happen very often.

[2020-01-31 00:27] #26 closed

[2020-01-31 00:58] ironcladlou commented on #49
/cc @smarterclayton

[2020-01-31 09:37] KaenDagger commented on #14
you can assign yourself by commenting "/assign"

[2020-01-31 21:53] yiblet commented on #14
/assign

[2020-02-02 01:48] yiblet commented on #14
I can think of two different ways to make something that can verify whether to kubebuilder generated code is up to date.  One is hard, the other is easier.

**The Hard**
make modifications to `controller-gen` to make it embed the hash of the files it processed for inside of it's generated output. Then, we can verify that the generated code is up to date based on whether or not the hash of in gener

[2020-02-03 04:03] yiblet commented on #14
Scratch that. I found an even less intrusive (and hopefully more correct) way and set up the pull request #59

[2020-02-03 17:44] danehans opened #60 "Route Admission Policy"
**What would you like to be added**:
The ability to share the same hostname across multiple routes in different namespaces.

**Why is this needed**:
Administrators and application developers would like to run applications in multiple namespaces with the same domain name. This is for organizations where multiple teams develop microservices exposed on the same hostname.

Allowing hostname claims acr

[2020-02-03 17:45] danehans commented on #60
xref'ing https://github.com/kubernetes-sigs/service-apis/issues/49 as this may have ties to spec'ing vhost.

[2020-02-03 17:46] danehans commented on #60
/assign @bowei

cc: @Miciah @ironcladlou

[2020-02-03 19:04] Miciah commented on #60
The main use-case for having multiple routes with the same host name is when the routes have different match rules.  For example, one route matches `www.example.com/app1` and another route matches `www.example.com/app2`.

[2020-02-03 23:40] youngnick opened #61 "Generated Informers for non controller-runtime use"
Already-written controllers that do not use controller-runtime and kubebuilder will find it difficult to consume these APIs without having generated Informers.

This issue proposes that we add automated generation of the required code to use the new APIs with Informers (so, a clientset, listers, and informers). I'll prepare a PR with the change as well for review.

This will make the implementatio

[2020-02-04 02:27] danehans opened #62 "Add Domain Support"
**What would you like to be added**:
The ability to associate a DNS domain to an instance of `Gateway`.

**Why is this needed**:
1. Allows `httproute.spec.hosts[x].hostname` to be optional. Gateway implementations can use a `Gateway` or `GatewayClass` config directive such as the following to generate the hostname for an `HTTPRoute`:
[code]
2. `Domain` can be used to generate route certificates or

[2020-02-04 08:29] jpeach opened #64 "Add a custom label for user stories"
**What would you like to be added**:

A custom label `kind/user-story` or `kind/use-case` to distinguish issues that capture Ingress V2 use case descriptions.

**Why is this needed**:

As we migrate user stories from the [doc](https://docs.google.com/document/d/1OAzVO0HfmF4qD8AW41_eeUY0KP6xjqghusUVwhp4BNg) to issues, it would be useful to be able to distinguish them in the issue list. The `kind/fe

[2020-02-04 08:37] jpeach commented on #64
Label management info: https://github.com/kubernetes/test-infra/tree/master/label_sync

I think the patch would look thusly:
[code]

The color here is the same as for `kind/feature`.

[2020-02-04 08:42] jpeach commented on #64
/remove-kind feature

[2020-02-04 20:26] danehans opened #65 "Configurable Gateway Endpoint Publishing"
**What would you like to be added**:
As a cluster operator, I  need the ability to expose a `Gateway` using different methods supported by Kubernetes. For example, I may want a `Gateway` to be exposed using a `Service` of type `NodePort`.

**Why is this needed**:
A wide range of Kubernetes approaches exist for publishing ingress controllers outside the cluster. Service-apis should support these co

[2020-02-04 20:27] danehans commented on #65
/assign @bowei

[2020-02-05 01:51] bowei commented on #64
Looks ok to me, we will have to transition the labels after.

[2020-02-05 04:59] rosenhouse opened #66 "Use case: self-service TCP proxy"
**What would you like to be added**:
As a [Cluster Operator](https://kubernetes-sigs.github.io/service-apis/concepts/#roles-and-personas) I would like to enable the [Application developers](https://kubernetes-sigs.github.io/service-apis/concepts/#roles-and-personas) on my cluster to self-service reserve a TCP port from a range on a shared Load Balancer, and have that port forward to a workload.

*

[2020-02-06 18:19] bowei commented on #50
Let's open a PR against the developer guide section of the docs and continue the discussion there.

[2020-02-06 18:47] robscott commented on #61
@youngnick We agreed on Services API call today that this makes sense.

[2020-02-06 18:51] robscott commented on #64
@jpeach We agreed that this makes sense on todays Service APIs call.

[2020-02-06 18:58] ironcladlou opened #67 "Clarify uniqueness constraints of httproutehost.hostname field"
**What would you like to be added**:

This issue is to try and define what, if any, uniqueness constraints should be defined for the [httproutehost.hostname field](https://github.com/kubernetes-sigs/service-apis/blob/master/api/v1alpha1/httproute_types.go#L36).

The conversation started in [service-apis/pull/43/files#r367088840](https://github.com/kubernetes-sigs/service-apis/pull/43/files#r367088

[2020-02-06 19:41] danehans commented on #49
@bowei I've started working on this. PTAL at [this drawing](https://docs.google.com/drawings/d/1zcu_UJInJ3JhIAgCFwqhD2a3RnUal2EkwKaP80k0TZM/edit?usp=sharing), which models TLS Config in `HTTPRoute` for the "Developer" persona. Let me know if I'm heading in the right direction. If so, I will expand to cover the different scenarios.

[2020-02-06 19:46] danehans commented on #49
If we give the Developer persona access to a `Gateway`, I question whether a separate resource (i.e. `HTTPRoute` should still exist.

[2020-02-06 19:56] alexgervais commented on #3
@aojea do you know if it's possible to share a gcr.io container repo between projects? We'd like to piggyback on the work done here for the ingress-conformance images
ref. https://github.com/kubernetes-sigs/ingress-controller-conformance/issues/27

[2020-02-06 21:26] aojea commented on #3
@alexgervais do you think that is possible to use one of the kubernetes/kubernetes images used for testing?

I think that the `agnhost` image has the same functionality

https://github.com/kubernetes/kubernetes/tree/master/test/images/agnhost#netexec

and it's maintained by the project and published to a public registry

gcr.io/kubernetes-e2e-test-images/agnhost

[2020-02-07 00:19] jpeach commented on #20
The current conformance suite was proposed and accepted on the mailing list

https://groups.google.com/d/msg/kubernetes-sig-network/dAt78O-JUCo/vvOXt3-XCgAJ
kubernetes/org#1328

Conformance testing needs to test not just the v2 API, but also Ingress v1beta1 and v1. I am not sure that it should live in this repo, since it has a broader scope. I would prefer to avoid building 2 separate suites and e

[2020-02-07 01:46] jpeach commented on #3
xref conformance test suite discussion in #20

[2020-02-07 01:46] jpeach commented on #64
/assign

[2020-02-07 06:56] jpeach commented on #50
/assign

[2020-02-07 06:59] jpeach commented on #50
/unassign

[2020-02-07 16:09] alexgervais commented on #20
When https://github.com/kubernetes-sigs/ingress-controller-conformance started, it was intended to support `v1beta1` and `v1` Ingress APIs.

It is desirable to have a single conformance test suite for `v1beta1`, `v1` Ingress and `v2` Service APIs.  We have not committed to using the sonobuoy in kubernetes-sigs/ingress-controller-conformance, but building on a common ground would make total sense.

[2020-02-07 16:31] alexgervais commented on #3
@aojea `agnhost` is a very interesting project. However, it does not fit our requirements as the `netexec` server does not allow dumping the original request in the server's response, and injecting environment variables -- allowing us to later assert upon this data set. Also, since the behaviour of `netexec` is dictated by HTTP endpoints, it would not allow us to test the routing behaviour on matc

[2020-02-07 22:55] aojea commented on #3
honestly don't know how this image publishing process works,  we should ask sig-testing if it's possible to publish artifacts from different repos to one bucket, but doesn't seem a good solution because of the complexity of maintaining it in the long term.

Maybe you can ask for a new bucket to publish images in https://github.com/kubernetes-sigs/ingress-controller-conformance?

[2020-02-10 06:11] youngnick commented on #61
So, I spent some time looking into how to do this, and it seems that, because the Group is `networking.x.k8s.io`, the old-style generation tools decide that all the objects are part of the `core` Group instead.

It seems that this is fixable for `client-gen`, as it has ways to override the Group detection, but `lister-gen` and `informer-gen` don't. If anyone has any more experience with the older

[2020-02-11 00:50] jpeach opened #72 "Address SNI binding and bypass for TLS listeners"
**What would you like to be added**:

In the current API, certificates are a property of the Listener and Routes are a property of the Gateway. Since there is no direct relationship between the certificates and the backend service (i.e. the Route), this structure encourages the separation of SNI routing from HTTP request routing. This can lead to a number of different security issues.

**Why is th

[2020-02-11 01:05] Miciah commented on #50
Opened #73 to replace types.

[2020-02-11 01:15] jpeach commented on #72
Also [RFC 6066](https://tools.ietf.org/html/rfc6066#section-11.1), which strongly suggests that the HTTP host should be bound to the SNI name.

   in the application protocol, application server implementations that
   rely upon these names being the same MUST check to make sure the
   client did not present a different name in the application protocol.

[2020-02-11 01:34] jpeach opened #74 "Spec requirements on certificate secrets"
There are a number of interoperability questions about the use of secrets to store TLS keys and certificates. It may be helpful to have consolidated language to address these.

- If it is a `TypedLocalReference`, what kinds must an implementation support?
- Is the secret type required (e.g. `v1.SecretTypeTLS`)
  - If so, spec required types for server and client certificates, keys and CA bundles
-

[2020-02-11 17:45] danehans commented on #49
xref tls termination policy: https://github.com/kubernetes-sigs/service-apis/issues/52

[2020-02-11 19:33] danehans opened #75 "Add Support for Generating a Default Wildcard Certificate"
**What would you like to be added**:
The ability for `Gateway` to support generating a wildcard certificate.

**Why is this needed**:
To simplify the user experience, it's beneficial for `Gateway` to generate a default wildcard certificate for use by a listener. If the listener specifies one or more certificates, those certificates are used for authenticating requests and SNI-based routing. If the

[2020-02-11 19:34] danehans commented on #75
xref: #49

[2020-02-11 19:52] danehans commented on #75
Closing as generating a default wildcard certificate is not supported by the general ingress controller community. Generating a wildcard certificate for use by a gateway listener should be explicit and not generated by default.

[2020-02-11 19:52] #75 closed

[2020-02-13 01:13] howardjohn opened #79 "protos: make the package sigs.k8s.io instead of k8s.io"
https://github.com/kubernetes-sigs/service-apis/pull/30 introduce a workaround for protobuf resolution, requiring the package to be k8s.io instead of sigs.k8s.io. We should see if we can get around this and change the package name

[2020-02-13 01:49] bowei commented on #8
This seems to be no longer relevant. Please reopen if you think this has not be resolved.

/close

[2020-02-13 01:49] #8 closed

[2020-02-13 02:00] bowei commented on #52
In scenario 2, are you doing http routing before using TLS on the backside? This might be handled by saying that the  Service app-protocol field can be used to determine whether or not TLS will be used on the Gateway/HTTPRoute => Service leg of the journey.

In scenario 3, what kind of routing are you expecting wrt to TLS? For example, this could just be TCP passed through OR is there some form of

[2020-02-13 03:20] #64 closed

[2020-02-13 03:44] youngnick commented on #3
So, to follow up here, there are currently two container artifacts referenced in this repo:
- `k8s.gcr.io/service-apis-mkdocs:latest`, this is used for all docs-related tasks and is currently built from scratch each build. Making this available globally would be useful.
- `controller:latest` - this is able to be created when testing the API types using the kubebuilder code. I don't think it's used

[2020-02-13 04:43] jpeach opened #80 "Use case: succinctly expose the same service on multiple names"
**What would you like to be added**:

Allow multiple HTTP hostnames to be attached to the same set of rules.

**Why is this needed**:

See [this comment](https://github.com/kubernetes-sigs/service-apis/pull/43#discussion_r367145600).

[2020-02-13 14:47] ibuildthecloud opened #82 "What is the intention of the controllers?"
I see this project already has a set of boilerplate controllers that seems to be no-op. What is the intention of the controllers.  Can I propose that this project focus just on the API and only as a last resort create controllers. I think if you design with that mindset you will have a stronger API.  In the end there will most likely be one dominate implementation, but that should minimally be in

[2020-02-13 20:59] jpeach commented on #80
/kind user-story

[2020-02-13 20:59] jpeach commented on #66
/kind user-story

[2020-02-13 21:01] jpeach commented on #65
/kind user-story

[2020-02-13 21:03] jpeach commented on #62
/kind user-story

[2020-02-13 21:04] jpeach commented on #60
/kind user-story

[2020-02-13 21:04] jpeach commented on #58
/kind user-story

[2020-02-13 21:04] jpeach commented on #55
/kind user-story

[2020-02-13 21:05] jpeach commented on #54
/kind user-story

[2020-02-13 21:05] jpeach commented on #53
/kind user-story

[2020-02-13 21:05] jpeach commented on #52
/kind user-story

[2020-02-13 21:05] jpeach commented on #51
/kind user-story

[2020-02-13 21:06] jpeach commented on #48
/kind user-story

[2020-02-13 21:06] jpeach commented on #37
/kind user-story

[2020-02-13 21:23] M00nF1sh opened #83 "Discuss the Gateway / Route's scope and association between Gateway / Route"
Would like to discuss the scope of a Gateway / Route and relationship between gateway and routes.

## For LoadBalancer, there are two basic use case:
1. As an Application developer limited to a single namespace, I should be able to create a LoadBalancer to route traffic to their services within the single namespace.
2. As a Cluster operator for multiple teams, I should be able to setup a single Lo

[2020-02-13 22:13] danehans opened #84 "Define Default Gateway/Route Association Behavior"
**What would you like to be added**:
Document gateway/route association. Should the default approach be open or closed?

**Why is this needed**:
Define the `route` field of the `gateway` resource. Should routes a) be associated to a gateway by default and use `gateway.spec.routes` as a filtering mechanism (default open) or b) not be associated to a gateway unless specified by `gateway.spec.routes`

[2020-02-13 22:42] danehans opened #85 "Expand the definition of a Route"
**What would you like to be added**:
Currently a `Route` is defined in the `Gateway` API type as:
[code]
**Why is this needed**:
Ambiguity exists on what a route means. The field should be well defined since it's a key concept. See https://github.com/kubernetes-sigs/service-apis/pull/71/files#r378628721 for additional background.

/assign @bowei
/cc @jpeach @ironcladlou @Miciah

[2020-02-13 22:58] hbagdi commented on #58
+1

There are two features that are require:
- *Traffic split*: This is doing a split of live traffic among different versions of the service, sometimes referred to as canary testing as well.
- *Traffic shadowing*: A subset of Requests is duplicated and sent to another backend. The response from the duplicated requests is discarded.

We should target to achieve both of these under the same umbrell

[2020-02-13 23:15] bowei commented on #82
The controllers are generated automatically by the kubebuilder framework.
It is not in the plan currently to create a "default" controller here.

The controller stubs will likely be used to test the validation logic and support library code, though.

[2020-02-13 23:16] bowei commented on #82
So the answer to your question is yes, we are focused on the API here, not a controller.

[2020-02-13 23:20] Miciah commented on #84
This question is closely related to #12 (using label selectors to associate routes with gateways).  Label selectors feel natural and appropriate but may be incompatible with extremely fine-grained, explicit access control (how do you restrict who can apply a label to a resource?).

[2020-02-13 23:23] hbagdi commented on #55
https://github.com/kubernetes-sigs/service-apis/issues/58 is along the same lines.

[2020-02-13 23:25] bowei commented on #82
I added your question to the FAQ, otherwise not sure how to close this issue...

[2020-02-13 23:29] hbagdi commented on #52
I think both are valid use-cases.
See https://github.com/kubernetes-sigs/service-apis/pull/81#discussion_r379161955

[2020-02-13 23:34] bowei commented on #72
How do the major proxy implementations handle this?
Is there possibly a use case to enable SNI/HTTP Host mismatch (I'm guessing no)
Is this dependent on how you set up your config (e.g. if we mandate such behavior, is it possible to achieve)

[2020-02-13 23:34] Miciah opened #88 "Define the universe of resources that can be "routes""
**What would you like to be added**:
The universe of allowable resources that can be "routes" should be defined.

For example, the universe could be defined as `HTTPRoute`, `TCPRoute` (if the gateway controller implements `TCPRoute`, which is an extension), and any additional resources as defined by the gateway controller implementation.

**Why is this needed**:
In a discussion of allowing the use

[2020-02-13 23:36] danehans commented on #85
A possible route definition:
[code]

Should a gateway bind to all or no routes by default? xref: https://github.com/kubernetes-sigs/service-apis/issues/84

[2020-02-13 23:47] bowei commented on #85
(At some point,  we will have to put a link in the docstring to the concepts page to do the topic justice if we want to keep things consistent)

Binding to all routes sounds problematic to me as it is easy to fat finger.

[2020-02-13 23:50] bowei commented on #84
I think we need both really.

Union type of explicit reference OR selector.
Gateway admin who wants to keep control will only use explicit references.
Gateway admin who wants to let their users chose can add a selector.

The real phase transition in complexity is to allow for some sort of selection at all.
My feeling right now is, let's pull it in and work with it to see what the consequences are.

[2020-02-13 23:53] bowei commented on #74
For sure supported:

1. Kubernetes Secrets, as used today by Ingress V1; let's take what is the current requirements from that and pull it here. This is easy for users to interoperate with and we have a solid basis to go from.

It's a typed ref for extension to other systems. The easiest thing to do here is to make anything else `Support: custom` and put this into the backlog.

[2020-02-13 23:54] bowei commented on #56
I'm going to send a PR to do the string changes, seems like people are (silently) ok with this.

[2020-02-13 23:57] hbagdi opened #89 "Add timeouts to destination connection details"
**What would you like to be added**:

Destination service should include connect, read and write timeouts to be used by the proxy in addition to specifying a port (#48) and service name. This should be per service configuration as services of different types can requires different timeouts based on the workloads.

**Why is this needed**:

All proxies and LB implementation have timeouts that can be

[2020-02-14 00:03] hbagdi commented on #37
Ingress v1 spec removes validation of paths to support different regex engines and to support the use-case mentioned in this issue: https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190125-ingress-api-group.md#path-as-a-prefix

cc @robscott

[2020-02-14 00:24] youngnick commented on #72
Contour *intends* to stop this from happening, but in practice it's very easy to do it accidentally, via implementation details.

There are some use cases to do this (basically, allowing [Domain fronting](https://en.wikipedia.org/wiki/Domain_fronting) and similar use cases), but I think that they are specialised enough that we should default to not supporting that and figure it out later.

The key

[2020-02-14 02:35] jpeach opened #90 "TLS: expose an application over HTTPS"
**What would you like to be added**:

The ability to expose an application over HTTPS.

**Why is this needed**:

In the role of an application developer, I have an application (i.e. a network endpoint that clients will interact with) which has a name (i.e. a hostname). I have visited GoDaddy and purchased a TLS Certificate for that. I want to create an endpoint that will terminate HTTPS using this

[2020-02-14 02:41] jpeach opened #91 "GEP: Client Certificate Verification for Gateway Listeners"
**What would you like to be added**:

The ability for a HTTPS (or TLS generally) endpoint to require that the client present a certificate that can be validated according to some configurable policy.

**Why is this needed**:

As an application developer, I want to restrict access to my application to a certain audience of clients. The audience is defined by one or more of

- a collection of specif

[2020-02-14 02:50] jpeach opened #92 "TLS: require specific TLS version or other configuration for an application"
**What would you like to be added**:

The ability for an application to specify its TLS version requirement. This extends to other TLS tunable such as cipher suites, session caching, session tickets and so forth.

**Why is this needed**:

As an application developer, my client audience is rapidly moving to TLS 1.2, but the cluster operator is also responsible for applications that will require TLS

[2020-02-14 03:14] jpeach opened #93 "TLS: enforce validation policy for an application"
**What would you like to be added**:

The ability to express that my application need guarantees about the TLS validation

**Why is this needed**:

As an application owner, I have made commitments to third parties (e.g. regulators, security teams) about the TLS policy for my application. If the Gateway allows other sessions secured with different certificates to access my application, then I canno

[2020-02-14 03:23] jpeach commented on #49
@danehans That diagram doesn't mention TLS config, so maybe I am missing some context?

[2020-02-14 03:48] jpeach opened #94 "TLS: accept a TLS session and forward to a TCP endpoint"
**What would you like to be added**:

The ability for the Gateway to terminate a TLS session then tunnel the contents to an endpoint without inspecting the contents at all.

**Why is this needed**:

As an application developer, I have a non-HTTP application that is exposed as a TLS endpoint. I want to provide a server key and certificate bundle and have the Gateway present this to the client and a

[2020-02-14 04:07] jpeach commented on #84
If there are multiple gateways, how would you know which routes go with which gateway?

Hugely +1 on this. Association with a gateway could mean getting traffic from the internets or getting a service provider bill.

[2020-02-14 05:03] jpeach commented on #85
I think the simplest model consists of 3 hops:
[code]

I used "target" to avoid overloaded terminology. The phrase "routing to backends" implies the hop from gateway to target which I think is misleading. From the client perspective, the gateway is an endpoint (i.e. the client can't distinguish between the gateway and the target). HTTPRoute and friends are therefore also (logical?) endpoints that

[2020-02-14 05:14] Miciah commented on #84
The route's status indicates with which gateways it is associated.

That is an interesting point.  Does the API need a way to specify quotas?  Which persona should be limits?  Could this fall under traffic splitting or route rules?  This seems like a new use-case.

[2020-02-14 05:39] jpeach commented on #84
But how do you know which gateway it *should* go with? Would all gateways just pick up all routes? If a route was already bound to gateway A, should gateway B pick it up implicitly?

No, I don't think so. That's what GatewayClass is for. GatewayClass can mean "the internet-facing one", "the expensive one with guaranteed capacity", or whatever is needed.

[2020-02-14 06:51] bowei commented on #84
I think general take is that Gateways should not pick up routes unless it was explicitly configured it to do so to avoid wide open defaults.

Also, need to note that there are several levels of ACLs here:

* ones applied to the controller service account.
* ones implemented inside the controller, subject to conformance testing.

[2020-02-14 06:52] bowei commented on #94
Your byte stream is TCP on the backside (to be explicit)

[2020-02-14 06:56] bowei commented on #93
This feels like it would go into the `custom` category given its very specific to a given implementation.
The most important aspect for the API schema is to understand how this would be done using the `support: custom` extension points.
If we can break this down into more concrete items that we feel are universal (core) or widely (extended) applicable, that would be good as well.

[2020-02-14 07:01] bowei commented on #92
Can we create an overall topic for TLS configuration? (Edit the topic)

References:
* nginx http://nginx.org/en/docs/http/ngx_http_ssl_module.html
* haproxy https://www.haproxy.com/documentation/aloha/9-0/traffic-management/lb-layer7/tls/
* envoy https://www.envoyproxy.io/docs/envoy/latest/api-v2/api/v2/auth/cert.proto

[2020-02-14 07:06] bowei commented on #92
This story is written from application dev standpoint, but I find that mostly TLS policy is enforced by cluster operator level (see https://kubernetes-sigs.github.io/service-apis/concepts/).

From conversations w/ users, I have found that app dev do not care as long as someone else makes it compliant/secure.

We need to also include mention of enforcement (note such policy can enforced in other wa

[2020-02-14 07:08] bowei commented on #91
Is this mTLS? Can you add to the issue title, as that is a commonly known term around the K8S community.

[2020-02-14 07:26] bowei commented on #85
Can you clarify what this means? "implies the hop from gateway to target" is misleading.
Remember, we should express things in terms of Kubernetes concepts (e.g. `core.Services`) as those are the most tangible for our users.
Other note is that we are currently very focused on TLS+HTTP. Yes, it's a major use case, but I don't want the API to completely be wrapped around that as  the model.

The cha

[2020-02-14 07:28] bowei commented on #93
The question in my mind is who is writing the policy and maintaining the enforcement.
Our experience has been that (given the personas), that it is rare that this person is from the app dev team.

[2020-02-14 07:57] bowei commented on #72
It's not clear why this is not an artifact of the a specific implementation as opposed to something that surfaces at the API layer.
For example, if your proxy carried the SNI field as context to the HTTP protocol processor, it can reject such mismatches if configured to do so.

Can you sketch what the Kubernetes API validation would look like that would prevent this?
Or is the statement that the u

[2020-02-14 14:44] ibuildthecloud commented on #82
Thanks!

[2020-02-14 14:44] #82 closed

[2020-02-14 18:29] danehans commented on #52
@bowei I call scenario 2 "Reencrypt" in which the gateway terminates the client-side tls connection and creates a new tls connection to the backend service. The gateway would associate a ca bundle with the route to auth the backend service. PTAL at https://github.com/kubernetes-sigs/service-apis/pull/71/files#diff-c32a8ad2aa56de73b42e20d9e3cc82d8 for an example.

Can you help me better understand

[2020-02-14 19:01] danehans opened #95 "TLS: Align APIs with Personas"
**What would you like to be added**:
Docs that specify what persona or personas are responsible for TLS configuration.

**Why is this needed**:
This is needed to add TLS support to service-api's. Currently, all TLS config is associated to a gateway listener. Gateways will need to perform different actions for TLS connections, i.e. terminate the client-side connection and create a new tls connectio

[2020-02-14 22:04] hbagdi commented on #52
He is referring to a new field that is coming in 1.18: https://github.com/kubernetes/enhancements/pull/1422

[2020-02-14 22:13] hbagdi opened #96 "All things byte stream routing"
/kind user-story

Following are features around byte streams:
- [ ] **TCP routing**: Route all traffic on a specific LoadBalancer port or NodePort to be routed to a Service in k8s. The byte stream is passed on to the usptream service as is.
- [ ] **TLS SNI-based routing with TLS termination**: Route traffic based on the SNI in TLS client hello. The TLS session is terminated by the proxy and traffi

[2020-02-14 23:06] bowei commented on #52
Thanks for providing the link.

[2020-02-14 23:09] hbagdi commented on #4
@bowei Should we close this once we merge in https://github.com/kubernetes-sigs/service-apis/pull/87?

[2020-02-14 23:24] aojea commented on #4
fair enough, community talked
/close

[2020-02-14 23:24] #4 closed

[2020-02-15 00:21] hbagdi opened #97 "Specify health-check for each service"
**What would you like to be added**:

As a Service owner, when I'm exposing my service to other users/services outside the k8s cluster (or even inside), I want to define active health-checking behavior for my service.

**Why is this needed**:

In case an instances of a service goes unhealthy, the proxy can skip sending requests to that specific instance and instead route traffic to other instances

[2020-02-15 00:24] hbagdi commented on #97
The new API we design should take care of two things:
1. There can be multiple routes pointing to the same service. There should be a way of de-duplicating this data or having a priority around which configuration to use in such a case.
2. User should be asked to explicitly define health-check behavior via this API and we should refrain to re-use readiness/liveliness probes.

This was also discuss

[2020-02-15 00:27] hbagdi opened #98 "Specify load-balancing behavior for each service that is being proxied"
**What would you like to be added**:

For any service that is exposed via service-apis, a service owner should be able to specify the load-balancing behavior that should be used. This can include a common set of algorithms like round-robin, weighted, hash based routing, cookie/session based routing.

**Why is this needed**:

Most services in Kubernetes are designed to scale horizontally. A lot of

[2020-02-15 00:28] hbagdi commented on #98
There is certainly an overlap with kube-proxy and the `corev1.Service` resource here.

[2020-02-15 00:39] hbagdi opened #99 "Specify circuit breaking/passive health-check behavior for each service"
**What would you like to be added**:

Circuit breaking is a commonly implemented pattern where if a specific instance (pod) of a Service starts throwing 5xx, then the traffic is not forwarded to that specific pod.

**Why is this needed**:

Proxies and load-balancers already share these features and a load-balancing layer is a good place to add these features to deliver a resilient and high-availab

[2020-02-15 01:17] bowei commented on #98
Yes, this API would give us an opportunity to add better load balancing knobs without adding more to the `core.Service` bucket

[2020-02-15 23:20] jpeach commented on #20
xref kubernetes-sigs/ingress-controller-conformance#29

[2020-02-16 20:59] jpeach commented on #72
The first thing that we need in the issue is agreement that binding the HTTP Host/Authority to the certificate is the correct behavior. My contention that this is the case is supported by [RFC 6066](https://tools.ietf.org/html/rfc6066#section-11.1) and [RFC 2818](https://www.rfc-editor.org/rfc/rfc2818.html#section-3.1)

Now, as to the API implications of this, I think that the first step is for th

[2020-02-17 00:27] youngnick commented on #91
It is mutual TLS in the sense that the client and the server perform mutual TLS, but 'mTLS' also has some connotations about speed and automation of certificate rotation that we probably don't want to bring in here.

I say this because when we had an issue to add 'mTLS' to Contour, people started asking straight away if Contour was now a service mesh. Which it is not. But the term is overloaded.

[2020-02-17 00:41] youngnick opened #102 "Allow delegation of parts of a HTTP domain name's request space"
**What would you like to be added**:
As a cluster operator, I want to be able to control domain names, including their TLS information, and delegate control over some part of the domain name's HTTP request space to other teams.

This delegation may be via path matching ("/blog" is controlled by Marketing, "/api" is controlled by the product team), header matching, (mobile clients should go to the

[2020-02-17 00:42] youngnick commented on #102
/kind user-story

[2020-02-17 00:49] youngnick opened #103 "Allow creation of domain names and TLS information without interacting with cluster operator"
**What would you like to be added**:
As an application developer, I want to be able to add arbitrary domain names, including TLS information if required, to a gateway without having access to modify Gateway objects.

As an application developer, I want to be able to expose my service in a shared cluster, using a shared load balancer, using my own custom domain, with TLS information either autogene

[2020-02-17 00:53] youngnick commented on #102
Contrast this one with #103

[2020-02-17 01:21] jpeach commented on #103
/kind user-story

[2020-02-17 08:23] jpeach commented on #95
Yup, a few user stories showing the different possible personas in TLS configuration would be informative.

[2020-02-17 08:26] jpeach commented on #92
I can see there could be different stories for dev and cluster operator personas. Cluster operators may define defaults and policy rules. Many dev teams will find the default acceptable, and others will need to specify them.

[2020-02-17 08:31] jpeach commented on #93
Yup, being able to express this as custom config could be a reasonable starting point. The phrase "very specific to a given implementation" feels a bit circular to me, since it is only implementation-specific if its custom :)

[2020-02-17 19:18] danehans commented on #95
__User Stories__

Option 1: As a cluster operator, I need the ability to manage TLS configuration for `Gateway` and `xRoute` resources. This will allow the _cluster operator_ to act as a single authority for managing TLS-related configuration.

https://github.com/kubernetes-sigs/service-apis/pull/71 implements `Gateway` and `xRoute` TLS configuration managed by the cluster operator persona.

Optio

[2020-02-17 20:26] smarterclayton commented on #95
It might be useful to write out an alternative way of looking at option 3 as:

1. As an application deployer on a cluster, I may own or manage the secrets for my ingress as part of my application process, because this is a shared cluster OR I am the owner of those secrets
2. As a cluster operator, I may provide a default TLS termination policy (which may prefer reencryption from gateway to backend

[2020-02-17 22:16] jpeach commented on #95
Related user stories:

#103
#94
#93
#92
#91
#90
#52
#51

[2020-02-17 22:44] jpeach commented on #95
TLS is a property of an application. That is, TLS policy is per- hosted domain. A public website "www.example.com" has a different TLS policy from an internal website "www.internal.example.com", has a different TLS policy from an API endpoint "foo.api.example.com".

TLS is a concern of a cluster operator. That is, an operator has security policies and business concerns that affect which finds of T

[2020-02-18 00:02] youngnick commented on #95
I think it's important to remember that @danehans' option 1 definitely has a demand in the end-user community - it's why we built HTTPProxy for Contour the way we did. I've written up #102 and #103 covering the option 1 and option 2 ends of the "Who manages the TLS" spectrum.

I think that, as @jpeach mentioned in another discussion, there are a few decisions tied together when we talk about "TLS"

[2020-02-18 02:22] danehans commented on #95
@jpeach in option 3, the Cluster Operator is responsible for managing how an app (i.e. `TCPRoute`) TLS connection is terminated. An App Dev can request a TLS termination type, but the Cluster Operator is responsible for making this decision.
- If the `Gateway` terminates the connection, the App Dev is responsible for providing the required TLS config to the Cluster Operator. The Cluster Operator i

[2020-02-18 04:51] youngnick commented on #95
I'm not sure if I quite understood what you meant, @danehans, but here's what I understood:
- There should be multiple places where a TLS config MAY be applied, but the choice of where it is applied is dependent on the TLS termination and reencryption requirements.
- In the case of TLS termination at the gateway, the TLS config would be applied at the Gateway level.
- In the case where TLS is rees

[2020-02-18 16:50] danehans commented on #95
Yes, you understand it correctly. Simply put, 1) a Gateway should control TLS termination and 2) if the TLS connection is terminated at the `Gateway`, it _should_ be where the TLS config is provided. With that said, I can see how this may confuse users. Users would need to think about where the TLS connection is terminated and then configure the corresponding resource.

I agree with your perspecti

[2020-02-19 00:07] hbagdi opened #105 "TLS: Store TLS cert-key secrets in a dedicated namespaces"
**What would you like to be added**:

As a Kubernetes operator
- I want to a specific namespace to contain all TLS secrets and control access to that namespace
- I don't want Kubernetes Ingress Controllers to have read access to all secrets in my cluster. I would prefer to give read access to all secrets in a specific namespace.

**Why is this needed**:

Lock down permissions for humans and contro

[2020-02-20 18:43] bowei commented on #83
xref: https://github.com/kubernetes-sigs/service-apis/pull/12

[2020-02-20 18:43] bowei commented on #83
/kind use-case

[2020-02-26 03:52] youngnick opened #107 "Clarify the resource model"
Currently, the resource model referenced in [concepts.md](https://github.com/kubernetes-sigs/service-apis/blob/master/docs-src/concepts.md) has some explanation of what each of the objects is intended to do, but it's a little unclear about what the expected behaviors an *implementor* of these APIs should expect.

This issue covers working out some short, pithy statements about the purposes of each

[2020-02-26 16:55] danehans opened #108 "Rename TrafficSplit API Type"
**What would you like to be added**:
IMO the `TrafficSplit` API name does not properly reflect the intention of the API. The API should do more that "split" traffic. After traffic is split among multiple backends, the API should be able to manipulate the request, i.e. add/remove headers.

**Why is this needed**:
To support Istio, Knative and other use cases that perform request manipulation after

[2020-02-26 18:39] danehans opened #109 "Infer group `networking.x.k8s.io` from native resource types"
**What would you like to be added**:
The ability to infer group `networking.x.k8s.io` for native resource types. Group `core` is inferred for the `Service` resource. Extended this idea to infer `networking.x.k8s.io` for native resources such as `HTTPRoute`.

**Why is this needed**:
Simplify the UX.

/assign @bowei
/cc @Miciah

[2020-02-26 19:25] danehans commented on #58
@hbagdi I updated the issue title and description based on your feedback.

[2020-02-26 23:17] #85 closed

[2020-02-27 17:23] #11 closed

[2020-02-27 22:14] evankanderson commented on #58
@tcnghia (for tracking)

[2020-02-27 22:19] evankanderson opened #114 "Pluggable access control"
**What would you like to be added**:

A standardized mechanism to call an external service to authorize request forwarding to a selected destination (backend).

**Why is this needed**:

## User Story

* As an application developer, I want to extract authentication and authorization requirements from an application to a common infrastructure component. The authentication and authorization function

[2020-02-27 22:21] evankanderson commented on #114
/kind user-story

@mikehelmick
@tcnghia
@yolocs

[2020-02-28 00:57] youngnick opened #115 "Document security models"
Currently,  different GatewayClass implementations by controllers can have wildy different security models.

This issue covers documenting some security models for different use cases, with the intent of being able to specify the security expectations various GatewayClass features would have.

For example, #111 adds a namespace to the Route reference inside the Gateway object. In some models, the

[2020-02-28 01:34] jpeach opened #116 "Specify what an empty GatewayClass field means."
If a `Gateway` has an empty `GatewayClass` field, the result is unspecified. Implementors could use some sort of cluster default, or could reject it the gateway outright. This behavior should be specified.

[2020-02-28 05:43] jpeach commented on #115
Prior art in this area
* Avi Networks `AviPolicyBinding`
* Contour root namespaces

[2020-02-28 06:03] jpeach commented on #115
Note that this has significant implications on workload portability.

If gateway classes don't have the same rules around resolving object references, then it won't be possible for users to take a workload and simply switch gateway class. Operators will be required to write different access policies for different gateway classes.

There are two initial levels of portability that spring to mind:
1.

[2020-02-28 11:08] aojea opened #118 "Dual Stack support"
**What would you like to be added**:

Dual Stack support for Gateway

**Why is this needed**:

Right now every change to the current Services, Endpoints, ... APIs is risky, complicated, unpredictable, ... and based on @thockin [feedback](https://github.com/kubernetes/kubernetes/pull/86895#issuecomment-592093115) `Gateway` is one of the best options

[2020-02-28 11:15] aojea commented on #118
long history

https://github.com/kubernetes/kubernetes/pull/86895

short history

tagging people on the thread
/cc @thockin @khenidak @danwinship @johnbelamaric @smarterclayton

[2020-03-01 20:42] jpeach opened #122 "User Story: workload portability"
**What would you like to be added**:

Workloads should be portable between gateway classes. This means that the behavior of objects in the API should be specified in enough detail that different implementations can be compatible.

**Why is this needed**:

As an operator, I want to be able to change the GatewayClass without disturbing user workloads. I may need to choose a different GatewayClass fo

[2020-03-01 20:43] jpeach commented on #122
/kind user-story
/remove-kind feature

[2020-03-01 21:37] bowei commented on #122
This story needs more details as to what "disturbing" means.

Does this mean no requests get dropped? (probably not a possible, even between classes implemented by the same controller)
Does this mean between classes there is a known behavior (basically what we are trying to define overall).

[2020-03-01 23:38] hbagdi commented on #116
Ingress V1 is shipping with the notion of a `default` ingress class, via an annotation on the IngressClass resource. We could adopt the same concept.

[2020-03-03 00:02] danehans commented on #54
Closing based on the consensus that Gateway scheduling is implementation specific.

cc: @ironcladlou @Miciah

[2020-03-03 00:02] #54 closed

[2020-03-03 00:21] danehans commented on #60
Expanding on the example in https://github.com/kubernetes-sigs/service-apis/issues/60#issuecomment-581565939:

App "foo.example.com" is made up of several app services, each running in a different namespace. For example /login service runs in ns foo-app-login and /content is the main frontend service in ns foo-app-main. Currently, `xRoute` forwardTo is a "local" object reference so these services

[2020-03-03 04:17] jpeach commented on #122
Good point. I meant that the developer should not have to alter the configuration (i.e. YAML) other than to flip the gateway class reference.

Nope.

Yes, exactly. I wanted to capture that goal as an explicit user story.

[2020-03-03 04:27] jpeach commented on #115
ref #60

[2020-03-03 04:36] jpeach commented on #116
Ingress V1 spec is [here](https://github.com/kubernetes/enhancements/blob/master/keps/sig-network/20190125-ingress-api-group.md#default-ingressclass). There's an assumption that an admission controller prevents multiple classes being the default, but IIUC, that is intrinsically race and an admission controller can't guarantee to enforce that.

[2020-03-04 23:55] bowei commented on #72
Example: every certificate comes with the set of hostnames that SHOULD be used

[2020-03-05 00:06] danehans opened #123 "TLS: Support Pass Through Connections"
**What would you like to be added**:
The ability for service-apis to support "passing through" a client-side TLS connection to an in-cluster object.

**Why is this needed**:
I have an app security requirement that states client tls connections must be end-to-end. Therefore the TLS connection can not be terminated on a Gateway.

xref: https://github.com/kubernetes-sigs/service-apis/issues/52

/assi

[2020-03-05 00:13] danehans opened #124 "TLS: Add Support for Gateway Reencryption"
**What would you like to be added**:
The ability for service-apis to support terminating a client-side TLS connection at the gateway and have the gateway create a new TLS connection to an in-cluster object.

**Why is this needed**:
I have an app security requirement that requires the gateway to perform specific checks, modifications, etc.. of http headers before forwarding the request to my in-clu

[2020-03-05 00:19] youngnick commented on #123
/kind user-story

[2020-03-05 00:19] youngnick commented on #124
/kind user-story

[2020-03-05 18:38] youngnick commented on #60
xref #102

[2020-03-05 18:51] danehans commented on #115
@youngnick here are a few xref's that may help you doc the sec model:

[example drawing](https://docs.google.com/drawings/d/1geL91ejvezuYpYW65aRfy8yghcdYAZ7fukN8GNUluVk/edit) and associated [rbac permissions](https://gist.github.com/danehans/daa49cac8e6fb72f96fd280bb9ac2945)

[2020-03-05 18:51] youngnick commented on #74
/assign @youngnick

[2020-03-05 19:02] robscott commented on #109
/assign

[2020-03-05 19:16] danehans commented on #65
This consensus from the community is that this issue is implementation specific. For example, some gateway implementations may not run on a k8s cluster. GatewayClass params should be used to pass-in  gateway implementation details.

The the time being, the issue is being left open for future implementers to provide input as needed.

[2020-03-09 23:25] youngnick commented on #115
/assign @youngnick

[2020-03-20 23:15] hbagdi commented on #98
@robscott Seems like there is already an issue open for load-balancing.

[2020-03-20 23:15] hbagdi commented on #98
/kind user-story

[2020-03-24 16:58] tcnghia commented on #58
@danehans @hbagdi what is the status of this issue?  thanks

[2020-03-24 17:18] hbagdi commented on #58
@tcnghia WIP at https://github.com/kubernetes-sigs/service-apis/pull/57

[2020-03-26 01:06] #115 closed

[2020-04-01 22:27] robscott commented on #107
/close

[2020-04-01 22:28] #107 closed

[2020-04-01 22:30] robscott commented on #105
/kind user-story
/remove-kind feature

[2020-04-02 17:05] bowei commented on #114
/assign

[2020-04-02 17:32] evankanderson commented on #114
Quick envoy-compatible design to support combining multiple authentication hooks with an at-least-one semantic follows. Note that it may be advisable to duplicate the gRPC definitions and pun the protos between the two to allow independent evolution of the Envoy protos and Ingressv2.

Add a property `spec.authorization` with the following golang type:

[code]

This would render in yaml as:

[code]

[2020-04-02 17:47] bowei commented on #96
https://github.com/kubernetes-sigs/service-apis/issues/94

[2020-04-02 17:49] bowei commented on #123
https://github.com/kubernetes-sigs/service-apis/issues/94

[2020-04-02 17:53] bowei commented on #105
It seems like this can be implement by Gateway namespace restrictions.

Can we have a cookbook example to illustrate this?

[2020-04-02 18:01] bowei commented on #84
/close

This is now documented in the route selection behavior in the code. It may still change due to discussion, but is now explicitly specified:
https://github.com/kubernetes-sigs/service-apis/blob/master/api/v1alpha1/gateway_types.go

[2020-04-02 18:01] #84 closed

[2020-04-02 18:03] bowei commented on #93
Parking this issue for now; policy enforcement is likely bigger than just TLS cert properties.
Perhaps OPA gatekeeper is more fitting: https://github.com/open-policy-agent/gatekeeper

[2020-04-02 18:03] bowei commented on #93
/close

[2020-04-02 18:04] #93 closed

[2020-04-02 19:03] robscott commented on #103
We discussed this during office hours - here's an attempt at summarizing our thoughts:

1. In most cases, users that are configuring TLS will naturally also have access to Gateways.
2. In other cases, TLS config could be implemented with a controller watching Routes and adding generated certs to corresponding Gateways.
3. This does not solve the use case for users wanting to provide their own cert

[2020-04-03 07:12] jpeach commented on #103
Maybe another way to approach this would be to think through how the gateway API would work with existing controllers. For example; if we stipulate that cert-manager is operating in the cluster, then step (2) would be a controller that watches Routes, and creates the necessary Certificate resources. Then, we would need to ensure that once the Certificate was provisioned, the corresponding Secret (

[2020-04-03 16:34] danehans commented on #53
https://github.com/kubernetes-sigs/service-apis/pull/12 merged

[2020-04-03 16:34] #53 closed

[2020-04-04 08:32] igsong opened #129 "Support regex matching for HTTP header"
Currently, only the exact matching is supported for HTTP header.
https://github.com/kubernetes-sigs/service-apis/blob/31cbedd591ab43d2750ee1dd1f151b13f95dc1bd/api/v1alpha1/httproute_types.go#L91-L93

Therefore, I would like to propose support of regex matching on HTTP header.
If the regex matching is supported here, it would be very helpful to greatly increase flexibility.

[2020-04-06 15:54] hbagdi commented on #105
That's correct.

It seems we are going towards the world where TLS information will be present in the Gateway resource. In the current model, one can control which namespaces can have gateway resource via GatewayClass. This user-story is covered as an extension of this where the namespaces containing the Gateway will be the only ones containing the TLS secrets.

I will add a cookbook example once

[2020-04-06 16:24] hbagdi commented on #96
@jpeach @danehans I'm using this issue as an umbrella issue for all things byte stream.
I've summarized #123 and #94 here.

[2020-04-06 16:25] hbagdi commented on #123
On a closer inspection, #94 and #123 are not duplicate of each other. #94 is about TLS termination by the proxy while this one is about routing based on SNI with no TLS termination. I've summarized both of these in #96. PTAL.

[2020-04-06 23:06] jpeach commented on #96
@hbagdi One way to represent umbrella issues in GitHub is to add a list of checkboxes to the first comment. Github treats that as a task list and will show extra UI for it.

[2020-04-07 17:07] akutz opened #131 "Define a reference implementation of TCPRoute"
**What would you like to be added**:
A reference implementation of the `TcpRoute` class.

**Why is this needed**:
Currently the `TcpRoute` class is TBD, and it would be nice to have a reference implementation of this type for people wanting to work with or build on the Service API v2.

[2020-04-07 21:23] hbagdi commented on #131
xref #96

[2020-04-08 17:19] robscott commented on #105
/assign @hbagdi

[2020-04-09 02:31] akutz opened #135 "Clarify Gateway and GatewayClass"
The relationship between `Gateway` and `GatewayClass` is critical to the Service API, and yet this relationship was the most confusing part of the API to myself and a few others. Here are some of our observations:

* A [Gateway resource has a 1:1 relationship with the lifecycle of the infrastructure](https://kubernetes-sigs.github.io/service-apis/concepts/#gateway_1) -- when a Gateway resource is

[2020-04-09 02:46] akutz commented on #96
FWIW, this is *exactly* what #132 solved! I just closed it because I didn’t like how I handled the non TLS story.

[2020-04-09 03:13] jpeach commented on #135
I don't think I understand the problem here. In the HAproxy diagram, that looks exactly how I would expect this to work. You have 2 classes that are backed by the same controller but have different (semantic) configurations.

The centralized control plane is the `vmware.com/haproxy` controller, that presumably has some innate knowledge of the available proxies.

[2020-04-09 03:31] akutz commented on #135
Because ideally your class points to a control plane that can provision a load balancer. The Gateway resource represents the instance, the GatewayClass the factory. In the HAProxy case the Gateway and GateywayClass *both* have a one-to-one relationship with the LB/control plane. That is not the intent, as I understand it, of this model.

[2020-04-09 03:38] jpeach commented on #135
Yeh the terminology is not great, but a Gateway doesn't have to be a physical (or virtual thing). It can be something more like a virtual host.

Ideally, but it is not required.

[2020-04-09 03:43] akutz commented on #135
I did not mean to imply it has to be physical. An HAProxy VM or a MetalLB instance isn’t physical. Still virtual, but they’re their own control plane.

And not required? The docs state without room for misinterpretation that there’s a 1:2 relationship between the Gateway and LB.

If the LB is it’s own control plane, it creates a 1:1 relationship between the Class and LB as well.

It kind of seems

[2020-04-09 03:52] jpeach commented on #135
The proxy itself is the data plane. The process that configures the proxy would be the control plane.

https://kubernetes-sigs.github.io/service-apis/concepts/#gateway

Also https://kubernetes-sigs.github.io/service-apis/concepts/#deployment-models

So there's a ton of wiggle room here for you to do what makes sense for your deployment. "Adding a configuration stanza" sounds a lot like what you wo

[2020-04-09 03:58] akutz commented on #135
It sounds like a clarification is need for the word “load balancer.” Please see my comments on #130.

[2020-04-09 19:47] danehans commented on #129
xref [this](https://docs.google.com/document/d/12t_3NE4EqvW_l0hfVlQcAGKkwkAM56tTn2wN_JtHbSQ/edit?usp=sharing) doc for add'l use case details.

[2020-04-09 21:56] Miciah commented on #103
I think it actually could solve the use case, and this is a critical use case for OpenShift.

Our biggest challenge to adopting Ingress v1 was the secrets problem:  How do you safely enable the ingress controller to read users' secrets so that it can get user-provided certificates?  The ingress controller is a complex piece of software that communicates with untrusted agents, so granting it access

[2020-04-09 22:22] danehans commented on #102
xref: https://github.com/kubernetes-sigs/service-apis/issues/62

[2020-04-09 22:32] hbagdi commented on #129
@danehans The doc is restricted. Can you open it up to the world?

[2020-04-09 22:32] hbagdi commented on #129
Are you looking for regex matching on the header value or header key or both?

[2020-04-09 22:46] hbagdi commented on #103
This is a very common problem and complain with Kubernetes Ingress. This how I see the current model could solve the problem: Gateways are spun up only in a specific namespace or a set of namespaces. These are RBAC protected so that only few humans have access to it. The controllers responsible for configuring these gateways can now be given read access to secrets in these namespaces in which the

[2020-04-09 22:59] danehans commented on #52
@bowei do we want to address this use case for pre 1.18 clusters that don't support the Service app-protocol field?

[2020-04-09 23:11] robscott commented on #52
As a bit of a tangential update, that field did land in 1.18 but due to backwards compatibility requirements had to be feature gated - it won't be enabled by default until 1.19, so given the extended timeline it might be worth looking at potential solutions here as well. For reference, here's the PR updating the KEP to reflect that updated timeline: https://github.com/kubernetes/enhancements/pull/

[2020-04-09 23:43] jpeach commented on #48
Most (all?) ingress controllers have some mechanism to specify the target port for upstream services (either annotation or in-band to a custom CRD). Maybe we could do a prior art survey to inform a spec proposal?

[2020-04-10 01:28] jpeach commented on #103
I like this privilege separation, and I think it's an approach worth exploring. Maybe rather than defining TLS in terms of secrets, we have a specific binding type that we use to interact with TLS provisioning systems. The binding type can also be more structures that a generic secret, which might have some advantages.

[2020-04-10 02:00] danehans commented on #48
@jpeach Our challenge is that `HTTPRouteAction` can forward to non-Service objects. Here are a couple ideas for supporting Services that specify multiple ports:

#### Add `ServicePort` property to the `HTTPRouteAction` API type.
[code]
#### Add `Port` property to the `HTTPRouteFilter` API type.
[code]
/cc @robscott @Miciah

[2020-04-10 02:09] jpeach commented on #48
Sure, but it doesn't matter what the target object is, the principle is the same

[2020-04-10 15:09] akutz opened #136 "Support ClusterGatewayClass and GatewayClass"
## What would you like to be added
A new, cluster-scoped `ClusterGatewayClass` and changing `GatewayClass` to a namespaced resource. This is a P0 ask for our project. The details are in the next section. Thank you!

## Why is this needed
There is a comment at https://github.com/kubernetes-sigs/service-apis/pull/130#issuecomment-611828125 that states:

If this is the case, then the current model do

[2020-04-10 15:32] akutz commented on #136
cc @detiber I thought you might like to be looped in on some of the conversations regarding the LB work we're doing we want to base on the Service APIs v2. Since you are working on Cluster API provider for AWS, maybe you will eventually have a similar vested interest.

[2020-04-10 18:47] robscott commented on #136
Thanks for writing this up, a lot of good thoughts here. I don't have answers for everything, but here are a few thoughts:

* We did consider separate `Cluster` scoped resources as we were developing the [security model](https://github.com/kubernetes-sigs/service-apis/blob/master/docs-src/security-model.md#new-api-resources). Ultimately we determined that adding additional resources was not the be

[2020-04-10 18:59] akutz commented on #136
Hi @robscott,

Thanks for the feedback!

As you said, the ultimate issue is this -- you cannot declare the `Gateway` is the _virtual host_ and not have something representing the load balancer for load balancer solutions that have distinct LB *and* virtual server constructs.

This is one approach to solve that -- mapping the `GatewayClass` to the LB construct in the model with virtual servers.

It

[2020-04-10 19:16] robscott commented on #48
Thanks for following up on this issue @danehans! If possible, I'd prefer to keep our approach as simple as possible here. I'd be open to just using an int32 as the target port here as that seems like it would work universally with anything we reference. With that said, the precedent already set by Ingress is to [use intstr](https://github.com/kubernetes/kubernetes/blob/master/staging/src/k8s.io/ap

[2020-04-10 21:26] robscott commented on #103
I like this potential approach as well. I'm interested in what a new binding type @jpeach is describing would look like. Would be nice to have an approach enabling additional use cases like this.

[2020-04-10 22:20] robscott commented on #136
I've talked with @akutz some more on Slack to better understand the use case, and I think it's both worth handling and relatively straightforward to achieve. If I'm understanding the use case correctly, in some multi-tenant on-prem deployments it's desirable to have separate physical load balancers for each Kubernetes namespace. This relationship could be modeled with unique GatewayClasses per nam

[2020-04-11 18:46] maplain opened #137 "An optional Address field in GatewaySpec and GatewayStatus"
**What would you like to be added**:
1. An optional `Address *ListenerAddress` in `GatewaySpec`;
2. An optional `Address *ListenerAddress` in `GatewayStatus`;

**Why is this needed**:
1. `Routes RouteBindingSelector` is defined per `Gateway`, not per `Listener`;
2. `Gateway` represents something more like a `VirtualServer` or `VirtualHost`;
Like James pointed out, it's not uncommon to have a share

[2020-04-11 18:51] igsong commented on #129
Oh. the regex matching for the header value works for me :)

[2020-04-12 04:59] jpeach opened #139 "Tighten the spec Listener names."
A Listener has a name:

If this is a *should* (not a must), then controllers will not converge on accepting a common subset of strings. If there are name syntax requirements, there should be a rationale, and this probably should be a MUST. If there are no syntax requirements then maybe we should just remove this?

Secondly, the term `DNS_LABEL` does not appear in RFC 1035. Maybe this means the `la

[2020-04-12 05:05] jpeach commented on #139
/remove-kind feature
/kind documentation

[2020-04-12 05:16] jpeach opened #141 "Missing k8s.gcr.io/service-apis-mkdocs Docker image"
I expect that this is fallout from the recent Kubernetes community changes to image repository hosting, but `k8s.gcr.io/service-apis-mkdocs:latest` doesn't seem to be available any more.

[code]

[2020-04-12 05:17] jpeach commented on #141
/remove-kind feature
/kind bug

[2020-04-12 05:57] jpeach commented on #137
A Gateway is a logical configuration that is attached to the network by a Listener. If you collapse that, you change the model quite a lot, and it's not clear to me that there is much of a benefit.

I think that this request would be clearer if there were some user stories associated with it. What configuration scenario does this enable that is not already possible?

[2020-04-12 05:59] jpeach commented on #131
Do you mean a reference implementation (as in a controller that implements the spec in a conformant way), or did you mean that the `TCPRoute` type should be designed and specified?

[2020-04-12 06:21] jpeach commented on #136
With the current API semantics, here's how I would try to approach this.

You create a controller that is able to allocate proxies (i.e. physical or virtual load balancers that can be configured to host gateways). When the user creates a Gateway in a namespace, then the controller implicitly allocates a proxy for that namespace. Depending on the properties of the namespace or the request, maybe mu

[2020-04-12 06:24] jpeach opened #142 "How are the initial GatewayClass conditions set?"
The concepts doc says:

This sounds great, but what are the mechanics that implement this?  There's nothing that does this today, so is the plan that there would be a service-apis admission controller to initialize the conditions?

[2020-04-12 21:12] akutz opened #144 "GatewayClass.Spec.ParametersRef is invalid as LocalObjectReference"
Currently the field `GatewayClass.Spec.ParametersRef` is a `GatewayClassParametersObjectReference`, which aliases a custom type, `LocalObjectReference`. The documentation for `GatewayClassParametersObjectReference` states:

[code]

Except the `LocalObjectReference` is only valid if the referrer is a namespaced object, and `GatewayClass` is scoped to the cluster.

[2020-04-13 15:35] ZhiminXiang commented on #129
@hbagdi you need to join group https://groups.google.com/g/knative-users to get the permission for access the doc.

[2020-04-13 18:34] bowei commented on #141
We're still setting up the image repo -- but you can `make image` to generate a local copy for the time being.

[2020-04-13 19:08] maplain commented on #137
Thanks @jpeach for your feedback!

This address is optional, so I cannot agree with `you change the model quite a lot`;

like I said in the description, this adds clarity for use cases like sharing one address per Gateway. I believe you pointed out Contour is one example, but I couldn't find your comment anymore.

For other use cases, it's safe to just omit it to keep the original model.

I guess

[2020-04-13 20:36] robscott commented on #142
This is a great question. It seems like this will have to be tied to how we implement defaults as a whole, and fortunately that seems like [something we can do with OpenAPI schemas](https://github.com/kubernetes/enhancements/blob/master/keps/sig-api-machinery/20190426-crd-defaulting.md) in Kubernetes 1.16+ (earlier with a feature gate enabled). Here's an example of how we can do that with Kubebuil

[2020-04-13 22:03] jpeach commented on #141
[code]

[2020-04-13 22:06] akutz opened #147 "The API group should likely be networking.x-k8s.io"
Currently this project's API group is `networking.x.k8s.io`, but based on conventions as I understand them, the group should be `networking.x-k8s.io`. The latter convention is used by Cluster API, Kind, and others. If nothing else, technically `networking.x.k8s.io` still falls under the now prohibited domain of `k8s.io`. If the goal is to not be `k8s.io`, we should `s/x.k8s.io/x-k8s.io/`

/kind bu

[2020-04-13 22:12] robscott commented on #147
You're completely right, we've discussed this before but not properly documented it. As I recall, @bowei volunteered to fix this.

/assign @bowei

[2020-04-13 22:22] bowei commented on #147
Did I never push the PR? Thought I put it up already...

[2020-04-13 22:36] akutz commented on #147
I didn't look for a PR, just an open issue. Crap.

[2020-04-13 22:37] akutz commented on #147
I do not see one in https://github.com/kubernetes-sigs/service-apis/pulls?q=is%3Apr+x-k8s.io+.

[2020-04-13 22:44] bowei commented on #147
let me push it, looks like I forgot

[2020-04-13 23:14] jpeach commented on #142
So it looks like you can now default a field with an object? That looks really cool. Do you think it will work correctly with the status sub resource?

[2020-04-13 23:49] #147 closed

[2020-04-15 00:05] hbagdi commented on #136
I had the same understanding as James here.

I do recall that in early discussions of the project, we had discussions around how some controllers treat each Ingress v1 resource as independent Ingress/LB point while others flatten out multiple Ingress resources and satisfy them via a single LB instance. Then, we had agreed that multiple Gateways could be "satisfied" by a single proxy/LB and that is

[2020-04-15 00:46] jpeach commented on #136
I'm increasingly thinking of GatewayClass a *pointer to infrastructure*. That's not the best way to document it, but I think that it is useful to frame it as a handle to some infrastructure capability rather than being infrastructure itself.

[2020-04-15 00:53] hbagdi commented on #137
I agree with the awkwardness here.

Currently it is something like this:
[code]

Please ignore the values of protocol, that's a separate issue to discuss. And also ignore tls.

I want to propose:

[code]

This has come up in a few discussions now. @jpeach @maplain WDYT?
It doesn't address all the concerns of the issue but a part of it.

[2020-04-15 08:01] jpeach commented on #137
That doesn’t seem unreasonable to me, though I wonder whether we should just file an issue on it and wait until there is implementation experience?

[2020-04-16 01:22] jpeach commented on #144
/kind bug

[2020-04-16 08:06] kundan2707 opened #152 "Link broken for "Security model" in concept doc"
Link broken in https://github.com/kubernetes-sigs/service-apis/blob/master/docs-src/concepts.md for "Secuiry Model in following line.

For more information on the roles and personas considered in the Service API design, refer to the Security Model.

/assign

[2020-04-16 08:09] kundan2707 commented on #152
/kind/documentation

[2020-04-16 08:15] kundan2707 commented on #152
/kind documentation

[2020-04-16 08:18] kundan2707 commented on #152
/remove feature

[2020-04-18 23:58] kundan2707 commented on #152
/remove-kind feature

[2020-04-20 18:50] bowei commented on #152
/assign @robscott

[2020-04-20 19:19] #152 closed

[2020-04-21 14:08] jayunit100 opened #157 "Clarify L7 vs L4 orientation and goals"
Please feel free to flag as dupe or close if redundant (see comment at the end of the issue)

**What would you like to be added**:

Broaden examples of gateway usecases, specifically to highlight how layers < 7 flows would work/look like, so as to clarify overall context of API Classes.

**Why is this needed**:

- The APISketch precursor doc seems to imply that we are going down the network stack:

[2020-04-21 22:16] jpeach commented on #157
xref #96 #94 #66

[2020-04-21 22:17] jpeach commented on #96
xref #66

[2020-04-22 19:09] aledbf commented on #48
can `int32` be used instead of `intstr`?.
Using an ingress controller as an entry point to a service mesh is a common use case and mixing types is an issue xref: https://github.com/linkerd/linkerd2/issues/4211

[2020-04-22 21:59] bowei commented on #157
TCP and UDP  (L4) are intended to be core. Most likely effort was spent on L7 (http) just because that is where a ton of the issues were seen to lie...

[2020-04-22 22:00] bowei commented on #157
But it's good that the L4 conversation is coming back up

[2020-04-22 22:34] robscott commented on #157
/assign @bowei

[2020-04-22 22:44] robscott commented on #144
/assign @robscott

[2020-04-23 19:10] danehans opened #159 "Define HeaderType Support for HTTPRoute"
**What would you like to be added**:
A clear definition of HeaderType support for HTTPRoute similar to PathType.

**Why is this needed**:
So users can proceed with HTTPRoute implementations.

[2020-04-23 19:10] danehans commented on #159
/assign @bowei

[2020-04-23 22:58] #142 closed

[2020-04-23 23:40] jpeach commented on #159
This issue refers to https://github.com/kubernetes-sigs/service-apis/blob/master/api/v1alpha1/httproute_types.go#L118

	//
	// +optional
	HeaderType *string `json:"headerType" protobuf:"bytes,3,opt,name=headerType"`
	// Header are the Header matches as interpreted via
	// HeaderType.
	//
	// +optional
	Header map[string]string `json:"header" protobuf:"bytes,4,rep,name=header"`

[2020-04-23 23:40] danehans commented on #159
background: https://kubernetes.slack.com/archives/CR0H13KGA/p1587056565055500

[2020-04-23 23:40] robscott commented on #159
/assign @hbagdi

[2020-04-24 19:34] danehans opened #162 "HTTPRoute Status"
**What would you like to be added**:
Status conditions for an `HTTPRoute`. For example, how should a route condition such as an invalid target port be handled?

**Why is this needed**:
To surface conditions of an `HTTPRoute`.

/assign @bowei

[2020-04-24 23:34] danehans opened #164 "API fields are not following defaulting behavior"
Many API fields that refer to an API object state that `resource` can be ommited and depending on the field, a default resource will be used. However, `LocalObjectReference` **requires** the `resource` field to be specified.

/kind bug

/assign @bowei
/cc @robscott @Miciah

[2020-04-24 23:35] danehans commented on #164
/kind feature cancel

[2020-04-25 00:34] robscott commented on #164
/remove-kind feature

[2020-04-29 21:36] yiyangy commented on #137
My question is whether we should simply move Address up one level into Gateway and make it into a list, instead of being part of a listener.

Spec for the following couple of common use cases would become:

1. HTTP and HTTPS listeners share the same address
[code]
2. Dual stack, IPv4+IPv6
[code]
One use case that this change would disallow is to have one Gateway specify multiple load balancers. Fo

[2020-04-29 22:29] bowei commented on #79
is this still relevant"? we've migrate this to networking.x-k8s.io which should be different than networking.x.k8s.io

[2020-04-30 00:24] jpeach opened #170 "Define or discuss lifetime coupling between Gateways and their GatewayClass"
When a GatewayClass is deleted, the spec does not address what happens to any Gateways that refer to that class.

I can think of 3 reasonable options:
1. Do nothing, orphaning the Gateways
2. Prevent the deletion of the GatewayClass while the class still owns Gateways
3. Delete all the owned Gateways as a side-effect

(1) is how many Ingress controllers work today, but the practical outcome is imp

[2020-04-30 00:25] jpeach commented on #170
/cc @youngnick @akutz

[2020-04-30 16:41] bowei commented on #170
I think this can only be recommendations otherwise we may be imposing requirements for gateway controllers to watch gateways that are not explicitly managed (i.e. linked via gatewayclass field):

- API guarantee: no specific spec for behavior, user should not rely on behavior after gatewayclass deletion.
- Recommendation for controller authors: document behavior, use finalizers mechanism to manage

[2020-04-30 18:08] akutz commented on #170
Hi @bowei,

I think that is what @jpeach and I were suggesting anyway. I originally pinged James and @youngnick to solicit their advice based on their experience with `IngressClass`. James indicated this was a new-sh concern, and so at best I think we're just trying to define the best practice for the situation and document it so that readers:

* are aware of the issue
* are presented with some re

[2020-05-01 07:20] maplain commented on #137
@yiyangy Thank you for providing the use cases!
Adding the optional Address in the top level would satisfy all your use cases :)
but like you suggested, it should probably be an array.

[2020-05-01 07:25] maplain commented on #137
It doesn't address all the concerns of the issue but a part of it.

@hbagdi I think it's fair.
If we want to support dual stack like @yiyangy pointed out, we'll have an array of addresses. Then it'll look very like corev1.EndpointSubset which has an array of addresses and an array of ports: https://github.com/kubernetes/api/blob/master/core/v1/types.go#L4198.

[2020-05-01 18:52] maplain opened #174 "Optional Listeners in both Gateway.Spec and Gateway.Status"
**What would you like to be added**:
Optional Listeners in both Gateway.Spec and Gateway.Status

**Why is this needed**:
At the moment, the fields Gateway.Spec.Listeners and Gateway.Status.Listeners are not optional and must be non-empty. These requirements do not support the following use cases:

- The Gateway has no Listeners because the Gateway resource’s route selector points directly to a Ser

[2020-05-06 04:44] yiyangy opened #175 "Remove or Clarify the behavior of “Default” field in HTTPRouteSpec"
**The behavior of the "Default" field in HTTPRouteSpec needs to be clarified.**

For example, in the following cases:
- One Gateway can have multiple HTTPRoutes, each with a Default.
- Is Default for no match of hostname only? Or more strongly, any no match? e.g. there is a hostname match, but neither path nor header match.
- For Default, should there only be one HTTPRouteRule with no HTTPRouteMat

[2020-05-06 07:23] yiyangy opened #176 "AddressType of Listener in Gateway to represent IPv4, IPv6, dual stack and named address"
AddressType specifies the type of address for Listeners associated with a Gateway. Discuss what types should be defined to represent cases of IPv4, IPv6, dual stack and named address.

- IPv4Address - represents an IPv4 Address
- IPv6Address - represents an IPv6 Address

Reference: [EndpointSlice AddressType field](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/discovery/types.go#L4

[2020-05-06 13:15] jayunit100 commented on #157
If there is a limit to how low Service APIs will go,  i suspect its worth clarifying the modulo be tween this, and the L3 Service work going on, and wether those streams are capable of merging ... https://docs.google.com/document/d/1Mot1dLO1kpVtIGib_wss8tWYNVMjlhVHVD0ZGJVXC6c/edit#heading=h.y8oyw4t5tboe

[2020-05-06 18:03] danehans commented on #58
Note that https://github.com/kubernetes-sigs/service-apis/pull/57 only addresses "Weight or percentage-based traffic splitting among multiple endpoints of a `Service`."

[2020-05-06 19:45] robscott opened #177 "Document status changes required when GatewayClass "allowed" selectors are violated"
**What would you like to be added**:
We don't currently define what should be done if a Gateway attempts to use a GatewayClass in a namespace not selected by `AllowedGatewayNamespaces` or when a Gateway selects a Route in a namespace not selected by `AllowedRouteNamespaces`. We should introduce new conditions for status and document how they should be used in response to these situations.

As an i

[2020-05-06 20:24] bowei commented on #67
/remove-lifecycle stale

[2020-05-06 21:52] robscott commented on #174
Hey @maplain, thanks for filing this issue! I'm not sure we'd ever planned for directly linking Gateways to Services, but I think it may have been discussed as part of the broader L4 conversation. It would be helpful to understand your use case a bit better. If a Gateway has no listeners and is only used to point to a Service, what value does it provide? I think @JeremyOT volunteered to work on a

[2020-05-06 22:03] maplain commented on #174
@robscott This is not limited to our specific use case.

It's also preventing the creation of a Gateway programmatically without specifying an empty Status.Listeners and Status.Conditions, which is unnecessary and clutters the code.

For example, creating a Gateway without Status.Listeners and Status.Conditions in a unit test will cause the following error.
[code]

[code]

[2020-05-06 22:08] akutz commented on #174
Hi @JeremyOT,

I'd love to chat! We're also working on a spec for TCPRoute, and I've asked @nikhita to take point on engaging this project for potential synergistic opportunities now and in the future between our projects. Perhaps we can sit down and see where we might be able to help one another?

FWIW, I previously defined a `TcpRoute` in #132, but I closed the issue at the time because it basic

[2020-05-06 22:16] danehans opened #178 "go-to-protobuf incorrectly generates godocs"
This is a tracker issue tracking https://github.com/kubernetes/code-generator/issues/107.

[2020-05-06 22:17] danehans commented on #178
This issue was observed during review of https://github.com/kubernetes-sigs/service-apis/pull/163.

[2020-05-06 22:20] akutz commented on #174
Hi @robscott,

We did not plan to do so either, but it just sort of worked out this way. The reason being is because we did not want to jump the gun on `TcpRoute` or make any commitments to types we may want to remove in the future. The fact is, the `Service` and `Endpoints` resources contain all of the information needed for L4 routes:

* Frontend port(s)
* Backend port(s)
* Backend address(es)

[2020-05-06 23:01] danehans commented on #55
This issue is slightly different from #58. Currently, `HTTPRoute` performs traffic manipulation, i.e. `HTTPRouteFilter` before making a routing decision. This issue is to highlight the need for using `HTTPRouteFilter` after a routing decision is made.

[2020-05-06 23:07] jpeach commented on #176
Is `NamedAddress` in this sense an arbitrary string identifying an infrastructure resource, or is it a DNS FQDN?

[2020-05-06 23:16] yiyangy commented on #176
The former - an arbitrary string identifying an infrastructure resource

[2020-05-06 23:24] akutz commented on #174
Hi @JeremyOT,

FWIW, I loosely defined a TCPRoute along these requirements:

* Similar to HTTPRoute
* Supports Listener matching by TLS+SNI
* Supports Listener matching by target port
* Defines a target port (intOrStr)
* Forwards to a resource that contains endpoint information, (ex. v1/Endpoints)

[2020-05-06 23:42] danehans commented on #55
This issue supports the Knative [Ingress v2 Alignment](https://docs.google.com/document/d/1JcxqvBVdJ1k9J5Cy-6uvs-iZSfFwFxt3pY73kM9wW1E/edit?usp=sharing) "Header Operations" use case.

[2020-05-06 23:45] yiyangy commented on #55
Does "making a routing decision" mean match? So the order here is filter->match->action

And in this case, the order is match->filter->action

Which case is more commonly supported?

[2020-05-07 00:00] robscott commented on #174
Hey @maplain and @akutz, thanks for the detailed explanations! I think you're completely right that `Listeners` and `Conditions` should be optional in status, spec seems a bit more complicated to me though.

I think what we decide for `spec.Listeners` will have to be closely tied to our approach for L4. I can't think of a great use case for making this optional outside of L4, but definitely do see

[2020-05-07 02:12] akutz commented on #174
So why is that not enough? It helps L4 by enabling tying a Service directly to a Gateway and does not hurt L7.

FWIW, the case for Service routes (which is totally and completely enabled by the current spec since there is no qualifier on what is selected via a route selector) is that no one has to reconcile the ports from Service resources into Listeners or future, possible TCPRoute resources.

[2020-05-07 04:35] robscott commented on #174
Sorry, that was not my intention. I was trying to say that determining how we link Gateways to Services for L4 protocols is a prerequisite to making `spec.Listeners` optional. If we had a plan for L4 formalized that included linking directly to Services, this could make a lot of sense, but I don't believe we do yet. I was certainly not meaning to imply that L4 was in any way less important than L7

[2020-05-07 05:29] jpeach opened #180 "Specify the behavior of the Listener.Protocol field."
[code]

The exact behavior and meaning of the Protocol field is very ambiguous here.

[2020-05-07 06:25] JeremyOT commented on #174
Hi @akutz - I've been thinking along the same lines. It would be great to chat, and maybe walk through some example scenarios. Let's coordinate on K8s slack.

[2020-05-07 06:40] akutz commented on #174
Sgtm @JeremyOT , thank you. It will be great to finally chat with you since we kept crossing paths in the multi cluster space. My team was refocused shortly after you and I engaged there, and so I’m glad we’ll finally have a chance to work on something together.

[2020-05-07 17:51] yiyangy commented on #55
Makes sense. So filter (no matter per match or per target) always happen after match. The per target filter seems to apply to the traffic splitting case, where there exists a list of ForwardToTarget (your PR #57). Is that the use case considered here?

Also, there is the order of these filters being applied. For example, another order is
match (path /foo) -> action (forward to targets foo1, foo2 a

[2020-05-07 18:41] robscott commented on #109
@danehans I think this came from a time when we still had RouteObjectReference. I've looked through our other ObjectRefs and haven't found any remaining ones that would reference `networking.x-k8s.io` types, do you think this is safe to close now?

[2020-05-07 18:41] robscott commented on #177
/assign

[2020-05-07 21:47] danehans commented on #109
This issue is no longer valid now that gateway<>route binding is being accomplished with selectors.

[2020-05-07 21:47] #109 closed

[2020-05-07 22:10] danehans commented on #55
Yes.

Yes.

match (path /foo) -> action (forward to targets foo1, foo2 and foo3) -> foo1 filter (add header foo1), filter foo2 (add header foo2) and filter foo3 (add header foo3) -> filter (remove header foo)

Per match filtering occurs before an `action`. Therefore your example above would be:
match (path /foo) -> filter (remove header foo) -> action (forward to targets foo1, foo2 and foo3) -> fo

[2020-05-07 22:52] jpeach commented on #55
Wait, where is this ordering specified?

[2020-05-11 00:25] jpeach opened #188 "verify docs script always fails"
**What happened**:
[code]

**What you expected to happen**:

The verify docs script should succeed.

**How to reproduce it (as minimally and precisely as possible)**:

`./hack/verify-docs.sh`

[2020-05-11 17:03] robscott commented on #50
I believe this was fixed by #73, feel free to reopen if I missed anything.

[2020-05-11 17:25] robscott commented on #50
/close

[2020-05-11 17:25] #50 closed

[2020-05-11 19:05] robscott opened #189 "GatewayClass controller immutability is not enforced"
**What happened**:
There is no enforcement of the claim that the controller field on GatewayClass is immutable.

**What you expected to happen**:
Either it should not be possible to change the controller field after creation or we should remove the comment stating that it is immutable.

For reference, the only way I've found to enforce this would be a validating webhook. There is currently no supp

[2020-05-12 20:58] hbagdi opened #190 "Regex support in HTTP path and header matching"
Regular expression support for route matching is a common feature request.

A little bit of history:

Ingress v1beta1 had regex support for posix regex and also had strict(er) path validation.
This was seen as a limitation because some implementation didn't support posix regex but instead supported PCRE regex.

We need to clarify follow in our API:
1. Should regex support be in the "core", "extend

[2020-05-12 20:59] hbagdi commented on #190
@jpeach has also suggest to add a "contains" HeaderMatchType, which could be supported by the core API itself and be easily portable across implementations.

[2020-05-12 21:00] hbagdi commented on #190
cc @aledbf

[2020-05-12 21:15] hbagdi commented on #61
Do we need the informers?
I group is now `networking.x-k8s.io`, thanks to @bowei.

If not, then we can close this. If yes, I can take this up, it should be same as any other CRD.

[2020-05-14 17:35] bowei commented on #40
/remove-lifecycle rotten

[2020-05-14 18:48] hbagdi commented on #80
/remove-lifecycle stale

[2020-05-14 18:48] hbagdi commented on #66
/remove-lifecycle stale

[2020-05-14 18:48] hbagdi commented on #62
/remove-lifecycle stale

[2020-05-14 18:48] hbagdi commented on #89
/remove-lifecycle stale

[2020-05-14 18:49] hbagdi commented on #89
xref https://github.com/kubernetes-sigs/service-apis/pull/184

[2020-05-14 18:49] hbagdi commented on #56
/remove-lifecycle stale

[2020-05-14 18:50] hbagdi commented on #56
This was discussed in office hours on May 13. This is already supported but it turns out it is not documented in the concepts doc.

/assign @bowei

[2020-05-14 18:51] hbagdi commented on #88
/remove-lifecycle stale

[2020-05-14 18:51] hbagdi commented on #49
/remove-lifecycle stale

[2020-05-14 18:52] hbagdi commented on #49
https://github.com/kubernetes-sigs/service-apis/pull/193 addresses some concerns in this issue.

[2020-05-14 18:53] hbagdi commented on #94
xref #96
/remove-lifecycle stale

[2020-05-14 18:53] hbagdi commented on #90
/remove-lifecycle stale
xref #193

[2020-05-14 23:41] kundan2707 commented on #188
I am also facing this issue

[2020-05-15 22:19] hbagdi commented on #97
/remove-lifecycle stale

[2020-05-15 22:19] hbagdi commented on #99
/remove-lifecycle stale

[2020-05-19 06:10] robscott opened #195 "Support levels (core, extended, custom) are not documented"
This was discussed in one of our recent meetings. I know the original sketch doc briefly mentions core and extended types, but I'm not sure what custom would mean. It would be good to document how these should be interpreted. As an example, these [three levels are referenced here](https://github.com/kubernetes-sigs/service-apis/blob/master/api/v1alpha1/httproute_types.go#L104-L106).

/assign @bowe

[2020-05-19 06:21] robscott commented on #188
Is this still an issue? Here's the output I get a successful exit code (0) when I run `hack/verify-docs.sh` on master:

[code]

[2020-05-19 18:21] hbagdi opened #196 "Service-level configuration"
## Current Status

We are collecting issues and use cases that should be associated with core.Service.
Once we have a good understanding of problems, we will start discussing potential solutions, ultimately ending in a KEP.  Please feel free to add your comments to this thread and we will try to incorporate those here.

## Summary

There are service-level configuration properties that cannot be sp

[2020-05-19 18:21] hbagdi commented on #196
/remove kind/feature

[2020-05-19 18:21] hbagdi commented on #196
cc @bowei

[2020-05-19 18:31] bowei commented on #196
Thanks @hbagdi this is a great write up.

[2020-05-19 20:26] hbagdi commented on #196
I think I've missed a few things so we will have to get feedback and add more to the list.

I've intentionally not included TLS-level settings and AppProtocol to the list because I'm not sure if they are service-level or not. Some of those are but not all.

[2020-05-19 20:32] hbagdi commented on #196
cc @danehans
Sorry, forgot to cc you earlier, Daneyon.

[2020-05-19 22:28] bowei commented on #196
/assign

[2020-05-20 05:51] jpeach commented on #196
/cc @jpeach @youngnick

[2020-05-20 06:19] jpeach commented on #188
Verified that I see the same behavior.

[2020-05-20 06:19] #188 closed

[2020-05-20 19:51] hbagdi commented on #83
xref #193

[2020-05-20 20:02] howardjohn opened #197 "Issues around RouteBindingSelector"
RouteSelector right now is just a label selector, yet it can select literally any object an implementer determines is a route. This leads to unexpected behavior from users. For example, I may create an HttpRoute with label `env=prod` and using GatewayClass=Foo. Later, I change my GatewayClass to `istio` (for a concrete example - should apply to others as well). The Istio implementation happens to

[2020-05-20 23:05] bowei commented on #196
Discussion from office hours:

Common use case where different teams (e.g. cluster op vs app author), cluster op wants to "fix" up application settings due to regulatory, resource issues:

1. Cap timeouts, retries
1. Number of simultaneous connections

It is likely that we can't do 100% of these use cases (use Open Policy Agent) but we should keep this use case in mind.

[2020-05-20 23:05] danehans commented on #197
xref: https://github.com/kubernetes-sigs/service-apis/issues/88

[2020-05-21 00:10] costinm commented on #197
I agree - this creates a requirement that the namespace admin has no permission on changing Namespace labels. Otherwise a malicious/compromised namespace admin would be able to take over routes from another namespace.

If RBAC prevent namespace admins from accessing Namespace - whoever has RBAC permission for Namespace will need to be involved in routing/gateway setup, which may not be ideal.

[2020-05-21 00:11] costinm commented on #197
A better solution would be for Gateway to (also) allow selecting a namespace by name.

In clusters where namespace admins don't have RBAC on the Namespace itself - labels can be used safely.

In clusters where namespace admin has RBAC on namespace - the Gateway should use the namespace name(s).

[2020-05-21 00:47] costinm commented on #49
I think it's a great change ! AllowedHostname[] is reasonable - it allows the domain owner to create a Gateway, set the cert and restrict which namespaces can use the domain. Assuming https://github.com/kubernetes-sigs/service-apis/issues/197 is addressed ( i.e. allow using the namespace name ) - it seems viable.

I'm not very sure the usability of having port 443 and port 80 is great - it is extr

[2020-05-21 05:02] bowei commented on #197
Discussed in office hours today:

* Explore adding "kind" to the selection mechanism. Design options:
  * List vs single Kind

Pros:
* Very specific about what kind of route is being selected.
* Few use common cases where you will want to implicitly select all route types: DNS (25 TCP/25 UDP), maybe HTTP + GRPC?

Cons:
* Maybe more verbose.

[2020-05-21 06:58] bowei commented on #197
The second piece regarding namespace permissions is an interesting one.
There was discussion on whether this imposes too much vs explicitly naming routes.
The conclusion was that namespace admin is highly privileged and would not be available to typical user.

see this discussion:

https://kubernetes-sigs.github.io/service-apis/security-model/

[2020-05-21 16:18] hbagdi commented on #49
Providing hostnames at the gateway layer implies that if you are mixing L4 and L7 listeners, and if there is no way to decide filter hostnames at a per listener level, that would lead to users configuring multiple Gateways. YAML's referencing (`*` and `&`) capabilities could help somewhat?

[2020-05-21 23:17] robscott commented on #197
I've opened a couple PRs to address part of this:
- GatewayClass: https://github.com/kubernetes-sigs/service-apis/pull/198
- Gateway: https://github.com/kubernetes-sigs/service-apis/pull/199

[2020-05-21 23:19] jpeach commented on #105
`CertificateObjectReference` is a local reference, so you can't use secrets that are not in the same namespace as the Gateway. I think that this should be allowed as long as this is a reference and we don't give TLS keys inline.

[2020-05-21 23:21] yiyangy commented on #196
A couple of questions/comments:

- Is Retry a route-level or service-level configuration?
More specifically, is Retry policy specific to a route? Say if multiple routes point to the same service, shall they use the same Retry policy?

- Capacity is also service-level configuration.
Capacity can be maximum number of requests per second, max number of simultaneous connections. Probably want to see i

[2020-05-22 00:26] hbagdi opened #200 "Add support for configurable HTTP redirects"
**What would you like to be added**:

On a per route basis, a user can configure HTTP redirects 301/302 (may be 307/308 too?) and the location of where to redirect to. It could be simply a redirect to HTTPS, in which case, redirect with the Location header matching the URL of the request being processed or it could be a redirect to a different location. The second part can get tricky because that

[2020-05-26 20:14] robscott commented on #197
@howardjohn @costinm Do you mind splitting this issue into 3? I believe they would look something like this:

1. RouteSelectors should include a Kind to specify the type of resources being selected.
2. It should be easier to limit the scope of selectors to the local namespace (will be fixed by #198 and #199)
3. Namespace names should be used over namespace selectors.

I don't necessarily agree wit

[2020-05-26 21:28] robscott commented on #108
@danehans I think this can be closed given the consensus around your approach here: https://github.com/kubernetes-sigs/service-apis/pull/57.

[2020-05-27 01:36] danehans commented on #108
Closing due to https://github.com/kubernetes-sigs/service-apis/pull/57

[2020-05-27 01:36] #108 closed

[2020-05-27 16:49] hbagdi commented on #196
More specifically, is Retry policy specific to a route? Say if multiple routes point to the same service, shall they use the same Retry policy?

@yiyangy, great question. I've seen this being done at both-levels in different setups. I defined this on the service-level because that's what I've seen more widely adopted. We can certainly revisit.

@youngnick mentioned in one of the meetings about how

[2020-05-27 16:52] hbagdi commented on #105
I'm waiting on consensus around #193. Once we have that, I can propose this as a PR.

[2020-05-27 21:17] danehans commented on #162
xref: https://github.com/kubernetes-sigs/service-apis/pull/185 as a use case for `MirrorTo` status conditions.

[2020-05-28 17:43] costinm commented on #196
Re. Timeout and similar: https://istio.io/docs/reference/config/networking/destination-rule/

[2020-05-28 18:09] costinm commented on #196
Composing by name seems like a very clean and simple solution - on 'server' namespace they would match the Service name, on client namespace they would be based on the qualified service name ( svc.namespace.svc )

[2020-05-28 18:36] danehans commented on #196
My notes from the 5/28/20 meeting:

- Adding these settings to a `Service` is not preferred due to the existing complexity of the resource.
- One or more separate resources should be considered to express client and server, i.e. `Service`, settings.
- A client and server may reside in a separate namespaces where RBAC prevents a single resource from being used to express client and server settings.

[2020-05-28 22:25] danehans commented on #88
Can the universe be constrained by the api group, i.e. `networking.x-k8s.io`?

[2020-05-28 22:27] danehans commented on #96
xref https://github.com/kubernetes-sigs/service-apis/issues/66

[2020-05-28 22:49] robscott commented on #88
I think we'd want to leave open the possibility of implementation specific route types so I'd lean towards no.

[2020-05-28 23:10] Miciah commented on #103
@hbagdi,

By itself, I don't think it solves the use-case.  If I understand you correctly, you are saying that a gateway controller would have access to read secrets from a specific namespace (or set of namespaces) and would read serving certificates from that namespace (or those namespaces).  A consequence would be that an actor who is configuring the serving certificate for a route would need th

[2020-05-29 01:08] youngnick commented on #103
The way Contour solves this exact problem is with a TLSDelegation CRD: this lives in the same namespace as a Secret and allows a HTTPProxy object in a namespace (given by a list with globbing) to reference a Secret without the owner of the HTTPProxy object being able to see the Secret themselves. Obviously this means that the communication of the Secret's name and namespace must happen out-of-band

[2020-05-29 05:16] Miciah commented on #88
The critical point was that implementers must have a well defined, finite set of resources that an implementation must list and watch.  I believe we should (a) enumerate the core resources that must be in this set but also (b) permit an implementer to include additional resources in the set, as Rob mentions.  Doing so would enable the implementer (a) to know exactly which types to list or watch an

[2020-05-29 14:56] howardjohn commented on #196
One thing to note, I think there are two distinct but related topics here. All of these examples are based on client and server having an Envoy sidecar since I am familiar with this model but should generally apply.

First is where the config is actually applied. This can be
* Client-side only. For example, LB algorithm can only be set by the client.
* Server-side only. For example, authn/authz (t

[2020-05-29 23:27] hbagdi commented on #196
Hello all,
I've incorporated the feedback I've heard in this thread and from the weekly meetings into the original issue. The issue has a few new sections so please give it another pass. Thanks!

[2020-06-01 01:38] #9 closed

[2020-06-02 22:37] jpeach commented on #200
@hbagdi One idea I had for this was a special syntax for route selectors (e.g. .wellknown namespace names). That can work for simple http->https cases, but probably doesn't scale for arbitrary redirects.

[2020-06-03 01:23] robscott commented on #124
/remove-lifecycle stale

[2020-06-03 01:23] robscott commented on #51
/remove-lifecycle stale

[2020-06-03 01:23] robscott commented on #72
/remove-lifecycle stale

[2020-06-04 02:23] jpeach opened #202 "Re-address Gateway and Listener error conditions"
After #193, the structure of the Gateway has changed enough that the status conditions for Listeners don't really make sense any more.

We need to rethink what error conditions are now possible and how they should be handled. There is a new class of Listener conflict errors that controllers need to be able to express and have solid semantics around.

[2020-06-04 02:30] jpeach opened #203 "Protocol type extensibility"
In #193, listener protocol type is defined to be the exact set of "TCP", "TLS", "HTTP", "HTTPS". We should discuss whether implementations should be able to add their own protocol type names to this set and how what would affect listener compatibility rules and name matching.

[2020-06-04 02:35] jpeach opened #204 "h2c (cleartext HTTP/2) protocol support"
Based on the Listener definitions in #193, it's not all that clear how implementations should spec [upgrading HTTP/1.1 to h2c](https://tools.ietf.org/html/rfc7540#section-3.2).

This could be a property of the listener, but there's currently not a place for protocol-specific control fields. Otherwise, iit could be a property of the HTTPRoute, but that portion of the API is currently protocol-indep

[2020-06-04 02:41] jpeach opened #205 "WebSocket protocol support"
This issue is closely related to #204.

There should be a way for applications to indicate that they want WebSocket streams for [HTTP/1.1](https://tools.ietf.org/html/rfc8441) or [HTTP/2](https://tools.ietf.org/html/rfc6455).

One way to do this could be a `WebSocketRoute` as a peer to `HTTPRoute`. Another way cold be to add a field somewhere under the `HTTPRoute` API.

Some ingress controllers im

[2020-06-04 02:45] jpeach opened #206 "Discuss domain match vs. wildcard match for listener hostnames"
In #193, we define a "Domain" match type to match a set of hostnames to a single domain name. The semantics of matching the "example.com" domain are the same as matching a TLS wildcard of "*.example.com" (i.e. a single leftmost domain label is wild).

In #193 there was some discussion that "wildcard" terminology was easier to understand. So we could consider changing this:
[code]

to this:
[code]

[2020-06-08 21:39] bowei commented on #206
Couple things to clarify:

* Does domain match suffix or only a single level (a la TLS SAN)?
* Do people care about the more esoteric wildcard expressions e.g. `a*z.example.com`. Are there compelling enough users to support this?

I do like the simplicity of Domain to describe and understand.

[2020-06-08 21:52] jpeach commented on #206
A single level.

We could also introduce these sorts of matches with separate Wildcard or Regex match types (might be proxy-dependent implementations).

[2020-06-09 01:09] hbagdi commented on #206
James, in our conversation, I think you mentioned this to support subdomains as well. This is certainly a feature that users want.

I've seen people do this with headers and paths but (I daresay) never with host.

[2020-06-09 01:41] jpeach commented on #206
If you have more than 1 level of wildcard, how do you select the right server certificate (since that is only allowed to match a single level)?

[2020-06-09 02:32] hbagdi commented on #206
I think our minds are on different tracks because of bad naming.
What I meant was (and maybe @bowei too) was that is it possible to do `*.subdomain.example.com` or not? And the answer to that is yes.

[2020-06-09 02:34] jpeach commented on #206
Yes. This would match “foo.subdomain.example.com” and “bar.subdomain.example.com”, but not “foo.bar.subdomain.example.com”.

[2020-06-10 05:49] jpeach opened #210 "Type aliases resolve too aggressively in the generated API documentation"
**What happened**:

All the type aliases for `ConfigMapsDefaultLocalObjectReference` end up linking back to a single documentation block. We lose the unique documentation present at each alias declaration.

Fields that are an instance of the type alias are also collapsed into the underlying type, which is not what we want.

![Screen Shot 2020-06-10 at 3 42 39 pm](https://user-images.githubusercont

[2020-06-10 06:09] bowei commented on #210
This looks to be a consequence of how type aliases behave in Golang. They don't show up as actual types.
Maybe it's better to just reuse the same type instead of alias for the time being?

[2020-06-10 06:20] jpeach commented on #210
xref https://github.com/ahmetb/gen-crd-api-reference-docs/issues/23

[2020-06-10 06:23] jpeach commented on #210
The generator is using [gengo](https://github.com/kubernetes/gengo), so I think that it can distinguish type aliases in the source.

One thing I was playing with is inlining the type rather than aliasing. This probably gets the same result in YAML, JAON and Go, but not in protobuf.

[code]

[2020-06-10 07:45] jpeach commented on #210
I filed https://github.com/kubernetes/gengo/issues/180 for gengo. I agree that we should probably look for a local workaround.

[2020-06-10 07:57] bowei commented on #196
I threw together a couple of ideas here:

https://docs.google.com/document/d/1Kz2X7zKfaSGW9YTlzqFeFuTCj5uDxdB9D363nMkB6xk/edit#

[2020-06-10 08:20] #177 closed

[2020-06-11 00:09] danehans commented on #195
This issue arose during our office hours discussion on [per target actions](https://docs.google.com/document/d/1SkTb6ECuiQiayvumdsZ3sxDcXD6cYs-DKB_C81Ajvh4/edit?usp=sharing). Actions can be categorized as core, extended or custom, but creating a route rule containing a combination of them may be implementation specific.

[2020-06-11 07:12] bowei commented on #14
/close

[2020-06-11 07:12] #14 closed

[2020-06-11 07:12] bowei commented on #40
/close

[2020-06-11 07:12] #40 closed

[2020-06-11 17:17] hbagdi opened #213 "bug: multiple header value matching semantics"
HTTP headers can have multiple values for the same key.
Clarify what should be the route matching behavior for headers with multiple values to avoid surprises for the end user when they switch from one implementation to other.

A good example for this is matching based on `X-forwarded-for` header.

Questions to be answered:
- Should a single match for value among a set of values be considered a po

[2020-06-11 17:20] hbagdi commented on #213
Some questions I've:
- Is this something that is even used? Do users define routing based on such rules?
- If the answer to the above is rarely, does it make sense to keep the matching behavior as undefined in this case and we leave up to the implementation? It would be pretty hard (or impossible) to define a behavior that is consistent across implementations.

[2020-06-11 20:24] hbagdi commented on #190
/assign

[2020-06-11 21:18] hbagdi commented on #80
/assign

[2020-06-11 21:19] hbagdi commented on #37
xref https://github.com/kubernetes/kubernetes/issues/41881

[2020-06-11 21:22] hbagdi commented on #114
Please take a look at the extensible points that the following document discusses: https://docs.google.com/document/d/1SkTb6ECuiQiayvumdsZ3sxDcXD6cYs-DKB_C81Ajvh4/edit

It seems like such an extension would be a custom extension that can be supported via actions.

[2020-06-11 21:30] hbagdi commented on #175
/assign

[2020-06-11 21:40] hbagdi commented on #137
It seems like this is now supported: https://github.com/kubernetes-sigs/service-apis/blob/c8dc1033d3100839c102870dd8df559b89d5516f/api/v1alpha1/gateway_types.go#L97-L113
Should we close this issue?

[2020-06-11 21:44] hbagdi commented on #62
With changes from #193 merged in, can this be closed?

[2020-06-11 21:51] hbagdi commented on #200
/assign

[2020-06-12 17:26] danehans commented on #48
@aledbf https://github.com/kubernetes-sigs/service-apis/pull/138 uses int32.

[2020-06-12 17:26] #48 closed

[2020-06-15 09:16] jmprusi commented on #114
Pluggable access control looks like a standard functionality implemented in a lot of "custom" ingresses implementation, and perhaps, this could be part of extended (at least). If a feature like this is custom, we will end up with a lot of custom implementations again, defeating the purpose of this work. (most of those implementations expose the Envoy's extAuthz configuration)

If we keep the authe

[2020-06-15 16:39] hbagdi commented on #99
/remove-lifecycle rotten

[2020-06-15 21:47] hbagdi opened #216 "provisioning load-balancers for in-cluster proxy implementations"
This is less of a feature request and more of a question around how in-cluster proxy based controller can spawn cloud-loadbalancers with service-apis.

#### ingress v1

In Ingress v1, Ingress controller that run inside the k8s cluster (nginx, kong, contour, etc. to name a few), use a k8s Service of type `LoadBalancer` to provision a cloud load-balancer, which forwards traffic to proxies running in

[2020-06-15 21:49] hbagdi commented on #216
This could also go into the larger topic of how Gateways are represented in k8s networking.
Could someone use a ClusterIP for a Gateway to treat a gateway as an intra-cluster gateway?
Someone running on-prem, who doesn't have access to cloud load-balancers, should they be allowed to use NodePort types of deployments for their Gateway?

[2020-06-15 23:59] jpeach opened #218 "Upgrade build dependencies to Kubernetes 1.18"
Since Kubernetes 1.18 has been available for a little while now, we should upgrade the Go dependencies on Kubernetes just to keep tracking latest.

[2020-06-16 02:48] jpeach opened #220 "Define the semantics of an undefined route selector"
the `RouteBindingSelector` says:

	// the gateway.

So if route labels are not used to associate routes in this case, what is the GatewayClass supposed to do? Is there some other way to associate routes?

[2020-06-16 02:58] jpeach commented on #202
/assign

[2020-06-16 05:01] jpeach commented on #178
xref #210

[2020-06-16 21:14] hbagdi commented on #220
This is interesting. Services can work without having a selector and there are some use-cases for that. I can't think of any use case for Gateway right now.

[2020-06-16 22:21] robscott commented on #220
This is removed/replaced by https://github.com/kubernetes-sigs/service-apis/pull/198. The default behavior with this approach would result in matching all routes within the local namespace. Interested in any additional feedback on that approach.

[2020-06-16 22:37] jpeach commented on #220
Which resource types would this match?

[2020-06-16 22:49] robscott commented on #220
I was trying to limit the scope of that PR, but I think that question needs some follow up. I like the idea that was part of the l4 proposal by @jeremyot and @akutz to add a kind to the RouteSelector. Maybe this will end up being part of the work towards defining a TCPRoute?

[2020-06-17 16:45] bowei commented on #216
Seems like there are couple of infrastructures (and these will be determined by the GatewayClass)

* Gateway APIs implemented by stuff running inside the cluster itself and exposed via the current mechanisms (ClusterIP, etc).
* Gateway APIs implemented "externally" (cloud, hardware, SDN)

For the most part, the virtual IP(s)/Port  in the status will be the relevant bit -- and it's an interesting t

[2020-06-17 20:46] #159 closed

[2020-06-17 23:16] #195 closed

[2020-06-19 01:57] jpeach opened #223 "Define what conformance means for L4 LoadBalancers"
There has always been the goal of using Gateway to fill the role that is currently filled by Services of type LoadBalancer (i.e. a single-purpose layer 4 proxy that sends traffic to a Service). As we decide what spec conformance means, we should ensure that a Gateway that just provides this level of functionality is conformant (i.e. it can omit TLS, HTTP and so on).

[2020-06-24 20:54] hbagdi commented on #95
/remove-lifecycle rotten

[2020-06-24 20:56] hbagdi commented on #95
I've written up a proposal to support TLS feature requests that we have seen so far: https://docs.google.com/document/d/15fkzMrhN_7tA-i2mHKwZpqcjN1o2Pe9Am9Qt828x1lo/edit.

Your feedback is welcome and greatly appreciated!

[2020-06-24 22:06] #80 closed

[2020-06-25 00:15] robscott opened #224 "Identify guiding principles for conflict resolution"
In office hours today we discussed the need for some guiding principles around conflict resolution. These can help us decide how to handle each potential conflict should be handled in the future.

As a starting point, one idea was to "prefer not to break things that are working." Taken further, we don't want to transition to a broken state if a user adds partially invalid configuration.

Examples

[2020-06-26 05:03] JeremyOT opened #225 "RouteSelectors should include a Kind to specify the type of resources being selected."
From #197 :

RouteSelector right now is just a label selector, yet it can select literally any object an implementer determines is a route. This leads to unexpected behavior from users. For example, I may create an HttpRoute with label env=prod and using GatewayClass=Foo. Later, I change my GatewayClass to istio (for a concrete example - should apply to others as well). The Istio implementation ha

[2020-06-26 05:04] JeremyOT commented on #197
I created #225 for 1.

[2020-06-27 01:05] beriberikix opened #227 "UDP/DTLS support"
This issue is to capture the notes from a [discussion on slack](https://kubernetes.slack.com/archives/CR0H13KGA/p1593007942248800), thanks to @jpeach!

Currently Gateways do not support [types](https://github.com/kubernetes-sigs/service-apis/blob/master/api/v1alpha1/gateway_types.go#L118) for UDP or DTLS. UDP (and DTLS) would be very welcome for supporting non-HTTP L7 protocols, which I discuss a

[2020-06-27 01:27] beriberikix opened #228 "Provide means to expose ALPN protocol names for custom protocols on Routes"
This issue is to capture the notes from a [discussion on slack](https://kubernetes.slack.com/archives/CR0H13KGA/p1593007942248800), thanks to @jpeach! See also #227.

Routes currently support HTTPRoute & TCPRoute. In order to support routes for custom protocols ala FooRoute ) _may_ require changes to the Listeners to expose ALPN protocol names.

Has there been any progress or thought on how routes

[2020-07-01 21:41] robscott commented on #220
I think this has been fixed by https://github.com/kubernetes-sigs/service-apis/pull/198 by simply removing the possibility of an undefined selector. If not, feel free to reopen.

[2020-07-01 21:41] robscott commented on #220
/close

[2020-07-01 21:41] #220 closed

[2020-07-01 21:56] robscott commented on #218
I think this was fixed by https://github.com/kubernetes-sigs/service-apis/pull/215. Feel free to reopen if not.

/closer

[2020-07-01 21:57] robscott commented on #218
/close

[2020-07-01 21:57] #218 closed

[2020-07-01 22:24] #202 closed

[2020-07-02 01:38] jpeach commented on #224
Yes, I think so.

The main one is to define what happens with resolving selectors and resource references (as you list above).

[2020-07-02 16:23] mark-church opened #229 "GatewayClass Versioning"
While the Gateway API itself has a version within the `networking.x-k8s.io` API group, there is no per-implementation versioning that exists. If the GW API was a single implementation inside the K8s codebase then this would be fine as the API version would refer to the spec and the implementation. In this case the `apiVersion` refers to the version of the specification but not the implementation.

[2020-07-07 11:55] SantoDE opened #230 "namespaceSelector wrong in Gateway examples?"
**What happened**:
Tried to apply the current examples on a k3d.

[code]

**What you expected to happen**:
That it works ;-)

**How to reproduce it (as minimally and precisely as possible)**:
Try to apply the examples.

**Anything else we need to know?**:
I figured that a definition like

[code]

works. Now my question is, are the examples out-of-date or is there something wrong with the spec? To

[2020-07-07 18:54] akutz opened #231 "Support for v1alpha0"
**What would you like to be added**:
I reached out to @robscott on Slack to ask when this project might lock/release v1alpha1 -- in other words, when will v1alpha1 no longer be a moving target, subject to possibly breaking changes? Rob indicated there has been discussion about possibly tagging v1alpha1 in Q3 or Q4 of this year (2020). Even though the project is still in alpha, the CRDs *are* usefu

[2020-07-07 19:21] robscott commented on #231
Thanks for starting this discussion! I think the current state of the repo is confusing at a minimum. We've been using the `v1alpha1` version despite not actually releasing a final `v1alpha1` API. Anyone browsing this repository could easily assume that this represents our `v1alpha1` release. I'd personally prefer transitioning to `v1alpha0` on the main branch until we actually reach a point we're

[2020-07-07 19:29] akutz commented on #231
Hi @robscott,

Thank you for such a fast and thoughtful response!

To be super clear, it's not a commit issue so much as it is the CRDs. I agree that even setting the main branch to `v1alpha0` is better than what we have today, because this gives us a clear upgrade path from _something_ to `v1alpha1`. As it is, anyone publishing resources from today's CRDs are potentially in for a bad time when `v

[2020-07-07 23:52] robscott commented on #230
Thanks for raising this issue, we've not been good at keeping the examples up to date as we update the API. @jpeach has raised a PR that should help us catch this earlier in the future: https://github.com/kubernetes-sigs/service-apis/pull/201

[2020-07-08 07:16] SantoDE commented on #230
Thanks. The PR looks good to me. Shall I raise a PR to fix the examples @robscott? Would that help?

[2020-07-08 19:03] #61 closed

[2020-07-08 22:08] #230 closed

[2020-07-08 22:43] evankanderson commented on #114
@hbagdi

Hi, I had a chance to read the extension points document [in this comment](https://github.com/kubernetes-sigs/service-apis/issues/114#issuecomment-642934321).

Unfortunately, it looks like the answer suggested in that doc is that access control is a custom `extensionRef`, which means that it will have all the same problems that the v1beta1 Ingress had -- inconsistent implementations and a

[2020-07-08 23:05] robscott commented on #230
Hey @SantoDE, I actually already had something in the works to deal with this so I just finished it up today, thanks for the offer though! There ended up being more examples that were out of date as well. Thanks for catching this!

[2020-07-09 10:10] jmprusi commented on #114
I think there are some situations where you want to add additional metadata to the authorization requests that aren't available in the original request. (In this case, the extensionRef can even point to a config map with some key/values that could include, for example, tenant, environment, tier,etc.. )

That's a good point too! :)

I agree that this can be solved in multiple ways: extensionRef, a

[2020-07-09 18:13] bowei commented on #229
(Discussion during the meeting)

Seems like it can be supported by encoding the version into the controller string:

e.g.

[code]

[2020-07-09 22:48] hbagdi commented on #114
Great points here @jmprusi and @evankanderson.
Please take a look at the following proposal:
https://docs.google.com/document/d/1SkTb6ECuiQiayvumdsZ3sxDcXD6cYs-DKB_C81Ajvh4/edit
Look for the section "Option 2: Extending custom functionality" which shows how such an extension point would work in the API.

The overall theme for this API is to allow for custom implementations to extend when required

[2020-07-09 22:48] hbagdi commented on #114
/assign

[2020-07-09 23:26] #225 closed

[2020-07-11 01:35] jpeach opened #234 "Describe how L4-only or L7-only implementations would conform."
Some infrastructure will only be be able to implement the L4 or L7 parts of the spec. I think that this is a reasonable choice and still provides a valuable implementation.

The spec language should discuss this explicitly, and perhaps give guidance on how these kinds of implementations should express their capabilities (maybe some specific error signaling).

[2020-07-11 01:48] jpeach opened #235 "Codegen verification doesn't work with Go modules."
**What happened**:

[code]

**What you expected to happen**:

`make verify` should pass.

**How to reproduce it (as minimally and precisely as possible)**:

Clone the repo to a path outside $GOPATH/src and run `make verify`.

The problem appears to be that I'm depending on Go modules and have not cloned the git repository into by `$GOPATH`.

[2020-07-11 01:48] jpeach commented on #235
/kind bug
/cc @howardjohn

[2020-07-11 01:51] howardjohn commented on #235
Does that file exist? I wonder if maybe it fails like that if the file doesn't exist in the first place somehow?

[2020-07-11 01:54] jpeach commented on #235
Right, the file doesn't exist. It looks like the verification expects the files in $GOPATH and doesn't know about Go modules. My git repo is not in $GOPATH.

[2020-07-11 01:55] howardjohn commented on #235
Oh got it, I read the issue wrong and thought you said inside GOPATH not outside. I'll take a look

[2020-07-11 01:57] jpeach commented on #235
Thanks! I clarified the problem description :)

[2020-07-12 18:32] bowei commented on #131
/remove-lifecycle stale

[2020-07-13 16:27] bowei commented on #139
/remove-lifecycle stale

[2020-07-14 00:46] jpeach commented on #139
Closing since Listeners don't have names any more.

[2020-07-14 00:46] #139 closed

[2020-07-23 16:57] bowei commented on #231
@akutz -- if we expect significant usage of the stuff that is public now, I would simply launch as `v1alpha2` (very little impact on all I would think)
Going backwards in time is pretty painful.
What do you think?

[2020-07-27 18:31] robscott commented on #118
/remove-lifecycle rotten

[2020-07-27 18:31] robscott commented on #118
/reopen

[2020-07-29 21:26] #58 closed

[2020-07-29 21:43] robscott commented on #170
/remove-lifecycle stale

[2020-07-30 01:49] jpeach opened #243 "Rename `PathType` field to `PathMatchType` for consistency."
The `HTTPRouteMatch` struct has a`PathType` field for describing how to match the path, but a `headerMatchType` field to describe how to match the headers. We should align this terminology.

[2020-07-30 01:49] jpeach commented on #243
/assign

[2020-07-30 01:50] jpeach commented on #243
Needs to be rebased onto #242

[2020-07-30 22:15] robscott opened #245 "Limit Disruptive GatewayClass Changes"
As I've been exploring [conflict resolution](https://docs.google.com/document/d/1ArLzUF_oJr3jV-fhXKfaEBsvRXW-6p6UuaB9FGuosIg/edit) one of the guiding principles that has emerged is to "not break things that are currently working." As the API is currently configured, changes to GatewayClass and its associated parameters have the potential to be very disruptive. A change to a GatewayClass parameter

[2020-07-30 23:27] akutz commented on #245
What does `StorageClass` do?

[2020-07-31 00:49] jpeach commented on #228
Some examples of non-HTTP ALPN usage:

* https://aws.amazon.com/blogs/iot/mqtt-with-tls-client-authentication-on-port-443-why-it-is-useful-and-how-it-works/
* https://tools.ietf.org/html/rfc7443

[2020-07-31 01:31] jpeach commented on #245
IIRC the original concept for using GatewayClass was that you would have a small number of classes pre-provisioned in the cluster. I think these were thought about as being largely static handles to infrastructure, so the default policy of "trust users to not break things" was more clearly a reasonable approach.

I think that there are a couple of dimensions to this problem.

1. Changes in paramet

[2020-07-31 02:22] jpeach commented on #234
I think that there are enough designated condition types for an implementation to express that it only supports L4 or L7 relatively clearly.

* an L4 implementation that doesn't support HTTPS can raise a `ConditionUnsupportedProtocol` condition if that protocol is used
* an implementation that can't support a TCPRoute or HTTPRoute can raise a `ConditionInvalidRoutes` condition and give more detail

[2020-07-31 05:45] #243 closed

[2020-07-31 06:03] #122 closed

[2020-07-31 06:37] robscott commented on #116
/reopen
/remove-lifecycle rotten

[2020-08-02 20:04] #60 closed

[2020-08-02 22:01] jpeach commented on #74
/reopen
/remove-lifecycle rotten

[2020-08-03 06:35] jpeach commented on #245
xref https://github.com/kubernetes-sigs/service-apis/issues/170

[2020-08-03 22:29] hbagdi commented on #65
/reopen

[2020-08-05 22:43] jpeach commented on #122
/reopen /remove-lifecycle rotten

We can probably address this user story by some contextual paragraph in the documentation.

[2020-08-06 00:35] robscott commented on #55
I believe @hbagdi's PR https://github.com/kubernetes-sigs/service-apis/pull/249 fixes this.
/remove-lifecycle stale

[2020-08-06 05:38] robscott opened #254 "Default PathType match should be prefix"
The current default behavior for PathType matching is `/` + `Exact`. I think it would be preferable to default to `Prefix` as the path type matching so by default a rule matches all requests. This would make it easier to initially set up a Gateway + Route combination that routed requests to all paths to a Service. I believe this would also more closely match user expectations when interacting with

[2020-08-06 05:45] robscott opened #255 "Default HTTPRouteHost should be removed from HTTPRoute"
Since it will be common for Gateways to reference multiple Routes, there's significant potential for messy conflicts. If multiple Routes define a default there does not seem to be an obvious way to choose which default should be applied. This functionality can easily be replicated by a new route rule that matches `/` with a `Prefix` type, potentially the default if #254 makes sense. I think as we'

[2020-08-06 18:27] jpeach commented on #254
Yep, I agree that exactly matching `/` is a pretty unintuitive default :)

[2020-08-07 16:40] hbagdi commented on #255
+1 to this change.

The default HTTPRouteHost is similar to Ingress v1's default backend, which has caused this exact problem for implementations which collapse multiple Ingress resources behind a single proxy/Gateway.

[2020-08-07 17:25] robscott commented on #254
Ignore this - just testing:

/milestone v1alpha1

[2020-08-07 19:07] robscott opened #259 "Support Query Param Matching"
**What would you like to be added**:
It may be helpful to extend matching to support query parameters. Although not as common as header matching, this could be useful in some cases.

**Why is this needed**:
From what I can tell, some proxy implementations support query param matching but definitely not all. If we support this it will likely have to be an extended feature.

[2020-08-11 21:51] #254 closed

[2020-08-12 05:55] #255 closed

[2020-08-12 19:30] rosenhouse commented on #66
/remove-lifecycle stale

[2020-08-12 21:07] robscott opened #262 "Support setting a default GatewayClass"
This should mirror [IngressClass behavior](https://kubernetes.io/docs/concepts/services-networking/ingress/#default-ingress-class):

Unfortunately this would mean that we'd need a mutating webhook to implement this.

[2020-08-12 21:09] hbagdi commented on #262
Don't you also need a mutating webhook to inject the default if a class is not set?

[2020-08-12 21:37] robscott commented on #262
🤦 Thanks! That's what I meant to say, updated the original comment so it's more clear now.

[2020-08-13 00:01] jpeach commented on #94
/remove-lifecycle stale

[2020-08-13 00:01] jpeach commented on #90
/remove-lifecycle stale

[2020-08-13 20:35] hbagdi opened #265 "Naming for Filters"
#249 introduces the Filters from the [Actions proposal ](https://docs.google.com/document/d/1SkTb6ECuiQiayvumdsZ3sxDcXD6cYs-DKB_C81Ajvh4/edit).

I've gone [back and forth](https://github.com/kubernetes-sigs/service-apis/pull/249#discussion_r466147246) on the name and we don't have a consensus on what the name should be.

Current proposals:
- Actions
- Addons
- Filters
- Plugins
- <your suggestion

[2020-08-19 04:15] jpeach commented on #20
/remove-lifecycle stale

[2020-08-19 05:42] jpeach commented on #92
Similar to #256, this setting can probably be added to `TLSConfig`

[2020-08-19 06:39] jpeach commented on #265
Once way we could think about this is that an action terminates a chain of processing steps, where each processing step is a filter. That probably doesn't exactly match the configuration vocabulary of any of the proxies out there, but it is easy to explain.

[2020-08-19 17:19] hbagdi commented on #49
@bowei @jpeach @robscott It seems we have settled on this one, can we close this one?

[2020-08-19 17:45] hbagdi commented on #265
This is probably for the best.

[2020-08-20 15:05] jpeach commented on #49
Yup, I'm happy yo close this out.

[2020-08-21 05:49] jpeach commented on #144
`GatewayClassParametersObjectReference` is now aliased to `ConfigMapsDefaultLocalObjectReference`, but the problem here is still present.

/remove-lifecycle rotten
/remove-lifecycle stale

[2020-08-21 05:52] jpeach commented on #144
Ok I read the explanation in https://github.com/kubernetes-sigs/service-apis/pull/183#issuecomment-673109175. Sounds like the intention is that parameters reference here are also cluster-scoped. @robscott WDYT about updating the documentation here? Also, using `ConfigMapsDefaultLocalObjectReference` is still misleading because it would make people think that configmaps are intended to be used here

[2020-08-21 06:00] jpeach opened #269 "Reconsider whether route actions are optional."
In most (all?) of the route types, the action field is optional. It's not clear to me what a proxy should do if the action is omitted. Should it drop the traffic on the floor? Or should the action not really be optional?

[2020-08-21 06:01] jpeach commented on #269
Applies to TCP, UDP and HTTP route types.

[2020-08-21 06:10] jpeach opened #270 "Make all types use status subresources."
We should apply `+kubebuilder:subresource:status` to all the API types so that they are consistent and that we don't have to toggle this later and deal with the downstream effects on controller implementations.

[2020-08-21 06:10] jpeach commented on #270
/assign jpeach

[2020-08-21 06:23] jpeach opened #271 "Add MinItems annotation to route spec fields"
Most of the route types have an array (of rules or hosts) in their spec. We should add the `+kubebuilder:validation:MinItems` annotation to ensure that there is at least one entry in the top-level array.

[2020-08-24 06:48] jpeach opened #272 "ListenerExtensionObjectReference is not used"
**What happened**:

ListenerExtensionObjectReference is not used anywhere. Looks like it was dropped as part of #193 .

**What you expected to happen**:

There should be a way to specify extended semantics for Listeners or Gateways.

[2020-08-24 23:42] hbagdi commented on #141
Is this still an issue or can we close this?

[2020-08-25 03:25] jpeach commented on #141
It's still valid, the docs build generates the `mkdocs` image on demand on every build.

[2020-08-26 01:50] hbagdi commented on #105
/remove-lifecycle stale

[2020-08-26 04:57] jpeach commented on #270
/assign hbagdi

[2020-08-26 23:30] hbagdi commented on #96
/remove-lifecycle stale

[2020-08-27 19:45] hbagdi commented on #270
/close

[2020-08-27 19:45] #270 closed

[2020-08-27 19:47] hbagdi commented on #95
@danehans @robscott @jpeach @bowei Has this issue served its purpose and can it be closed now?

[2020-08-27 19:49] hbagdi commented on #94
This should be now possible with TCPRoute and a TLS listener.
@jpeach Do you think we should close this now?

[2020-08-27 19:51] hbagdi commented on #49
Closing this since we have consensus on this. If you disagree, please feel free to re-open.
/close

[2020-08-27 19:51] #49 closed

[2020-08-27 22:41] akutz commented on #203
+1 to removing the validation. We got bit by this on a fork, whereas otherwise we could have just used `ProtocolType("UDP")` And yes, @jpeach pointed me to https://github.com/kubernetes-sigs/service-apis/pull/239, but that isn't the root problem. Routes are currently flexible and can be anything, but this validation limits protocols to a small set of the potential values people may wish to use.

[2020-08-28 00:40] #55 closed

[2020-08-30 23:55] jpeach commented on #94
Yup, I think we are in good shape here.

[2020-08-30 23:55] #94 closed

[2020-09-01 01:32] robscott commented on #124
I believe this will be addressed by https://github.com/kubernetes-sigs/service-apis/pull/256 and https://github.com/kubernetes-sigs/service-apis/pull/268.

/remove-lifecycle stale

[2020-09-02 05:15] robscott commented on #204
/remove-lifecycle stale

[2020-09-02 18:15] danehans opened #287 "The 'Install' Make target Fails"
**What happened**:
I tried to run `make install` to install the CRD's according to the [dev guide](https://kubernetes-sigs.github.io/service-apis/devguide/) but it failed due to a missing make target.

**What you expected to happen**:
The CRDs to be installed.

**How to reproduce it (as minimally and precisely as possible)**:
run `make install`

**Anything else we need to know?**:
- This appears t

[2020-09-02 20:29] szuecs commented on #206
A while ago I implemented a best match certificate function in our Kube-ingress-aws-controller and so I would like to ask how you would resolve multiple cert matches.
Q1)
Assume you have foo.example.org in the request and you have 2 certificates one for foo.example.org and the other with *.example.org.

Q2)
Assume you have foo.example.org in the request and you have 2 certificates one for foo.exam

[2020-09-02 20:40] szuecs commented on #95
I have another point that was not discussed here, but should be.

As cluster operator I want to set a tls default configuration for gateways.
As developer I have to be able to overwrite the default decision to support my legacy service.

We normally set the strongest as default and let developers weaken in case it’s required for their application for whatever reason.

I think the problem I see is

[2020-09-02 20:47] szuecs commented on #72
/remove-lifecycle stale

[2020-09-02 23:53] hbagdi commented on #65
/remove-lifecycle rotten
/reopen

[2020-09-03 04:27] robscott commented on #197
@howardjohn I think 1 is mostly solved now that route selectors include a Kind. I think the second issue may be at least helped by https://github.com/kubernetes-sigs/service-apis/pull/285. Since there's a lot going on in this issue do you mind closing this one and creating new issues for anything that hasn't already been addressed?

[2020-09-03 04:34] robscott opened #290 "All lists, maps, and strings should have a max length specified"
These can be relatively high, we just need to enforce some kind of upper limit here. We can always raise these values in future releases.

[2020-09-03 04:35] robscott opened #291 "API types should appear in order they are referenced"
This is a small thing but will simplify API reviews in the future. For example, Gateway should be followed immediately by Listener.

[2020-09-03 04:40] robscott opened #292 "ConfigMap defaults for extension refs are confusing"
I'm not sure what a config map extension would look like, but I don't think it's a great default here. It doesn't feel quite as intuitive or obvious as our other defaults. Defaulting to Secret refs for certificates or Services for forwarding generally seems to line up with the most common use of those refs. I don't think that's true for config maps and extension refs.

[2020-09-03 04:52] robscott opened #293 "Clarify why we're using resource instead of kind in object references"
In my experience, references using a kind field are much more common than a resource field. I think this is going to result in a confusing user experience when getting started with this API. I'm not exactly sure where it belongs, but it would be good to document why we're doing this. As I understand it, the motivation comes from the 4th item in the list added here: https://github.com/kubernetes/ku

[2020-09-03 06:04] robscott commented on #287
Fixed by #288
/close

[2020-09-03 06:04] #287 closed

[2020-09-03 06:06] robscott opened #295 "Makefiles should be merged and cleaned up"
We currently have 2 makefiles, the standard `Makefile` and `kubebuilder.mk`. Although I think the original motivation was to keep consistent with kubebuilder, we've long since diverged from that pattern. This separation has resulted in a number of bugs that I think could've been easier to catch if we had a single, simpler makefile without all the cross references.

[2020-09-03 06:07] robscott opened #296 "Code generation was accidentally removed from makefile"
`make generate` should update generated code - it doesn't anymore. This immediate issue will be fixed by
 https://github.com/kubernetes-sigs/service-apis/pull/263. Ideally a full fix would also tackle https://github.com/kubernetes-sigs/service-apis/issues/295.

[2020-09-03 17:42] eth0xFEED commented on #291
/assign

[2020-09-03 17:44] robscott commented on #293
/assign @Miciah

[2020-09-03 18:11] robscott commented on #295
/assign @hbagdi

[2020-09-04 00:42] robscott commented on #176
I think this has actually been resolved now. We have both `NamedAddress` and `IPAddress` as types. I don't think we have any reason to differentiate between IPv4 and IPv6 addresses. Feel free to reopen if I missed anything though.

/close

[2020-09-04 00:43] #176 closed

[2020-09-04 02:27] jpeach commented on #67
/remove-lifecycle rotten

This probably still needs some explanatory text.

[2020-09-04 02:27] jpeach commented on #67
/remove-lifecycle stale

[2020-09-04 02:28] jpeach commented on #157
/remove-lifecycle rotten

[2020-09-04 02:31] jpeach commented on #103
/remove-lifecycle stale

[2020-09-04 02:31] jpeach commented on #88
/remove-lifecycle stale

[2020-09-04 02:34] jpeach commented on #205
/remove-lifecycle stale

Not stale, but also not for v1alpha1.

[2020-09-04 02:38] jpeach commented on #206
The Listener docs specify that these should be matched from most to least specific. `foo.example.org` is more specific than a wildcard, so it matches first.

https://github.com/kubernetes-sigs/service-apis/blob/master/apis/v1alpha1/gateway_types.go#L74-L80

AFAIK this isn't addressed anywhere in the API, so it's implementation-specific.

[2020-09-04 02:40] jpeach commented on #95
For some sites, many of these cases can be implemented by admission controllers such as Gatekeeper. There are some policy mechanisms in the API, but it's not going to be able to capture all the policy needs.

[2020-09-04 02:41] jpeach commented on #95
I think that we need some editorial to put the available options into context.

[2020-09-04 12:52] szuecs commented on #206
Thanks for the answers!

[2020-09-04 13:01] szuecs commented on #95
For me default would be a flag to a controller that can be overridden by configuration. We use this pattern in all our controllers successfully since years. Especially in kube-ingress-aws-controller that creates cloud load balancers this pattern is used for all possible configurations.

[2020-09-05 03:34] jpeach commented on #296
@robscott Can you post a PR with just the codegen fix so that we can land it immediately?

[2020-09-05 04:21] jpeach commented on #296
OK I spent about an hour trying to get the `./hack/update-codegen` script to work. If you use Go modules (and don't put your git repo in the traditional $GOPATH location), it always outputs to the $GOPATH directory. In the past I've been able to get `controller-gen` to work correctly.

We probably should just switch back to `controller-gen` and ditch `update-codegen`. If you run each generator man

[2020-09-06 00:29] jpeach commented on #180
I think that this is better specified now.

[2020-09-06 00:29] #180 closed

[2020-09-06 00:31] jpeach commented on #174
/remove-lifecycle rotten

This issue needs to be re-triaged as the API has changed substantially.

[2020-09-08 17:01] #296 closed

[2020-09-08 21:43] jpeach commented on #189
/remove-lifecycle rotten
/hold

[2020-09-08 21:44] jpeach commented on #189
/lifecycle frozen

[2020-09-09 07:13] jpeach commented on #295
Fixed in #301

[2020-09-09 07:13] #295 closed

[2020-09-09 07:14] jpeach commented on #235
`verify-codegen` doesn't generate client sets since #301 so this is no longer an issue.

[2020-09-09 07:14] #235 closed

[2020-09-09 07:20] jpeach opened #304 "Standardize the status structure across route types"
The `HTTPRouteStatus` is different from the status fields of other route types. It probably make sense for all the types to have the same status fields (or at least for all the types to have the `RouteGatewayStatus` field to hold the `Admitted` condition).

[2020-09-09 21:28] howardjohn opened #306 "Investigate HTTPFilter extensions"
Context https://github.com/kubernetes-sigs/service-apis/pull/276#discussion_r485925638

Filters like Mirror or Headers are not too hard to find ways implementations may extend, such as percentage of mirroring, or "set" header instead of add, etc. Currently there is no way to extend these short of defining a completely new custom filter.

[2020-09-09 21:47] hbagdi opened #307 "Rename filters for user experience"
Filters are named such as 'requestHeader' and 'requestMirror' which make sense internally in the package but can be confusing for a user using our CRDs.

More context: https://github.com/kubernetes-sigs/service-apis/pull/276#discussion_r485273444

[2020-09-09 22:34] bowei commented on #62
/close

[2020-09-09 22:34] #62 closed

[2020-09-09 22:35] bowei commented on #175
/remove-lifecycle

@yiyangy -- has this been addressed in the documentation?

[2020-09-09 23:29] yiyangy commented on #175
"Default" field has been removed from HTTPRouteSpec by #258.

[2020-09-09 23:38] hbagdi commented on #175
Closing because this is no longer an issue. Pleaes re-open if otherwise.
/close

[2020-09-09 23:38] #175 closed

[2020-09-10 00:34] jpeach commented on #37
/remove-lifecycle stale

Removing stale for now. I wonder whether it might be better to address this use case with some sort of controller that automatically generates routes from a service selector, rather than opening the regex can of worms ...

[2020-09-10 00:49] hbagdi commented on #137
Please re-open if needed.
/close

[2020-09-10 00:49] #137 closed

[2020-09-10 01:30] hbagdi commented on #290
/assign

[2020-09-10 01:31] hbagdi commented on #271
/assign

[2020-09-10 01:56] jpeach commented on #213
/remove-lifecycle stale

[2020-09-10 01:57] jpeach commented on #190
/remove-lifecycle stale

[2020-09-10 02:03] jpeach commented on #196
/remove-lifecycle stale

[2020-09-10 02:03] jpeach commented on #37
/remove-lifecycle stale

[2020-09-10 02:04] jpeach commented on #200
/remove-lifecycle stale

[2020-09-10 02:31] howardjohn commented on #79
We got rid of protos

[2020-09-10 02:31] #79 closed

[2020-09-10 04:03] #304 closed

[2020-09-10 23:08] hbagdi opened #311 "Standardize selector fields in the API"
**What would you like to be added**:

Label selectors are present in a few places in the API. The names are not defined as defined in upstream k8s APIs.
This issues stems from: https://github.com/kubernetes-sigs/service-apis/pull/285#discussion_r486661928

**Why is this needed**:
We should fix this for good user experience.

[2020-09-11 00:05] danehans opened #313 "Provide Consistent Status Conditions Defaulting"
**What would you like to be added**:
Consistent status condition defaults for resources.

**Why is this needed**:
Improve user/dev experience. See https://github.com/kubernetes-sigs/service-apis/pull/308 for additional details.

[2020-09-11 04:49] hbagdi commented on #269
@robscott @jpeach We have gone back and forth on this one. #312 does some renaming and keeps the forward optional. I think we have found use cases like path/host redirection or HTTP redirection where it makes sense to have the forwarding target as empty.
I might be stating the opposite here, in which case, let's discuss more on this issue.
If not, we might able to close this issue.

[2020-09-11 13:01] nielsbasjes opened #326 "GEP: Gateway API should support basic rate limiting (aka throttling) per (sub)path."
See also: https://github.com/kubernetes/ingress-nginx/issues/6011
**What would you like to be added**:

I would like to be able to have rate limiting (throttling) as part of the standard way of defining an Ingress.
By having this a part of the api the various backends can start implementing support for it.

**Why is this needed**:

In general there is a need for limiting the rate at which requests

[2020-09-11 14:36] howardjohn commented on #326
cc @mandarjog @gargnupur

[2020-09-11 14:47] gargnupur commented on #326
This would be good to have..  In the ratelimits section, it would be good to add support for generic keys too, so that custom attributes in ingress can be used for ratelimiting..

[2020-09-11 18:17] #291 closed

[2020-09-11 18:41] eth0xFEED commented on #292
/assign

[2020-09-11 19:05] hbagdi commented on #326
Thanks for the issue, @nielsbasjes .

Rate-limiting is indeed a very common use-case that is tackled at the Ingress layer and most implementations have support for it. The catch here is that rate-limiting is an extremely nuanced area. It is very uncommon for different rate-limit implementations to have the exact same behavior.

The purpose of the service-apis is to design an API that can be implem

[2020-09-12 02:46] #136 closed

[2020-09-12 23:15] hbagdi commented on #97
/remove-lifecycle rotten

[2020-09-13 21:36] jpeach commented on #99
/remove-lifecycle stale

[2020-09-13 21:36] jpeach commented on #99
/lifecycle frozen

[2020-09-14 05:38] jpeach commented on #178
Protobuf generation was removed, so this issue is no longer needed.

/close

[2020-09-14 05:38] #178 closed

[2020-09-15 16:46] #292 closed

[2020-09-16 15:08] nielsbasjes commented on #326
I had a look at this Filters feature and (although I do not yet fully understand how it should work) it seems like a generic solution to handle variation in the available backends.

The downside I see is that it may be too generic:  will it create a multitude of configurations each specific for the actual implementation used?
So where we now have a single "Ingress" which works with all backends; i

[2020-09-16 15:14] hbagdi commented on #91
/remove-lifecycle rotten

#268 should close this.

[2020-09-16 15:31] hbagdi commented on #36
The working group seems to have leaning towards CRDs for this purpose and keep away from RawExtensions.

@jpeach  @ironcladlou @danehans @robscott Do we need more discussions here or is it okay to close this?

[2020-09-16 16:19] bowei commented on #36
This feels like we can close this for now.
The topic will definitely come back up in feedback for v1alpha1.

[2020-09-16 20:46] hbagdi opened #330 "Allow dot (.) in GatewayClass.Spec.Controller"
**What would you like to be added**:

The controller implementing the GatewayClass might have different behavior based on the version of controller.
Having a `.` character could be helpful here.

Background for the conversation: https://github.com/kubernetes-sigs/service-apis/pull/327#discussion_r488200741

[2020-09-16 21:46] #229 closed

[2020-09-16 22:02] #144 closed

[2020-09-16 22:09] Miciah commented on #293
Related: https://github.com/kubernetes/community/pull/4705

[2020-09-17 00:47] robscott commented on #269
I think we can close this issue now that #312 is in, feel free to reopen if we need more discussion here.

/close

[2020-09-17 00:47] #269 closed

[2020-09-17 00:53] robscott opened #331 "Add documentation covering TLS configuration"
This documentation should include diagrams and examples. It should describe the purpose of TLS configuration on each resource and the server vs client roles here.

[2020-09-17 00:55] robscott opened #332 "Add a User Guide to documentation"
This should include a walkthrough of how to use this API that is generic enough to work with all implementations.

[2020-09-17 01:00] robscott opened #333 "Add examples to documentation"
At a minimum, these examples should cover:

- [x] a simple GatewayClass, Gateway, HTTPRoute*
- [x] a Gateway that targets routes in multiple namespaces*
- [x] an example of TLS configuration
- [ ] working with other route types like TCPRoute or TLSRoute

We should try to embed existing examples from the repo instead of creating new ones.

`*` = must haves for v1alpha1 release

[2020-09-17 01:02] robscott opened #334 "Update feedback page"
This should primarily involve removing `TODO` and providing better guidance on when/how to file an issue. It would also be good to include a reference to our Slack channel.

[2020-09-17 01:05] robscott opened #335 "Add FAQs to documentation"
Some starting ideas:

- What implementations support Service APIs?

- Are Service APIs going to replace the Ingress API?

- How do I get involved?

[2020-09-17 17:38] eth0xFEED commented on #334
/assign

[2020-09-17 18:27] hbagdi opened #337 "HTTP Path/Header match order documentation"
**What happened**:

The documentation on most specific match for path and header matching within a hostname is missing.

**What you expected to happen**:

It should be documented.

**How to reproduce it (as minimally and precisely as possible)**:

**Anything else we need to know?**:

Ingress v1 defines path matching priority and we should largely adopt it.
https://github.com/kubernetes/enhancement

[2020-09-20 05:22] jpeach commented on #92
/remove-lifecycle rotten

[2020-09-20 05:43] jpeach opened #339 "Client codegen doesn't work with Go modules"
**What happened**:

Run `.hack/update-codegen.sh`. Notice that it puts the generated code in `~/go/src/sigs.k8s.io/service-apis`, not my actual git repository.

**What you expected to happen**:

It should update the generated code in my git workspace, wherever that is. Note that deepcopy functions are also generated by `controller-gen` which does work with Go modules. Unfortunately `controller-gen

[2020-09-20 05:44] jpeach commented on #56
/remove-lifecycle rotten
/lifecycle frozen

this is still a good idea

[2020-09-20 05:52] jpeach commented on #223
/remove-lifecycle stale

[2020-09-21 07:00] sudswasavi commented on #272
A good use case for this seems to be network security policies applicable on a per gateway.

[2020-09-21 18:24] danehans commented on #271
similar issue: https://github.com/kubernetes-sigs/service-apis/issues/290
pr xref: https://github.com/kubernetes-sigs/service-apis/pull/336

[2020-09-22 02:39] #164 closed

[2020-09-23 05:34] jpeach opened #342 "Investigate patch merge types annotations for conditions"
Condition slices should get the following merge annotations:

[code]

However, this doesn't seem to result in any changes to the CRD. Investigate and fix (if possible).

[2020-09-23 05:37] jpeach commented on #339
[code]

Ugh

[2020-09-23 05:50] robscott commented on #339
Sorry I haven't paid more attention to this, I'm still living within the comfortable bounds of GOPATH. If I understand the issue correctly, it's not necessarily Go modules, this is just fundamentally broken if your project doesn't exist in the expected place in GOPATH? It looks like the [same issue exists upstream](https://github.com/kubernetes/kubernetes/issues/86753), but I'm not super familiar

[2020-09-23 05:57] jpeach commented on #339
Right. Modules are meant to lift GOPATH restrictions (and do in general). I'll update the script to hack around this, but probably next week.

[2020-09-23 17:06] hbagdi opened #343 "OnlySameNamespace defautling to true needs to be reconsidered"
Currently inside the RouteNamespaces struct is as follows:

[code]

Currently this is in GatewayClass but is being moved to Gateway with #285.

The problem here is that we are resorting to `true` by default design with OnlySameNamespace being. True by default is usually not the most friendly API for the end user.

We should reconsider and make sure if we really want to do this.

[2020-09-23 17:06] hbagdi commented on #343
/cc @robscott @jpeach @bowei @danehans

[2020-09-24 22:29] #103 closed

[2020-09-24 22:54] hbagdi commented on #105
Since Gateway can live in one namespace and TLS can be defined at the Gateway layer, I think this can be closed.

@Miciah @robscott @bowei @jpeach Thoughts?

[2020-09-24 22:57] hbagdi commented on #96
All of this is now possible using TCPRoute, TLSRoute and `mode` property inside Listeners in Gateway.
/close

[2020-09-24 22:57] #96 closed

[2020-09-24 22:58] hbagdi commented on #90
@jpeach With #281 merged in, is it safe to close this one?

[2020-09-24 22:59] hbagdi commented on #74
I believe this is all documented in Go doc comments. Is it safe to close this?

[2020-09-24 23:00] hbagdi commented on #124
@danehans Given the state of the API now, do you think it is safe to close this?

[2020-09-24 23:01] hbagdi commented on #52
@danehans @bowei @jpeach @robscott With the current state of the API, is it safe to close this?

[2020-09-24 23:02] hbagdi commented on #92
It is now possible to configure version specific requirement in the `Options` map. Is that sufficient for this use case, @jpeach ?

[2020-09-24 23:03] hbagdi commented on #123
@danehans With #256 merged in, is it safe to close this?

[2020-09-24 23:05] hbagdi commented on #203
ProtocolType is now a `string` and allows for arbitrary protocols:
https://github.com/kubernetes-sigs/service-apis/blob/master/apis/v1alpha1/gateway_types.go#L146-L164

Please re-open if I'm misinterpreting the issue.
/close

[2020-09-24 23:07] hbagdi commented on #227
UDP support has been merged in.
I don't we have any plans for DTLS. Maybe we can have that implemented in the custom space and if there is convergence, we can move it into extended/core space.

Should we close this?
@robscott @jpeach @bowei WDYT?

[2020-09-24 23:08] hbagdi commented on #224
I think we are settled on this one. Is it safe to close this?

[2020-09-24 23:11] hbagdi commented on #131
I thought TCPRout was more fleshed out but all we have in `TCPRouteMatch` is an extensionRef.

@akutz I'm assuming you meant this one. Do you have any ideas on what you wish to see here?

[2020-09-24 23:13] hbagdi commented on #129
HeaderMatchType of "ImplementationSpecific" can now achieve this.

Given the variety of regex engines that exist in implementations, it is unlikely that this will make into the core API.
Please re-open if needed.
/close

[2020-09-24 23:13] #129 closed

[2020-09-24 23:17] robscott opened #345 "License Header Copyright"
I'm not sure if it makes a difference, but most projects in the kubernetes or kubernetes-sigs include `Copyright 2020 The Kubernetes Authors.` in the license header. This seems like something we should add unless it was intentionally excluded.

Example: https://github.com/kubernetes-sigs/cluster-api/blob/master/bootstrap/kubeadm/api/v1alpha3/condition_consts.go#L2

[2020-09-24 23:19] hbagdi commented on #116
gatewayClassName is a required field and so we should not have this problem now.
@jpeach, is that sufficient?

[2020-09-24 23:21] hbagdi commented on #245
With #285 merged in, I think we have a better story now.
@robscott @jpeach Safe to close this one?

[2020-09-24 23:22] hbagdi commented on #265
I believe we are settled for now. Filters is the name we have settled on.

Please re-open if needed.
/close

[2020-09-24 23:22] robscott commented on #245
Agreed. I think we've mitigated this pretty well now.

[2020-09-24 23:22] #245 closed

[2020-09-24 23:22] #265 closed

[2020-09-24 23:23] akutz commented on #131
I think this can be closed based on #236.

[2020-09-24 23:23] #131 closed

[2020-09-24 23:24] hbagdi commented on #66
@rosenhouse Can you take a look at the schemas for Gateway and TCPRotue resources? I believe the schema now allows for the use case described above.

[2020-09-24 23:32] hbagdi commented on #197
ping @howardjohn

[2020-09-24 23:36] hbagdi commented on #162
@danehans @jpeach  Is this safe to close now?

[2020-09-24 23:39] robscott commented on #65
Determined this is an implementation-specific detail for now.
/close

[2020-09-24 23:39] #65 closed

[2020-09-24 23:40] robscott commented on #88
Closing now that Gateway Route Selection includes kind/resource.

[2020-09-24 23:40] #88 closed

[2020-09-24 23:42] robscott commented on #157
Now that we have more protocols supported I think this is more clear, feel free to reopen if not.

[2020-09-24 23:42] #157 closed

[2020-09-24 23:44] howardjohn opened #346 "Validate examples against CRD schema"
Currently our examples fall out of date pretty quickly. We should validate these against the CRD schema. As a side effect, this will allow us to see awkward validation logic in the PR.

I could not find any tools to do this (aside from a real cluster). I tried to write one: https://github.com/istio/istio/blob/df7c20c2a261fa08dd93c9e09e65dd973a30c454/pkg/config/crd/validator.go#L66 and got really c

[2020-09-24 23:46] robscott commented on #311
Prefer to have selector in name for fields.

[2020-09-24 23:46] robscott commented on #311
/assign @hbagdi

[2020-09-24 23:50] robscott commented on #210
may be fixed by changing
`type ForwardToTargetObjectReference = ServicesDefaultLocalObjectReference`
to
`type ForwardToTargetObjectReference ServicesDefaultLocalObjectReference`

[2020-09-24 23:56] robscott commented on #72
@jpeach Do we still need to do anything here or did the Gateway restructuring help? If so, what would we need for v1alpha1?

[2020-09-24 23:57] robscott commented on #72
Consensus seems to be we need to add some documentation here.

[2020-09-25 00:07] robscott commented on #170
/assign @hbagdi

[2020-09-25 00:29] hbagdi commented on #271
I think Rob took this over so
/assign @robscott

[2020-09-25 00:31] hbagdi commented on #67
There seems to be consensus that `hostname` field is not going to be unique.
There are conflicts possible at the Gateway listeners level and guidance for that has been added already.
Closing this but please re-open if needed.
/close

[2020-09-25 00:31] #67 closed

[2020-09-25 00:35] hbagdi commented on #83
@M00nF1sh I believe this is now resolved with Listeners on Gateway resource. Please re-open if needed.
/close

[2020-09-25 00:35] #83 closed

[2020-09-25 00:44] robscott commented on #224
Agreed, thanks for the reminder.

[2020-09-25 00:44] #224 closed

[2020-09-25 00:44] robscott commented on #74
I believe so as well, feel free to reopen if not.

[2020-09-25 00:44] #74 closed

[2020-09-25 01:09] robscott commented on #231
Sorry I missed following up on this one. I know we'd discussed it in a couple meetings when the issue was raised and likely also on Slack but unfortunately the conclusion never made it back here. If I'm remembering correctly, the suggestion was that a fork was more appropriate here since we couldn't find a precedent for a `v1alpha0` version. I could be missing some details on that. We're _very_ cl

[2020-09-25 01:09] #231 closed

[2020-09-25 20:33] robscott commented on #293
I think my preference here is to switch back to using `kind` for object references until there's more consensus in the community around `resource`. This feels like something that will be easier for users to understand and lines up with how other references in Kubernetes already work. Interested in thoughts from others though.

/cc @Miciah @bowei @danehans @hbagdi @jpeach

[2020-09-25 21:51] jpeach commented on #293
Resource names are better for controller authors because you don't have to map from the kind to the resource. Users will probably be more familiar with the kind though.

[2020-09-26 00:25] robscott opened #348 "HostnameMatch should probably default to Domain instead of Exact"
@jpeach do you happen to remember if we had a reason for the `Exact` default here? I can't remember why we did this. More context here: https://github.com/kubernetes-sigs/service-apis/pull/336#discussion_r492272218.

[2020-09-26 00:47] jpeach commented on #348
I think the defaults are correct as they are. If you omit the `Listener.Hostname` field, the default is "Any", which matches any requested hostname. If you specify this field, then the default for the struct is `Exact` so you only have so specify the exact hostname to match (I expect this to be the most common usage).

I don't think that we should default `HostnameMatch.Match` to "Any" because it'

[2020-09-26 00:50] robscott commented on #348
I agree that `Any` doesn't make sense as a default here, but I can see an argument for `Domain` as a default. Do you think there's a compelling reason to choose `Exact` matching as the default instead of the more lenient `Domain` match?

[2020-09-26 00:55] jpeach commented on #348
Domain creates ambiguity with certificates (bad for operators) and encourages wildcards (bad for the ecosystem). I also expect that domain matching is also a less common need than exposing a specific hostname.

[2020-09-26 01:13] robscott commented on #348
👍 That seems reasonable enough as long as we make it clear for users what our defaults are. I'll close this for now, anyone can feel free to reopen to discuss further.

[2020-09-26 01:13] #348 closed

[2020-09-26 01:17] robscott commented on #348
Copying Daneyon and Harry before I resolve related feedback on API cleanup PR.

/cc @danehans @hbagdi

[2020-09-26 01:21] robscott opened #349 "HTTPRequestMirrorFilter needs webhook validation"
We need to be able to ensure that only one filter is set at a time in this type.

[2020-09-26 23:48] jpeach commented on #162
/assign
/lifecycle-remove rotten

I'll reference this when I update the route conditions.

[2020-09-26 23:59] jpeach commented on #343
One of these fields has to be set. I don't know that there is a reasonable default for `NamespaceSelector`, so `OnlySameNamespace` has to be defaulted.

However, maybe we should default this at the usage site rather than in the type itself?

[2020-09-27 00:28] jpeach commented on #116
yup

/close

[2020-09-27 00:28] #116 closed

[2020-09-27 00:29] jpeach commented on #203
/reopen

ProtocolType is still an enum

https://github.com/kubernetes-sigs/service-apis/blob/master/apis/v1alpha1/gateway_types.go#L296-L305

[2020-09-27 00:34] jpeach commented on #92
Yup, let's see how it goes.

/close

[2020-09-27 00:34] #92 closed

[2020-09-27 04:48] jpeach commented on #339
I switched back to GOPATH and found that the codegen script fails with the error above because the modules it depends on aren't vendored.

#344

[2020-09-28 20:25] robscott opened #354 "Specify Printer Columns"
We can use kubebuilder annotations to specify additional columns to print with `kubectl get` requests. Although many of our resources use structs and lists that don't work well with this, `GatewayClass.controller` is one great example of a field we should add. https://book.kubebuilder.io/reference/generating-crd.html#additional-printer-columns

[2020-09-29 16:38] danehans opened #355 "Rename Matches to Match"
**What would you like to be added**:
I would like to rename field `matches` to `match`.

**Why is this needed**:
It reads better and other examples in the APIs where a singular field name is used for a list.

__Current__
[code]

__Proposed:__
[code]

[2020-09-29 16:45] danehans opened #356 "Rename GatewayClassName Field to GatewayClass"
**What would you like to be added**:
Rename `GatewayClassName` field to `GatewayClass` in `Gateway` API.

**Why is this needed**:
Brevity and a `GatewayClass` is cluster-scoped so it can be implied that `GatewayClass` is a name and not a namespaced name.

__Current:__
[code]

__Proposed:___
[code]

[2020-09-29 18:15] robscott commented on #356
@danehans Although I agree the name is overly verbose, it is that way to match the precedent set with [StorageClassName](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/storage/types.go#L537), [RuntimeClassName](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/core/types.go#L2829), and [IngressClassName](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/netwo

[2020-09-29 18:16] hbagdi commented on #293
+1 for `kind` because end users are more familiar with it.

[2020-09-29 18:19] robscott commented on #355
I think this may risk being inconsistent with our naming elsewhere. For example, `hostnames` seems like a pretty similar concept here and is plural. On the other hand, it could be argued that `match` is more similar to `forwardTo` which is also a singular name for a list. Interested in what others think here.

[2020-09-29 21:04] robscott opened #357 "ListenerStatus.Port should probably be an int"
@danehans has pointed out that it is confusing for `ListenerStatus.Port` to be a string instead of an int. Currently it has this description:

[code]

@jpeach or @hbagdi can you think of any reason not to make this an int?

Context: https://github.com/kubernetes-sigs/service-apis/pull/336/files#r496830370

[2020-09-29 21:13] hbagdi opened #358 "De-dup fields in HTTPRouteForwardTo and RouteForwardTo using type embedding"
More details in this thread: https://github.com/kubernetes-sigs/service-apis/pull/353#discussion_r497059715

[2020-09-29 21:29] hbagdi commented on #357
I don't recall why and I agree it should be an int32.

It could be something to do with DNS records but I really doubt that.
James might have more context on this one.

[2020-09-29 21:39] hbagdi opened #359 "Should we have extension points in route Match?"
Do we have any concrete idea of how extension points within route match will be used?
I was trying to lay something out and it feels like having a custom XRoute resource will be more friendly than maintaining a HTTPRoute that points to a CRD which contains the match logic.
I think I'm missing something here so want to know more about the impetus of adding it.

Slack thread: https://kubernetes.slac

[2020-09-30 21:30] danehans opened #361 "Assess Whether Clientgen is Required"
According to the kubebuilder migration [guide](https://book.kubebuilder.io/migration/guide.html), `genclient` is no longer needed in object roots. See [this](https://github.com/kubernetes-sigs/service-apis/pull/336#discussion_r496850613) for add'l background.

[2020-09-30 21:30] danehans commented on #361
/cc @robscott

[2020-09-30 21:53] robscott opened #363 "Simplify Gateway Route Selection"
This is a follow up to https://github.com/kubernetes-sigs/service-apis/pull/362.

A listener currently looks like this:
[code]

I'm interested in the possibility of simplifying that to:

[code]

The two selectors being so close to each other feels potentially confusing. On the other hand, the standard case becomes much simpler:

[code]

[2020-09-30 22:11] robscott commented on #37
/assign @jpeach

[2020-09-30 22:28] robscott commented on #333
/assign @bowei

[2020-09-30 22:37] danehans commented on #356
Closing due to the precedence referenced in https://github.com/kubernetes-sigs/service-apis/issues/356#issuecomment-700891853.

[2020-09-30 22:37] #356 closed

[2020-10-01 00:23] jpeach commented on #357
Yeh this is a mistake. In the original commit, the protobuf type was `varint` and the Go type was `string`.

[2020-10-01 00:36] #357 closed

[2020-10-01 00:45] jpeach commented on #37
This issue was raised in the WG office hours and there were concerns about the regex compatibility across different implementations and whether different proxies would be able to implement this.

I agree with the [comment](https://github.com/kubernetes/kubernetes/issues/86132#issuecomment-574175671) from rkatz that this could be implemented with a custom controller that creates gateways or ingress

[2020-10-01 01:40] jpeach commented on #37
The consensus for this discussion was to (for now) add validation to make using a regex here invalid.

[2020-10-01 13:14] andylibrian commented on #345
/assign

[2020-10-01 17:41] #290 closed

[2020-10-01 20:07] danehans commented on #345
@andylibrian I started working on this issue last night. I should have assigned myself. PTAL at https://github.com/kubernetes-sigs/service-apis/pull/367.

[2020-10-01 21:25] andylibrian commented on #345
/unassign

[2020-10-01 21:30] andylibrian commented on #345
No problem, @danehans. Thanks for letting me know.

[2020-10-01 21:33] andylibrian commented on #354
/assign

[2020-10-01 23:21] #345 closed

[2020-10-03 07:25] jpeach opened #370 "Add success reasons for conditions"
**What would you like to be added**:

Add predefined reason constants to be used when a condition is in the default (successful) state.

**Why is this needed**:

The `metav1.Condition` field "Reason" is required. Since Conditions should always be present in status, even when they are expressing a successful state, this requires the controller to ender something in "Reason". We should provide const

[2020-10-04 13:21] suvl commented on #37
@jpeach that's regretful. I would argue that any implementation that now does not implement sufficient regex compatibility should be forced to add it and this should be allowed. And I only argue that because the use case is quite valid and recurrent whenever we have traffic being routed to `StatefulSets` and said traffic is also stateful (or, at least, it must reach a specific pod and not any pod)

[2020-10-04 21:22] jpeach commented on #342
The `+list` annotations appear to have an effect:
[code]

[2020-10-04 22:23] jpeach commented on #342
`+patchMergeKey` and `+patchStrategy` are for guiding strategic merge, which is not supported on CRDs, so those annotations do nothing. It's sufficient to use just `+listType` and `+listMapKey`.

[2020-10-05 17:59] #334 closed

[2020-10-06 03:40] #342 closed

[2020-10-06 21:42] #293 closed

[2020-10-06 21:48] #339 closed

[2020-10-06 21:54] hbagdi commented on #105
Please re-open if needed.

/close

[2020-10-06 21:55] #105 closed

[2020-10-07 00:12] rosenhouse commented on #66
Cool, so my read of the specs (and a bit of confirmation on slack) is that yes, it would be possible to to orchestrate this, by building a higher-level controller that works with Service APIs.

For example, you give it a Gateway that it would "own" and a pool of ports it can allocate from.  Then it can watch for `TCPRoute` resources that aren't already bound to a Gateway, and: reserve a port from

[2020-10-07 16:50] robscott opened #375 "Rethink GatewayClass Namespace Restriction"
As described in our [security model](https://github.com/kubernetes-sigs/service-apis/blob/master/docs-src/security-model.md#limiting-namespaces-where-a-gatewayclass-can-be-used), we want to provide a way for admins to limit where a GatewayClass can be used. Although we've already tried a number of approaches, there's still a lot of room for improvement. With that in mind, I reached out to some Kub

[2020-10-07 18:30] robscott commented on #361
/cc @howardjohn

[2020-10-07 19:59] hbagdi commented on #66
Yes, that sounds right.
Closing this then.
/close

[2020-10-07 19:59] #66 closed

[2020-10-07 22:05] jpeach commented on #370
Per WG discussion, we can ship v1alpha1 without this

[2020-10-07 22:08] #272 closed

[2020-10-07 22:30] hbagdi commented on #271
This was fixed by #336.
/close

[2020-10-07 22:31] #271 closed

[2020-10-07 22:32] hbagdi commented on #227
Considering this resolved.
Please re-open if otherwise.
/close.

[2020-10-07 22:33] hbagdi commented on #123
Considering this resolved.
Please re-open if otherwise.
/close.

[2020-10-07 22:33] hbagdi commented on #52
Considering this resolved.
Please re-open if otherwise.
/close.

[2020-10-07 22:34] hbagdi commented on #124
Considering this resolved.
Please re-open if otherwise.
/close.

[2020-10-07 22:34] hbagdi commented on #90
Considering this resolved.
Please re-open if otherwise.
/close.

[2020-10-07 22:34] hbagdi commented on #52
/close

[2020-10-07 22:34] hbagdi commented on #124
/close

[2020-10-07 22:34] #52 closed

[2020-10-07 22:34] hbagdi commented on #90
/close

[2020-10-07 22:34] hbagdi commented on #123
/close

[2020-10-07 22:34] #124 closed

[2020-10-07 22:34] #90 closed

[2020-10-07 22:34] hbagdi commented on #227
/close

[2020-10-07 22:34] #123 closed

[2020-10-07 22:34] #227 closed

[2020-10-07 22:38] hbagdi commented on #354
@robscott Is it safe to close this now?

[2020-10-07 22:41] hbagdi commented on #162
xref #371

[2020-10-07 22:50] #343 closed

[2020-10-07 23:03] robscott commented on #354
Yep, thanks!

/close

[2020-10-07 23:03] #354 closed

[2020-10-07 23:48] jpeach commented on #162
The WD office hours call, @danehans suggested a "Degraded" condition type on the route. This could be used by controllers that are able to partially apply route config.

[2020-10-08 06:32] jpeach commented on #98
/remove-lifecycle stale
/lifecycle frozen

[2020-10-08 06:33] jpeach commented on #102
/remove-lifecycle stale
/lifecycle frozen

This use case isn't possible with HTTPRoute today.

[2020-10-08 23:47] robscott commented on #307
@hbagdi are you still able to take this one?

[2020-10-08 23:48] robscott commented on #331
@hbagdi are you able to take this one on?

[2020-10-08 23:48] robscott commented on #332
/cc @mark-church

[2020-10-08 23:49] robscott commented on #335
/assign @jpeach

[2020-10-08 23:50] robscott commented on #337
/cc @eth0xFEED

[2020-10-08 23:50] robscott commented on #190
@hbagdi are you still able to take this one on?

[2020-10-08 23:51] robscott commented on #311
/assign

[2020-10-08 23:52] robscott commented on #210
/assign @bowei

[2020-10-08 23:55] robscott commented on #135
/assign
/cc @jpeach

[2020-10-08 23:57] robscott commented on #363
/assign

[2020-10-09 00:04] jpeach commented on #359
One extension that users have asked for is to match on HTTP method.

[2020-10-09 00:06] robscott commented on #359
/assign @hbagdi

[2020-10-09 16:41] hbagdi commented on #307
Yes, apologies for the delay here.

I started making the patch for this but had second thoughts again.
In my thinking around this, the filters and their names are nouns and not verbs. Does it make sense to keep filters as nouns for our use case?

[2020-10-09 18:59] hbagdi commented on #170
#385 takes a stab at this. PTAL.

[2020-10-11 21:12] robscott commented on #89
/reopen
/remove-lifecycle rotten

[2020-10-11 23:02] jpeach commented on #37
You don't have to create an ingress for each pod. It's possible in service-api to have a single gateway that pulls in routes CRDs by label. The operators can create a route for each mapped hostname and the gateway selector will pull them in.
It's not as automagic as a regex-based solution, but it's arguably an improvement over what you can do with ingress.

[2020-10-12 16:27] #190 closed

[2020-10-12 17:46] hbagdi commented on #331
/assign

[2020-10-12 18:25] hbagdi commented on #359
As per WG discussions, we would like to keep this extension point in v1alpha1, gather feedback and then re-visit this question.

https://github.com/kubernetes-sigs/service-apis/pull/388 documents this.

/close

[2020-10-12 18:25] #359 closed

[2020-10-12 20:20] hbagdi opened #390 "Future proof ProtocolType"
**What would you like to be added**:

Future proof ProtocolType to minimize collisions of type definitions in future.
Priori art is available with [AppProtocol](https://github.com/kubernetes/kubernetes/blob/master/pkg/apis/discovery/types.go#L138-L145).

**Why is this needed**:

Protocols in Gateway.Spec.Listeners are open-ended strings in the API. A user can define a ProtocolType in a custom impl

[2020-10-12 22:55] howardjohn opened #392 "Use go module compatible tag names"
Currently the tag is v1alpha1-rc0. We should consider using go module compatible tags ideally for better integration there. I am not exactly sure what that would look like... one possible idea is

alpha1 = v0.1.1
alpha2 = v0.1.2
beta1 = v0.2.1
ga1 = v0.3.0 (or even v1 if we want to go down that route...)

[2020-10-13 19:26] hbagdi opened #395 "Remove TLS Client certificate from BackendPolicy"
**What happened**:

BackendPolicy contains has `spec.tls.clientCertificateRef` .
In my understanding, for a backend, like a k8s service,
- there would be a single BackendPolicy resource that would be associated with it (in case of conflict, there will be a winner).
- The Service owner would maintain the backend policy

For every service/gateway that talks to a service, it would have its dedicated